@import './_constants';

.declare-color-text(@index: length(@oui-color-names)) when (@index > 0) {
  .declare-color-text(@index - 1);

  @color-name: extract(@oui-color-names, @index);
  @color-value: @@color-name;

  .@{color-name} {
    color: @color-value;
  }
}

.declare-color-text();
