// Stepper
@oui-stepper-margin: 0 0 rem-calc(20);
@oui-stepper-font-color: @oui-color-shuttle;
@oui-stepper-font-size: rem-calc(16);
@oui-stepper-font-weight: @oui-font-regular;

// Stepper Step
@oui-stepper-step-padding: rem-calc(20);
@oui-stepper-step-separator: 1px solid @oui-color-silver;
@oui-stepper-step-description-spacing: rem-calc(15);
@oui-stepper-step-loading-spacing: rem-calc(10);
@oui-stepper-step-container-padding-left: rem-calc(50);

@oui-stepper-step-bullet-background: @oui-color-sapphire;
@oui-stepper-step-bullet-background_complete: @oui-color-success-medium;
@oui-stepper-step-bullet-background_disabled: #e1e2e3;
@oui-stepper-step-bullet-border-radius: 50%;
@oui-stepper-step-bullet-color: #fff;
@oui-stepper-step-bullet-color_complete: #fff;
@oui-stepper-step-bullet-color_disabled: @oui-color-dusty;
@oui-stepper-step-bullet-font-size: rem-calc(20);
@oui-stepper-step-bullet-font-weight: @oui-font-semibold;
@oui-stepper-step-bullet-size: rem-calc(30);
@oui-stepper-step-bullet-top: rem-calc(5);

@oui-stepper-step-bullet-icon-content_complete: @oui-icon-index-success;
@oui-stepper-step-bullet-icon-font-family: @oui-global-base-font-family-icon;
@oui-stepper-step-bullet-icon-font-weight: @oui-font-regular;

@oui-stepper-step-title-line-height: rem-calc(22);
@oui-stepper-step-title-color: @oui-color-sapphire;
@oui-stepper-step-title-color_complete: @oui-color-sapphire;
@oui-stepper-step-title-color_disabled: @oui-color-silver;
@oui-stepper-step-title-font-size: rem-calc(16);
@oui-stepper-step-title-font-weight: @oui-font-semibold;

@oui-stepper-step-optional-color: @oui-color-sapphire;
@oui-stepper-step-optional-color_disabled: @oui-color-silver;
@oui-stepper-step-optional-font-size: rem-calc(14);
@oui-stepper-step-optional-font-weight: @oui-font-regular;
@oui-stepper-step-optional-spacing: rem-calc(5);
