@import '../oui-animation/_mixins';
@import '../oui-accessibility/_mixins';
@import '../oui-color/_variables';
@import './_variables';

#oui {
  .checkbox-size (
    @size,
  ) {
    min-height: @size;
    padding-left: @size + rem-calc(10);

    &__input,
    &__facade {
      width: @size;
      height: @size;
    }
  }

  // TODO: Find a better way to not require this duplicate
  .checkbox-size (
    @size,
    @selector
  ) {
    min-height: @size;
    padding-left: @size + rem-calc(10);

    .@{selector}__input,
    .@{selector}__facade {
      width: @size;
      height: @size;
    }
  }

  .checkbox-label (
    @font-size,
    @line-height
  ) {
    &__label {
      font-size: @font-size;
      line-height: @line-height;
    }
  }

  // TODO: Find a better way to not require this duplicate
  .checkbox-label (
    @font-size,
    @line-height,
    @selector
  ) {
    .@{selector}__label {
      font-size: @font-size;
      line-height: @line-height;
    }
  }

  .checkbox(
    @outline-color: @oui-checkbox-outline-color,
    @outline-color_hover: @oui-checkbox-outline-color_hover,
    @outline-color_checked: @oui-checkbox-outline-color_checked,
    @outline-color_checked-hover: @oui-checkbox-outline-color_checked-hover,
    @spacing: @oui-checkbox-spacing
  ) {
    .checkbox-size(@oui-checkbox-facade-size);
    .checkbox-label(inherit, @oui-checkbox-facade-size);

    position: relative;
    display: block;
    margin: @spacing;

    &:hover {
      cursor: pointer;
    }

    &__outline_checked,
    &__checkmark,
    &__false-bottom {
      display: none;
    }

    &__facade,
    &__label,
    &__description {
      user-select: none;
    }

    &__label {
      display: inline-block;
      width: 100%;
      font-weight: @oui-font-semibold;
    }

    &__input,
    &__facade {
      margin: 0;
      position: absolute;
      top: @oui-checkbox-facade-top-spacing;
      left: 0;
    }

    &__input {
      #oui > .visually-hidden();
    }

    &__outline,
    &__checkmark {
      #oui > .animate();
      fill: @outline-color;
    }

    &__facade:hover > &__outline {
      fill: @oui-checkbox-outline-color_hover;
    }

    &:active &__false-bottom {
      display: block;
      fill: fade(@oui-color-pacific, 10);
    }

    &:active &__outline,
    &:active &__input:checked ~ &__facade > &__outline,
    &:active &__input:checked ~ &__facade > &__checkmark {
      fill: @oui-color-pacific;
    }

    &__input:checked ~ &__facade &__outline_unchecked {
      display: none;
    }

    &__input:checked ~ &__facade &__outline:not(&__outline_checked),
    &__input:checked ~ &__facade &__checkmark {
      fill: @outline-color_checked;
    }

    &__input:checked ~ &__facade &__outline_checked,
    &__input:checked ~ &__facade &__checkmark {
      display: block;
    }

    &__input:checked ~ &__facade:hover > &__outline {
      fill: @oui-color-dusty;
    }

    &__input:disabled,
    &__input:disabled ~ &__label,
    &__input:disabled ~ &__facade {
      cursor: default;
      pointer-events: none;
    }

    &__input:disabled {
      color: @oui-color-nurse;
    }

    &__input:disabled ~ &__label {
      color: @oui-color-dusty;
    }

    &__input:disabled ~ &__facade,
    &__input:disabled ~ &__facade &__false-bottom {
      fill: @oui-color-nurse;
    }

    &__input:disabled ~ &__facade &__false-bottom {
      display: block;
    }

    &__input:disabled ~ &__facade &__checkmark,
    &:active &__input:disabled ~ &__facade &__outline,
    &:active &__input:disabled ~ &__facade > &__outline,
    &:active &__input:disabled ~ &__facade > &__checkmark {
      fill: @oui-color-dusty;
    }
  }
}
