@import '../oui-animation/_mixins';
@import '../oui-accessibility/_mixins';
@import '../oui-thumbnail/_mixins';
@import '../oui-color/_variables';
@import './_variables';

#oui {
  .checkbox-size (
    @selector,
    @size,
    @apply-padding-to-description
  ) when (@apply-padding-to-description = false) {
    min-height: @size;

    .@{selector}__input,
    .@{selector}__facade {
      width: @size;
      height: @size;
    }

    .@{selector}__label {
      padding-left: @size + rem-calc(10);
    }

    .@{selector}__description {
      padding-left: 0;
    }
  }

  .checkbox-size (
    @selector,
    @size,
    @apply-padding-to-description
  ) when (@apply-padding-to-description = true) {
    .checkbox-size(@selector, @size, false);

    .@{selector}__description {
      padding-left: @size + rem-calc(10);
    }
  }

  .checkbox-size (
    @selector,
    @size
  ) {
    .checkbox-size(@selector, @size, true);
  }

  .checkbox-label (
    @selector,
    @font-size,
    @line-height
  ) {
    .@{selector}__label {
      font-size: @font-size;
      line-height: @line-height;
    }
  }

  .checkbox-position(
    @selector,
    @top,
    @left
  ) {
    .@{selector}__input,
    .@{selector}__facade {
      top: @top;
      left: @left;
    }
  }

  .checkbox(
    @selector,
    @outline-color: @oui-checkbox-outline-color,
    @outline-color-hover: @oui-checkbox-outline-color-hover,
    @outline-color-checked: @oui-checkbox-outline-color-checked,
    @spacing: @oui-checkbox-spacing
  ) {
    .checkbox-size(@selector, @oui-checkbox-facade-size);
    .checkbox-label(@selector, inherit, @oui-checkbox-facade-size);
    .checkbox-position(@selector, rem-calc(3), @oui-checkbox-facade-top-spacing);

    position: relative;
    display: block;
    margin: @spacing;

    &__label-container {
      display: block;
      cursor: pointer;
    }

    &__outline_checked {
      display: none
    }

    &__false-bottom {
      fill: #fff;
    }

    &__checkmark {
      fill: transparent;
    }

    &__facade,
    &__label-container,
    &__label,
    &__description {
      user-select: none;
    }

    &__label,
    &__description {
      display: inline-block;
      width: 100%;
    }

    &__label {
      font-weight: @oui-font-semibold;
    }

    &__input,
    &__facade {
      margin: 0;
      position: absolute;
    }

    &__input {
      #oui > .visually-hidden();
    }

    &__outline {
      #oui > .animate();
      fill: @outline-color;
    }

    &__checkmark {
      fill: transparent;
    }

    &__label-container:hover > &__facade > &__outline {
      fill: @oui-checkbox-outline-color-hover;
    }

    &:active &__false-bottom {
      display: block;
      fill: fade(@oui-color-pacific, 10);
    }

    &:active &__outline,
    &:active &__input:checked ~ &__label-container > &__facade > &__outline,
    &:active &__input:checked ~ &__label-container > &__facade > &__checkmark {
      fill: @oui-color-pacific;
    }

    &__input:checked ~ &__label-container > &__facade &__outline_unchecked {
      display: none;
    }

    &__input:checked ~ &__label-container > &__facade &__outline:not(&__outline_checked),
    &__input:checked ~ &__label-container > &__facade &__checkmark {
      fill: @outline-color-checked;
    }

    &__input:checked ~ &__label-container > &__facade &__outline_checked,
    &__input:checked ~ &__label-container > &__facade &__checkmark {
      display: block;
    }

    &__input:checked ~ &__label-container > &__facade:hover > &__outline {
      fill: @oui-color-dusty;
    }

    &__input:disabled,
    &__input:disabled ~ &__label-container {
      cursor: default;
      pointer-events: none;
    }

    &__input:disabled {
      color: @oui-color-nurse;
    }

    &__input:disabled ~ &__label-container > &__label,
    &__input:disabled ~ &__label-container > &__description {
      color: @oui-color-dusty;
    }

    &__input:disabled ~ &__label-container > &__facade,
    &__input:disabled ~ &__label-container > &__facade &__false-bottom {
      fill: @oui-color-nurse;
    }

    &__input:disabled ~ &__label-container > &__facade &__false-bottom {
      display: block;
    }

    &__input:disabled ~ &__label-container > &__facade &__checkmark,
    &:active &__input:disabled ~ &__label-container > &__facade &__outline,
    &:active &__input:disabled ~ &__label-container > &__facade > &__outline,
    &:active &__input:disabled ~ &__label-container > &__facade > &__checkmark,
    &__input:disabled ~ &__label-container > &__facade > &__outline {
      fill: @oui-color-dusty;
    }
  }

  .checkbox-thumbnail(
    @selector,
    @border-color: @oui-thumbnail-border-color,
    @border-color-hover: @oui-thumbnail-border-color-hover,
    @border-color-checked: @oui-thumbnail-border-color-checked,
    @border-color-checked-hover: @oui-thumbnail-border-color-checked-hover,
    @background: @oui-thumbnail-background,
    @background-hover: @oui-thumbnail-background-hover,
    @background-checked: @oui-thumbnail-background-checked,
    @background-checked-hover: @oui-thumbnail-background-checked-hover,
    @border-size: @oui-thumbnail-border-size,
    @padding: @oui-thumbnail-padding
  ) {
    .checkbox-size(
      @selector,
      @oui-checkbox-facade-size,
      false
    );
    .checkbox-position(
      @selector,
      @border-size + @oui-checkbox-facade-top-spacing + @padding,
      @border-size + @padding
    );

    .@{selector}__label-container {
      #oui > .thumbnail-base(
        @border-color,
        @background,
        @border-size,
        @padding
      );
    }

    .@{selector}__description {
      padding-top: rem-calc(12);
      border-top: rem-calc(1) solid #cbd2d7;
      margin-top: rem-calc(11);
    }

    .@{selector}__input:not(:disabled) + .@{selector}__label-container:hover {
      #oui > .thumbnail-base-color(
        @border-color-hover,
        @background-hover,
        @border-size
      );
    }

    .@{selector}__input:checked + .@{selector}__label-container {
      #oui > .thumbnail-base-color(
        @border-color-checked,
        @background-checked,
        @border-size
      )
    }

    .@{selector}__input:checked:not(:disabled) + .@{selector}__label-container:hover {
      #oui > .thumbnail-base-color(
        @border-color-checked-hover,
        @background-checked-hover,
        @border-size
      )
    }
  }
}
