@import '../oui-color/_variables';

/* Checkbox */
@oui-checkbox-spacing: 0 rem-calc(5) 0 0;

/* Checkbox - Outline */
@oui-checkbox-outline-color: @oui-color-dusty;
@oui-checkbox-outline-color-checked: @oui-color-zodiac;
@oui-checkbox-outline-color-hover: @oui-checkbox-outline-color-checked;

/* Checkbox - Facade */
@oui-checkbox-facade-size: rem-calc(16);
@oui-checkbox-facade-top-spacing: rem-calc(1);

/* Checkbox - Big */
@oui-checkbox-big-facade-size: rem-calc(20);
@oui-checkbox-big-label-font-size: rem-calc(19);
