/* Checkbox */
@checkbox-spacing: 0 rem-calc(5) 0 0;

/* Checkbox - Outline */
@checkbox-outline-color: @dusty;
@checkbox-outline-color_checked: @zodiac;
@checkbox-outline-color_hover: @checkbox-outline-color_checked;
@checkbox-outline-color_checked-hover: @dusty;

/* Checkbox - Facade */
@checkbox-facade-size: rem-calc(16);
