@import '../oui-color/_variables';

// Checkbox
@oui-checkbox-size: rem-calc(16);
@oui-checkbox-min-height: rem-calc(40);
@oui-checkbox-line-height: 1.5;
@oui-checkbox-padding: 0;
@oui-checkbox-font-color: @oui-color-sapphire;
@oui-checkbox-outline-color: @oui-color-dusty;
@oui-checkbox-outline-color_hover: @oui-checkbox-font-color;
@oui-checkbox-outline-color_active: @oui-color-pacific;
@oui-checkbox-outline-color_disabled: @oui-color-silver;
@oui-checkbox-outline-color-checked: @oui-checkbox-font-color;
@oui-checkbox-outline-color-checked_hover: #b3becc;
@oui-checkbox-background-color: #fff;
@oui-checkbox-background-color_active: @oui-color-foam;
@oui-checkbox-background-color_disabled: @oui-color-concrete;
@oui-checkbox-box-shadow_focus: 0 0 3px 1px rgba(0, 0, 0, .2);
@oui-checkbox-spacing: 0;
@oui-checkbox-label-spacing: 0 0 rem-calc(5);

// Checkbox - m
@oui-checkbox-m-size: rem-calc(24);
@oui-checkbox-m-line-height: 1.3;
@oui-checkbox-m-padding: 0;

@oui-checkbox-description-font-size: rem-calc(14);

// Checkbox status
@oui-checkbox-status:
  success,
  warning,
  error;

// Checkbox inline
@oui-checkbox-inline-padding: rem-calc(20);
