@import '../oui-color/_variables';

@clipboard-border-color: @oui-color-foam;
@oui-clipboard-color: @oui-color-sapphire;
@oui-clipboard-icon-color: @oui-color-gothic;
@oui-clipboard-icon-error-color: @oui-color-error-medium;
@oui-clipboard-active-border-color: @oui-color-pacific;
@oui-clipboard-hover-background-color: @oui-color-polar;
@oui-clipboard-input_padding: rem-calc(6) rem-calc(48) rem-calc(6) rem-calc(12);
