@import '../oui-color/_variables';

@oui-clipboard-border-color: @oui-color-silver;
@oui-clipboard-color: @oui-color-sapphire;
@oui-clipboard-icon-color: @oui-color-gothic;
@oui-clipboard-icon-error-color: @oui-color-error-medium;
@oui-clipboard-active-border-color: @oui-color-pacific;
@oui-clipboard-hover-background-color: @oui-color-polar;
@oui-clipboard-active-box-shadow: 0 0 rem-calc(3) 0 @oui-color-info-light, inset 2px 2px 1px 0 rgba(89,210,239,0.35);
@oui-clipboard-box-shadow: inset 2px 2px 1px 0 @oui-color-nurse;
@oui-clipboard-input_padding: rem-calc(6) rem-calc(48) rem-calc(6) rem-calc(12);
