@clipboard-border-color: #e0f6fd;
@oui-clipboard-color: @oui-color-primary;
@oui-clipboard-icon-color: #00a0bf;
@oui-clipboard-icon-error-color: #e36947;
@oui-clipboard-active-border-color: #00a2bf;
@oui-clipboard-hover-background-color: #f5fcfd;
@oui-clipboard-input_padding: rem-calc(6) rem-calc(48) rem-calc(6) rem-calc(12);