#oui {
  .input-base(
    @height: @oui-input-height,
    @margin: @oui-input-margin,
    @padding: @oui-input-padding,
    @font-color: @oui-input-font-color,
    @font-color_disabled: @oui-input-font-color_disabled,
    @font-color_readonly: @oui-input-font-color_readonly,
    @font-size: @oui-input-font-size,
    @font-weight: @oui-input-font-weight,
    @border-color: @oui-input-border-color,
    @border-color_hover: @oui-input-border-color_hover,
    @border-color_focus: @oui-input-border-color_focus,
    @border-color_disabled: @oui-input-border-color_disabled,
    @border-color_readonly: @oui-input-border-color_readonly,
    @border-radius: @oui-input-border-radius,
    @border-width: @oui-input-border-width,
    @box-shadow: @oui-input-box-shadow,
    @box-shadow_focus: @oui-input-box-shadow_focus,
    @background-color: @oui-input-background-color,
    @background-color_hover: @oui-input-background-color_hover,
    @background-color_focus: @oui-input-background-color_focus,
    @background-color_disabled: @oui-input-background-color_disabled,
    @background-color_readonly: @oui-input-background-color_readonly,
    @selection-background-color: @oui-input-selection-background-color,
    @selection-font-color: @oui-input-selection-font-color
  ) {
    #oui > .animate();
    #oui > .base-font();

    width: 100%;
    min-height: @height;
    line-height: calc(@height - (@border-width * 2));
    margin: @margin;
    padding: @padding;
    display: block;
    border: none;
    border-bottom: @border-width solid @border-color;
    border-radius: @border-radius;
    background-color: @background-color;
    box-shadow: @box-shadow;
    color: @font-color;
    font-size: @font-size;
    font-weight: @font-weight;

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &::selection {
      background: @selection-background-color;
      color: @selection-font-color;
    }

    &::-moz-selection {
      background: @selection-background-color;
      color: @selection-font-color;
    }

    &:hover {
      background-color: @background-color_hover;
      border-color: @border-color_hover;
    }

    &:focus {
      border-color: @border-color_focus;
      outline: none;
      box-shadow: @box-shadow_focus;
      background-color: @background-color_focus;
      text-decoration: none;
    }

    &:read-only {
      border-color: @border-color_readonly;
      box-shadow: none;
      background-color: @background-color_readonly;
      color: @font-color_readonly;
    }

    &:disabled {
      cursor: not-allowed;
      border-color: @border-color_disabled;
      background-color: @background-color_disabled;
      box-shadow: none;
      color: @font-color_disabled;
    }

    &::placeholder {
      color: @oui-input-placeholder-font-color;
    }
  }

  .input-error-style() {
    &:not(:disabled),
    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled):focus {
      border-color: @oui-input-border-color_error;
      background-color: @oui-input-background-color_error;
      color: @oui-input-font-color_error;
      font-weight: @oui-input-font-weight_error;
      box-shadow: @oui-input-box-shadow_error;
    }

    &:not(:disabled):focus {
      box-shadow: @oui-input-box-shadow_error-focus;
    }

    &::selection {
      background: @oui-input-selection-background-color_error;
      color: @oui-input-selection-font-color_error;
    }

    &::-moz-selection {
      background: @oui-input-selection-background-color_error;
      color: @oui-input-selection-font-color_error;
    }
  }
}
