@import '~@ovh/ui-kit.core/src/less/_variables';

// Input
@oui-input-background-color: #fff;
@oui-input-border-color: @oui-color-silver;
@oui-input-font-color: @oui-color-zodiac;
@oui-input-font-size: rem-calc(16);
@oui-input-font-weight: @oui-font-semibold;
@oui-input-padding: rem-calc(11);
@oui-input-margin: 0 0 rem-calc(20);
@oui-input-selection-background-color: @oui-color-pacific;
@oui-input-selection-font-color: #fff;
@oui-input-shadow: inset 2px 2px 1px 0 rgba(18, 40, 68, 0.07);

@oui-input-border-color-hover: @oui-color-dusty;

@oui-input-background-color-focus: @oui-color-polar;
@oui-input-border-color-focus: @oui-color-pacific;
@oui-input-shadow-focus: inset 2px 2px 1px 0 fade(@oui-color-turquoise, 35%), 0 0 3px 0 @oui-color-info-light;

@oui-input-background-color-disabled: @oui-color-concrete;
@oui-input-border-color-disabled: @oui-color-silver;
@oui-input-font-color-disabled: @oui-color-silver;

@oui-input-background-color-read-only: @oui-color-concrete;
@oui-input-border-color-read-only: #e6e6e6;
@oui-input-font-color-read-only: @oui-color-gothic;

@oui-input-status: error;
@oui-input-shadow-error: inset 1px 1px 1px 0 @oui-color-error-light;

// Input Group
@oui-input-group-button-min-width: rem-calc(50);
@oui-input-group-button-color_hover: @oui-color-pacific;
@oui-input-group-button-hollow-background-color: #fff;
@oui-input-group-button-hollow-border-color_disabled: @oui-input-border-color-disabled;
@oui-input-group-button-hollow-padding: rem-calc(7);
