// Inputs
.oui-input {
  #oui > .control-base();

  width: 100%;
  display: block;

  &_inline {
    display: inline-block;
    width: auto;
  }

  // States
  #oui > .control-states();

  // Sizes
  #oui > .control-sizes();

  // Validation
  #oui > .control-validation();
}
