@import (reference) '@ovh/ui-kit.core/less/_variables';
@import (reference) '@ovh/ui-kit.core/less/_constants';
@import './_normalize';

.oui-status {

  #oui > .status-normalize();

  border: none;
  border-radius: 50px;
  color: @oui-color-sapphire;
  display: inline-block;
  font-size: rem-calc(16);
  font-weight: @oui-font-regular;
  line-height: 1.375;
  max-width: rem-calc(200);
  overflow: hidden;
  padding: rem-calc(4) rem-calc(10);
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;

  &_success {
    background-color: @oui-color-success-fade;
  }

  &_info {
    background-color: @oui-color-info-fade;
  }

  &_warning {
    background-color: @oui-color-warning-fade;
  }

  &_error {
    background-color: @oui-color-error-fade;
  }
}
