
/**** Colors ****/
:root {
--ae-100: #faefef;
--ae-300: #ffd2dd;
--ae-400: #e0777c;
--ae-500: #c11b1b;
--as-100: #f3faef;
--as-300: #ecffd1;
--as-400: #88c169;
--as-500: #268403;
--aw-100: #faf6ef;
--aw-300: #ffed96;
--aw-400: #fa9b3e;
--aw-500: #8b6111;
--b-200-soldout: #c4cfdb;
--b-400-text-paragraph: #4d6f92;
--b-500-heading: #113f6d;
--p-000-white: #ffffff;
--p-100: #eff3fa;
--p-200: #c8d5ed;
--p-300: #88a3dc;
--p-500: #2859c0;
--p-600: #2245aa;
--p-700: #1c3193;
--p-800: #151c7d;
--p-900: #0f0866;
--s-100: #eff9fd;
--s-200: #e4f5fd;
--s-300: #89d7f8;
--s-500: #3ebdf2;
} /* close :root */

/**** Fonts ****/
:root {
/** earth **/
--earth-font-size: 16px;
--earth-color: #113F6D;
--earth-letter-spacing: 0.12px;
--earth-text-align: right;
--earth-line-height: 24px;
--earth-font-family: Source Sans Pro;
--earth-font-weight: 400;
/** jupiter **/
--jupiter-font-size: 20px;
--jupiter-color: #113F6D;
--jupiter-letter-spacing: 0.12px;
--jupiter-line-height: 25px;
--jupiter-font-family: Source Sans Pro;
--jupiter-font-weight: 700;
--jupiter-text-align: left;
/** mars **/
--mars-font-size: 18px;
--mars-color: #113F6D;
--mars-line-height: 22px;
--mars-font-family: Source Sans Pro;
--mars-font-weight: 700;
--mars-text-align: left;
/** pluton **/
--pluton-font-size: 54px;
--pluton-color: #113F6D;
--pluton-letter-spacing: 0.12px;
--pluton-line-height: 67px;
--pluton-font-family: Source Sans Pro;
--pluton-font-weight: 300;
--pluton-text-align: left;
/** saturn **/
--saturn-font-size: 28px;
--saturn-color: #113F6D;
--saturn-line-height: 35px;
--saturn-font-family: Source Sans Pro;
--saturn-font-weight: 400;
--saturn-text-align: left;
/** sun **/
--sun-font-size: 76px;
--sun-color: #113F6D;
--sun-letter-spacing: 1px;
--sun-line-height: 95px;
--sun-font-family: Source Sans Pro;
--sun-font-weight: 300;
--sun-text-align: left;
/** uranus **/
--uranus-font-size: 36px;
--uranus-color: #113F6D;
--uranus-line-height: 45px;
--uranus-font-family: Source Sans Pro;
--uranus-font-weight: 400;
--uranus-text-align: left;
} /* close :root */

.earth {
  font-size: var(--earth-font-size);
  color: var(--earth-color);
  letter-spacing: var(--earth-letter-spacing);
  text-align: var(--earth-text-align);
  line-height: var(--earth-line-height);
  font-family: var(--earth-font-family);
  font-weight: var(--earth-font-weight);
}

.jupiter {
  font-size: var(--jupiter-font-size);
  color: var(--jupiter-color);
  letter-spacing: var(--jupiter-letter-spacing);
  line-height: var(--jupiter-line-height);
  font-family: var(--jupiter-font-family);
  font-weight: var(--jupiter-font-weight);
  text-align: var(--jupiter-text-align);
}

.mars {
  font-size: var(--mars-font-size);
  color: var(--mars-color);
  line-height: var(--mars-line-height);
  font-family: var(--mars-font-family);
  font-weight: var(--mars-font-weight);
  text-align: var(--mars-text-align);
}

.pluton {
  font-size: var(--pluton-font-size);
  color: var(--pluton-color);
  letter-spacing: var(--pluton-letter-spacing);
  line-height: var(--pluton-line-height);
  font-family: var(--pluton-font-family);
  font-weight: var(--pluton-font-weight);
  text-align: var(--pluton-text-align);
}

.saturn {
  font-size: var(--saturn-font-size);
  color: var(--saturn-color);
  line-height: var(--saturn-line-height);
  font-family: var(--saturn-font-family);
  font-weight: var(--saturn-font-weight);
  text-align: var(--saturn-text-align);
}

.sun {
  font-size: var(--sun-font-size);
  color: var(--sun-color);
  letter-spacing: var(--sun-letter-spacing);
  line-height: var(--sun-line-height);
  font-family: var(--sun-font-family);
  font-weight: var(--sun-font-weight);
  text-align: var(--sun-text-align);
}

.uranus {
  font-size: var(--uranus-font-size);
  color: var(--uranus-color);
  line-height: var(--uranus-line-height);
  font-family: var(--uranus-font-family);
  font-weight: var(--uranus-font-weight);
  text-align: var(--uranus-text-align);
}
