@import './_variables';

#oui {
  .back-button-base(
    @margin-bottom: @oui-back-button-margin-bottom
  ) {

    margin-bottom: @margin-bottom;

    .oui-button_icon-alone {
      top: .4375rem;
    }
    .oui-back-button_title {
      display: inline;
    }
  }
}
