@import './_variables';

#oui {
  .back-button-base(
    @margin-bottom: @oui-back-button-margin-bottom
  ) {

    display: flex;
    align-items: baseline;

    margin-bottom: @margin-bottom;

    .oui-back-button_title {
      display: inline;
    }
  }
}
