.oui-tabs {
  display: block;

  &__tab {
    height: @oui-tabs-tab-height;
    padding: @oui-tabs-tab-padding;
    vertical-align: top;
    font-size: @oui-tabs-tab-font-size;
    font-weight: @oui-tabs-tab-font-weight;
    color: @oui-tabs-tab-font-color;
    line-height: @oui-tabs-tab-line-height;
    border: solid @oui-tabs-tab-border-width @oui-tabs-tab-border-color;
    border-radius: @oui-tabs-tab-border-radius @oui-tabs-tab-border-radius 0 0;
    background: @oui-tabs-tab-background-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;

    &:focus,
    &:hover {
      color: @oui-tabs-tab-font-color_hover;
      background: @oui-tabs-tab-background-color_hover;
    }

    &:focus {
      #oui > .outline-border();
    }

    &[aria-selected="true"] {
      height: @oui-tabs-tab-height_active;
      padding: @oui-tabs-tab-padding_active;
      border-bottom: none;
      color: @oui-tabs-tab-font-color_active;
      font-weight: @oui-tabs-tab-font-weight_active;
      background: @oui-tabs-tab-background-color_active;
    }

    &-subheading {
      display: flex;
      font-size: @oui-tabs-tab-subheading-font-size;
      color: @oui-tabs-tab-subheading-font-color;
      line-height: @oui-tabs-tab-subheading-line-height;

      &_promotion {
        background-color: @oui-tabs-tab-subheading-promotion-background-color;
        color: @oui-tabs-tab-subheading-promotion-font-color;
        padding: @oui-tabs-tab-subheading-promotion-padding;
        border-radius: @oui-tabs-tab-subheading-promotion-border-radius;
      }
    }

    &[aria-selected="true"] &-subheading_promotion {
      background-color: @oui-tabs-tab-subheading-promotion-background-color_active;
      color: @oui-tabs-tab-subheading-promotion-font-color_active;
      padding: @oui-tabs-tab-subheading-promotion-padding_active;
      border-radius: @oui-tabs-tab-subheading-promotion-border-radius_active;
    }

    .oui-icon {
      margin-right: @oui-tabs-icon-spacing;
      font-size: @oui-tabs-icon-size;
      color: @oui-tabs-icon-color;
    }

    &_checked .oui-icon {
      color: @oui-tabs-icon-color_checked;
    }
  }

  &__tablist {
    position: relative;
    display: flex; // Avoid inline spacing
    align-items: flex-end;
    margin-bottom: -1px;
  }
}

oui-tabs {
  &:extend(.oui-tabs);
}

.oui-tabs-item {
  display: block;

  &__content {
    padding: @oui-tabs-tabpanel-padding;
    border: solid @oui-tabs-tabpanel-border-width @oui-tabs-tabpanel-border-color;
    border-radius: 0 0 @oui-tabs-tabpanel-border-radius @oui-tabs-tabpanel-border-radius;
    background: @oui-tabs-tabpanel-background-color;

    #oui > .phone({
      padding: @oui-tabs-tabpanel-padding_mobile;
      border-top: none;
    });

    &[aria-hidden="true"] { display: none; }

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
  }
}

oui-tabs-item {
  &:extend(.oui-tabs-item);
}
