@rem-base: rem-base(16px);

@import '~@ovh-ux/ui-kit.core/src/index';
@import '~@ovh-ux/ui-kit.components/src/index';
@import './_mixins';
@import './_variables';

// Color badges
.doc-color-badge {
  #oui > .color-badge-themes();

  position: relative;
  border: 1px solid @doc-color-badge-border-color;
  display: inline-block;
  width: @doc-color-badge-palette-size;
  max-width: 100%;
  margin: @doc-color-badge-spacing;
  padding: 0;
  padding-bottom: rem-calc(12);
  box-shadow: @doc-color-badge-box-shadow;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: @doc-color-badge-palette-size;
  }

  &__prop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: @doc-color-badge-prop-font-size;
    text-align: center;

    &:first-child,
    &:last-child {
      margin: rem-calc(5) 0 0;
    }
  }

  &_variant {
    margin-top: rem-calc(50);
    padding-top: rem-calc(22);

    &::before {
      border-radius: 50%;
      width: @doc-color-badge-palette-size;
      height: @doc-color-badge-palette-size;
      top: rem-calc(-40);
      left: rem-calc(42);
    }
  }

  &_white::before {
    border: solid 1px @doc-color-badge-palette-border-color;
  }
}

// Icon badges
.doc-icon-badge {
  width: rem-calc(144);
  display: inline-block;
  border: 1px solid @oui-color-dusty;
  margin: rem-calc(15);
  padding: 0;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 rem-calc(4) rem-calc(6) rgba(0, 0, 0, 0.06);

  &__preview {
    height: rem-calc(144);
    line-height: rem-calc(144);
    background-color: @oui-color-iron;
    text-align: center;
  }

  &__code {
    padding: rem-calc(8);
    font-size: rem-calc(12);
    text-align: center;
  }
}
