@rem-base: rem-base(16px);

@import '~@ovh-ux/ui-kit.core/src/index';
@import '~@ovh-ux/ui-kit.components/src/index';

// Color badges
.doc-badges {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.doc-badge {
  width: rem-calc(160);
  margin: rem-calc(12) 0;
  padding: 0;
  vertical-align: top;

  &__preview {
    width: rem-calc(128);
    height: rem-calc(128);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: rem-calc(4);
    box-sizing: content-box;
    box-shadow: 0 4px 6px 0 rgba(0, 14, 156, 0.2);
    background-color: #f5feff;
    overflow: hidden;
    text-align: center;

    &_s {
      width: rem-calc(64);
      height: rem-calc(64);
      line-height: rem-calc(64);
    }

    .oui-icon,
    .oui-flag {
      font-size: rem-calc(32);
    }
  }

  &__code {
    line-height: 1.2;
    margin-top: rem-calc(12);
    font-size: rem-calc(12);
    text-align: center;

    code { display: block; }

    code + code { margin-top: rem-calc(4); }
  }
}

// Icon badges
.doc-icon-badge {
  width: rem-calc(160);
  display: inline-block;
  margin: rem-calc(12) 0;
  padding: 0;
  vertical-align: top;

  &__preview {
    width: rem-calc(64);
    height: rem-calc(64);
    line-height: rem-calc(64);
    margin: auto;
    border-radius: rem-calc(2);
    box-sizing: content-box;
    box-shadow: 0 4px 6px 0 rgba(0, 14, 156, 0.2);
    border: solid 1px #bef1ff;
    background-color: #f5feff;
    text-align: center;
  }

  &__code {
    line-height: 1.2;
    display: block;
    margin-top: rem-calc(12);
    font-size: rem-calc(12);
    text-align: center;
  }
}
