@import (reference) '~@ovh/ui-kit.input/src/less/_variables';

.oui-timepicker {
  display: block;
  margin: @oui-input-margin;

  &_inline { display: inline-block; }

  .oui-calendar {
    display: block;
    margin: 0;
  }
}

oui-timepicker {
  &:extend(.oui-timepicker);
}
