.oui-guide-button {
  color: @oui-guide-button-font-color;
  background: none;
  border: none;
  padding: 0;
  margin: @oui-guide-button-margin;
  font: inherit;
  cursor: pointer;
  white-space: nowrap;

  &:focus {
    #oui > .outline-border();
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    margin-left: @oui-guide-button-icon-spacing;
    font-size: @oui-guide-button-font-size;
    font-weight: @oui-guide-button-font-weight;
    vertical-align: middle;
  }

  @media screen and (max-width: (@oui-responsive-breakpoint-phone - 1)) {
    background: @oui-guide-button-responsive-background-color;
    border-radius: @oui-guide-button-responsive-border-radius;
    width: @oui-guide-button-responsive-size;
    height: @oui-guide-button-responsive-size;

    &__text {
      display: none;
    }
  }
}

oui-guide-menu {
  display: inline-block;

  &-content,
  &-group,
  &-item,
  &-divider {
    display: block;
  }
}
