@import '../oui/_settings';
@import '../oui-color/_variables';
@import './_variables';

#oui {
  .tip(
    @size: @oui-tip-size,
    @border-color: @oui-tip-border-color,
    @background-color: @oui-tip-background-color
  ) {
    padding: 0;
    border: 0 none;
    margin: 0;
    line-height: unset;

    &::after, &::before {
      content: "  ";
      position: absolute;
      width: 0;
      height: 0;
      border: solid transparent;
      pointer-events: none;
    }

    &::after {
      border-width: @size;
      border-color: rgba(255, 255, 255, 0);
    }

    &::before {
      border-width: ~"calc(@{size} + 3px)";
      border-color: rgba(0, 0, 0, 0);
    }
  }

  .tip-top(
    @size: @oui-tip-size,
    @border-color: @oui-tip-border-color,
    @background-color: @oui-tip-background-color
  ) {
    &::after, &::before {
      top: 100%;
      left: 50%;
    }

    &::after {
      margin-left: -@size;
      border-top-color: @background-color;
    }

    &::before {
      margin-left: ~"calc(-@{size} - 3px)";
      border-top-color: @border-color;
    }
  }

  .tip-right(
    @size: @oui-tip-size,
    @border-color: @oui-tip-border-color,
    @background-color: @oui-tip-background-color

  ) {
    &::after, &::before {
      top: 50%;
      right: 100%;
    }

    &::after {
      margin-top: -@size;
      border-right-color: @background-color;
    }

    &::before {
      margin-top: ~"calc(-@{size} - 3px)";
      border-right-color: @border-color;
    }
  }

  .tip-bottom(
    @size: @oui-tip-size,
    @border-color: @oui-tip-border-color,
    @background-color: @oui-tip-background-color
  ) {
    &::after, &::before {
      bottom: 100%;
      left: 50%;
    }

    &::after {
      margin-left: -@size;
      border-bottom-color: @background-color;
    }

    &::before {
      margin-left: ~"calc(-@{size} - 3px)";
      border-bottom-color: @border-color;
    }
  }

  .tip-left(
    @size: @oui-tip-size,
    @border-color: @oui-tip-border-color,
    @background-color: @oui-tip-background-color
  ) {
    &::after, &::before {
      top: 50%;
      left: 100%;
    }

    &::after {
      margin-top: -@size;
      border-left-color: @background-color;
    }

    &::before {
      margin-top: ~"calc(-@{size} - 3px)";
      border-left-color: @border-color;
    }
  }
}
