// Primary colors
@p-000: #fff;
@p-050: #f5feff;
@p-075: #def8ff;
@p-100: #bef1ff;
@p-200: #85d9fd;
@p-300: #4bb2f6;
@p-400: #157eea;
@p-500: #0050d7; // Actions color
@p-600: #002dbe;
@p-700: #000e9c; // Branding color
@p-800: #00185e; // Title color
@p-800-text: #4d5592; // Text color
@p-900: #000d1f;

// Disabled
@g-100: #e6e6e6;
@g-300: #b3b3b3;

// Error
@ae-100: #faefef;
@ae-300: #ffd2dd;
@ae-400: #e0777c;
@ae-500: #c11b1b;

// Warning
@aw-100: #faf6ef;
@aw-300: #ffed96;
@aw-400: #fa9b3e;
@aw-500: #8b6111;

// Success
@as-100: #f3faef;
@as-300: #ecffd1;
@as-400: #88c169;
@as-500: #268403;

// Promotion
@promotion-300: #ffd1f3;
@promotion-500: #8e47ae;
@promotion-700: #6c009e;
@promotion-900: #49006b;

// Status
@status-alpha: #fbff47;
@status-beta: #47ff78;
@status-delivery-120-seconds: #268403;
@status-delivery-24-hours: #268403;
@status-delivery-72-hours: #b6c511;
@status-delivery-10-days: #ffc800;
@status-limited-edition: #ff4400;
@status-new: #47fffa;
@status-price-drop: #ffc800;

// Color
@background-color: @p-000;
@light-color: @p-000;
@primary-color: @p-500;
@secondary-color: #47fffa;
@heading-color: @p-800;
@text-color: @p-800-text;
@outline-color: #288601;

// Success
@success-color:@as-500;
@success-bg-color: @as-300;

// Warning
@warning-color: @aw-500;
@warning-bg-color: @aw-300;

// Error
@error-color: @ae-500;
@error-bg-color: @ae-300;

// Info
@info-color: @text-color;
@info-bg-color: #e4f5fd;

// Border
@border-radius-default: rem-calc(6px);
