@import './_mixins';
@import './_variables';

.oui-icon {
  #oui > .icon();
  #oui > .icon-type();

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  &_circle {
    width: @oui-icon-circle-size;
    height: @oui-icon-circle-size;
    border-radius: @oui-icon-circle-border-radius;
    background: @oui-icon-circle-background;

    &::before {
      color: @oui-icon-circle-color;
      font-size: ~"calc(@{oui-icon-circle-size} / 2)";
      line-height: 2;
      text-align: center;
    }
  }

  &_bicolor {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      width: 90%;
      height: 90%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: @oui-icon-char-color;
      border-radius: 50%;
      z-index: -1;
    }

    &.oui-icon-warning_circle::after {
      width: 25%;
      height: 75%;
    }
  }

  &_shake {
    animation-name: oui-shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  // Fix bad vertical alignment from this icon
  &-eye-blocked::before { margin-top: -0.1em; }
}

@keyframes oui-shake {
  from {
    transform: scale3d(@oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate);
  }

  10%,
  20% {
    transform: scale3d(@oui-animation-shake-default-coordinate - 0.1, @oui-animation-shake-default-coordinate - 0.1, @oui-animation-shake-default-coordinate - 0.1) rotate3d(0, 0, @oui-animation-shake-default-coordinate, -@oui-animation-shake-default-angle);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(@oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1) rotate3d(0, 0, @oui-animation-shake-default-coordinate, @oui-animation-shake-default-angle);
  }

  40%,
  60%,
  80% {
    transform: scale3d(@oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1) rotate3d(0, 0, @oui-animation-shake-default-coordinate, -@oui-animation-shake-default-angle);
  }

  to {
    transform: scale3d(@oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate);
  }
}
