.oui-icon {
  #oui > .icon();
  #oui > .icon-type();

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  &_shake {
    animation-name: oui-shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  &_inherit {
    color: @oui-icon-color;
    font: @oui-icon-font;
    font-size: @oui-icon-size_inherit;
    vertical-align: middle;
  }

  // Fix bad vertical alignment from this icon
  &-eye-blocked::before { margin-top: -0.1em; }
}

@keyframes oui-shake {
  from {
    transform: scale3d(@oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate);
  }

  10%,
  20% {
    transform: scale3d(@oui-animation-shake-default-coordinate - 0.1, @oui-animation-shake-default-coordinate - 0.1, @oui-animation-shake-default-coordinate - 0.1) rotate3d(0, 0, @oui-animation-shake-default-coordinate, -@oui-animation-shake-default-angle);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(@oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1) rotate3d(0, 0, @oui-animation-shake-default-coordinate, @oui-animation-shake-default-angle);
  }

  40%,
  60%,
  80% {
    transform: scale3d(@oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1, @oui-animation-shake-default-coordinate + 0.1) rotate3d(0, 0, @oui-animation-shake-default-coordinate, -@oui-animation-shake-default-angle);
  }

  to {
    transform: scale3d(@oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate, @oui-animation-shake-default-coordinate);
  }
}
