body {
  #oui > .base-font();
}

// Abbreviations
abbr[title],
abbr[oui-tooltip],
abbr[data-oui-tooltip] {
  border-bottom: dashed @oui-abbr-border-width @oui-abbr-border-color;
  text-decoration: none;
  cursor: help;
}

// Headings
#oui > .headings();

.oui-heading_underline {
  padding-bottom: @oui-heading-border-spacing;
  border-bottom: @oui-heading-border-width solid @oui-heading-border-color;
}

// Labels
.oui-label {
  display: block;
  padding: @oui-label-padding;
  margin: @oui-label-margin;
  color: @oui-label-font-color;
  font-size: @oui-label-font-size;
  font-weight: @oui-label-font-weight;
}

// Links
a,
.oui-link {
  #oui > .link();

  &:focus {
    #oui > .outline-border();
  }

  &.oui-link_icon .oui-icon {
    display: inline-block; // Needed to avoid text-decoration
    margin-left: @oui-link-icon-spacing;
    margin-right: @oui-link-icon-spacing;
    font-size: @oui-link-icon-size;
    text-decoration: none;
  }
}

// Lines
hr,
.oui-horizontal-line {
  margin: @oui-horizontal-line-margin-bottom auto;
  border-top-style: @oui-horizontal-line-width;
  border-top-color: @oui-horizontal-line-color;
  border-top-width: @oui-horizontal-line-style;
}

.oui-horizontal-line {
  &_dark {
    border-top-color: @oui-horizontal-line-dark-color;
  }

  &_thin {
    border-top-width: @oui-horizontal-line-thin-width;
  }
}

// Paragraphs
p,
.oui-paragraph {
  margin: @oui-paragraph-margin;
  word-break: normal;
}

dl,
.oui-description {
  dt {
    font-weight: @oui-description-term-font-weight;
  }

  dd {
    font-weight: @oui-description-description-font-weight;
  }
}

.oui-description_horizontal {
  margin: 0;
  padding: 0;

  &::after {
    content: ' ';
    display: block;
    clear: left;
  }

  dt {
    line-height: @oui-description-horizontal-line-height;
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
  }

  dd {
    line-height: @oui-description-horizontal-line-height;
    margin: 0 0 @oui-description-horizontal-margin-bottom;
    text-align: right;
  }
}
