// Input group
@oui-input-group-button-hollow-background-color: #f6f7f5;
@oui-input-group-button-hollow-padding: rem-calc(5) rem-calc(9);
@oui-input-group-button-min-width: rem-calc(16);
@oui-input-group-button-hollow-padding: rem-calc(5);

// Input group - numeric
@oui-input-group-numeric-width: rem-calc(140);
@oui-input-group-numeric-icon-size: rem-calc(10);
