// Input group
@oui-input-group-button-hollow-background-color: #F6F7F5;
@oui-input-group-button-hollow-padding: rem-calc(5) rem-calc(9);
@oui-input-group-button-min-width: rem-calc(16);
@oui-input-group-button-hollow-padding: rem-calc(5);
