@import '../oui/_settings';
@import '../oui-typography/_constants';
@import '../oui-animation/_mixins';
@import '../oui-color/_variables';
@import './_variables';

#oui {
  .button-base(
    @font-color: @oui-button-font-color,
    @font-size: @oui-button-font-size,
    @font-weight: @oui-button-font-weight,
    @min-width: @oui-button-min-width,
    @max-width: @oui-button-max-width,
    @radius: @oui-button-radius,
    @spacing: 0 0 rem-calc(20),
    @padding: rem-calc(10) rem-calc(30),
    @letter-spacing: 0.007em
  ) {
    min-width: @min-width;
    max-width: @max-width;
    position: relative;
    margin: @spacing;
    padding: @padding;
    font-size: @font-size;
    font-weight: @font-weight;
    letter-spacing: @letter-spacing;
    border-radius: @radius;
    color: @font-color;

    &,
    &:focus,
    &:hover {
      #oui > .animate();
      text-decoration: none;
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      
    }

    &:active:disabled {
      box-shadow: none;
    }
  }

  .button-filled(
    @background-color: @oui-button-filled-background-color,
    @background-color_hover: @oui-button-filled-background-color_hover,
    @background-color_disabled: @oui-button-filled-background-color_disabled,
    @font-color_disabled: @oui-button-filled-font-color_disabled,
    @padding: @oui-button-filled-padding
  ) {
    padding: @padding;
    background-color: @background-color;

    &:hover {
      background-color: @background-color_hover;
    }

    &:active {
      box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 1/3);
    }

    &:disabled {
      color: @font-color_disabled;
      background-color: @background-color_disabled;
      cursor: not-allowed; 
    }
  }

  .button-hollow(
    @background-color: @oui-button-hollow-background-color,
    @border-color: @oui-button-hollow-border-color,
    @border-color_hover: @oui-button-hollow-border-color_hover,
    @border-color_disabled: @oui-button-hollow-border-color_disabled,
    @background-color_disabled: @oui-button-hollow-background-color_disabled,
    @font-color_disabled: @oui-button-hollow-font-color_disabled,
    @padding: @oui-button-hollow-padding
  ) {
    padding: @padding;
    background-color: @background-color;
    border-width: 1px;
    border-style: solid;
    border-color: @border-color;

    &:hover {
      border-color: @border-color_hover;
    }

    &:active {
      box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
    }

    &:disabled,
    &:disabled:active {
      color: @font-color_disabled;
      border-color: @border-color_disabled;
      background-color: @background-color_disabled;
      cursor: not-allowed;
    }
  }

  .button-dropdown(
    @icon-selector,
    @icon-size: @oui-button-dropdown-icon-size,
    @icon-color: @oui-button-dropdown-icon-color,
    @icon-color_active: @oui-button-dropdown-icon-color_active,
    @icon-color_disabled: @oui-button-dropdown-icon-color_disabled,
    @background-color_active: @oui-button-dropdown-background-color_active,
    @border-color_active: @oui-button-dropdown-border-color_active,
    @padding-right: @oui-button-icon-padding-right,
    @padding-left: @oui-button-icon-padding-left
  ) {
    padding-right: @padding-right;
    padding-left: @padding-left;

    .@{icon-selector} {
      width: @icon-size;
      height: @icon-size;
      margin-left: ~"calc(@{icon-size} / 2)";
      color: @icon-color;
      font-size: @icon-size;
      line-height: @icon-size;
      vertical-align: middle;
    }
    
    &:active,
    &:focus {
      border-color: @border-color_active;
      background: @background-color_active;
      box-shadow: inset 1px 1px 3px 0 transparent;

      .@{icon-selector}{
        color: @icon-color_active;
      }
    }

    &:disabled .@{icon-selector} {
      color: @icon-color_disabled;
    }

    &.open .@{icon-selector} {
      transform: rotate(180deg);
    }
  }

  .button-icon-base(
    @icon-selector,
    @icon-size: @oui-button-icon-icon-size,
    @icon-color: @oui-button-icon-icon-color,
    @padding-right: @oui-button-icon-padding-right,
    @padding-left: @oui-button-icon-padding-left
  ) {
    padding-right: @padding-right;
    padding-left: @padding-left;

    .@{icon-selector}_circle::before {
      width: @icon-size;
      height: @icon-size;
      background: @icon-color;
      font-size: ~"calc(@{icon-size} / 2)";
      line-height: @icon-size;
    }
  }

  .button-icon-right(
    @icon-selector,
    @icon-margin-left: @oui-button-icon-right-icon-margin-left,
    @icon-color_disabled: @oui-button-icon-right-icon-color_disabled
  ) {

    .@{icon-selector} {
      margin-left: @icon-margin-left;
    }

    .@{icon-selector}_circle::before {
      text-indent: 2px;
    }

    &:disabled .@{icon-selector}_circle::before {
      background: @icon-color_disabled;
    }
  }

  .button-icon-left(
    @icon-selector,
    @icon-margin-right: @oui-button-icon-right-icon-margin-right,
    @icon-color_disabled: @oui-button-icon-left-icon-color_disabled
  ) {

    .@{icon-selector} {
      margin-right: @icon-margin-right;
    }

    .@{icon-selector}_circle::before {
      text-indent: -2px;
    }

    &:disabled .@{icon-selector}_circle::before {
      background: @icon-color_disabled;
    }
  }
}
