@import '../oui/_settings';
@import '../oui-typography/_constants';
@import '../oui-animation/_mixins';
@import '../oui-color/_variables';
@import './_variables';

#oui {
  .button-base(
    @font-color: @oui-button-font-color,
    @font-size: @oui-button-font-size,
    @font-weight: @oui-button-font-weight,
    @min-width: @oui-button-min-width,
    @max-width: @oui-button-max-width,
    @radius: @oui-button-radius,
    @spacing: rem-calc(10) 0,
    @padding: rem-calc(10) rem-calc(30),
    @line-height: 1,
    @letter-spacing: 0.007em
  ) {
    min-width: @min-width;
    max-width: @max-width;
    position: relative;
    margin: @spacing;
    padding: @padding;
    line-height: @line-height;
    font-size: @font-size;
    font-weight: @font-weight;
    letter-spacing: @letter-spacing;
    border-radius: @radius;
    color: @font-color;

    &,
    &:focus,
    &:hover {
      #oui > .animate();
      text-decoration: none;
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      
    }

    &:active:disabled {
      box-shadow: none;
    }
  }

  .button-filled(
    @background-color: @oui-button-filled-background-color,
    @background-color_hover: @oui-button-filled-background-color_hover,
    @background-color_disabled: @oui-button-filled-background-color_disabled,
    @font-color_disabled: @oui-button-filled-font-color_disabled,
    @box-shadow-color_active: @oui-button-filled-box-shadow-color_active,
    @padding: @oui-button-filled-padding
  ) {
    padding: @padding;
    background-color: @background-color;

    &:hover {
      background-color: @background-color_hover;
    }

    &:active {
      box-shadow: inset 1px 1px 4px 0 @box-shadow-color_active;
    }

    &:disabled {
      color: @font-color_disabled;
      background-color: @background-color_disabled;
      cursor: not-allowed; 
    }
  }

  .button-hollow(
    @background-color: @oui-button-hollow-background-color,
    @background-color_disabled: @oui-button-hollow-background-color_disabled,
    @font-color_disabled: @oui-button-hollow-font-color_disabled,
    @border-color: @oui-button-hollow-border-color,
    @border-color_hover: @oui-button-hollow-border-color_hover,
    @border-color_disabled: @oui-button-hollow-border-color_disabled,
    @box-shadow-color_active: @oui-button-hollow-box-shadow-color_active,
    @padding: @oui-button-hollow-padding
  ) {
    padding: @padding;
    background-color: @background-color;
    border-width: 1px;
    border-style: solid;
    border-color: @border-color;

    &:hover {
      border-color: @border-color_hover;
    }

    &:active {
      box-shadow: inset 1px 1px 3px 0 @box-shadow-color_active;
    }

    &:disabled,
    &:disabled:active {
      color: @font-color_disabled;
      border-color: @border-color_disabled;
      background-color: @background-color_disabled;
      cursor: not-allowed;
    }
  }

  .button-dropdown(
    @icon-color: @oui-button-dropdown-icon-color,
    @icon-color_active: @oui-button-dropdown-icon-color_active,
    @font-color_active: @oui-button-dropdown-font-color_active,
    @background-color_active: @oui-button-dropdown-background-color_active,
    @border-color_active: @oui-button-dropdown-border-color_active,
    @box-shadow-color_active: @oui-button-dropdown-box-shadow-color_active,
    @icon-color_disabled: @oui-button-dropdown-icon-color_disabled,
    @padding: @oui-button-dropdown-padding
  ) {
    position: relative;
    padding: @padding;
    text-align: left;

    &__icon {
      position: absolute;
      top: 0;
      right: rem-calc(12);
      bottom: 0;
      width: rem-calc(10);
      height: rem-calc(6);
      margin: auto;
      fill: @icon-color;
    }
    
    &:active {
      border-color: @border-color_active;
      background: @background-color_active;
      box-shadow: inset 1px 1px 3px 0 @box-shadow-color_active;
      font-color: @font-color_active;
    }

    &:active &__icon {
      fill: @icon-color_active;
    }

    &:disabled &__icon {
      fill: @icon-color_disabled;
    }

    &.open &__icon {
      transform: rotate(180deg);
    }
  }

  .button-star(
    @icon-color: @oui-button-star-icon-color,
    @icon-color_active: @oui-button-star-icon-color_active,
    @icon-color_disabled: @oui-button-star-icon-color_disabled,
    @padding: @oui-button-star-padding
  ) {
    min-width: 0;
    padding: @padding;

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: rem-calc(15);
      height: rem-calc(15);
      margin: auto;
      fill: fade(@icon-color, 50);
      stroke: @icon-color;
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &:active &__icon {
      fill: fade(@icon-color_active, 50);
      stroke: @icon-color_active;
    }

    &:disabled &__icon {
      fill: fade(@icon-color_disabled, 50);
      stroke: @icon-color_disabled;
    }
  }
}
