// Button
@oui-button-font-color: @oui-color-sapphire;
@oui-button-font-size: 1rem;
@oui-button-font-weight: @oui-font-semibold;
@oui-button-radius: @oui-global-base-radius;
@oui-button-min-width: 6.25rem;
@oui-button-max-width: 20rem;
@oui-button-padding-base: .625rem;
@oui-button-padding: @oui-button-padding-base 1.25rem;
@oui-button-spacing: 0;

// Button - Filled
@oui-button-filled-background-color: @oui-color-turquoise;
@oui-button-filled-background-color_hover: #34c4e2;
@oui-button-filled-background-color_disabled: @oui-color-ironlight;
@oui-button-filled-box-shadow_active: inset 2px 2px 1px 0 @oui-color-pacific;
@oui-button-filled-box-shadow_focus: 0 0 3px 1px rgba(102, 199, 214, 0.6);
@oui-button-filled-font-color_disabled: @oui-color-dusty;
@oui-button-filled-padding-base: .5rem;
@oui-button-filled-padding: @oui-button-filled-padding-base 1.25rem;

// Button - Hollow
@oui-button-hollow-background-color: #fff;
@oui-button-hollow-background-color_hover: @oui-color-concrete;
@oui-button-hollow-border-color: #bdbec0;
@oui-button-hollow-border-color_hover: @oui-color-dusty;
@oui-button-hollow-border-color_disabled: @oui-color-concrete;
@oui-button-hollow-background-color_disabled: @oui-color-concrete;
@oui-button-hollow-box-shadow_active: inset 2px 2px 1px 0 fade(@oui-color-silver, 30%);
@oui-button-hollow-box-shadow_focus: 0 0 3px 1px rgba(0, 0, 0, 0.15);
@oui-button-hollow-font-color_disabled: @oui-color-silver;
@oui-button-hollow-padding-base: .4375rem;
@oui-button-hollow-padding: @oui-button-hollow-padding-base 1.25rem;

// Button - Dropdown
@oui-button-dropdown-color: @oui-color-dusty;
@oui-button-dropdown-icon-size: .625rem;
@oui-button-dropdown-icon-color: @oui-color-sapphire;
@oui-button-dropdown-icon-color_active: @oui-color-sapphire;
@oui-button-dropdown-icon-color_disabled: @oui-color-dusty;
@oui-button-dropdown-background-color_active: @oui-color-concrete;
@oui-button-dropdown-border-color_active: @oui-color-dusty;
@oui-button-dropdown-padding: .75rem;

// Button - Icon
@oui-button-icon-icon-size: .625rem;
@oui-button-icon-icon-size_large: 1.25rem;
@oui-button-icon-icon-color: @oui-color-sapphire;
@oui-button-icon-icon-color_disabled: @oui-color-silver;
@oui-button-icon-padding-right: .625rem;
@oui-button-icon-padding-left: .625rem;

// Button - Icon Alone
@oui-button-icon-alone-background: transparent;
@oui-button-icon-alone-font-color: @oui-link-font-color;
@oui-button-icon-alone-min-width: 1.25rem;
@oui-button-icon-alone-padding-left: .3125rem;
@oui-button-icon-alone-padding-right: 0;
@oui-button-icon-alone-margin-right: .9375rem;
@oui-button-icon-alone-icon-font-size: 1.25rem;
@oui-button-icon-alone-font-color_hover: @oui-link-font-color_hover;

// Button - Icon Right
@oui-button-icon-right-icon-margin-left: 1.25rem;

// Button - Icon Left
@oui-button-icon-right-icon-margin-right: 1.25rem;

// Button - Link
@oui-button-link-icon-color: @oui-color-sapphire;
@oui-button-link-font-color: @oui-color-pacific;
@oui-button-link-font-color_hover: @oui-color-sapphire;
@oui-button-link-font-color_disabled: @oui-color-dusty;
@oui-button-link-font-weight: @oui-font-regular;
@oui-button-link-padding: .5rem 1.25rem;

// Button - Small width
@oui-button-small-width-min-width: 2.5rem;
@oui-button-small-width-padding-left-right: .3125rem;

// Button - Large height
@oui-button-large-height-min-height: 2.8125rem;

// Button - Error style
@oui-button-error-background-color: @oui-color-error-fade;
@oui-button-error-border-color: @oui-color-error-light;
@oui-button-error-text-color: @oui-color-error-dark;

// Deprecated: Support only for old use
@oui-button-action-menu-background-color: #fff;
@oui-button-action-menu-background-color_active: @oui-color-foam;
@oui-button-action-menu-text-color: @oui-color-sapphire;
