// Button
@oui-button-font-color: @oui-color-zodiac;
@oui-button-font-size: rem-calc(16);
@oui-button-font-weight: @oui-font-semibold;
@oui-button-radius: @oui-global-base-radius;
@oui-button-min-width: rem-calc(100);
@oui-button-max-width: rem-calc(320);
@oui-button-padding-base: rem-calc(10);
@oui-button-padding: @oui-button-padding-base rem-calc(30);
@oui-button-spacing: 0 0 rem-calc(20);

// Button - Filled
@oui-button-filled-background-color: #54c7e4;
@oui-button-filled-background-color_hover: #1bbadf;
@oui-button-filled-background-color_disabled: #dedede;
@oui-button-filled-font-color_disabled: #999;
@oui-button-filled-padding-base: rem-calc(6);
@oui-button-filled-padding: @oui-button-filled-padding-base rem-calc(30);

// Button - Hollow
@oui-button-hollow-background-color: #fff;
@oui-button-hollow-border-color: #bbbdbf;
@oui-button-hollow-border-color_hover: #999;
@oui-button-hollow-border-color_disabled: #e6e6e6;
@oui-button-hollow-background-color_disabled: #f2f2f2;
@oui-button-hollow-font-color_disabled: #b3b3b3;
@oui-button-hollow-padding-base: rem-calc(5);
@oui-button-hollow-padding: @oui-button-hollow-padding-base rem-calc(29);

// Button - Dropdown
@oui-button-dropdown-icon-size: rem-calc(12);
@oui-button-dropdown-icon-color: @oui-color-zodiac;
@oui-button-dropdown-icon-color_active: @oui-color-pacific;
@oui-button-dropdown-icon-color_disabled: #b3b3b3;
@oui-button-dropdown-background-color_active: fade(@oui-color-pacific, 10);
@oui-button-dropdown-border-color_active:  @oui-color-pacific;
@oui-button-dropdown-padding-right: rem-calc(13);
@oui-button-dropdown-padding-left: rem-calc(13);
@oui-button-dropdown-margin-bottom: 0;

// Button - Icon
@oui-button-icon-icon-size: rem-calc(20);
@oui-button-icon-icon-color: @oui-color-zodiac;
@oui-button-icon-icon-color_disabled: #999;
@oui-button-icon-padding-right: rem-calc(13);
@oui-button-icon-padding-left: rem-calc(13);

// Button - Icon Right
@oui-button-icon-right-icon-color_disabled: @oui-button-filled-font-color_disabled;
@oui-button-icon-right-icon-margin-left: ~"calc(@{oui-button-icon-icon-size} / 3)";

// Button - Icon Left
@oui-button-icon-left-icon-color_disabled: @oui-button-hollow-font-color_disabled;
@oui-button-icon-right-icon-margin-right: ~"calc(@{oui-button-icon-icon-size} / 3)";

// Button - Link
@oui-button-link-icon-color: #666666;
@oui-button-link-font-color: @oui-color-pacific;
@oui-button-link-font-weight: @oui-font-regular;
@oui-button-link-padding: rem-calc(6) rem-calc(10);

// Button - Small width
@oui-button-small-width-min-width: rem-calc(40);
@oui-button-small-width-padding-left-right: rem-calc(5);
