// Button
@button-font-color: @zodiac;
@button-font-size: rem-calc(16);
@button-font-weight: @font-semibold;
@button-radius: @global-base-radius;
@button-min-width: rem-calc(100);
@button-max-width: rem-calc(320);

// Button - Filled
@button-filled-background-color: #54c7e4;
@button-filled-background-color_hover: #1bbadf;
@button-filled-background-color_disabled: #dedede;
@button-filled-font-color_disabled: #999;
@button-filled-box-shadow-color_active: rgba(0, 0, 0, 1/3);

// Button - Hollow
@button-hollow-background-color: white;
@button-hollow-border-color: #bbbdbf;
@button-hollow-border-color_hover: #999;
@button-hollow-border-color_disabled: #e6e6e6;
@button-hollow-background-color_disabled: #f2f2f2;
@button-hollow-font-color_disabled: #b3b3b3;
@button-hollow-box-shadow-color_active: rgba(0, 0, 0, 0.15);
