@import '../oui/_settings';
@import '../oui-color/_variables';
@import '../oui-icons/_mixins';
@import '../oui-accessibility/_mixins';
@import '../oui-animation/_mixins';
@import './_variables';

#oui {
  .select(
    @icon-selector,
    @font-color: @oui-select-font-color,
    @font-size: @oui-select-font-size,
    @font-weight: @oui-select-font-weight,
    @icon-size: @oui-select-icon-size,
    @icon-position-right: @oui-icon-position-right,
    @border-color: @oui-select-border-color,
    @spacing: @oui-select-spacing,
    @padding: @oui-select-padding
  ) {
    position: relative;
    display: block;
    border-radius: @oui-global-base-radius;
    margin: @spacing;

    &__input {
      width: 100%;
      max-width: 100%;
      min-height: rem-calc(36);
      padding: @padding ~"calc(@{icon-size} + @{padding} * 2 + 1rem)" @padding ~"calc(@{padding} - 0.4rem)";
      -webkit-padding-start: @padding;
      border: 1px solid @border-color;
      border-radius: @oui-global-base-radius;
      background: #fff;
      color: @font-color;
      font-size: @font-size;
      font-weight: @font-weight;
      cursor: pointer;

      option {
        background: #fff;
      }
    }

    &__input:focus {
      #oui > .animate();

      border: 1px solid #0090b1;
      outline: none;
      box-shadow: inset 1px 1px 2px 0px rgba(102, 199, 214, 0.5), 0px 0px 3px 0px rgba(0, 0, 0, 0.35);
      background: #f5fcfd;

      ~ .@{icon-selector}:before {
        color: #0090b1;
      }
    }

    &__input:disabled {
      border-color: #e6e6e6;
      background-color: @oui-color-concrete;
      color: #b3b3b3;
      cursor: not-allowed;

      ~ .@{icon-selector}:before {
        color: #b3b3b3;
      }
    }

    .@{icon-selector} {
      position: absolute;
      right: ~"calc(@{padding} + (@{icon-size} / 2))";
      bottom: ~"calc((@{font-size}) - (@{icon-size} / 2))";
      width: @icon-size;
      height: @icon-size;
      margin: auto;
      cursor: pointer;
      pointer-events: none;

      &:before {
        color: @oui-color-shuttle;
        font-size: @icon-size;
      }
    }
  }

  .select-status(@index: length(@oui-select-status)) when (@index > 0) {
    .select-status(@index - 1);

    @select-selector: oui-select;
    @icon-selector: oui-icon;
    @status: extract(@oui-select-status, @index);
    @status-font-color: "oui-color-@{status}-dark";
    @status-icon-color: "oui-color-@{status}-medium";
    @status-border-color: "oui-color-@{status}-light";
    @status-background-color: "oui-color-@{status}-fade";
    
    &_@{status} .@{select-selector}__input,
    &_@{status} .@{select-selector}__input:hover,
    &_@{status} .@{select-selector}__input:active,
    &_@{status} .@{select-selector}__input:focus {
      border-color: @@status-border-color;
      background-color: @@status-background-color;
      color: @@status-font-color;

      ~ .@{icon-selector}:before {
        color: @@status-font-color;
      }
    }

    &_@{status} .@{select-selector}__input:focus {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.35);
    }
  }
}
