@import '../oui-color/_variables';

// Select

@oui-select-border-color: #bfbfbf;
@oui-select-box-shadow-color: rgba(0, 0, 0, 0.075);
@oui-select-color: @oui-color-zodiac;
@oui-select-font-size: 100%;
@oui-select-font-weight: 600;
@oui-select-padding: rem-calc(6) rem-calc(32) rem-calc(5) rem-calc(12);

// Focus

@oui-select-box-shadow-focus: rgba(102, 199, 214, 0.8);
