// Select
@oui-select-font-color: @oui-color-zodiac;
@oui-select-font-size: 1rem;
@oui-select-font-weight: 600;
@oui-select-icon-size: .625rem;
@oui-select-height: 2.5rem;
@oui-icon-position-right: .75rem;
@oui-select-border-color: #bfbfbf;
@oui-select-spacing: 0 0 1.25rem;
@oui-select-padding: .75rem;
@oui-select-shadow: 1px 1px 0 0 rgba(18, 40, 68, 0.07);
