// Select
@oui-select-font-color: @oui-color-zodiac;
@oui-select-font-size: rem-calc(16);
@oui-select-font-weight: 600;
@oui-select-icon-size: rem-calc(10);
@oui-icon-position-right: rem-calc(12);
@oui-select-border-color: #bfbfbf;
@oui-select-spacing: 0 0 rem-calc(20);
@oui-select-padding: rem-calc(5);
