// Tile
@oui-tile-background-color: #fff;
@oui-tile-border-color: #dadce0;
@oui-tile-border-radius: @oui-global-base-radius;
@oui-tile-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
@oui-tile-title-color: @oui-color-fiord;
@oui-tile-button-color: @oui-color-pacific;
@oui-tile-padding: 1.6875rem 1.5rem 2.875rem;
@oui-tile-title-padding: 0 0 .625rem 0;
@oui-tile-item-side-spacing: 1.5rem;
@oui-tile-item-top-spacing: .8125rem;
@oui-tile-item-border-color: #eaeaea;
@oui-tile-background-hover: @oui-color-concrete;
@oui-tile-definition-term-color: @oui-color-dusty;
@oui-tile-definition-term-font-size: .875rem;
@oui-tile-definition-description-color: @oui-color-rhino;
@oui-tile-definition-description-font-size: 1rem;
