@import (reference) '@ovh/ui-kit.color/less/_variables';
@import (reference) '@ovh/ui-kit.typography/less/_constants';

@oui-dual-list-min-height: rem-calc(300);
@oui-dual-list-border: 1px solid @oui-color-nurse2;
@oui-dual-list-border-radius: @oui-global-base-radius;
@oui-dual-list-background: @oui-color-white;

@oui-dual-list-icon-spacing: rem-calc(10);
@oui-dual-list-icon-size: rem-calc(14);

@oui-dual-list-header-height: rem-calc(40);
@oui-dual-list-header-padding: 0 rem-calc(20);
@oui-dual-list-header-font-color: @oui-color-sapphire;
@oui-dual-list-header-font-size: rem-calc(16);
@oui-dual-list-header-font-weight: @oui-font-semibold;
@oui-dual-list-header-background: @oui-color-nurse2;

@oui-dual-list-search-margin: rem-calc(20) 0 0 0;

@oui-dual-list-wrapper-height: rem-calc(350);
@oui-dual-list-wrapper-gutter: rem-calc(20);

@oui-dual-list-body-margin_responsive: 0 rem-calc(-20);

@oui-dual-list-action-margin: rem-calc(10) 0 0 0;

@oui-dual-list-item-height: rem-calc(40);
@oui-dual-list-item-margin: 1px 0;
@oui-dual-list-item-padding: 0 rem-calc(10) 0 rem-calc(20);
@oui-dual-list-item-padding_responsive: 0 rem-calc(20);
@oui-dual-list-item-font-color: @oui-color-sapphire;
@oui-dual-list-item-font-size: rem-calc(16);
@oui-dual-list-item-font-weight: @oui-font-regular;
@oui-dual-list-item-border-radius: @oui-global-base-radius;
@oui-dual-list-item-background_hover: @oui-color-foam;

@oui-dual-list-placeholder-font-color: #b3b3b3;
@oui-dual-list-placeholder-font-size: rem-calc(16);
@oui-dual-list-placeholder-font-weight: @oui-font-semibold;
