// Dropdown menu
@oui-dropdown-menu-background-color: #fff;
@oui-dropdown-menu-border-width: 1px;
@oui-dropdown-menu-border-color: @oui-color-silver;
@oui-dropdown-menu-spacing: .25rem;
@oui-dropdown-menu-box-shadow: 0 4px 6px 0 @oui-color-info-fade;
@oui-dropdown-menu-min-width: 8.75rem;
@oui-dropdown-menu-max-width: 18.75rem;
@oui-dropdown-menu-zindex: 100;

// Dropdown menu arrow
@oui-dropdown-arrow-size: .625rem;
@oui-dropdown-arrow-center-position: 1.0625rem;
@oui-dropdown-arrow-margin: @oui-dropdown-arrow-center-position - @oui-dropdown-arrow-size;
@oui-dropdown-arrow-border-width: 2px;
@oui-dropdown-arrow-diff-size: sqrt(2 * @oui-dropdown-arrow-border-width);
@oui-dropdown-arrow-inner-size: ~"calc(@{oui-dropdown-arrow-size} - @{oui-dropdown-arrow-diff-size})";

// Dropdown menu label
@oui-dropdown-label-line-height: 1.125rem;
@oui-dropdown-label-background-color: @oui-color-alabaster;
@oui-dropdown-label-padding: .375rem 1.25rem;
@oui-dropdown-label-font-color: @oui-color-sapphire;
@oui-dropdown-label-font-size: .875rem;
@oui-dropdown-label-font-weight: @oui-font-semibold;

// Dropdown menu item
@oui-dropdown-item-line-height: 1.375rem;
@oui-dropdown-item-background-color: #fff;
@oui-dropdown-item-background-color_active: @oui-color-foam;
@oui-dropdown-item-padding: .5rem 1.25rem;
@oui-dropdown-item-font-color: @oui-color-sapphire;
@oui-dropdown-item-font-color_active: @oui-color-sapphire;
@oui-dropdown-item-font-color_disabled: @oui-color-dusty;
@oui-dropdown-item-font-size: 1rem;
@oui-dropdown-item-font-weight: @oui-font-regular;

// Deprecated: Support only for old use
@oui-dropdown-background-color: @oui-dropdown-menu-background-color;
@oui-dropdown-border-width: @oui-dropdown-menu-border-width;
@oui-dropdown-border-color: @oui-dropdown-menu-border-color;
@oui-dropdown-margin: @oui-dropdown-menu-spacing;
@oui-dropdown-shadow-color: @oui-color-info-fade;
@oui-dropdown-max-width: @oui-dropdown-menu-max-width;
@oui-dropdown-zindex: @oui-dropdown-menu-zindex;
