// Icon position
@oui-icon-spacing: 0;

// Icon size and color
@oui-icon-size: rem-calc(24);
@oui-icon-color: #333;
@oui-icon-char-color: #fff;

// Icons folder
@oui-icon-dist-folder: "../../dist/icons";

// Icons
@oui-icon-index: 
  chevron-down "\f101",
  chevron-left "\f102",
  chevron-right "\f103",
  chevron-up "\f104",
  close "\f105",
  error_circle "\f106",
  eye-blocked "\f107",
  eye "\f108",
  info_circle "\f109",
  ovh "\f10a",
  success_circle "\f10b",
  warning_circle "\f10c";
