// Icon position
@oui-icon-spacing: 0;

// Icon size and color
@oui-icon-size: rem-calc(24);
@oui-icon-color: #333;
@oui-icon-char-color: #fff;

// Icons folder
@oui-icon-dist-folder: "../../dist/icons";

// Icons
@oui-icon-index: 
  close "\f101",
  error_circle "\f102",
  eye-blocked "\f103",
  eye "\f104",
  info_circle "\f105",
  ovh "\f106",
  success_circle "\f107",
  warning_circle "\f108";
  