@font-face {
  font-family: 'Oui Icons';
  font-style: normal;
  font-weight: 400;
  src:  url("../../dist/icons/icons.eot#iefix") format("embedded-opentype"),
        url("../../dist/icons/icons.woff") format("woff"),
        url("../../dist/icons/icons.ttf") format("truetype"),
        url("../../dist/icons/icons.svg#icons") format("svg");
}