@import '../oui-animation/_variables.less';
@import './_normalize';
@import './_mixins';

.oui-icon {
  #oui > .icon-normalize();
  #oui > .icon();
  #oui > .icon-type();

  &_circle {
    #oui > .icon-circle();
  }

  &_bicolor {
    #oui > .icon-bicolor();
  }

  &_shake {
      animation-name: oui-shake;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
  }
}
