// Switch
@oui-switch-width: rem-calc(54);
@oui-switch-height: rem-calc(24);
@oui-switch-background-color: @oui-color-nurse;
@oui-switch-background-color_checked: @oui-color-info-dark;
@oui-switch-background-color_disabled: @oui-color-ironlight;
@oui-switch-border-width: 2px;
@oui-switch-box-shadow: inset 0 1px 1px 0 rgba(63, 81, 103, 0.2);
@oui-switch-box-shadow_checked: inset 0 1px 1px 0 rgba(63, 81, 103, 0.2), 0 0 3px 1px rgba(0, 0, 0, 0.15);

@oui-switch-cursor-background-color: @oui-color-white;
@oui-switch-cursor-background-color_disabled: @oui-color-concrete;
@oui-switch-cursor-box-shadow: 0 1px 2px 0 @oui-color-silver;
