@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_mixins';
@import './_variables';

.oui-switch {
  line-height: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &__label-container {
    width: @oui-switch-width;
    height: @oui-switch-height;
    display: block;
    position: relative;
    margin: 0;
  }

  &__slider {
    #oui > .animate();

    background-color: @oui-switch-background-color;
    bottom: 0;
    border: 1px solid transparent;
    border-radius: ~"calc(@{oui-switch-height} - @{oui-switch-border-width} * 2)";
    box-shadow: @oui-switch-box-shadow;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      #oui > .animate();

      background-color: @oui-switch-cursor-background-color;
      border-radius: 50%;
      bottom: ~"calc(@{oui-switch-border-width} - 1px)";
      box-shadow: @oui-switch-cursor-box-shadow;
      content: "";
      height: ~"calc(@{oui-switch-height} - @{oui-switch-border-width} * 2)";
      left: ~"calc(@{oui-switch-border-width} - 1px)";
      position: absolute;
      width: ~"calc(@{oui-switch-height} - @{oui-switch-border-width} * 2)";
      z-index: 1;
    }
  }

  &__checkbox {
    #oui > .visually-hidden();

    &:checked {
      ~ .oui-switch__slider {
        background-color: @oui-switch-background-color_checked;
      }

      ~ .oui-switch__slider::before {
        transform: translateX(@oui-switch-width - @oui-switch-height);
      }
    }

    &:disabled {
      ~ .oui-switch__slider {
        background-color: @oui-switch-background-color_disabled;
        cursor: default;

        &::before {
          background-color: @oui-switch-cursor-background-color_disabled;
        }
      }
    }

    &:focus ~ .oui-switch__slider {
      box-shadow: @oui-switch-box-shadow_checked;
    }
  }

  &_inline {
    display: inline-block;

    .oui-switch__label-container {
      margin-bottom: 0;
    }
  }
}

oui-switch {
  &:extend(.oui-switch);
}

.oui-switch_error {
  #oui > .switch-error-style();
}
