// Switch
.oui-switch {
  line-height: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &__label-container {
    width: @oui-switch-width;
    height: @oui-switch-height;
    display: block;
    position: relative;
    margin: 0;
  }

  &__slider {
    #oui > .animate();

    background-color: @oui-switch-background-color;
    bottom: 0;
    border: @oui-switch-border-width solid @oui-switch-border-color;
    border-radius: @oui-switch-border-radius;
    box-shadow: @oui-switch-box-shadow;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      #oui > .animate();

      content: @oui-switch-cursor-icon-index;
      width: @oui-switch-cursor-size;
      height: @oui-switch-cursor-size;
      line-height: @oui-switch-cursor-size;
      position: absolute;
      bottom: @oui-switch-cursor-position-y;
      left: @oui-switch-cursor-position-x;
      font-family: @oui-switch-cursor-icon-family;
      font-size: @oui-switch-cursor-icon-size;
      text-align: center;
      color: @oui-switch-cursor-icon-color;
      border-radius: 50%;
      box-shadow: @oui-switch-cursor-box-shadow;
      background-color: @oui-switch-cursor-background-color;
      transition-property: background-color, color, transform;
      z-index: 1;
    }
  }

  &__checkbox {
    #oui > .visually-hidden();

    &:checked {
      ~ .oui-switch__slider {
        border-color: @oui-switch-border-color_checked;
        background-color: @oui-switch-background-color_checked;
      }

      ~ .oui-switch__slider::before {
        content: @oui-switch-cursor-icon-index_checked;
        color: @oui-switch-cursor-icon-color_checked;
        box-shadow: @oui-switch-cursor-box-shadow_checked;
        background-color: @oui-switch-cursor-background-color_checked;
        transform: translateX(@oui-switch-width - @oui-switch-cursor-size - (@oui-switch-cursor-position-x * 2) - (@oui-switch-border-width * 2));
      }
    }

    &:disabled {
      ~ .oui-switch__slider {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &:focus ~ .oui-switch__slider {
      box-shadow: @oui-switch-box-shadow_checked;
    }
  }

  &_inline {
    display: inline-block;

    .oui-switch__label-container {
      margin-bottom: 0;
    }
  }
}

oui-switch {
  &:extend(.oui-switch);
}

// Switch - Error
.oui-switch_error,
.oui-field_error .oui-switch {
  .oui-switch__checkbox:not(:disabled) + .oui-switch__slider,
  .oui-switch__checkbox:checked + .oui-switch__slider {
    background-color: @oui-switch-background-color_error;
    border-color: @oui-switch-border-color_error;
  }

  .oui-switch__checkbox:not(:disabled) + .oui-switch__slider::before,
  .oui-switch__checkbox:checked + .oui-switch__slider::before {
    background-color: @oui-switch-cursor-icon-color_error;
    box-shadow: @oui-switch-cursor-box-shadow_error;
  }
}
