@import '../oui/_settings';
@import '../oui-typography/_constants';
@import '../oui-typography/_mixins';
@import '../oui-color/_variables';
@import '../oui-animation/_mixins';
@import '../oui-accessibility/_mixins';
@import '../oui-thumbnail/_mixins';
@import './_variables';

#oui {
  .radio-position(
    @selector,
    @outer-circle-top,
    @outer-circle-left,
    @inner-circle-top,
    @inner-circle-left
  ) {
    .@{selector}__label-container::before {
      top: @outer-circle-top;
      left: @outer-circle-left;
    }

    .@{selector}__input:checked ~ .@{selector}__label-container::after {
      top: @inner-circle-top;
      left: @inner-circle-left;
    }
  }

  .radio-size(
    @selector,
    @outer-circle-size,
    @inner-circle-size,
    @padding-left,
    @apply-padding-to-description
  ) when (@apply-padding-to-description = false) {
    min-height: @outer-circle-size;

    .@{selector}__label-container::before {
      width: @outer-circle-size;
      height: @outer-circle-size;
    }

    .@{selector}__label {
      padding-left: @outer-circle-size + @padding-left;
    }

    .@{selector}__description {
      padding-left: 0;
    }

    .@{selector}__input:checked ~ .@{selector}__label-container::after {
      width: @inner-circle-size;
      height: @inner-circle-size;
    }
  }

  .radio-size(
    @selector,
    @outer-circle-size,
    @inner-circle-size,
    @padding-left,
    @apply-padding-to-description
  ) when (@apply-padding-to-description = true) {
    .radio-size(
      @selector,
      @outer-circle-size,
      @inner-circle-size,
      @padding-left,
      false
    );

    .@{selector}__description {
      padding-left: @outer-circle-size + @padding-left;
    }
  }

  .radio-size(
    @selector,
    @outer-circle-size,
    @inner-circle-size,
    @padding-left
  ) {
    .radio-size(
      @selector,
      @outer-circle-size,
      @inner-circle-size,
      @padding-left,
      true
    );
  }

  .radio-label (
    @selector,
    @font-size,
    @line-height
  ) {
    .@{selector}__label {
      font-size: @font-size;
      line-height: @line-height;
    }
  }

  .radio(
    @selector,
    @label-font-size: @oui-radio-label-font-size,
    @label-font-color: @oui-radio-label-font-color,
    @label-font-color_disabled: @oui-radio-label-font-color_disabled,
    @label-font-color_input-checked: @oui-radio-label-font-color_input-checked,
    @outer-circle-border-color: @oui-radio-outer-circle-border-color,
    @outer-circle-border-color_disabled: @oui-radio-outer-circle-border-color_disabled,
    @outer-circle-border-color_input-checked: @oui-radio-outer-circle-border-color_input-checked,
    @outer-circle-background-color: @oui-radio-outer-circle-background-color,
    @outer-circle-background-color_disabled: @oui-radio-outer-circle-background-color_disabled,
    @outer-circle-border-color_hover: @oui-radio-outer-circle-border-color_hover,
    @outer-circle-border-color_input-checked-hover: @oui-radio-outer-circle-border-color_input-checked-hover,
    @outer-circle-border-color_active: @oui-radio-outer-circle-border-color_active,
    @inner-circle-background-color: @oui-radio-inner-circle-background-color,
    @inner-circle-background-color_active: @oui-radio-inner-circle-background-color_active,
    @inner-circle-background-color_input-checked-disabled: @oui-radio-inner-circle-background-color_input-checked-disabled,
    @spacing: rem-calc(10) 0,
    @outer-circle-size: @oui-radio-outer-circle-size,
    @outer-circle-top: @oui-radio-outer-circle-top,
    @outer-circle-left: @oui-radio-outer-circle-left,
    @inner-circle-size: @oui-radio-inner-circle-size,
    @inner-circle-top: @oui-radio-inner-circle-top,
    @inner-circle-left: @oui-radio-inner-circle-left,
    @label-padding-left: @oui-radio-padding-left,
  ) {
    .radio-size(
      @selector,
      @outer-circle-size,
      @inner-circle-size,
      @label-padding-left
    );
    .radio-position(
      @selector,
      @outer-circle-top,
      @outer-circle-left,
      @inner-circle-top,
      @inner-circle-left
    );
    .radio-label(
      @selector,
      @label-font-size,
      @outer-circle-size
    );
    position: relative;
    display: block;
    margin: @spacing;

    &,
    &__label-container,
    &__label-container::before,
    &__label-container::after {
      #oui > .animate();
      user-select: none;
    }

    &__label-container {
      display: block;
      cursor: pointer;
    }

    &__label-container::before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 1px;
      border-color: @outer-circle-border-color;
      border-radius: 50%;
      background-color: @outer-circle-background-color;
    }

    &__label,
    &__description {
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }

    &__label {
      font-weight: @oui-font-semibold;
    }

    &__input {
      #oui > .visually-hidden();
    }

    &__input:checked ~ &__label-container {
      &::before {
        border-color: @outer-circle-border-color_input-checked;
      }

      &::after {
        position: absolute;
        content: '';
        border-radius: 50%;
        background-color: @inner-circle-background-color;
      }
    }

    &__input:checked ~ &__label-container > &__label {
      color: @label-font-color_input-checked;
    }

    &__input:disabled ~ &__label-container::before {
      border-color: @outer-circle-border-color_disabled;
      background-color: @outer-circle-background-color_disabled;
    }

    &__input:disabled ~ &__label-container > &__label,
    &__input:disabled ~ &__label-container > &__description {
      color: @label-font-color_disabled;
      cursor: not-allowed;
    }

    &__input:disabled:checked ~ &__label-container::after {
      background-color: @inner-circle-background-color_input-checked-disabled;
    }

    &:hover:not(:active) > &__input:not(:disabled) ~ &__label-container::before {
      border-color: @outer-circle-border-color_hover;
    }

    &:hover:not(:active) &__input:checked:not(:disabled) ~ &__label-container::before {
      border-color: @outer-circle-border-color_input-checked-hover;
    }

    &:active > &__input:not(:disabled) ~ &__label-container {
      &::before {
        border-color: @outer-circle-border-color_active;
      }

      &::after {
        background-color: @inner-circle-background-color_active;
      }
    }
  }

  .radio-thumbnail (
    @selector,
    @border-color: @oui-thumbnail-border-color,
    @border-hover-color: @oui-thumbnail-border-hover-color,
    @border-checked-color: @oui-thumbnail-checked-border-color,
    @background: @oui-thumbnail-background,
    @background-checked: @oui-thumbnail-checked-background,
    @border-size: @oui-thumbnail-border-size,
    @border-radius: @oui-thumbnail-border-radius,
    @padding: @oui-thumbnail-padding,
    @label-padding-left: @oui-radio-padding-left,
    @outer-circle-size: @oui-radio-outer-circle-size,
    @outer-circle-top: @oui-radio-outer-circle-top,
    @outer-circle-left: @oui-radio-outer-circle-left,
    @inner-circle-size: @oui-radio-inner-circle-size,
    @inner-circle-top: @oui-radio-inner-circle-top,
    @inner-circle-left: @oui-radio-inner-circle-left
  ) {
    .radio-size(
      @selector,
      @outer-circle-size,
      @inner-circle-size,
      @label-padding-left,
      false
    );
    .radio-position(
      @selector,
      @padding + @border-size + @outer-circle-top,
      @padding + @border-size + @outer-circle-left,
      @padding + @border-size + @inner-circle-top,
      @padding + @border-size + @inner-circle-left
    );

    .@{selector}__label-container {
      #oui > .thumbnail-base(
        @border-color,
        @border-hover-color,
        @background,
        @border-size,
        @border-radius,
        @padding
      );
    }

    .@{selector}__description {
      padding-top: rem-calc(12);
      border-top: rem-calc(1) solid #cbd2d7;
      margin-top: rem-calc(11);
    }

    .@{selector}__input:checked + .@{selector}__label-container {
      #oui > .thumbnail-base-checked(
        @border-checked-color,
        @background-checked,
        @border-size
      )
    }
  }
}
