@import '../oui/_settings';
@import '../oui-typography/_constants';
@import '../oui-typography/_mixins';
@import '../oui-color/_variables';
@import '../oui-animation/_mixins';
@import '../oui-accessibility/_mixins';
@import './_variables';

#oui {
  .radio-position(
    @outer-circle-top,
    @outer-circle-left,
    @inner-circle-top,
    @inner-circle-left
  ) {
    &__label::before {
      top: @outer-circle-top;
      left: @outer-circle-left;
    }

    &__input:checked ~ &__label::after {
      top: @inner-circle-top;
      left: @inner-circle-left;
    }
  }

  // TODO: Find a better way to not require this duplicate
  .radio-position(
    @outer-circle-top,
    @outer-circle-left,
    @inner-circle-top,
    @inner-circle-left,
    @selector
  ) {
    .@{selector}__label::before {
      top: @outer-circle-top;
      left: @outer-circle-left;
    }

    .@{selector}__input:checked ~ .@{selector}__label::after {
      top: @inner-circle-top;
      left: @inner-circle-left;
    }
  }

  .radio-size(
    @outer-circle-size,
    @inner-circle-size,
    @padding-left
  ) {
    padding-left: @outer-circle-size + @padding-left;
    min-height: @outer-circle-size;

    &__label::before {
      width: @outer-circle-size;
      height: @outer-circle-size;
    }

    &__input:checked ~ &__label::after {
      width: @inner-circle-size;
      height: @inner-circle-size;
    }
  }

  // TODO: Find a better way to not require this duplicate
  .radio-size(
    @outer-circle-size,
    @inner-circle-size,
    @padding-left,
    @selector
  ) {
    padding-left: @outer-circle-size + @padding-left;
    min-height: @outer-circle-size;

    .@{selector}__label::before {
      width: @outer-circle-size;
      height: @outer-circle-size;
    }

    .@{selector}__input:checked ~ .@{selector}__label::after {
      width: @inner-circle-size;
      height: @inner-circle-size;
    }
  }

  .radio-label (
    @font-size,
    @line-height
  ) {
    &__label {
      font-size: @font-size;
      line-height: @line-height;
    }
  }

  // TODO: Find a better way to not require this duplicate
  .radio-label (
    @font-size,
    @line-height,
    @selector
  ) {
    .@{selector}__label {
      font-size: @font-size;
      line-height: @line-height;
    }
  }

  .radio(
    @label-font-size: @oui-radio-label-font-size,
    @label-font-color: @oui-radio-label-font-color,
    @label-font-color_disabled: @oui-radio-label-font-color_disabled,
    @label-font-color_input-checked: @oui-radio-label-font-color_input-checked,
    @outer-circle-border-color: @oui-radio-outer-circle-border-color,
    @outer-circle-border-color_disabled: @oui-radio-outer-circle-border-color_disabled,
    @outer-circle-border-color_input-checked: @oui-radio-outer-circle-border-color_input-checked,
    @outer-circle-background-color: @oui-radio-outer-circle-background-color,
    @outer-circle-background-color_disabled: @oui-radio-outer-circle-background-color_disabled,
    @outer-circle-border-color_hover: @oui-radio-outer-circle-border-color_hover,
    @outer-circle-border-color_input-checked-hover: @oui-radio-outer-circle-border-color_input-checked-hover,
    @outer-circle-border-color_active: @oui-radio-outer-circle-border-color_active,
    @inner-circle-background-color: @oui-radio-inner-circle-background-color,
    @inner-circle-background-color_active: @oui-radio-inner-circle-background-color_active,
    @inner-circle-background-color_input-checked-disabled: @oui-radio-inner-circle-background-color_input-checked-disabled,
    @spacing: rem-calc(10) 0,
    @outer-circle-size: @oui-radio-outer-circle-size,
    @outer-circle-top: @oui-radio-outer-circle-top,
    @outer-circle-left: @oui-radio-outer-circle-left,
    @inner-circle-size: @oui-radio-inner-circle-size,
    @inner-circle-top: @oui-radio-inner-circle-top,
    @inner-circle-left: @oui-radio-inner-circle-left,
    @padding-left: @oui-radio-padding-left,
  ) {
    .radio-size(
      @outer-circle-size,
      @inner-circle-size,
      @padding-left
    );
    .radio-position(
      @outer-circle-top,
      @outer-circle-left,
      @inner-circle-top,
      @inner-circle-left
    );
    .radio-label(
      @label-font-size,
      @inner-circle-size
    );
    position: relative;
    display: block;
    margin: @spacing;

    &,
    &__label,
    &__label::before,
    &__label::after {
      #oui > .animate();
      user-select: none;
    }

    &__label {
      display: inline-block;
      width: 100%;
      color: @label-font-color;
      font-weight: @oui-font-semibold;

      &::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 1px;
        border-color: @outer-circle-border-color;
        border-radius: 50%;
        background-color: @outer-circle-background-color;
      }
    }

    &__input {
      #oui > .visually-hidden();
    }

    &__input:checked ~ &__label {
      color: @label-font-color_input-checked;

      &::before {
        border-color: @outer-circle-border-color_input-checked;
      }

      &::after {
        position: absolute;
        content: '';
        border-radius: 50%;
        background-color: @inner-circle-background-color;
      }
    }

    &__input:disabled ~ &__label {
      color: @label-font-color_disabled;
      cursor: not-allowed;

      &::before {
        background-color: @outer-circle-background-color_disabled;
        border-color: @outer-circle-border-color_disabled;
      }
    }

    &__input:disabled:checked ~ &__label {
      &::after {
        background-color: @inner-circle-background-color_input-checked-disabled;
      }
    }

    &:hover:not(:active) > &__input:not(:disabled) ~ &__label::before {
      border-color: @outer-circle-border-color_hover;
    }

    &:hover:not(:active) &__input:checked:not(:disabled) ~ &__label::before {
      border-color: @outer-circle-border-color_input-checked-hover;
    }

    &:active > &__input:not(:disabled) ~ &__label {
      &::before {
        border-color: @outer-circle-border-color_active;
      }

      &::after {
        background-color: @inner-circle-background-color_active;
      }
    }
  }
}
