@import '../oui-typography/_mixins';

oui-radio,
oui-radio-group {
  display: block;
}

#oui {
  .radio-normalize() {
    &__label-container {
      font-weight: inherit;
      cursor: pointer;

      &::before,
      &::after {
        box-sizing: border-box;
      }
    }

    &__label {
      #oui > .base-font();
    }
  }
}
