@import '../oui-color/_variables';
@import '../oui-thumbnail/_variables';

// Radio
@oui-radio-min-height: 2.5rem;
@oui-radio-padding-left: .5625rem;

// Radio - Label
@oui-radio-label-font-size: 1rem;
@oui-radio-label-color-disabled: #b3b3b3;
@oui-radio-label-color: @oui-color-sapphire;

// Radio - Outer - Circle
@oui-radio-outer-circle-border-color: @oui-color-dusty;
@oui-radio-outer-circle-border-color-disabled: #e8e8e8;
@oui-radio-outer-circle-border-color-input-checked: @oui-radio-label-color;
@oui-radio-outer-circle-border-color-hover: @oui-color-zodiac;
@oui-radio-outer-circle-border-color-active: @oui-color-pacific;
@oui-radio-outer-circle-border-color-hover-input-checked: @oui-color-dusty;
@oui-radio-outer-circle-background-color: #fff;
@oui-radio-outer-circle-background-color-disabled: #f2f2f2;
@oui-radio-outer-circle-size: 1rem;
@oui-radio-outer-circle-top: .25rem;
@oui-radio-outer-circle-left: 0;

// Radio - Inner - Circle
@oui-radio-inner-circle-background-color: @oui-radio-label-color;
@oui-radio-inner-circle-background-color-input-checked-disabled: @oui-radio-label-color-disabled;
@oui-radio-inner-circle-background-color-active: @oui-radio-outer-circle-border-color-active;
@oui-radio-inner-circle-size: .375rem;
@oui-radio-inner-circle-top: .5625rem;
@oui-radio-inner-circle-left: .3125rem;
@oui-radio-box-shadow_focus: @oui-thumbnail-box-shadow_focus;

// Radio - M
@oui-radio-m-outer-circle-size: 1.25rem;
@oui-radio-m-outer-circle-top: @oui-radio-outer-circle-top;
@oui-radio-m-outer-circle-left: @oui-radio-outer-circle-left;
@oui-radio-m-inner-circle-size: .625rem;
@oui-radio-m-inner-circle-top: .5625rem;
@oui-radio-m-inner-circle-left: .3125rem;
@oui-radio-m-inner-font-size: 1.1875rem;

@oui-radio-description-font-size: .875rem;

// Radio status
@oui-radio-status:
  success,
  warning,
  error;

// Radio inline
@oui-radio-inline-padding: 1.25rem;
