@import '../oui-color/_variables';

// Radio

// Radio - Label
@oui-radio-label-font-size: rem-calc(16);
@oui-radio-label-font-color: #687688;
@oui-radio-label-font-color_disabled: #b3b3b3;
@oui-radio-label-font-color_input-checked: @oui-color-zodiac;

// Radio - Outer - Circle
@oui-radio-outer-circle-border-color: @oui-color-dusty;
@oui-radio-outer-circle-border-color_disabled: #e8e8e8;
@oui-radio-outer-circle-border-color_input-checked: @oui-radio-label-font-color_input-checked;
@oui-radio-outer-circle-border-color_hover: @oui-color-zodiac;
@oui-radio-outer-circle-border-color_active: @oui-color-pacific;
@oui-radio-outer-circle-border-color_input-checked-hover: @oui-color-dusty;
@oui-radio-outer-circle-background-color: transparent;
@oui-radio-outer-circle-background-color_disabled: #f2f2f2;

// Radio - Inner - Circle
@oui-radio-inner-circle-background-color: @oui-radio-label-font-color_input-checked;
@oui-radio-inner-circle-background-color_input-checked-disabled: @oui-radio-label-font-color_disabled;
@oui-radio-inner-circle-background-color_active: @oui-radio-outer-circle-border-color_active;
