// Radio

// Radio - Label
@radio-label-font-size: rem-calc(16);
@radio-label-font-color: #687688;
@radio-label-font-color_disabled: #b3b3b3;
@radio-label-font-color_input-checked: @zodiac;

// Radio - Outer - Circle
@radio-outer-circle-border-color: @dusty;
@radio-outer-circle-border-color_disabled: #e8e8e8;
@radio-outer-circle-border-color_input-checked: @radio-label-font-color_input-checked;
@radio-outer-circle-border-color_hover: @zodiac;
@radio-outer-circle-border-color_active: @pacific;
@radio-outer-circle-border-color_input-checked-hover: @dusty;
@radio-outer-circle-background-color: transparent;
@radio-outer-circle-background-color_disabled: #f2f2f2;

// Radio - Inner - Circle
@radio-inner-circle-background-color: @radio-label-font-color_input-checked;
@radio-inner-circle-background-color_input-checked-disabled: @radio-label-font-color_disabled;
@radio-inner-circle-background-color_active: @radio-outer-circle-border-color_active;
