@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_variables';

#oui {
  .message-color(
    @selector: oui-message,
    @font-color: @oui-message-info-font-color,
    @border-color: @oui-message-info-border-color,
    @background-color: @oui-message-info-background-color,
    @icon-color: @oui-message-info-icon-color
  ) {
    border-color: @border-color;
    background-color: @background-color;
    color: @font-color;

    .@{selector}__icon {
      color: @icon-color;
    }
  }
}
