// Message
@oui-message-min-height: rem-calc(50);
@oui-message-line-height: 1.375;
@oui-message-margin: 0 0 rem-calc(16);
@oui-message-padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(58);
@oui-message-border-color: @oui-color-zodiac;
@oui-message-border-width: 2px;
@oui-message-border-radius: 6px;
@oui-message-background-color: @oui-color-white;
@oui-message-font-color: @oui-color-zodiac;
@oui-message-font-size: rem-calc(16);
@oui-message-font-weight: @oui-font-regular;

@oui-message-icon-position-top: rem-calc(14);
@oui-message-icon-position-left: rem-calc(16);
@oui-message-icon-size: rem-calc(26);

@oui-message-close-button-color: @oui-color-zodiac;
@oui-message-close-button-background-color: transparent;
@oui-message-close-button-border: none;
@oui-message-close-button-width: @oui-message-close-button-font-size;
@oui-message-close-button-height: @oui-message-close-button-font-size;
@oui-message-close-button-font-size: rem-calc(10);
@oui-message-close-button-margin: rem-calc(-5) rem-calc(-6) 0 rem-calc(16);
@oui-message-close-button-padding: 0;
@oui-message-close-button-top: rem-calc(12);
@oui-message-close-button-right: rem-calc(12);
@oui-message-close-button-opacity: 0.6;
@oui-message-close-button-opacity_hover: 1;

// Message - Variants
@oui-message-info-border-color: @oui-color-info-light;
@oui-message-info-background-color: @oui-color-info-fade;
@oui-message-info-font-color: @oui-color-fiord;
@oui-message-info-icon-color: @oui-color-info-medium;

@oui-message-success-border-color: @oui-color-success-medium;
@oui-message-success-background-color: @oui-color-success-fade;
@oui-message-success-font-color: @oui-color-success-dark;
@oui-message-success-icon-color: @oui-color-success-medium;

@oui-message-warning-border-color: @oui-color-warning-light;
@oui-message-warning-background-color: @oui-color-warning-fade;
@oui-message-warning-font-color: @oui-color-warning-dark;
@oui-message-warning-icon-color: @oui-color-warning-medium;

@oui-message-error-border-color: @oui-color-error-light;
@oui-message-error-background-color: @oui-color-error-fade;
@oui-message-error-font-color: @oui-color-error-dark;
@oui-message-error-icon-color: @oui-color-error-medium;
