@import './_mixins';

.oui-message {
  position: relative;
  min-height: @oui-message-min-height;
  padding: @oui-message-padding;
  margin: @oui-message-margin;

  &__icon {
    position: absolute;
    display: block;
    top: @oui-message-icon-position-top;
    left: @oui-message-icon-position-left;
    font-size: @oui-message-icon-size;
  }

  &__body {
    line-height: @oui-message-body-line-height;
    margin: @oui-message-body-margin;
    color: @oui-message-body-font-color;
    font-size: @oui-message-body-font-size;
    font-weight: @oui-message-body-font-weight;
  }

  &__close-button {
    #oui > .animate();

    cursor: pointer;
    position: absolute;
    top: @oui-message-close-button-top;
    right: @oui-message-close-button-right;
    min-width: @oui-message-close-button-width;
    min-height: @oui-message-close-button-height;
    padding: @oui-message-close-button-padding;
    border: @oui-message-close-button-border;
    margin: @oui-message-close-button-margin;
    background-color: @oui-message-close-button-background-color;
    opacity: @oui-message-close-button-opacity;
    color: @oui-message-close-button-color;
    font-size: @oui-message-close-button-font-size;
    line-height: 0;
    text-align: center;

    &::before {
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      #oui > .animate();

      outline: none;
      opacity: @oui-message-close-button-opacity_hover;
    }

    &:focus {
      #oui > .outline-border();
    }
  }

  // Variants
  &_success {
    #oui > .message-color(
      @font-color: @oui-message-success-font-color,
      @background-color: @oui-message-success-background-color,
      @icon-index: @oui-message-success-icon-index,
      @icon-color: @oui-message-success-icon-color
    );
  }

  &_info {
    #oui > .message-color(
      @font-color: @oui-message-info-font-color,
      @background-color: @oui-message-info-background-color,
      @icon-index: @oui-message-info-icon-index,
      @icon-color: @oui-message-info-icon-color
    );
  }

  &_warning {
    #oui > .message-color(
      @font-color: @oui-message-warning-font-color,
      @background-color: @oui-message-warning-background-color,
      @icon-index: @oui-message-warning-icon-index,
      @icon-color: @oui-message-warning-icon-color
    );
  }

  &_error {
    #oui > .message-color(
      @font-color: @oui-message-error-font-color,
      @background-color: @oui-message-error-background-color,
      @icon-index: @oui-message-error-icon-index,
      @icon-color: @oui-message-error-icon-color
    );
  }

  &_no-icon {
    padding: @oui-message-no-icon-padding;
  }

  &_no-icon &__icon {
    display: none;
  }

  // Sizing
  &_l {
    min-height: @oui-message-l-min-width;
    max-width: @oui-message-l-max-width;
    margin: auto;
    padding: @oui-message-l-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: @oui-message-l-color;

    .oui-message__title {
      line-height: @oui-message-l-title-line-height;
      margin: 0;
      margin-bottom: @oui-message-l-title-spacing;
      text-align: center;
      color: inherit;
      font-size: @oui-message-l-title-font-size;
      font-weight: @oui-message-l-title-font-weight;
    }

    .oui-message__body {
      margin: 0;
      text-align: center;
    }

    .oui-message_l-icon {
      display: inline-block;
      box-sizing: content-box;
      width: @oui-message-l-icon-width;
      height: @oui-message-l-icon-height;
      margin-bottom: @oui-message-l-icon-spacing;
      background-repeat: no-repeat;
    }
  }

  &_l&_warning .oui-message_l-icon {
    background-image: @oui-message-l-warning-background-image;
  }

  &_l&_error .oui-message_l-icon {
    background-image: @oui-message-l-error-background-image;
  }
}

oui-message {
  display: block;
}
