.oui-inline-adder {
  margin-bottom: @oui-inline-adder-margin-bottom;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: @oui-inline-adder-row-spacing;
    border: @oui-inline-adder-border-width solid @oui-inline-adder-border-color;
    box-shadow: @oui-inline-adder-box-shadow;
    background-color: @oui-inline-adder-background-color;
  }

  &__fieldset {
    flex: 1;
    display: block;
  }

  &__row {
    padding: @oui-inline-adder-row-padding;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & + & { border-top: @oui-inline-adder-border-width solid @oui-inline-adder-border-color; }

    @media screen and (max-width: @device-breakpoint-phone-max-width) {
      flex-direction: column;
    }
  }

  &__field {
    flex: 1;

    & + & {
      margin-left: @oui-inline-adder-field-spacing;

      @media screen and (max-width: @device-breakpoint-phone-max-width) {
        margin-left: 0;
      }
    }

    &_adaptive {
      flex: 0;
    }
  }

  &__footer {
    padding: @oui-inline-adder-footer-padding;
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @oui-inline-adder-footer-background-color;
  }

  &__action {
    &:extend(.oui-button, .oui-button_secondary);

    min-width: @oui-inline-adder-action-size;
    width: @oui-inline-adder-action-size;
    height: @oui-inline-adder-action-size;
    padding-left: @oui-inline-adder-action-padding-x;
    padding-right: @oui-inline-adder-action-padding-x;
    display: flex;
    align-items: center;
    justify-content: center;

    .oui-icon {
      font-size: @oui-inline-adder-action-icon-size;

      &::before {
        display: inline;
        font-size: inherit;
      }
    }

    &:focus {
      #oui > .outline-border();
    }
  }
}

oui-inline-adder {
  &,
  &-row,
  &-field {
    display: block;
  }
}
