@oui-modal-close-button-size: rem-calc(13);
@oui-modal-close-button-padding: rem-calc(10);
@oui-modal-close-button-color: #000000;
@oui-modal-body-padding: rem-calc(24) rem-calc(24) rem-calc(24) rem-calc(132);
@oui-modal-icon-position-top: rem-calc(24);
@oui-modal-icon-position-left: rem-calc(36);
@oui-modal-icon-warning-color: @oui-color-warning-medium;
@oui-modal-icon-font-size: rem-calc(60);
