@oui-modal-background-color: #fff;
@oui-modal-close-button-size: .75rem;
@oui-modal-close-button-padding-x: .625rem;
@oui-modal-close-button-padding-y: .5625rem;
@oui-modal-close-button-color: @oui-color-info-dark;
@oui-modal-title-color: @oui-color-sapphire;
@oui-modal-body-padding: 1.875rem 2.5rem 1.875rem 8.25rem;
@oui-modal-body-padding-no-icon: 1.875rem 2.5rem;
@oui-modal-body-color: @oui-color-shuttle;
@oui-modal-footer-padding: 0 2.5rem 1.875rem;
@oui-modal-footer-button-spacing: 1.25rem;
@oui-modal-icon-position-top: 1.875rem;
@oui-modal-icon-position-left: 2.5rem;
@oui-modal-icon-success-color: @oui-color-success-medium;
@oui-modal-icon-error-color: @oui-color-error-medium;
@oui-modal-icon-warning-color: @oui-color-warning-medium;
@oui-modal-icon-info-color: @oui-color-info-medium;
@oui-modal-icon-help-color: @oui-color-info-medium;
@oui-modal-font-size: 1rem;
@oui-modal-icon-font-size: 3.75rem;
@oui-modal-shadow: 0 10px 10px fade(@oui-color-shuttle, 25%);
@oui-modal-backdrop-color: fade(@oui-color-shuttle, 50%);
@oui-modal-loader-background-color: rgba(255, 255, 255, 0.5);
