.oui-tooltip {
  #oui > .tooltip-base();
  #oui > .tooltip-arrow();

  pointer-events: none;

  &__trigger:focus + &,
  &__trigger:hover + & {
    opacity: @oui-tooltip-opacity;
    z-index: @oui-tooltip-z-index;
  }
}
