// Popover
@oui-popover-max-width: rem-calc(300);
@oui-popover-padding: rem-calc(20) rem-calc(30) rem-calc(20)  rem-calc(20);
@oui-popover-font-color: @oui-color-sapphire;
@oui-popover-font-size: rem-calc(14);
@oui-popover-background-color: #fff;
@oui-popover-border-color: @oui-color-silver;
@oui-popover-border-width: 1px;
@oui-popover-box-shadow: 0 4px 6px 0 @oui-color-info-fade;
@oui-popover-opacity: 1;
@oui-popover-transition-duration: 250ms;
@oui-popover-transition-animation: ease-in-out;
@oui-popover-z-index: 1000;

@oui-popover-arrow-margin: 4px;
@oui-popover-arrow-size: 8px;

@oui-popover-close-button-right: rem-calc(10);
@oui-popover-close-button-top: rem-calc(10);
@oui-popover-close-button-icon-size: rem-calc(12);
@oui-popover-close-button-icon-color: @oui-color-info-dark;

// Popover - Help button
@oui-popover-button-size: rem-calc(20);
@oui-popover-button-spacing: rem-calc(10);
@oui-popover-button-content: @oui-icon-index-help_circle;
@oui-popover-button-font-family: @oui-global-base-font-family-icon;
@oui-popover-button-font-color: @oui-color-sapphire;
@oui-popover-button-font-size: rem-calc(20);
@oui-popover-button-box-shadow_focus: @oui-button-hollow-box-shadow_focus;
