// Collapsible
@oui-collapsible-margin: rem-calc(4);
@oui-collapsible-padding: rem-calc(15);
@oui-collapsible-border-color: @oui-color-charlotte;
@oui-collapsible-border-width: 1px;
@oui-collapsible-border-radius: @oui-global-base-radius;
@oui-collapsible-background-color: @oui-color-foam;
@oui-collapsible-background-color_active: @oui-color-charlotte;

@oui-collapsible-header-height: rem-calc(40);
@oui-collapsible-header-padding: 0 rem-calc(14) 0 rem-calc(19);

@oui-collapsible-label-color: @oui-color-sapphire;

@oui-collapsible-icon-size: rem-calc(13);
@oui-collapsible-icon-color: inherit;
@oui-collapsible-icon-spacing: rem-calc(14);
