// Collapsible
@oui-collapsible-margin: rem-calc(4px);
@oui-collapsible-inactive-color: @oui-color-foam;
@oui-collapsible-active-color: @oui-color-charlotte;

@oui-collapsible-header-height: rem-calc(40px);
@oui-collapsible-header-padding: 0 rem-calc(14) 0 rem-calc(19);

@oui-collapsible-label-color: @oui-color-sapphire;

@oui-collapsible-icon-color: @oui-color-sapphire;
