.oui-collapsible {
  #oui > .base-font();

  display: block;
  margin: @oui-collapsible-margin;

  &__toggle-icon {
    height: @oui-collapsible-icon-size;
    line-height: @oui-collapsible-icon-size;
    right: @oui-collapsible-icon-spacing;
    font-size: @oui-collapsible-icon-size;
    color: @oui-collapsible-icon-color;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__header {
    text-align: left;
    height: @oui-collapsible-header-height;
    margin: 0;
    padding: @oui-collapsible-header-padding;
    background-color: @oui-collapsible-background-color;

    &:hover { background-color: @oui-collapsible-background-color_active; }
  }

  &__wrapper {
    overflow: hidden;
    transition: height 0.2s ease-out;
  }

  &__body {
    padding: @oui-collapsible-padding;
    border: @oui-collapsible-border-width solid @oui-collapsible-border-color;
    border-top: none;
    border-radius: 0 0 @oui-collapsible-border-radius @oui-collapsible-border-radius;
  }

  &__header[aria-expanded="true"] {
    background-color: @oui-collapsible-background-color_active;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:hover { background-color: @oui-collapsible-background-color; }
  }

  &__header[aria-expanded="true"] &__toggle-icon::before { transform: rotate(-180deg); }

  &__header[aria-expanded="false"] ~ &__wrapper {
    // Priority over ngStyle's height
    // stylelint-disable declaration-no-important
    height: 0 !important;
    // stylelint-enable declaration-no-important
  }
}

oui-collapsible {
  &:extend(.oui-collapsible);
}
