@import (reference) '@ovh/ui-kit.input/less/_variables';
@import './_normalize';

.oui-timepicker {
  display: block;
  margin: @oui-input-margin;

  &_inline { display: inline-block; }

  .oui-calendar {
    display: block;
    margin: 0;
  }
}
