// Radio
@oui-radio-min-height: rem-calc(30);
@oui-radio-line-height: 1.5;
@oui-radio-font-size: rem-calc(16);
@oui-radio-font-color: @oui-color-sapphire;
@oui-radio-font-color_disabled: @oui-color-silver;
@oui-radio-padding-left: rem-calc(9);

@oui-radio-description-spacing: rem-calc(5);
@oui-radio-description-font-size: rem-calc(14);

@oui-radio-inline-spacing: rem-calc(20);

// Radio - Custom icon
@oui-radio-icon-size: rem-calc(16);

@oui-radio-icon-background-color: #fff;
@oui-radio-icon-background-color_active: @oui-color-foam;
@oui-radio-icon-background-color_disabled: @oui-color-concrete;

@oui-radio-icon-outer-color: @oui-color-dusty;
@oui-radio-icon-outer-color_active: @oui-color-pacific;
@oui-radio-icon-outer-color_checked: @oui-color-sapphire;
@oui-radio-icon-outer-color_disabled: @oui-color-silver;
@oui-radio-icon-outer-color_focus: @oui-color-sapphire;
@oui-radio-icon-outer-color_hover: @oui-color-sapphire;
@oui-radio-icon-outer-color_hover-checked: @oui-color-info-light;

@oui-radio-icon-inner-color: @oui-color-sapphire;
@oui-radio-icon-inner-color_active: @oui-color-pacific;
@oui-radio-icon-inner-color_disabled: @oui-color-silver;

@oui-radio-box-shadow_focus: 0 0 3px 1px rgba(0, 0, 0, 0.2);

// Checkbox - M Variant
@oui-radio-m-line-height: @oui-radio-line-height;
@oui-radio-m-font-size: rem-calc(24);

@oui-radio-m-icon-size: rem-calc(20);
