@import './_mixins';

// Radio - Base
.oui-radio {
  #oui > .radio-base();
}

oui-radio,
oui-radio-group {
  &:extend(.oui-radio);
}

// Radio - Inline
.oui-radio_inline {
  display: inline-block;
  margin-right: @oui-radio-inline-spacing;
}

// Radio - Medium
.oui-radio_m {
  #oui > .radio-size(
    @line-height: @oui-radio-m-line-height,
    @font-size: @oui-radio-m-font-size,
    @icon-size: @oui-radio-m-icon-size
  );
}

// Radio - Thumbnail
.oui-radio_thumbnail {
  #oui > .choice-thumbnail(oui-radio);
}

// Radio - Thumbnail light
.oui-radio_thumbnail-light {
  &:extend(.oui-radio_thumbnail all);

  #oui > .choice-thumbnail_light(oui-radio);
}

// Radio - Error
.oui-radio_error,
.oui-field_error .oui-radio {
  .oui-radio__input:not(:disabled) ~ .oui-radio__label-container,
  .oui-radio__input:checked:not(:disabled) ~ .oui-radio__label-container {
    &,
    &:hover,
    &:active,
    &:focus {
      #oui > .radio-color(
        @icon-background-color: @oui-radio-icon-background-color_error,
        @icon-outer-color: @oui-radio-icon-outer-color_error,
        @icon-inner-color: @oui-radio-icon-inner-color_error
      );
    }
  }

  .oui-radio__input:not(:disabled):focus ~ .oui-radio__label-container,
  .oui-radio__input:checked:not(:disabled):focus ~ .oui-radio__label-container {
    .oui-radio__label::before {
      box-shadow: @oui-radio-box-shadow_error;
    }
  }

  // Thumbnail variant
  &.oui-radio_thumbnail {
    #oui > .choice-thumbnail_error(oui-radio);
  }
}
