@import '../oui/_settings';
@import '../oui-color/_variables';
@import '../oui-typography/_constants';
@import '../oui-icons/_mixins';
@import '../oui-accessibility/_mixins';
@import '../oui-animation/_mixins';
@import './_variables';

#oui {
  .label-base(
    @font-color: @oui-label-font-color,
    @font-size: @oui-label-font-size,
    @font-weight: @oui-label-font-weight,
    @padding: @oui-label-padding,
    @margin: @oui-label-margin,
  ) {
    display: block;
    padding: @padding;
    margin: @margin;
    color: @font-color;
    font-size: @font-size;
    font-weight: @font-weight;
  }
}
