// Calendar
@oui-calendar-font-color: @p-700;
@oui-calendar-font-color_hover: @p-700;
@oui-calendar-font-size: rem-calc(16);
@oui-calendar-font-weight: 600;
@oui-calendar-border: @oui-calendar-border-color 1px solid;
@oui-calendar-border-color: @g-300;
@oui-calendar-border-radius: @base-border-radius-medium;
@oui-calendar-box-shadow: @oui-dropdown-menu-box-shadow;

@oui-calendar-arrow-size: @oui-dropdown-arrow-size;
@oui-calendar-arrow-inner-size: @oui-dropdown-arrow-inner-size;
@oui-calendar-arrow-spacing: @oui-dropdown-menu-spacing;

@oui-calendar-separator-color: @g-300;
@oui-calendar-separator-size: 1px;

@oui-calendar-header-height: rem-calc(60);
@oui-calendar-header-spacing: rem-calc(20);
@oui-calendar-header-border-bottom: @oui-calendar-separator-color 1px solid;

@oui-calendar-title-month-spacing: rem-calc(5);
@oui-calendar-title-year-width: 4ch;
@oui-calendar-title-year-height: rem-calc(20);
@oui-calendar-title-year-spacing: rem-calc(5);
@oui-calendar-title-arrow-width: rem-calc(15);
@oui-calendar-title-button-width: rem-calc(14);

@oui-calendar-icon-color: @p-400;
@oui-calendar-icon-color_hover: @p-700;
@oui-calendar-icon-size: rem-calc(20);
@oui-calendar-icon-spacing: rem-calc(12);

@oui-calendar-input-margin: @oui-form-control-margin;
@oui-calendar-input-font-color: @oui-form-control-font-color;
@oui-calendar-input-border-color: @oui-form-control-border-color;
@oui-calendar-input-background-color: @oui-form-control-background-color;
@oui-calendar-input-background-color_hover: @oui-form-control-background-color_hover;

@oui-calendar-button-font-color: @oui-button-primary-font-color;
@oui-calendar-button-background-color: @oui-button-primary-background-color;
@oui-calendar-button-background-color_hover: @oui-button-primary-background-color_hover;

@oui-calendar-body-padding: rem-calc(20) rem-calc(25);

@oui-calendar-cell-width: rem-calc(45);
@oui-calendar-cell-height: rem-calc(30);
@oui-calendar-cell-line-height: rem-calc(28);
@oui-calendar-cell-spacing: rem-calc(8);
@oui-calendar-cell-font-color_disabled: @g-400;
@oui-calendar-cell-border-radius: @base-border-radius-medium;
@oui-calendar-cell-border-width: 1px;
@oui-calendar-cell-background-color_hover: @p-100;
@oui-calendar-cell-background-color_selected: @p-100;

@oui-calendar-today-border-color: @p-700;
@oui-calendar-today-border-color_hover: @p-700;
@oui-calendar-today-border-color_disabled: @g-300;

@oui-calendar-time-width: rem-calc(300);
@oui-calendar-time-height: rem-calc(38);
@oui-calendar-time-padding: rem-calc(5) 0;
