// Checkbox
@oui-checkbox-min-height: @oui-choice-min-height;
@oui-checkbox-line-height: @oui-choice-line-height;
@oui-checkbox-font-size: @oui-choice-font-size;
@oui-checkbox-font-color: @oui-choice-font-color;
@oui-checkbox-font-color_disabled: @oui-choice-font-color_disabled;
@oui-checkbox-font-weight: @oui-choice-font-weight;
@oui-checkbox-font-weight_checked: @oui-choice-font-weight_checked;
@oui-checkbox-padding-left: @oui-choice-padding-left;
@oui-checkbox-spacing: @oui-choice-spacing;

@oui-checkbox-description-spacing: @oui-choice-description-spacing;
@oui-checkbox-description-font-size: @oui-choice-description-font-size;

@oui-checkbox-inline-spacing: @oui-choice-inline-spacing;

// Checkbox - Custom icon
@oui-checkbox-icon-size: @oui-choice-icon-size;
@oui-checkbox-icon-border-width: @oui-choice-icon-border-width;
@oui-checkbox-icon-border-radius: @base-border-radius-small;

@oui-checkbox-icon-background-color: @p-000;
@oui-checkbox-icon-background-color_hover: @p-000;
@oui-checkbox-icon-background-color_active: @p-000;
@oui-checkbox-icon-background-color_error: @p-000;
@oui-checkbox-icon-background-color_checked: @p-500;
@oui-checkbox-icon-background-color_checked-hover: @p-700;
@oui-checkbox-icon-background-color_checked-error: @ae-500;

@oui-checkbox-icon-outer-color: @p-500;
@oui-checkbox-icon-outer-color_hover: @p-700;
@oui-checkbox-icon-outer-color_active: @p-700;
@oui-checkbox-icon-outer-color_error: @ae-500;
@oui-checkbox-icon-outer-color_checked: @p-500;
@oui-checkbox-icon-outer-color_checked-hover: @p-700;
@oui-checkbox-icon-outer-color_checked-error: @ae-500;

@oui-checkbox-icon-inner-color: @p-000;
@oui-checkbox-icon-inner-color_hover: @p-000;
@oui-checkbox-icon-inner-color_active: @p-000;
@oui-checkbox-icon-inner-color_error: @p-000;
@oui-checkbox-icon-inner-color_checked: @p-000;
@oui-checkbox-icon-inner-color_checked-hover: @p-000;
@oui-checkbox-icon-inner-color_checked-error: @p-000;

@oui-checkbox-box-shadow_focus: @oui-choice-box-shadow_focus;
@oui-checkbox-box-shadow_error: @oui-choice-box-shadow_error;

// Checkbox - Thumbnail
@oui-checkbox-thumbnail-border-color_checked-hover: @p-700;
