// Chips
@oui-circle-chart-padding-x: rem-calc(16);
@oui-circle-chart-padding-y: 0;
@oui-circle-chart-padding: @oui-circle-chart-padding-y @oui-circle-chart-padding-x;
@oui-circle-chart-background-color: transparent;
@oui-circle-chart-ring-background-color: @g-050;
@oui-circle-chart-ring-background-width: 4;
@oui-circle-chart-ring-segment-width: 4.1;

@oui-circle-chart-font-color: @p-800;
@oui-circle-chart-title-font-size: rem-calc(8);
@oui-circle-chart-title-transform: translateY(-0.4em);
@oui-circle-chart-subtitle-font-size: rem-calc(2);
@oui-circle-chart-subtitle-transform: translateY(0.7em);
@oui-circle-chart-font-weight: 400;

@oui-circle-chart-legends-margin: 0;
@oui-circle-chart-legends-padding: 0;

@oui-circle-chart-legend-item-margin: 0 0 0.2em;
@oui-circle-chart-legend-item-padding: 0;

@oui-circle-chart-icon-width: rem-calc(16);
@oui-circle-chart-icon-height: rem-calc(16);
@oui-circle-chart-icon-margin-right: rem-calc(16);
@oui-circle-chart-icon-border-radius: 50%;
@oui-circle-chart-icon-background: @p-600;
