// Collapsible
@oui-collapsible-min-height: rem-calc(50);
@oui-collapsible-margin: @base-spacing-medium;
@oui-collapsible-padding-base: rem-calc(16);
@oui-collapsible-padding: calc(@oui-collapsible-padding-base - @oui-collapsible-border-width);
@oui-collapsible-padding_hover: calc(@oui-collapsible-padding-base - @oui-collapsible-border-width_hover);
@oui-collapsible-padding_active: calc(@oui-collapsible-padding-base - @oui-collapsible-border-width_active);
@oui-collapsible-border-color: @p-100;
@oui-collapsible-border-color_hover: @p-500;
@oui-collapsible-border-color_active: @p-200;
@oui-collapsible-border-width: 1px;
@oui-collapsible-border-width_hover: 1px;
@oui-collapsible-border-width_active: 1px;
@oui-collapsible-border-radius: @base-border-radius-large;
@oui-collapsible-background-color: @p-000;
@oui-collapsible-background-color_hover: @p-100;
@oui-collapsible-background-color_active: @p-000;
@oui-collapsible-transition-delay: 0.2s;

@oui-collapsible-header-height: @oui-collapsible-min-height;
@oui-collapsible-header-font-color: @p-500;
@oui-collapsible-header-font-color_active: @p-800-text;
@oui-collapsible-header-font-size: rem-calc(18);
@oui-collapsible-header-outline-offset: calc(-@oui-a11y-outline-offset - @oui-a11y-outline-width - @oui-collapsible-border-width);
@oui-collapsible-header-transition_open: border-radius 0.001s linear, background-color @oui-animation-default-timing @oui-animation-default, border-color @oui-animation-default-timing @oui-animation-default, color @oui-animation-default-timing @oui-animation-default;
@oui-collapsible-header-transition_close: border-radius 0.001s linear @oui-collapsible-transition-delay, background-color @oui-animation-default-timing @oui-animation-default, border-color @oui-animation-default-timing @oui-animation-default, color @oui-animation-default-timing @oui-animation-default;

@oui-collapsible-label-color: @oui-color-sapphire;

@oui-collapsible-icon-size: rem-calc(24);
@oui-collapsible-icon-color: @p-500;
@oui-collapsible-icon-spacing: @oui-collapsible-padding;
@oui-collapsible-icon-spacing_hover: @oui-collapsible-padding_hover;
@oui-collapsible-icon-spacing_active: @oui-collapsible-padding_active;
