// Criteria
@oui-criteria-margin-bottom: rem-calc(10);

@oui-criteria-actions-margin-bottom: rem-calc(10);

// Criteria Adder
@oui-criteria-adder-spacing: rem-calc(12);
@oui-criteria-adder-icon-size: rem-calc(16);
@oui-criteria-adder-icon-spacing: rem-calc(12);
@oui-criteria-adder-menu-width: rem-calc(300);

@oui-criteria-adder-form-padding: rem-calc(20);
@oui-criteria-adder-field-spacing: rem-calc(6);
@oui-criteria-adder-submit-spacing: rem-calc(8);
