// Field
@oui-field-margin: @base-spacing-large;
@oui-field-header-spacing: 0;
@oui-field-footer-spacing: 0;

@oui-field-label-font-color: @p-800-text;
@oui-field-label-font-color_error: @ae-500;
@oui-field-label-font-color_warning: @aw-500;
@oui-field-label-font-color_success: @as-500;
@oui-field-label-font-size: rem-calc(12);
@oui-field-label-font-weight: @oui-font-bold;

@oui-field-helper-line-height: rem-calc(16);
@oui-field-helper-margin: rem-calc(4) 0;
@oui-field-helper-font-color: @p-700;
@oui-field-helper-font-color_error: @ae-500;
@oui-field-helper-font-color_warning: @aw-500;
@oui-field-helper-font-color_success: @as-500;
@oui-field-helper-font-size: rem-calc(12);
@oui-field-helper-font-weight: @oui-font-regular;
