// File
@oui-file-margin: @oui-form-control-margin;
@oui-file-outline-offset: -@oui-a11y-outline-width;

// File - Selector
@oui-file-placeholder-font-color: @p-800-text;
@oui-file-ellipsis-size-spacing: rem-calc(5);
@oui-file-button-spacing: rem-calc(4);
@oui-file-decorator-width: @oui-form-control-height;

// File - Drop Area
@oui-file-droparea-width: rem-calc(150);
@oui-file-droparea-line-height: rem-calc(20);
@oui-file-droparea-padding: rem-calc(16);
@oui-file-droparea-font-color: @p-800-text;
@oui-file-droparea-font-color_hover: @p-800-text;
@oui-file-droparea-font-weight: 700;
@oui-file-droparea-border-color: @p-200;
@oui-file-droparea-border-color_hover: @p-500;
@oui-file-droparea-border-radius: @base-border-radius-large;
@oui-file-droparea-border-width: 2px;
@oui-file-droparea-background-color: @p-000;
@oui-file-droparea-background-color_hover: @p-100;
@oui-file-droparea-icon-color: @p-500;
@oui-file-droparea-icon-outline-width: 2px;
@oui-file-droparea-icon-outline-color: @oui-file-droparea-icon-color;
@oui-file-droparea-icon-padding: rem-calc(2);
@oui-file-droparea-icon-size: rem-calc(24);
@oui-file-droparea-icon-spacing: rem-calc(8);

// File - Attachments
@oui-file-heading-line-height: rem-calc(20);
@oui-file-heading-margin: rem-calc(4) 0;
@oui-file-heading-padding: 0 rem-calc(4);
@oui-file-heading-font-color: @p-700;
@oui-file-heading-font-size: rem-calc(12);

@oui-file-preview-size: rem-calc(30);
@oui-file-preview-icon-size: rem-calc(16);
@oui-file-preview-icon-color: @g-300;
@oui-file-preview-background-color: @p-000;

@oui-file-attachments-max-height: none;
@oui-file-attachments-box-shadow: none;

@oui-file-attachment-height: rem-calc(32);
@oui-file-attachment-line-height: rem-calc(16);
@oui-file-attachment-padding: rem-calc(7) rem-calc(8);
@oui-file-attachment-spacing: rem-calc(4);
@oui-file-attachment-font-color: @p-800-text;
@oui-file-attachment-font-color_error: @ae-500;
@oui-file-attachment-font-size: rem-calc(12);
@oui-file-attachment-border-color: @oui-form-control-border-color_focus;
@oui-file-attachment-border-color_error: @oui-form-control-border-color_error;
@oui-file-attachment-border-radius: @base-border-radius-large;
@oui-file-attachment-border-width: 1px;
@oui-file-attachment-background: @oui-form-control-background-color_focus;
@oui-file-attachment-background_error: @oui-form-control-background-color_error;

@oui-file-attachment-icon-color: @oui-form-control-icon-color;
@oui-file-attachment-icon-color_error: @oui-form-control-icon-color_error;
@oui-file-attachment-icon-outline-offset: -@oui-a11y-outline-width;
@oui-file-attachment-icon-size: rem-calc(16);
@oui-file-attachment-icon-width: rem-calc(30);

@oui-file-attachment-decorator-width: rem-calc(30);
@oui-file-attachment-decorator-color: @oui-form-control-icon-color;
@oui-file-attachment-decorator-size: rem-calc(24);
@oui-file-attachment-decorator-spacing: -(rem-calc(8));
