// Guide button
@oui-guide-button-margin: 0;
@oui-guide-button-font-color: @p-700;
@oui-guide-button-font-size: rem-calc(16);
@oui-guide-button-font-weight: 600;
@oui-guide-button-icon-spacing: rem-calc(10);
@oui-guide-button-icon-size: rem-calc(24);

// Guide button - Responsive
@oui-guide-button-responsive-size: rem-calc(36);
@oui-guide-button-responsive-background-color: rgba(255, 255, 255, 0.5);
@oui-guide-button-responsive-border-radius: 50%;
