// Inline Adder
@oui-inline-adder-margin-bottom: @oui-field-margin;
@oui-inline-adder-border-color: @oui-choice-thumbnail-border-color;
@oui-inline-adder-border-color_added: @oui-choice-thumbnail-border-color_checked;
@oui-inline-adder-border-width: @oui-choice-thumbnail-border-width;
@oui-inline-adder-border-radius: @oui-choice-thumbnail-border-radius;
@oui-inline-adder-box-shadow: none;
@oui-inline-adder-background-color: @oui-choice-thumbnail-background;
@oui-inline-adder-background-color_added: @oui-choice-thumbnail-background_checked;

@oui-inline-adder-row-spacing: @oui-choice-spacing;
@oui-inline-adder-row-padding: @oui-choice-thumbnail-padding;

@oui-inline-adder-field-spacing: @oui-field-margin;

@oui-inline-adder-footer-border-color: @oui-choice-thumbnail-footer-border-color;
@oui-inline-adder-footer-border-color_added: @oui-choice-thumbnail-footer-border-color_checked;
@oui-inline-adder-footer-border-width: @oui-choice-thumbnail-footer-border-width;
@oui-inline-adder-footer-padding: @oui-choice-thumbnail-footer-padding-x @oui-choice-thumbnail-footer-padding-y; // The fact that X an Y is reversed is willed
