// Inline Adder
@oui-inline-adder-margin-bottom: rem-calc(20);
@oui-inline-adder-border-color: @oui-color-ironlight;
@oui-inline-adder-border-width: 1px;
@oui-inline-adder-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
@oui-inline-adder-background-color: @p-000;

@oui-inline-adder-row-spacing: rem-calc(20);
@oui-inline-adder-row-padding: rem-calc(20);

@oui-inline-adder-field-spacing: rem-calc(10);

@oui-inline-adder-footer-background-color: @oui-color-concrete;
@oui-inline-adder-footer-padding: rem-calc(10);

@oui-inline-adder-action-size: rem-calc(40);
@oui-inline-adder-action-padding-x: @oui-button-small-padding-x;
@oui-inline-adder-action-icon-size: rem-calc(16);
