// Input - Overlay
@oui-input-overlay-size: @oui-form-control-height;
@oui-input-overlay-icon-size: rem-calc(24);
@oui-input-overlay-icon-spacing: calc((@oui-input-overlay-size - @oui-input-overlay-icon-size) / 2);
@oui-input-overlay-margin: @oui-form-control-margin;
@oui-input-overlay-padding-x: rem-calc(4);
@oui-input-overlay-padding-y: 0;
@oui-input-overlay-padding: @oui-input-overlay-padding-y @oui-input-overlay-padding-x;
@oui-input-overlay-font-color: @oui-form-control-icon-color;
@oui-input-overlay-font-color_error: @oui-form-control-icon-color_error;
@oui-input-overlay-font-color_warning: @oui-form-control-icon-color_warning;
@oui-input-overlay-font-color_success: @oui-form-control-icon-color_success;
@oui-input-overlay-border-color: transparent;
@oui-input-overlay-box-shadow: none;
@oui-input-overlay-background-color: transparent;

// Input - Group
@oui-input-group-margin: @oui-form-control-margin;
@oui-input-group-spacing: rem-calc(4);
