// List
@oui-list-font-size: rem-calc(16);
@oui-list-font-weight: @oui-font-regular;
@oui-list-spacing: 0 0 rem-calc(15);
@oui-list-padding: 0;

@oui-list-header-padding: @oui-list-item-padding;
@oui-list-header-font-size: @oui-list-font-size;
@oui-list-header-font-weight: @oui-font-semibold;
@oui-list-header-color: @oui-color-zodiac;

@oui-list-item-border: none;
@oui-list-item-padding: 0;
@oui-list-item-indent: rem-calc(20);

@oui-list-link-color: @oui-color-fiord;
@oui-list-link-active-font-weight: @oui-font-semibold;
@oui-list-link-active-color: @oui-color-pacific;
@oui-list-link-active-background-color: @p-000;

// List - Nav variant
@oui-list-nav-font-size: rem-calc(16);
@oui-list-nav-font-weight: @oui-font-regular;
@oui-list-nav-padding: 0;
@oui-list-nav-background-color: @oui-color-nurse;
@oui-list-nav-background-color_hover: hsla(0, 0%, 100%, 0.5);
@oui-list-nav-background-color_focus: hsla(0, 0%, 100%, 0.85);

@oui-list-nav-header-padding: @oui-list-nav-item-padding;
@oui-list-nav-header-font-size: @oui-list-font-size;
@oui-list-nav-header-font-weight: @oui-font-semibold;
@oui-list-nav-header-color: @oui-color-dusty;

@oui-list-nav-item-padding: rem-calc(10);
@oui-list-nav-item-indent: rem-calc(20);
@oui-list-nav-item-border: 1px solid #fff;

@oui-list-nav-link-color: @oui-color-fiord;
@oui-list-nav-link-active-font-weight: @oui-font-semibold;
@oui-list-nav-link-active-color: @oui-color-pacific;
@oui-list-nav-link-active-background-color: @p-000;

// List - Separated variant
@oui-list-separated-separator-color: @oui-horizontal-line-color;
@oui-list-separated-separator-size: @oui-horizontal-line-thin-width;
