// Modal
@oui-modal-spacing: rem-calc(15) auto;
@oui-modal-font-size: rem-calc(16);
@oui-modal-border-radius: @base-border-radius-large;
@oui-modal-background-color: @p-000;
@oui-modal-shadow: @base-box-shadow-secondary;
@oui-model-z-index: @base-z-index-modal;

@oui-modal-backdrop-color: @g-800;
@oui-modal-backdrop-opacity: 0.5;
@oui-modal-backdrop-z-index: @base-z-index-modal-backdrop;

@oui-modal-loader-background-color: rgba(255, 255, 255, 0.5);

@oui-modal-close-button-size: rem-calc(24);
@oui-modal-close-button-padding-x: rem-calc(8);
@oui-modal-close-button-padding-y: rem-calc(4);
@oui-modal-close-button-color: @p-500;

@oui-modal-header-background-color: @g-100;

@oui-modal-title-color: @jupiter-color;
@oui-modal-title-font-size: @jupiter-font-size;
@oui-modal-title-font-weight: @jupiter-font-weight;
@oui-modal-title-letter-spacing: @jupiter-letter-spacing;
@oui-modal-title-line-height: @jupiter-line-height;
@oui-modal-title-margin: 0 0 rem-calc(16) 0;

@oui-modal-body-padding: rem-calc(24) rem-calc(40) rem-calc(32) rem-calc(136);
@oui-modal-body-padding-no-icon: rem-calc(24) rem-calc(32);
@oui-modal-body-color: @p-800-text;

@oui-modal-footer-padding: 0 rem-calc(32) rem-calc(24);
@oui-modal-footer-button-spacing: rem-calc(24);

@oui-modal-icon-height: rem-calc(80);
@oui-modal-icon-width: rem-calc(80);
@oui-modal-icon-position-top: rem-calc(32);
@oui-modal-icon-position-left: rem-calc(24);
@oui-modal-icon-font-size: rem-calc(48);

@oui-modal-success-background-color: @as-300;
@oui-modal-success-font-color: @as-500;

@oui-modal-error-background-color: @ae-300;
@oui-modal-error-font-color: @ae-500;

@oui-modal-warning-background-color: @aw-300;
@oui-modal-warning-font-color: @aw-500;

@oui-modal-info-background-color: @p-100;
@oui-modal-info-font-color: @p-800-text;

@oui-modal-help-background-color: @p-100;
@oui-modal-help-font-color: @p-800-text;
