// Navbar
@oui-navbar-height: rem-calc(44);
@oui-navbar-line-height: rem-calc(18);
@oui-navbar-padding: 0 rem-calc(10);
@oui-navbar-font-size: rem-calc(16);
@oui-navbar-font-size_small: rem-calc(14);
@oui-navbar-font-size_large: rem-calc(18);
@oui-navbar-font-color: @p-000;
@oui-navbar-background-color: @p-800;
@oui-navbar-background-color_active: @p-700;
@oui-navbar-box-shadow: 0 2pt 4pt rgba(17, 63, 109, 0.15);
@oui-navbar-outline-offset: -@oui-a11y-outline-width;
@oui-navbar-z-index: 1030;

// Navbar - Brand
@oui-navbar-brand-padding: 0 rem-calc(20);
@oui-navbar-brand-color: @oui-navbar-font-color;
@oui-navbar-brand-font-size: rem-calc(28);
@oui-navbar-brand-font-weight: 300;
@oui-navbar-brand-icon-size: rem-calc(44);
@oui-navbar-brand-title-spacing: rem-calc(15);

// Navbar - Notification
@oui-navbar-notification-max-height: rem-calc(400);
@oui-navbar-notification-icon-margin: rem-calc(3) rem-calc(10);
@oui-navbar-notification-icon-font-size: rem-calc(20);
@oui-navbar-notification-padding: rem-calc(7) rem-calc(10);

@oui-navbar-notification-action-padding: rem-calc(4) rem-calc(10);
@oui-navbar-notification-action-icon-font-size: rem-calc(10);
@oui-navbar-notification-action-font-color: @g-300;
@oui-navbar-notification-action-font-color_hover: @g-400;

@oui-navbar-notification-placeholder-color: @g-050;
@oui-navbar-notification-placeholder-font-color: @g-400;

@oui-navbar-notification-title-font-size: rem-calc(16);
@oui-navbar-notification-title-font-weight: 600;

@oui-navbar-notification-description-line-height: rem-calc(20);
@oui-navbar-notification-description-max-height: none;
@oui-navbar-notification-description-font-size: rem-calc(14);
@oui-navbar-notification-description-font-weight: 400;

@oui-navbar-notification-time-padding: 0 0 0 rem-calc(5);
@oui-navbar-notification-time-font-weight: 300;

@oui-navbar-notification-icon-color_info: @p-200;
@oui-navbar-notification-icon-color_success: @as-400;
@oui-navbar-notification-icon-color_warning: @aw-400;
@oui-navbar-notification-icon-color_error: @ae-400;

// Navbar - Toggler
@oui-navbar-toggler-line-height: @oui-navbar-height;
@oui-navbar-toggler-padding: 0 rem-calc(20);
@oui-navbar-toggler-margin-right: -(rem-calc(20));
@oui-navbar-toggler-background-color_active: @oui-navbar-background-color_active;

@oui-navbar-hamburger-width: rem-calc(14);
@oui-navbar-hamburger-height: rem-calc(12);
@oui-navbar-hamburger-bar-size: 2px;
@oui-navbar-hamburger-bar-color: @p-000;

@oui-navbar-backdrop-background-color: @g-800;
@oui-navbar-backdrop-opacity: 0.5;
@oui-navbar-backdrop-z-index: 1;

// Navbar Menu
@oui-navbar-menu-width: rem-calc(310);
@oui-navbar-menu-width_large: rem-calc(400);
@oui-navbar-menu-padding: rem-calc(4) 0 0 0;
@oui-navbar-menu-placeholder-height: rem-calc(182);
@oui-navbar-menu-background-color: @p-000;
@oui-navbar-menu-background-color_active: @p-100;
@oui-navbar-menu-background-color_hover: @p-075;
@oui-navbar-menu-box-shadow: 0 rem-calc(4) rem-calc(6) 0 @oui-navbar-menu-box-shadow-color;
@oui-navbar-menu-box-shadow_fixed: 0 rem-calc(14) rem-calc(15) 0 @oui-navbar-menu-box-shadow-color;
@oui-navbar-menu-box-shadow-color: fade(@g-800, 50%);
@oui-navbar-menu-font-size: rem-calc(16);
@oui-navbar-menu-font-size_small: rem-calc(14);
@oui-navbar-menu-font-color: @p-700;
@oui-navbar-menu-z-index: @oui-navbar-z-index + 1;
@oui-navbar-menu-gradient-height: rem-calc(36);

@oui-navbar-menu-header-padding: rem-calc(11) rem-calc(20) rem-calc(15) rem-calc(20);
@oui-navbar-menu-header-background-color: @g-050;
@oui-navbar-menu-header-border-bottom: solid 2px @g-050;

@oui-navbar-menu-title-line-height: 1.2;
@oui-navbar-menu-title-font-color: @oui-navbar-menu-font-color;
@oui-navbar-menu-title-font-size: rem-calc(18);
@oui-navbar-menu-title-font-weight: 600;

@oui-navbar-menu-back-spacing: rem-calc(10);
@oui-navbar-menu-back-padding: rem-calc(12) rem-calc(16);
@oui-navbar-menu-back-border-color: @p-100;
@oui-navbar-menu-back-border-radius: @base-border-radius-small;
@oui-navbar-menu-back-border-width: 1px;
@oui-navbar-menu-back-background-color: @p-100;

@oui-navbar-menu-item-padding: rem-calc(10) rem-calc(20);
@oui-navbar-menu-item-border-bottom: solid 1px @g-300;

@oui-navbar-menu-link-height: rem-calc(40);
@oui-navbar-menu-link-font-color_active: @oui-navbar-menu-font-color;
@oui-navbar-menu-link-background-color_active: @p-075;

// Navbar Link
@oui-navbar-link-min-width: @oui-navbar-height;
@oui-navbar-link-min-height: @oui-navbar-height;
@oui-navbar-link-line-height: 1.2;
@oui-navbar-link-padding-h: (@oui-navbar-link-min-height - (@oui-navbar-font-size * @oui-navbar-link-line-height)) / 2;
@oui-navbar-link-padding-v: rem-calc(20);
@oui-navbar-link-padding: @oui-navbar-link-padding-h @oui-navbar-link-padding-v;
@oui-navbar-link-font-color: @p-000;
@oui-navbar-link-font-size: rem-calc(16);
@oui-navbar-link-font-weight: 400;
@oui-navbar-link-text-decoration: none;
@oui-navbar-link-text-decoration_hover: none;
@oui-navbar-link-text-decoration_active: none;
@oui-navbar-link-background-color: transparent;
@oui-navbar-link-background-color_active: @p-075;

@oui-navbar-arrow-color: @p-800;
@oui-navbar-arrow-padding: calc(rem-calc(30) + @oui-navbar-arrow-spacing);
@oui-navbar-arrow-size: rem-calc(16);
@oui-navbar-arrow-spacing: rem-calc(20);

@oui-navbar-primary-font-color: @p-000;
@oui-navbar-primary-font-color_active: @p-200;
@oui-navbar-primary-font-size: @oui-navbar-font-size_large;
@oui-navbar-primary-font-weight: 600;

@oui-navbar-secondary-font-color: @p-000;
@oui-navbar-secondary-font-color_active: @p-200;
@oui-navbar-secondary-font-size: @oui-navbar-font-size_large;
@oui-navbar-secondary-font-weight: 400;

@oui-navbar-tertiary-font-color: @p-000;
@oui-navbar-tertiary-font-color_active: @p-200;
@oui-navbar-tertiary-font-size: rem-calc(14);
@oui-navbar-tertiary-font-weight: 600;

@oui-navbar-icon-line-height: 1;
@oui-navbar-icon-size: rem-calc(30);
@oui-navbar-icon-spacing: rem-calc(10);
@oui-navbar-icon-font-size: rem-calc(14);
@oui-navbar-icon-font-weight: 400;
@oui-navbar-icon-color: @p-000;
@oui-navbar-icon-color_active: @p-200;

@oui-navbar-badge-size: rem-calc(16);
@oui-navbar-badge-padding: 0 rem-calc(5);
@oui-navbar-badge-font-color: @p-000;
@oui-navbar-badge-font-size: rem-calc(12);
@oui-navbar-badge-font-weight: 600;
@oui-navbar-badge-left-spacing: rem-calc(24);
@oui-navbar-badge-radius: @oui-navbar-badge-size / 2;
@oui-navbar-badge-background-color: @ae-400;

@oui-navbar-external-color: @p-800-text;
@oui-navbar-external-size: rem-calc(14);
@oui-navbar-external-spacing: rem-calc(5);
