// Numeric - Button
@oui-numeric-button-font-size: rem-calc(24);

// Numeric - Input
@oui-numeric-input-min-width: 3ch; // 3 Digits
@oui-numeric-input-height: calc(@oui-form-control-min-height - (@oui-form-control-padding-y * 2) - (@oui-form-control-border-width * 2));
@oui-numeric-input-font-color: @p-500;
@oui-numeric-input-font-weight: @oui-font-semibold;
@oui-numeric-input-border-color: @oui-form-control-border-bottom-color;
@oui-numeric-input-border-color_hover: @oui-form-control-border-bottom-color_hover;
@oui-numeric-input-border-color_focus: @oui-form-control-border-bottom-color_focus;
@oui-numeric-input-border-color_readonly: @oui-form-control-border-bottom-color_readonly;
@oui-numeric-input-border-color_disabled: @oui-form-control-border-bottom-color_disabled;
@oui-numeric-input-border-color_error: @oui-form-control-border-bottom-color_error;
@oui-numeric-input-border-color_warning: @oui-form-control-border-bottom-color_warning;
@oui-numeric-input-border-color_success: @oui-form-control-border-bottom-color_success;
@oui-numeric-input-border-radius: @base-border-radius-medium;
