// Pagination
@oui-pagination-font-size: rem-calc(16);
@oui-pagination-margin: 0 0 @base-spacing-medium;

@oui-pagination-progress-text-font-color: @oui-color-sapphire;

@oui-pagination-link-min-width: rem-calc(60);
@oui-pagination-link-spacing: rem-calc(8);
@oui-pagination-link-icon-width: rem-calc(24);
@oui-pagination-link-icon-size: rem-calc(16);

@oui-pagination-selector-spacing: rem-calc(24);
@oui-pagination-selector-spacing_responsive: rem-calc(12);

@oui-pagination-button-spacing: rem-calc(8);
@oui-pagination-button-border-color: @p-100;
