// Password
@oui-password-margin: @oui-form-control-margin;
@oui-password-section-margin: rem-calc(4) 0;

@oui-password-strength-line-height: rem-calc(16);
@oui-password-strength-font-color: @p-700;
@oui-password-strength-font-size: rem-calc(12);
@oui-password-strength-font-weight: 700;
@oui-password-strength-padding: 0 rem-calc(8);
@oui-password-strength-spacing: rem-calc(4);
@oui-password-strength-score-height: rem-calc(8);

@oui-password-rule-padding: 0 rem-calc(16);
@oui-password-rule-spacing: 0;
@oui-password-rule-font-size: rem-calc(12);
@oui-password-rule-color: @p-700;
@oui-password-rule-icon-line-height: 1;
@oui-password-rule-icon-size: rem-calc(20);
@oui-password-rule-icon-color_error: @ae-500;
@oui-password-rule-icon-color_success: @as-500;
@oui-password-rule-icon-spacing: rem-calc(4);
