// Popover
@oui-popover-max-width: rem-calc(300);
@oui-popover-padding: rem-calc(20) rem-calc(30) rem-calc(20)  rem-calc(20);
@oui-popover-font-color: @oui-color-sapphire;
@oui-popover-font-size: rem-calc(14);
@oui-popover-background-color: @p-000;
@oui-popover-border-color: @oui-color-silver;
@oui-popover-border-width: 1px;
@oui-popover-box-shadow: @base-box-shadow-primary;
@oui-popover-opacity: 1;
@oui-popover-transition-duration: 250ms;
@oui-popover-transition-animation: ease-in-out;
@oui-popover-z-index: 1000;

@oui-popover-arrow-margin: 4px;
@oui-popover-arrow-size: 8px;

@oui-popover-close-button-right: rem-calc(10);
@oui-popover-close-button-top: rem-calc(10);
@oui-popover-close-button-icon-size: rem-calc(12);
@oui-popover-close-button-icon-color: @oui-color-info-dark;

// Popover - Help button
@oui-popover-button-width: 1em;
@oui-popover-button-height: 1em;
@oui-popover-button-line-height: 1;
@oui-popover-button-spacing: rem-calc(4);
@oui-popover-button-content: @oui-icon-index-help;
@oui-popover-button-font: normal normal normal rem-calc(16)/@oui-popover-button-line-height @oui-popover-button-font-family;
@oui-popover-button-font-family: @base-font-family-icon;
@oui-popover-button-font-color: @oui-color-sapphire;
@oui-popover-button-font-size: inherit;
@oui-popover-button-box-shadow_focus: @oui-button-secondary-box-shadow_focus;
