// Progress
@oui-progress-height: rem-calc(10);
@oui-progress-height_compact: rem-calc(16);
@oui-progress-margin: @base-spacing-small 0;
@oui-progress-background-color: @g-100;

@oui-progress-label-line-height: @mercury-line-height;
@oui-progress-label-font-size: @mercury-font-size;
@oui-progress-label-font-size_compact: @mercury-font-size;
@oui-progress-label-font-weight: @mercury-font-weight;
@oui-progress-label-color: @p-700;
@oui-progress-label-spacing: rem-calc(4);
@oui-progress-label-spacing_compact: rem-calc(8);

@oui-progress-threshold-width: 2px;
@oui-progress-threshold-background: @p-000;
@oui-progress-threshold-foreground: rgba(100, 100, 100, 0.3);

// Progress - Variants
@oui-progress-info-foreground-color: @p-500;
@oui-progress-success-foreground-color: @as-500;
@oui-progress-warning-foreground-color: @aw-400;
@oui-progress-error-foreground-color: @ae-500;
