// Search
@oui-search-margin: 0;
@oui-search-padding-right: calc(@oui-button-small-min-width * 2);
@oui-search-border-radius: @oui-form-control-border-radius;

@oui-search-input-font-color_disabled: @oui-form-control-font-color_disabled;

@oui-search-button-padding-x: rem-calc(10);
@oui-search-button-font-color: @oui-form-control-icon-color;
@oui-search-button-font-color_disabled: @oui-form-control-icon-color;

@oui-search-reset-right: @oui-button-small-min-width;
@oui-search-submit-right: 0;
