// Search
@oui-search-margin: 0;

@oui-search-input-padding-right: calc(@oui-input-overlay-icon-spacing + (@oui-input-overlay-icon-size * 2));

@oui-search-button-reset-right: calc(@oui-input-overlay-icon-spacing + @oui-input-overlay-icon-size);
@oui-search-button-submit-right: @oui-input-overlay-icon-spacing;
