// Tile
@oui-tile-margin: 0;
@oui-tile-padding-x: rem-calc(16);
@oui-tile-padding-y: rem-calc(16);
@oui-tile-padding: @oui-tile-padding-y @oui-tile-padding-x;
@oui-tile-background-color: @p-000;
@oui-tile-border-color: @g-100;
@oui-tile-border-width: 0;
@oui-tile-border-radius: @base-border-radius-medium;
@oui-tile-box-shadow: @base-box-shadow-primary;

@oui-tile-button-icon-right-padding: rem-calc(28);

@oui-tile-legend-color: @p-800-text;

@oui-tile-item-padding-x: rem-calc(4);
@oui-tile-item-padding-y: rem-calc(8);
@oui-tile-item-padding: @oui-tile-item-padding-y @oui-tile-item-padding-x;
@oui-tile-item-border-color: @g-050;
@oui-tile-item-border-width: 1px;

@oui-tile-definition-term-color: @p-800;
@oui-tile-definition-term-font-size: rem-calc(16);
@oui-tile-definition-term-font-weight: 600;
@oui-tile-definition-description-color: @p-800-text;
@oui-tile-definition-description-font-size: rem-calc(16);
@oui-tile-definition-actions-spacing: rem-calc(12);
