// Tile
@oui-tile-margin: 0;
@oui-tile-padding: rem-calc(27) rem-calc(24) rem-calc(46);
@oui-tile-background-color: @p-000;
@oui-tile-background-color_hover: @oui-color-concrete;
@oui-tile-border-color: @oui-color-ironlight;
@oui-tile-border-width: 1px;
@oui-tile-border-radius: @base-border-radius-medium;
@oui-tile-box-shadow: @base-box-shadow-secondary;

@oui-tile-title-color: @oui-color-fiord;
@oui-tile-title-padding: 0 0 rem-calc(10) 0;
@oui-tile-title-font-weight: @oui-font-semibold;

@oui-tile-button-color: @oui-color-pacific;
@oui-tile-button-font-weight: @oui-font-semibold;

@oui-tile-item-side-spacing: rem-calc(24);
@oui-tile-item-top-spacing: rem-calc(13);
@oui-tile-item-border-color: @oui-color-nurse;
@oui-tile-item-border-width: 1px;

@oui-tile-definition-term-color: @oui-color-dusty;
@oui-tile-definition-term-font-size: rem-calc(16);
@oui-tile-definition-term-font-weight: @oui-font-regular;
@oui-tile-definition-description-color: @oui-color-rhino;
@oui-tile-definition-description-font-size: rem-calc(16);
@oui-tile-definition-actions-spacing: rem-calc(10);
