// Clipboard
.oui-clipboard {
  &:extend(.oui-input-overlay all);

  width: 100%;
  display: block;

  .oui-input:read-only {
    #oui > .control-color();
    #oui > .control-states();
    #oui > .text-ellipsis();

    color: @oui-clipboard-font-color;
    font-weight: @oui-clipboard-font-weight;
    cursor: pointer;

    &:hover {
      color: @oui-clipboard-font-color_hover;
    }
  }

  &__button {
    pointer-events: none;
  }

  &_inline {
    display: inline-block;
    width: auto;
  }
}

oui-clipboard {
  &:extend(.oui-clipboard all);
}
