// Color Badge
@oui-color-badge-border-color: #bdc1c2;
@oui-color-badge-palette-size: rem-calc(128);
@oui-color-badge-palette-border-color: #e5e7e7;
@oui-color-badge-prop-font-size: rem-calc(12);
@oui-color-badge-themes: oui-color-sapphire, oui-color-silver, oui-color-concrete, oui-color-zodiac, oui-color-turquoise, oui-color-pacific,
  oui-color-nurse, oui-color-gothic, oui-color-foam, oui-color-turquoise-a15, oui-color-rhino, oui-color-fiord, oui-color-shuttle, oui-color-regent, oui-color-mischka,
  oui-color-jungle, oui-color-jungle-a15, oui-color-dodger, oui-color-supernova, oui-color-supernova-a15, oui-color-pomegranate, oui-color-iceberg,
  oui-color-milkpunch, oui-color-california, oui-color-atlantis, oui-color-flirt, oui-color-claret, oui-color-info-dark, oui-color-info-medium, oui-color-info-light,
  oui-color-info-fade, oui-color-success-dark, oui-color-success-medium, oui-color-success-light, oui-color-success-fade, oui-color-warning-dark, oui-color-warning-medium,
  oui-color-warning-light, oui-color-warning-fade, oui-color-error-dark, oui-color-error-medium, oui-color-error-light, oui-color-error-fade;

// Color Badge - Variant
@oui-color-badge-variant-palette-size: rem-calc(60);
