// Color Badge
@color-badge-border-color: #bdc1c2;
@color-badge-palette-size: rem-calc(128);
@color-badge-palette-border-color: #e5e7e7;
@color-badge-prop-font-size: rem-calc(14);
@color-badge-themes: sapphire, silver, concrete, zodiac, turquoise, pacific,
  nurse, gothic, foam, turquoise-a15, rhino, fiord, shuttle, regent, mischka,
  jungle, jungle-a15, dodger, supernova, supernova-a15, pomegranate, iceberg,
  milkpunch, california, atlantis, flirt, claret;

// Color Badge - Variant
@color-badge-variant-palette-size: rem-calc(60);
