#oui {
  .message-color(
    @font-color: @oui-message-info-font-color,
    @background-color: @oui-message-info-background-color,
    @icon-index: @oui-message-info-icon-index,
    @icon-color: @oui-message-info-icon-color
  ) {
    background-color: @background-color;
    color: @font-color;

    &__icon {
      content: @icon-index;
      color: @icon-color;
    }
  }
}
