@import '@ovh/ui-kit.core/less/_settings';
@import '@ovh/ui-kit.color/less/_variables';
@import '@ovh/ui-kit.typography/less/_constants';
@import '@ovh/ui-kit.animation/less/_mixins';
@import './_variables';

#oui {
  .icon(
    @icon-size: @oui-icon-size,
    @icon-color: @oui-icon-color,
    @spacing: @oui-icon-spacing
  ) {
    display: inline-block;
    margin: @spacing;
    padding: 0;
    color: @icon-color;
    font-family: @oui-global-base-font-family-icon;
    font-size: @icon-size;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
  }

  .for(@array)   when (default()) { .for-impl_(length(@array)); }
  .for-impl_(@i) when (@i > 1) { .for-impl_((@i - 1)); }
  .for-impl_(@i) when (@i > 0) { .-each(extract(@array, @i)); }

  .define(@name) {
    @content: "oui-icon-index-@{name}";
  }

  .icon-type() {
    .for(@oui-icon-index); .-each(@index) {
      .define(@index);

      &.oui-icon-@{index}::before {
        display: block;
        content: @@content;
      }
    }
  }

  .icon-circle(
    @icon-size: @oui-icon-size;
  ) {
    &::before {
      width: @icon-size;
      height: @icon-size;
      border-radius: 50%;
      background: #333;
      color: #fff;
      font-size: ~"calc(@{icon-size} / 2)";
      line-height: 2;
      text-align: center;
    }
  }

  .icon-bicolor(
    @icon-char-color: @oui-icon-char-color;
  ) {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      width: 90%;
      height: 90%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: @icon-char-color;
      border-radius: 50%;
      z-index: -1;
    }

    &.oui-icon-warning_circle::after {
      width: 25%;
      height: 75%;
    }
  }
}
