@import (reference) '@ovh/ui-kit.animation/less/_variables';
@import (reference) './_mixins';

.oui-icon {
  #oui > .icon();
  #oui > .icon-type();

  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  &_circle {
    #oui > .icon-circle();
  }

  &_bicolor {
    #oui > .icon-bicolor();
  }

  &_shake {
    animation-name: oui-shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  /* Fix bad vertical alignment from this icon */
  &-eye-blocked::before { margin-top: -0.1em; }
}
