@import '../oui/_settings';
@import '../oui-typography/_constants';
@import '../oui-animation/_mixins';
@import '../oui-color/_variables';
@import '../oui-responsive/responsive';
@import './_variables';

#oui {
  .navbar-list(
    @flex-direction: row,
    @flex-grow: 0,
    @align-items: center,
    @justify-content: flex-start,
    @border-bottom: none,
    @is-menu-list: false
  ) {
    display: flex;
    flex-direction: @flex-direction;
    flex-grow: @flex-grow;
    align-items: @align-items;
    justify-content: @justify-content;
    margin: 0;
    padding: 0;
    list-style: none;

    /* Scroll for responsive */
    & when (@is-menu-list = true) {
      overflow: auto;
    }

    /* List items */
    &__item {
      display: block;
      border-bottom: @border-bottom;

      & when (@is-menu-list = false) {
        position: relative;
      }

      & when (@is-menu-list = true) {
        position: static;
      }
    }

    /* Variant 'end' for List, align 'right' */
    &_end {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  .navbar-link(
    @min-width: @oui-navbar-link-min-width,
    @min-height: @oui-navbar-link-min-height,
    @line-height: @oui-navbar-link-line-height,
    @display: block,
    @padding: @oui-navbar-link-padding
  ) {
    min-width: @min-width;
    min-height: @min-height;
    line-height: @line-height;
    display: @display;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: @padding;
    position: relative;
    text-decoration: none;
    text-align: left;
    border: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      outline-width: 1px;
      outline-style: dotted;
      outline-color: initial;
      outline-offset: -2px;
    }
  }

  .navbar-link_variant(
    @background-color: @oui-navbar-link-background-color,
    @font-color: @oui-navbar-link-font-color,
    @font-size: @oui-navbar-link-font-size,
    @font-weight: @oui-navbar-link-font-weight
  ) {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @font-color;
    background-color: @background-color;
  }

  .navbar-link_icon(
    @icon-line-height: @oui-navbar-icon-line-height,
    @icon-size: @oui-navbar-icon-size,
    @icon-spacing: @oui-navbar-icon-spacing,
    @icon-color: @oui-navbar-icon-color,
    @badge-size: @oui-navbar-badge-size,
    @badge-padding: @oui-navbar-badge-padding,
    @badge-font-color: @oui-navbar-badge-font-color,
    @badge-font-size: @oui-navbar-badge-font-size,
    @badge-font-weight: @oui-navbar-badge-font-weight,
    @badge-left-spacing: @oui-navbar-badge-left-spacing,
    @badge-radius: @oui-navbar-badge-radius,
    @badge-background-color: @oui-navbar-badge-background-color
  ) {
    &[aria-haspopup]::after {
      display: none;
    }

    .medium({
      padding: 0;
      font-size: 0;
      text-align: center;
      white-space: nowrap;
    });

    .oui-icon {
      width: @icon-size;
      height: @icon-size;
      line-height: @icon-line-height;
      margin-right: @icon-spacing;
      position: relative;
      font-size: @icon-size;
      color: @icon-color;
      vertical-align: middle;

      .medium({
        line-height: 1;
        margin: 0;
        vertical-align: middle;
      });

      &__badge {
        min-width: @badge-size;
        height: @badge-size;
        line-height: @badge-size;
        padding: @badge-padding;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%);
        display: block;
        text-align: center;
        color: #fff;
        font-family: @oui-global-base-font-family;
        font-weight: @badge-font-weight;
        font-size: @badge-font-size;
        border-radius: @badge-radius;
        background: @badge-background-color;

        .medium({
          top: 50%;
          transform: translate(50%, -50%);
        });
      }
    }
  }

  .navbar-menu-animation_slide(
    @origin: left
  ) {
    opacity: 1;
    visibility: hidden; /* For ARIA */
    pointer-events: auto;
    transition: transform 0.25s ease-out, visibility 0.25s ease-out;

    & when (@origin = left) {
      transform: translateX(-100%);
    }

    & when (@origin = right) {
      transform: translateX(100%);
    }

    [aria-expanded="true"] ~ & {
      visibility: visible;
      transform: translateX(0);
      transition: transform 0.25s ease-out;
    }
  }

  /* Deprecated: Support only for old use */
  .navbar(
    @height: @oui-navbar-height,
    @font-size: @oui-navbar-font-size,
    @font-color: @oui-navbar-font-color,
    @background-color: @oui-navbar-background-color,
    @z-index: @oui-navbar-z-index,
    @brand-color: @oui-navbar-brand-color,
    @brand-padding: @oui-navbar-brand-padding
  ) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    user-select: none;
    font-size: @font-size;
    color: @font-color;
    background-color: @background-color;
    z-index: @z-index;

    /* variant 'fixed' */
    &_fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    // Header/Brand
    &__brand {
      height: @height;
      line-height: @height;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: @brand-padding;
      overflow: hidden;

      &,
      &:hover,
      &:focus {
        text-decoration: none;
        color: @brand-color;
      }

      &:focus {
        outline-width: 1px;
        outline-style: dotted;
        outline-color: initial;
        outline-offset: -2px;
      }

      .oui-icon {
        vertical-align: initial;
        font-size: rem-calc(44);
        color: inherit;
      }
    }

    // Header/Title
    &__title {
      display: inline-block;
      margin-left: rem-calc(15);
      font-size: @oui-navbar-brand-font-size;
      font-weight: @oui-font-light;
      color: @oui-navbar-brand-color;
    }
  }

  .navbar-menu_panel(@modifier) {
    &-menu_@{modifier} {
      #oui > .navbar-menu-animation_slide();

      width: 100%;
      min-width: 0;
      max-width: @oui-navbar-menu-width;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: @oui-navbar-height;
      bottom: 0;
      box-shadow: @oui-navbar-menu-box-shadow_fixed;

      & & {
        position: absolute;
      }
    }

    &-menu_@{modifier}&-menu {
      &_end,
      &_right {
        #oui > .navbar-menu-animation_slide(right);
      }
    }

    &-menu_@{modifier} &-list {
      #oui > .navbar-list(
        @flex-direction: column,
        @flex-grow: 1,
        @align-items: stretch,
        @is-menu-list: true
      );
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-menu_fixed(
    @width: @oui-navbar-menu-width,
    @height: @oui-navbar-height,
    @box-shadow: @oui-navbar-menu-box-shadow_fixed
  ) {
    width: 100%; /* For smaller screen than max-width */
    min-width: 0;
    max-width: @width;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: @height;
    bottom: 0;
    box-shadow: @box-shadow;

    & & {
      position: absolute;
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-backdrop(
    @top: @oui-navbar-height,
    @z-index: @oui-navbar-z-index,
    @opacity: @oui-navbar-backdrop-opacity,
    @background-color: @oui-navbar-backdrop-background-color
  ) {
    position: fixed;
    top: @top;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: @background-color;
    transition: opacity 0.25s ease-out;
    pointer-events: none;
    z-index: -1;

    &_active {
      .tablet({
        opacity: @opacity;
        pointer-events: auto;
        z-index: @z-index;
      });
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-link_external(
    @icon-size: @oui-navbar-external-size,
    @icon-spacing: @oui-navbar-external-spacing,
    @icon-color: @oui-navbar-external-color
  ) {
    .oui-icon {
      margin-left: @icon-spacing;
      margin-top: -0.3rem; /* For a better centering */
      vertical-align: middle;
      font-size: @icon-size;
      color: @icon-color;
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-link_menu(
    @arrow-color: @oui-navbar-arrow-color,
    @arrow-padding: @oui-navbar-arrow-padding,
    @arrow-size: @oui-navbar-arrow-size,
    @arrow-spacing: @oui-navbar-arrow-spacing
  ) {
    width: 100%;

    &[aria-haspopup="true"] {
      padding-right: @arrow-padding;
    }

    // Add arrow for button with popup
    &[aria-haspopup="true"]::after {
      content: @oui-icon-index-chevron-right;
      font-family: @oui-global-base-font-family-icon;
      font-size: @arrow-size;
      color: @arrow-color;
      padding: 0;
      position: absolute;
      top: 50%;
      right: @arrow-spacing;
      transform: translateY(-50%);
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-menu(
    @width: @oui-navbar-menu-width,
    @padding: @oui-navbar-menu-padding,
    @background-color: @oui-navbar-menu-background-color,
    @background-color_active: @oui-navbar-menu-background-color_active,
    @background-color_hover: @oui-navbar-menu-background-color_hover,
    @box-shadow: @oui-navbar-menu-box-shadow,
    @font-color: @oui-navbar-menu-font-color,
    @font-size: @oui-navbar-menu-font-size_small,
    @z-index: @oui-navbar-menu-z-index,
    @header-background-color: @oui-navbar-menu-header-background-color,
    @header-border-bottom: @oui-navbar-menu-header-border-bottom,
    @header-padding: @oui-navbar-menu-header-padding,
    @title-line-height: @oui-navbar-menu-title-line-height,
    @title-font-color: @oui-navbar-menu-title-font-color,
    @title-font-size: @oui-navbar-menu-title-font-size,
    @title-font-weight: @oui-navbar-menu-title-font-weight,
    @back-color: @oui-navbar-arrow-color,
    @back-padding: @oui-navbar-menu-back-padding,
    @item-padding: @oui-navbar-menu-item-padding,
    @item-border-bottom: @oui-navbar-menu-item-border-bottom
  ) {
    width: @width;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: @padding;
    color: @font-color;
    background-color: @background-color;
    box-shadow: @box-shadow;
    z-index: @z-index;

    & & {
      top: 0;
    }

    &_toggle { display: none; }

    // Variant 'right' for Menus
    &_right {
      left: auto;
      right: 0;
    }

    // General item for Menu
    &__item {
      display: block;
      padding: @item-padding;
      font-size: @font-size;
      color: @font-color;
      border-bottom: @item-border-bottom;

      &_active { background-color: @background-color_active; }

      &:hover {
        text-decoration: none;
        background-color: @background-color_hover;
      }

      &:focus {
        outline-width: 1px;
        outline-style: dotted;
        outline-color: initial;
        outline-offset: -2px;
      }
    }

    // Footer for Menu
    &__footer {
      display: block;
      padding: @item-padding;
      position: relative;
      font-size: @font-size;
      color: @font-color;
      text-align: center;

      /* Gradient over items */
      &::before {
        content: ' ';
        height: rem-calc(36);
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }

    // Header for Menu
    &__header {
      display: block;
      position: relative;
      padding: @header-padding;
      color: @font-color;
      border-bottom: @header-border-bottom;
      background: @header-background-color;
    }

    // Title for Header
    &__title {
      line-height: @title-line-height;
      margin: 0;
      padding: 0;
      font-size: @title-font-size;
      font-weight: @title-font-weight;
      color: @title-font-color;
    }

    // Bradcrumb for Header
    &__breadcrumb {
      display: block;
      margin: 0;
      font-size: @font-size;
    }

    // Back Button
    &__back {
      display: block;
      position: absolute;
      left: @padding;
      top: 50%;
      transform: translateY(-50%);

      .oui-icon,
      .oui-button {
        padding: 0;
        margin-bottom: 0;
        color: @back-color;
      }
    }

    &__back ~ &__title,
    &__back ~ &__breadcrumb {
      padding-left: @back-padding;
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-menu-animation_opacity(
    @opacity: 1
  ) {
    opacity: 0;
    visibility: hidden; /* For ARIA */
    pointer-events: none;
    transform: translateY(-10%);

    [aria-expanded="true"] ~ & {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateY(0);
      transition: opacity 0.2s ease-out, transform 0.1s ease-out;
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-toggler(
    @line-height: @oui-navbar-toggler-line-height,
    @padding: @oui-navbar-toggler-padding,
    @margin-right: @oui-navbar-toggler-margin-right,
    @background-color_active: @oui-navbar-toggler-background-color_active,
    @hamburger-width: @oui-navbar-hamburger-width,
    @hamburger-height: @oui-navbar-hamburger-height,
    @hamburger-bar-size: @oui-navbar-hamburger-bar-size,
    @hamburger-bar-color: @oui-navbar-hamburger-bar-color
  ) {
    #oui > .navbar-link(
      @line-height: @line-height,
      @padding: @padding
    );
    #oui > .navbar-link_variant(
      @font-color: @oui-navbar-font-color
    );

    height: @line-height;
    display: none;
    flex-direction: row;
    align-items: center;
    margin-right: @margin-right;
    text-align: center;

    .tablet({
      display: flex;
    });

    &__hamburger {
      width: @hamburger-width;
      height: @hamburger-height;
      display: inline-block;
      position: relative;

      span {
        width: @hamburger-width;
        height: @hamburger-bar-size;
        display: block;
        position: absolute;
        background: @hamburger-bar-color;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-out;
      }

      span:nth-child(1) { top: 0; }

      span:nth-child(2),
      span:nth-child(3) {
        width: (@hamburger-width * 0.75);
        margin-top: -@hamburger-bar-size / 2;
        top: 50%;
      }

      span:nth-child(4) { bottom: 0; }
    }

    // Variant 'active'
    &[aria-expanded="true"] &__hamburger {
      span { background: @hamburger-bar-color; }

      span:nth-child(1) {
        width: 0;
        top: 50%;
        left: 50%;
      }

      span:nth-child(2) {
        width: @hamburger-width;
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        width: @hamburger-width;
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        width: 0;
        top: 50%;
        left: 50%;
      }
    }
  }

  /* Deprecated: Support only for old use */
  .navbar-helpers() {
    &_desktop-only {
      @media screen and (max-width: (@oui-responsive-breakpoint-tablet - 1px)) {
        display: none !important;
      }
    }

    &_mobile-only {
      @media screen and (min-width: @oui-responsive-breakpoint-tablet) {
        display: none !important;
      }
    }
  }
}
