@import '../oui/_settings';
@import '../oui-typography/_constants';
@import '../oui-animation/_mixins';
@import '../oui-color/_variables';
@import './_variables';

#oui {
  .navbar(
    @select-selector,
    @background-color: @oui-navbar-background-color,
    @font-color: @oui-navbar-font-color,
    @icon-color: @oui-navbar-icon-color
  ) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: rem-calc(8) rem-calc(16);
    background-color: @background-color;
    color: @font-color;
    white-space: nowrap;
    user-select: none;

    .oui-icon.oui-icon-logo {
      color: @icon-color;
    }

    &__title,
    &__title-link,
    &__item,
    &__link {
      &,
      &:active,
      &:focus,
      &:hover,
      &:visited,
      & a:link {
        color: @font-color;
        text-decoration: none;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      margin: 0;
      color: @font-color;
      text-decoration: none;
    }

    &__title-link {
      display: block;
      padding: 0;
      font-size: rem-calc(14);
      font-weight: 600;
      text-decoration: none;
    }

    &__title-text {
      display: block;
      font-size: rem-calc(28);
      line-height: 1;
    }

    &__title-bold {
      display: block;
      margin-left: rem-calc(8);
      font-size: rem-calc(28);
      font-weight: 600;
    }

    &__title-small {
      display: block;
      margin-left: rem-calc(2);
      font-size: rem-calc(28);
      font-weight: 300;
    }

    &__items {
      display: flex;
      margin: 0 rem-calc(16) 0 auto;
      padding: 0;
      list-style: none;
      white-space: nowrap;
    }

    &__item {
      display: block;
      margin-left: rem-calc(16);
      border-radius: 2px;
    }

    &__item_current,
    &__item:hover {
      background-color: @oui-color-fiord;
    }

    &__link {
      display: block;
      padding: rem-calc(7) rem-calc(16);
      overflow: hidden;
      font-size: rem-calc(14);
      font-weight: 600;
      text-decoration: none;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .@{select-selector} {
      margin-bottom: 0;
    }

    @media only screen and (max-width: 960px) {
      &__items {
        flex-direction: column;
        width: 100%;
        margin: rem-calc(12) 0 rem-calc(12) 0;
      }

      &__item {
        margin: 0 rem-calc(-16);
        border-radius: 0;
        border-bottom: 1px solid @oui-color-fiord;
      }

      &__item_current {
        background-color: transparent;
      }

      &__selector {
        margin: 0 0 0 auto;
      }
    }
  }
}
