// Navbar
@oui-navbar-height: 2.75rem;
@oui-navbar-line-height: 1.5;
@oui-navbar-padding: 0 .625rem;
@oui-navbar-font-size: 1rem;
@oui-navbar-font-size_small: .875rem;
@oui-navbar-font-size_large: 1.125rem;
@oui-navbar-font-color: #fff;
@oui-navbar-background-color: @oui-color-zodiac;
@oui-navbar-background-color_active: @oui-color-rhino;
@oui-navbar-z-index: 1030;

// Navbar Brand
@oui-navbar-brand-padding: 0 1.25rem;
@oui-navbar-brand-color: @oui-navbar-font-color;
@oui-navbar-brand-font-size: 1.75rem;

// Navbar Menu
@oui-navbar-menu-width: 18.75rem;
@oui-navbar-menu-width_large: 25rem;
@oui-navbar-menu-padding: .25rem 0 0 0;
@oui-navbar-menu-placeholder-height: 11.375rem;
@oui-navbar-menu-background-color: #fff;
@oui-navbar-menu-background-color_active: @oui-color-charlotte;
@oui-navbar-menu-background-color_hover: @oui-color-foam;
@oui-navbar-menu-box-shadow: 0 .25rem .375rem 0 @oui-navbar-menu-box-shadow-color;
@oui-navbar-menu-box-shadow_fixed: 0 .875rem .9375rem 0 @oui-navbar-menu-box-shadow-color;
@oui-navbar-menu-box-shadow-color: fade(darken(@oui-color-info-light, 50%), 25%);
@oui-navbar-menu-font-size: 1rem;
@oui-navbar-menu-font-size_small: .875rem;
@oui-navbar-menu-font-color: @oui-color-sapphire;
@oui-navbar-menu-z-index: @oui-navbar-z-index + 1;

// Navbar Menu Header
@oui-navbar-menu-header-padding: .6875rem 1.25rem .9375rem 1.25rem;
@oui-navbar-menu-header-background-color: @oui-color-alabaster;
@oui-navbar-menu-header-border-bottom: solid 1px @oui-color-nurse;

// Navbar Menu Title
@oui-navbar-menu-title-line-height: 1.2;
@oui-navbar-menu-title-font-color: @oui-navbar-menu-font-color;
@oui-navbar-menu-title-font-size: 1.25rem;
@oui-navbar-menu-title-font-weight: 600;

// Navbar Menu Back Button
@oui-navbar-menu-back-padding: 1.875rem;

// Navbar Menu Item
@oui-navbar-menu-item-padding: .625rem 1.25rem;
@oui-navbar-menu-item-border-bottom: solid 1px @oui-color-silver;

// Navbar Notification
@oui-notification-info-icon-color: @oui-color-info-medium;
@oui-notification-success-icon-color: @oui-color-success-medium;
@oui-notification-warning-icon-color: @oui-color-warning-medium;
@oui-notification-error-icon-color: @oui-color-error-medium;

@oui-notification-action-icon-font-size: .625rem;
@oui-notification-action-font-color: @oui-color-silver;
@oui-notification-action-font-color-hover: @oui-color-dusty;
@oui-notification-icon-margin: .1875rem .625rem;
@oui-notification-icon-font-size: 1.25rem;
@oui-notification-padding: .4375rem .625rem;
@oui-notification-placeholder-color: @oui-color-concrete;
@oui-notification-placeholder-font-color: @oui-color-dusty;
@oui-notification-title-weight: @oui-font-semibold;

// Navbar Menu Link
@oui-navbar-menu-link-height: 2.5rem;
@oui-navbar-menu-link-font-color_active: @oui-navbar-menu-font-color;
@oui-navbar-menu-link-background-color_active: @oui-color-foam;

// Navbar Link
@oui-navbar-link-min-width: @oui-navbar-height;
@oui-navbar-link-min-height: 2.5rem;
@oui-navbar-link-line-height: 1.2;
@oui-navbar-link-padding-h: (@oui-navbar-link-min-height - (@oui-navbar-font-size * @oui-navbar-link-line-height)) / 2;
@oui-navbar-link-padding-v: 1.25rem;
@oui-navbar-link-padding: @oui-navbar-link-padding-h @oui-navbar-link-padding-v;
@oui-navbar-link-font-color: #fff;
@oui-navbar-link-font-size: 1rem;
@oui-navbar-link-font-weight: 400;
@oui-navbar-link-background-color: transparent;
@oui-navbar-link-background-color_active: @oui-color-foam;

// Navbar Link with Arrow
@oui-navbar-arrow-color: @oui-color-zodiac;
@oui-navbar-arrow-padding: (@oui-navbar-menu-back-padding + @oui-navbar-arrow-spacing);
@oui-navbar-arrow-size: .625rem;
@oui-navbar-arrow-spacing: 1.25rem;

// Navbar Link Primary
@oui-navbar-primary-font-color: #fff;
@oui-navbar-primary-font-color_active: @oui-color-turquoise;
@oui-navbar-primary-font-size: @oui-navbar-font-size_large;
@oui-navbar-primary-font-weight: 600;

// Navbar Link Secondary
@oui-navbar-secondary-font-color: @oui-color-ironlight;
@oui-navbar-secondary-font-color_active: #fff;
@oui-navbar-secondary-font-size: @oui-navbar-font-size_large;
@oui-navbar-secondary-font-weight: 400;

// Navbar Link Icon
@oui-navbar-icon-line-height: 1;
@oui-navbar-icon-size: 1.875rem;
@oui-navbar-icon-spacing: .625rem;
@oui-navbar-icon-font-size: .875rem;
@oui-navbar-icon-font-weight: 600;
@oui-navbar-icon-color: #bec6d3;
@oui-navbar-icon-color_active: #fff;

// Navbar Link Icon Badge
@oui-navbar-badge-size: 1rem;
@oui-navbar-badge-padding: 0 .3125rem;
@oui-navbar-badge-font-color: #fff;
@oui-navbar-badge-font-size: .75rem;
@oui-navbar-badge-font-weight: 600;
@oui-navbar-badge-left-spacing: 1.5rem;
@oui-navbar-badge-radius: .5rem;
@oui-navbar-badge-background-color: #e85c58;

// Navbar Link External
@oui-navbar-external-color: @oui-color-gothic;
@oui-navbar-external-size: .875rem;
@oui-navbar-external-spacing: .3125rem;

// Navbar Toggler
@oui-navbar-toggler-line-height: @oui-navbar-height;
@oui-navbar-toggler-padding: 0 1.25rem;
@oui-navbar-toggler-margin-right: -(1.25rem);
@oui-navbar-toggler-background-color_active: @oui-navbar-background-color_active;

// Navbar Toggler Hamburger
@oui-navbar-hamburger-width: .875rem;
@oui-navbar-hamburger-height: .75rem;
@oui-navbar-hamburger-bar-size: 2px;
@oui-navbar-hamburger-bar-color: #fff;

// Navbar Backdrop
@oui-navbar-backdrop-background-color: @oui-color-shuttle;
@oui-navbar-backdrop-opacity: .5;
