@import '../oui-responsive/_mixins';
@import './_normalize';
@import './_mixins';

.oui-navbar {
  #oui > .navbar-normalize();
  #oui > .navbar();

  &-backdrop {
    #oui > .navbar-backdrop();
  }

  &-list {
    #oui > .navbar-list();
  }

  // Navbar links
  &-link {
    #oui > .navbar-link();
    #oui > .navbar-link_variant();

    &:hover,
    &:focus,
    &_active {
      #oui > .navbar-link_variant(
        @background-color: @oui-navbar-background-color_active,
        @font-color: @oui-navbar-font-color
      );
    }

    &_primary {
      #oui > .navbar-link_variant(
        @font-color: @oui-navbar-primary-font-color,
        @font-size: @oui-navbar-primary-font-size,
        @font-weight: @oui-navbar-primary-font-weight
      );
    }

    &_primary:hover,
    &_primary:focus,
    &_primary&_active,
    &_primary[aria-expanded="true"] {
      #oui > .navbar-link_variant(
        @background-color: @oui-navbar-background-color_active,
        @font-color: @oui-navbar-primary-font-color_active,
        @font-size: @oui-navbar-primary-font-size,
        @font-weight: @oui-navbar-primary-font-weight
      );
    }

    &_secondary {
      #oui > .navbar-link_variant(
        @font-color: @oui-navbar-secondary-font-color,
        @font-size: @oui-navbar-secondary-font-size,
        @font-weight: @oui-navbar-secondary-font-weight
      );
    }

    &_secondary:hover,
    &_secondary:focus,
    &_secondary&_active,
    &_secondary[aria-expanded="true"] {
      #oui > .navbar-link_variant(
        @background-color: @oui-navbar-background-color_active,
        @font-color: @oui-navbar-secondary-font-color_active,
        @font-size: @oui-navbar-secondary-font-size,
        @font-weight: @oui-navbar-secondary-font-weight
      );
    }

    &_tertiary {
      #oui > .navbar-link_variant(
        @font-size: @oui-navbar-icon-font-size,
        @font-weight: @oui-navbar-icon-font-weight
      );
    }

    &_tertiary:hover,
    &_tertiary:focus,
    &_tertiary&_active,
    &_tertiary[aria-expanded="true"] {
      #oui > .navbar-link_variant(
        @background-color: @oui-navbar-background-color_active,
        @font-color: @oui-navbar-font-color,
        @font-size: @oui-navbar-icon-font-size,
        @font-weight: @oui-navbar-icon-font-weight
      );
    }

    &_icon {
      #oui > .navbar-link_icon();
    }

    &_icon:hover,
    &_icon:focus,
    &_icon&_active,
    &_icon[aria-expanded="true"] {
      #oui > .navbar-link_icon(
        @icon-color: @oui-navbar-icon-color_active
      );
    }

    &_external {
      #oui > .navbar-link_external();
    }
  }

  // Variant for links displayed in main navbar bar
  & > &-list > &-list__item > &-link {
    #oui > .navbar-link(
      @line-height: @oui-navbar-height,
      @display: flex,
      @padding: @oui-navbar-padding
    );
  }

  // Navbar toggler, for collapsible menu
  &-toggler {
    #oui > .navbar-toggler();
  }

  &-menu {
    #oui > .navbar-menu();
    #oui > .navbar-menu-animation_opacity();
  }

  // Menu lists
  &-menu &-list {
    #oui > .navbar-list(
      @flex-direction: column,
      @align-items: stretch
    );
  }

  // Menu links
  &-menu &-link {
    #oui > .navbar-link_variant(
      @font-color: @oui-navbar-menu-font-color
    );
    #oui > .navbar-link_menu();

    &:hover,
    &:focus,
    &_active {
      #oui > .navbar-link_variant(
        @background-color: @oui-navbar-menu-link-background-color_active,
        @font-color: @oui-navbar-menu-link-font-color_active
      );
    }
  }

  // Menu variant 'fixed', for mobile only
  &-menu_fixed {
    /* stylelint-disable indentation */
    .tablet({
      #oui > .navbar-menu_fixed();
      #oui > .navbar-menu-animation_slide();
    });
    /* stylelint-enable indentation */
  }

  &-menu_fixed&-menu_right {
    /* stylelint-disable indentation */
    .tablet({
      #oui > .navbar-menu-animation_slide(right);
    });
    /* stylelint-enable indentation */
  }

  &-menu_fixed &-list {
    /* stylelint-disable indentation */
    .tablet({
      #oui > .navbar-list(
        @flex-direction: column,
        @flex-grow: 1,
        @align-items: stretch,
        @is-menu-list: true
      );
    });
    /* stylelint-enable indentation */
  }

  &-notification {
    align-items: flex-start;
    display: flex;
    padding: @oui-notification-padding;

    &__action {
      background: none;
      border: 0;
      padding: 0;
    }

    &__action .oui-icon {
      color: @oui-navbar-menu-font-color;
      font-size: @oui-notification-icon-font-size;
    }

    &__content {
      color: @oui-navbar-menu-font-color;
      flex: 1;

      &:hover, &:focus {
        color: @oui-navbar-menu-font-color;
        text-decoration: none;
      }
    }

    &__icon {
      font-size: @oui-notification-icon-font-size;
      margin: @oui-notification-icon-margin;

      &.oui-icon-info_circle {
        color: @oui-notification-info-icon-color;
      }

      &.oui-icon-success_circle {
        color: @oui-notification-success-icon-color;
      }

      &.oui-icon-warning_circle {
        color: @oui-notification-warning-icon-color;
      }

      &.oui-icon-error_circle {
        color: @oui-notification-error-icon-color;
      }
    }

    &__time {
      padding: 0 0 0 0.5rem;
    }

    &__description {
      line-height: 2rem;
      max-height: 8rem;
      overflow: hidden;
    }

    &__title {
      font-size: 1.6rem;
      font-weight: @oui-notification-title-weight;
    }
  }

  // Helper for responsive
  #oui > .navbar-helpers();
}
