#oui {
  .navbar-list(
    @flex-direction: row,
    @flex-grow: 0,
    @align-items: center,
    @justify-content: flex-start,
    @border-bottom: none,
    @is-menu-list: false
  ) {
    display: flex;
    flex-direction: @flex-direction;
    flex-grow: @flex-grow;
    align-items: @align-items;
    justify-content: @justify-content;
    margin: 0;
    padding: 0;
    list-style: none;

    //  Scroll for responsive
    & when (@is-menu-list = true) {
      overflow: auto;
    }

    //  List items
    &__item {
      display: block;
      border-bottom: @border-bottom;

      & when (@is-menu-list = false) {
        position: relative;
      }

      & when (@is-menu-list = true) {
        position: static;
      }
    }

    //  Variant 'end' for List, align 'right'
    &_end {
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  .navbar-link(
    @min-width: @oui-navbar-link-min-width,
    @min-height: @oui-navbar-link-min-height,
    @line-height: @oui-navbar-link-line-height,
    @display: block,
    @padding: @oui-navbar-link-padding,
    @text-decoration: @oui-navbar-link-text-decoration,
    @text-decoration_hover: @oui-navbar-link-text-decoration_hover,
    @text-decoration_active: @oui-navbar-link-text-decoration_active
  ) {
    min-width: @min-width;
    min-height: @min-height;
    line-height: @line-height;
    display: @display;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: @padding;
    position: relative;
    text-decoration: @text-decoration;
    text-align: left;
    border: none;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: @text-decoration_hover;
    }

    &:focus {
      #oui > .outline-border(
        @outline-offset: @oui-navbar-outline-offset
      );
    }

    &_active {
      &,
      &:hover,
      &:focus { text-decoration: @text-decoration_active; }
    }
  }

  .navbar-link_variant(
    @background-color: @oui-navbar-link-background-color,
    @font-color: @oui-navbar-link-font-color,
    @font-size: @oui-navbar-link-font-size,
    @font-weight: @oui-navbar-link-font-weight
  ) {
    font-size: @font-size;
    font-weight: @font-weight;
    color: @font-color;
    background-color: @background-color;
  }

  .navbar-link_icon(
    @icon-line-height: @oui-navbar-icon-line-height,
    @icon-size: @oui-navbar-icon-size,
    @icon-spacing: @oui-navbar-icon-spacing,
    @icon-color: @oui-navbar-icon-color,
    @badge-size: @oui-navbar-badge-size,
    @badge-padding: @oui-navbar-badge-padding,
    @badge-font-color: @oui-navbar-badge-font-color,
    @badge-font-size: @oui-navbar-badge-font-size,
    @badge-font-weight: @oui-navbar-badge-font-weight,
    @badge-left-spacing: @oui-navbar-badge-left-spacing,
    @badge-radius: @oui-navbar-badge-radius,
    @badge-background-color: @oui-navbar-badge-background-color
  ) {
    &[aria-haspopup]::after {
      display: none;
    }

    @media screen and (max-width: @device-breakpoint-medium-max-width) {
      padding: 0;
      font-size: 0;
      text-align: center;
      white-space: nowrap;
    }

    .oui-icon {
      width: @icon-size;
      height: @icon-size;
      line-height: @icon-line-height;
      margin-right: @icon-spacing;
      position: relative;
      font-size: @icon-size;
      color: @icon-color;
      vertical-align: middle;

      @media screen and (max-width: @device-breakpoint-medium-max-width) {
        line-height: 1;
        margin: 0;
        vertical-align: middle;
      }

      &__badge {
        min-width: @badge-size;
        height: @badge-size;
        line-height: @badge-size;
        padding: @badge-padding;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%);
        display: block;
        text-align: center;
        color: @badge-font-color;
        font-family: @base-font-family;
        font-weight: @badge-font-weight;
        font-size: @badge-font-size;
        border-radius: @badge-radius;
        background: @badge-background-color;

        @media screen and (max-width: @device-breakpoint-medium-max-width) {
          top: 50%;
          transform: translate(50%, -50%);
        }
      }
    }
  }

  .navbar-menu_panel(@modifier) {
    &-menu_@{modifier} {
      #oui > .navbar-menu-animation_slide();

      width: 100%;
      min-width: 0;
      max-width: @oui-navbar-menu-width;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: @oui-navbar-height;
      bottom: 0;
      box-shadow: @oui-navbar-menu-box-shadow_fixed;

      & & {
        position: absolute;
      }
    }

    &-menu_@{modifier}&-menu {
      &_end,
      &_right {
        #oui > .navbar-menu-animation_slide(right);
      }
    }

    &-menu_@{modifier} &-list {
      #oui > .navbar-list(
        @flex-direction: column,
        @flex-grow: 1,
        @align-items: stretch,
        @is-menu-list: true
      );
    }
  }

  .navbar-menu-animation_slide(
    @origin: left
  ) {
    opacity: 1;
    visibility: hidden; // For ARIA
    pointer-events: auto;
    transition: transform 0.25s ease-out, visibility 0.25s ease-out;

    & when (@origin = left) {
      transform: translateX(-100%);
    }

    & when (@origin = right) {
      transform: translateX(100%);
    }

    [aria-expanded="true"] ~ & {
      visibility: visible;
      transform: translateX(0);
      transition: transform 0.25s ease-out;
    }
  }
}
