//Container
@oui-collapsible-inactive-color: @oui-color-foam;
@oui-collapsible-active-color: @oui-color-charlotte;

//Header
@oui-collapsible-header-height: 2.5rem;
@oui-collapsible-header-padding: 0 .875rem 0 1.1875rem;

// Label
@oui-collapsible-label-color: @oui-color-sapphire;

// Icon
@oui-collapsible-icon-color: @oui-color-sapphire;
