//Container
@oui-collapsible-inactive-background-color: @oui-color-foam;
@oui-collapsible-active-color: @oui-color-charlotte;

//Header
@oui-collapsible-header-height: rem-calc(40px);

// Label
@oui-collapsible-label-color: @oui-color-sapphire;

// Icon
@oui-collapsible-icon-color: @oui-color-sapphire;
