#oui {
  .checkbox-size(
    @checkbox-selector: oui-checkbox,
    @icon-selector: oui-icon-checkbox,
    @line-height: @oui-checkbox-line-height,
    @font-size: @oui-checkbox-font-size,
    @icon-size: @oui-checkbox-icon-size
  ) {
    @min-height: calc(@line-height * @font-size);

    .@{checkbox-selector}__label {
      min-height: @min-height;
      line-height: @line-height;
      font-size: @font-size;
    }

    .@{checkbox-selector}__label,
    .@{checkbox-selector}__description {
      padding-left: @icon-size + @oui-checkbox-padding-left;
    }

    .@{checkbox-selector}__icon {
      top: calc((@min-height - @icon-size) / 2);
      width: @icon-size;
      height: @icon-size;

      .@{icon-selector}-unchecked,
      .@{icon-selector}-checked,
      .@{icon-selector}-checkmark,
      .@{icon-selector}-indeterminate {
        font-size: @icon-size;
      }
    }

    .@{checkbox-selector}__footer {
      background: @oui-checkbox-thumbnail-footer-background;
      padding: @oui-checkbox-padding-left;
      text-align: center;
      font-weight: @oui-checkbox-thumbnail-footer-font-weight;
      font-size: @oui-checkbox-thumbnail-footer-font-size;
      line-height: @oui-checkbox-thumbnail-padding;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      margin: @oui-checkbox-thumbnail-footer-margin-top @oui-checkbox-thumbnail-footer-margin-bottom @oui-checkbox-thumbnail-footer-margin-bottom;
    }
  }

  .checkbox-color(
    @checkbox-selector: oui-checkbox,
    @icon-selector: oui-icon-checkbox,
    @icon-background-color: @oui-checkbox-icon-background-color,
    @icon-outer-color: @oui-checkbox-icon-outer-color,
    @icon-inner-color: @oui-checkbox-icon-inner-color
  ) {
    .@{checkbox-selector}__icon {
      &::before {
        background-color: @icon-background-color;
      }

      .@{icon-selector}-unchecked,
      .@{icon-selector}-checked {
        color: @icon-outer-color;
      }

      .@{icon-selector}-checkmark,
      .@{icon-selector}-indeterminate {
        color: @icon-inner-color;
      }
    }
  }
}
