@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_variables';

#oui {
  .checkbox-size(
    @checkbox-selector: oui-checkbox,
    @icon-selector: oui-icon-checkbox,
    @size: @oui-checkbox-size,
    @line-height: @oui-checkbox-line-height,
    @padding: @oui-checkbox-padding
  ) {
    min-width: @size;

    .@{checkbox-selector}__label-container {
      padding: @padding;
    }

    .@{checkbox-selector}__label {
      font-size: @size;
      line-height: @line-height;
    }

    .@{checkbox-selector}__label,
    .@{checkbox-selector}__description {
      padding-left: @size + @oui-checkbox-padding-left;
    }

    .@{checkbox-selector}__icon {
      top: ~"calc(@{line-height}px * 2)";
      width: @size;
      height: @size;

      .@{icon-selector}-unchecked,
      .@{icon-selector}-checked,
      .@{icon-selector}-checkmark,
      .@{icon-selector}-indeterminate {
        font-size: @size;
      }
    }
  }

  .checkbox-error-style(
    @checkbox-selector: oui-checkbox;
    @icon-selector: oui-icon-checkbox;
  ) {
    @status: error;
    @status-font-color: "oui-color-@{status}-dark";
    @status-icon-color: "oui-color-@{status}-medium";
    @status-border-color: "oui-color-@{status}-light";
    @status-background-color: "oui-color-@{status}-fade";

    .@{checkbox-selector}__input:not(:disabled) + .@{checkbox-selector}__label-container,
    .@{checkbox-selector}__input:checked:not(:disabled) + .@{checkbox-selector}__label-container {
      &,
      &:hover,
      &:active,
      &:focus {
        .@{icon-selector}-unchecked,
        .@{icon-selector}-checked,
        .@{icon-selector}-checkmark,
        .@{icon-selector}-indeterminate {
          color: @@status-icon-color;
        }
      }
    }

    .@{checkbox-selector}__input:not(:disabled) + .@{checkbox-selector}__label-container:active {
      .@{checkbox-selector}__icon::before {
        background: fade(#fff, 80%);
      }
    }

    .@{checkbox-selector}__input:not(:disabled):focus + .@{checkbox-selector}__label-container,
    .@{checkbox-selector}__input:checked:not(:disabled):focus + .@{checkbox-selector}__label-container {
      .@{checkbox-selector}__icon::before {
        box-shadow: 0 0 3px 1px @@status-border-color;
      }
    }

    .@{checkbox-selector}__input:checked:not(:disabled) + .@{checkbox-selector}__label-container {
      &,
      &:hover,
      &:active,
      &:focus {
        .@{checkbox-selector}-checkmark {
          color: @@status-icon-color;
        }
      }
    }

    &.@{checkbox-selector}_thumbnail {
      .@{checkbox-selector}__input:not(:disabled) ~ .@{checkbox-selector}__label-container,
      .@{checkbox-selector}__input:checked:not(:disabled) ~ .@{checkbox-selector}__label-container {
        &,
        &:hover,
        &:active,
        &:focus {
          border-color: @@status-border-color;
          background: @@status-background-color;

          .@{checkbox-selector}__description {
            border-color: @@status-border-color;
          }
        }
      }

      .@{checkbox-selector}__input:not(:disabled):focus + .@{checkbox-selector}__label-container,
      .@{checkbox-selector}__input:checked:not(:disabled):focus + .@{checkbox-selector}__label-container {
        border-color: @@status-border-color;
        box-shadow: 0 0 3px 0 @@status-border-color;
      }
    }
  }
}
