@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_variables';

#oui {
  .checkbox-size(
    @checkbox-selector: oui-checkbox,
    @icon-selector: oui-icon-checkbox,
    @line-height: @oui-checkbox-line-height,
    @font-size: @oui-checkbox-font-size,
    @icon-size: @oui-checkbox-icon-size
  ) {
    @min-height: calc(@line-height * @font-size);

    .@{checkbox-selector}__label {
      min-height: @min-height;
      line-height: @line-height;
      font-size: @font-size;
    }

    .@{checkbox-selector}__label,
    .@{checkbox-selector}__description {
      padding-left: @icon-size + @oui-checkbox-padding-left;
    }

    .@{checkbox-selector}__icon {
      top: calc((@min-height - @icon-size) / 2);
      width: @icon-size;
      height: @icon-size;

      .@{icon-selector}-unchecked,
      .@{icon-selector}-checked,
      .@{icon-selector}-checkmark,
      .@{icon-selector}-indeterminate {
        font-size: @icon-size;
      }
    }
  }

  .checkbox-color(
    @checkbox-selector: oui-checkbox,
    @icon-selector: oui-icon-checkbox,
    @icon-background-color: @oui-checkbox-icon-background-color,
    @icon-outer-color: @oui-checkbox-icon-outer-color,
    @icon-inner-color: @oui-checkbox-icon-inner-color
  ) {
    .@{checkbox-selector}__icon {
      &::before {
        background-color: @icon-background-color;
      }

      .@{icon-selector}-unchecked,
      .@{icon-selector}-checked {
        color: @icon-outer-color;
      }

      .@{icon-selector}-checkmark,
      .@{icon-selector}-indeterminate {
        color: @icon-inner-color;
      }
    }
  }

  .checkbox-error-style(
    @selector: oui-checkbox
  ) {
    @status: error;
    @status-font-color: "oui-color-@{status}-dark";
    @status-icon-color: "oui-color-@{status}-medium";
    @status-border-color: "oui-color-@{status}-light";
    @status-background-color: "oui-color-@{status}-fade";

    .@{selector}__input:not(:disabled) ~ .@{selector}__label-container,
    .@{selector}__input:checked:not(:disabled) ~ .@{selector}__label-container {
      &,
      &:hover,
      &:active,
      &:focus {
        #oui > .checkbox-color(
          @icon-outer-color: @@status-border-color,
          @icon-inner-color: @@status-icon-color
        );
      }
    }

    .@{selector}__input:not(:disabled):focus ~ .@{selector}__label-container,
    .@{selector}__input:checked:not(:disabled):focus ~ .@{selector}__label-container {
      .@{selector}__icon::before {
        box-shadow: 0 0 3px 1px @@status-border-color;
      }
    }

    &.@{selector}_thumbnail {
      .@{selector}__input:not(:disabled) ~ .@{selector}__label-container,
      .@{selector}__input:checked:not(:disabled) ~ .@{selector}__label-container {
        &,
        &:hover,
        &:active,
        &:focus {
          border-color: @@status-border-color;
          background: @@status-background-color;

          .@{selector}__description {
            border-color: @@status-border-color;
          }
        }
      }

      .@{selector}__input:not(:disabled):focus ~ .@{selector}__label-container,
      .@{selector}__input:checked:not(:disabled):focus ~ .@{selector}__label-container {
        border-color: @@status-border-color;
        box-shadow: 0 0 3px 0 @@status-border-color;
      }
    }
  }
}
