// Checkbox
@oui-checkbox-min-height: @oui-choice-min-height;
@oui-checkbox-line-height: @oui-choice-line-height;
@oui-checkbox-font-size: @oui-choice-font-size;
@oui-checkbox-font-color: @oui-choice-font-color;
@oui-checkbox-font-color_disabled: @oui-choice-font-color_disabled;
@oui-checkbox-padding-left: @oui-choice-padding-left;

@oui-checkbox-description-spacing: @oui-choice-description-spacing;
@oui-checkbox-description-font-size: @oui-choice-description-font-size;

@oui-checkbox-inline-spacing: @oui-choice-inline-spacing;

// Checkbox - Custom icon
@oui-checkbox-icon-size: @oui-choice-icon-size;

@oui-checkbox-icon-background-color: @oui-choice-icon-background-color;
@oui-checkbox-icon-background-color_active: @oui-choice-icon-background-color_active;
@oui-checkbox-icon-background-color_disabled: @oui-choice-icon-background-color_disabled;

@oui-checkbox-icon-outer-color: @oui-choice-icon-outer-color;
@oui-checkbox-icon-outer-color_active: @oui-choice-icon-outer-color_active;
@oui-checkbox-icon-outer-color_disabled: @oui-choice-icon-outer-color_disabled;
@oui-checkbox-icon-outer-color_focus: @oui-choice-icon-outer-color_focus;
@oui-checkbox-icon-outer-color_hover: @oui-choice-icon-outer-color_hover;
@oui-checkbox-icon-outer-color_checked: @oui-choice-icon-outer-color_checked;
@oui-checkbox-icon-outer-color_checked-hover: @oui-choice-icon-outer-color_checked-hover;

@oui-checkbox-icon-inner-color: @oui-choice-icon-inner-color;
@oui-checkbox-icon-inner-color_active: @oui-choice-icon-inner-color_active;
@oui-checkbox-icon-inner-color_disabled: @oui-choice-icon-inner-color_disabled;

@oui-checkbox-box-shadow_focus: @oui-choice-box-shadow_focus;

// Checkbox - M Variant
@oui-checkbox-m-line-height: @oui-choice-m-line-height;
@oui-checkbox-m-font-size: @oui-choice-m-font-size;

@oui-checkbox-m-icon-size: @oui-choice-m-icon-size;
