// Checkbox
@oui-checkbox-min-height: rem-calc(30);
@oui-checkbox-line-height: 1.5;
@oui-checkbox-font-size: rem-calc(16);
@oui-checkbox-font-color: @oui-color-sapphire;
@oui-checkbox-font-color_disabled: @oui-color-silver;
@oui-checkbox-padding-left: rem-calc(9);

@oui-checkbox-description-spacing: rem-calc(5);
@oui-checkbox-description-font-size: rem-calc(14);

@oui-checkbox-inline-spacing: rem-calc(20);

// Checkbox - Custom icon
@oui-checkbox-icon-size: rem-calc(16);

@oui-checkbox-icon-background-color: #fff;
@oui-checkbox-icon-background-color_active: @oui-color-foam;
@oui-checkbox-icon-background-color_disabled: @oui-color-concrete;

@oui-checkbox-icon-outer-color: @oui-color-dusty;
@oui-checkbox-icon-outer-color_active: @oui-color-pacific;
@oui-checkbox-icon-outer-color_checked: @oui-color-sapphire;
@oui-checkbox-icon-outer-color_disabled: @oui-color-silver;
@oui-checkbox-icon-outer-color_focus: @oui-color-sapphire;
@oui-checkbox-icon-outer-color_hover: @oui-color-sapphire;
@oui-checkbox-icon-outer-color_hover-checked: @oui-color-info-light;

@oui-checkbox-icon-inner-color: @oui-color-sapphire;
@oui-checkbox-icon-inner-color_active: @oui-color-pacific;
@oui-checkbox-icon-inner-color_disabled: @oui-color-silver;

@oui-checkbox-box-shadow_focus: 0 0 3px 1px rgba(0, 0, 0, 0.2);

// Checkbox - M Variant
@oui-checkbox-m-line-height: @oui-checkbox-line-height;
@oui-checkbox-m-font-size: rem-calc(24);

@oui-checkbox-m-icon-size: rem-calc(20);
