@import './_mixins';
@import './_variables';

@oui-checkbox-selector: oui-checkbox;
@oui-icon-selector: oui-icon-checkbox;

// Checkbox - Base
.oui-checkbox {
  #oui > .checkbox-size();

  display: block;
  margin: @oui-checkbox-spacing;

  &__label,
  &__description {
    #oui > .base-font();

    width: 100%;
    display: inline-block;
    color: @oui-checkbox-font-color;
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: @oui-checkbox-min-height;
    margin: 0;
    font-weight: inherit;
    cursor: pointer;
  }

  &__label {
    position: relative;
    min-height: @oui-checkbox-size;
    margin: @oui-checkbox-label-spacing;
    font-weight: @oui-font-semibold;
  }

  &__description {
    font-size: @oui-checkbox-description-font-size;
  }

  &__description:not(:last-child) {
    margin-bottom: @oui-checkbox-description-spacing;
  }

  &__icon {
    position: absolute;
    left: 0;
    display: block;

    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 1px;
      display: block;
      width: 76%;
      height: 78%;
      background: @oui-checkbox-background-color;
    }

    .oui-icon-checkbox-unchecked {
      display: block;
      color: @oui-checkbox-outline-color;
    }

    .oui-icon-checkbox-checked {
      display: none;
      color: @oui-checkbox-outline-color-checked;
    }

    .oui-icon-checkbox-checkmark,
    .oui-icon-checkbox-indeterminate {
      display: none;
      color: @oui-checkbox-font-color;
    }

    .oui-icon-checkbox-unchecked,
    .oui-icon-checkbox-checked,
    .oui-icon-checkbox-checkmark,
    .oui-icon-checkbox-indeterminate {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__input {
    #oui > .visually-hidden();
  }

  &:hover &__icon {
    .oui-icon-checkbox-unchecked { color: @oui-checkbox-outline-color_hover; }

    .oui-icon-checkbox-checked { color: @oui-checkbox-outline-color-checked_hover; }
  }

  &__input:focus ~ &__label-container {
    .oui-checkbox__icon::before {
      box-shadow: @oui-checkbox-box-shadow_focus;
    }
  }
}

oui-checkbox {
  &:extend(.oui-checkbox);
}

// Checkbox - Checked state
.oui-checkbox__input:checked {
  ~ .oui-checkbox__label-container .oui-checkbox__icon {
    .oui-icon-checkbox-checked,
    .oui-icon-checkbox-checkmark {
      display: block;
    }

    .oui-icon-checkbox-unchecked,
    .oui-icon-checkbox-indeterminate {
      display: none;
    }
  }
}

// Checkbox - Indeterminate state
.oui-checkbox__input:indeterminate {
  ~ .oui-checkbox__label-container .oui-checkbox__icon {
    .oui-icon-checkbox-unchecked,
    .oui-icon-checkbox-indeterminate {
      display: block;
    }

    .oui-icon-checkbox-checked,
    .oui-icon-checkbox-checkmark {
      display: none;
    }
  }
}

// Checkbox - Disabled state
.oui-checkbox__input:disabled {
  ~ .oui-checkbox__label-container {
    .oui-checkbox__label,
    .oui-checkbox__description,
    .oui-checkbox__icon .oui-icon-checkbox-unchecked,
    .oui-checkbox__icon .oui-icon-checkbox-checked,
    .oui-checkbox__icon .oui-icon-checkbox-checkmark,
    .oui-checkbox__icon .oui-icon-checkbox-indeterminate {
      color: @oui-checkbox-outline-color_disabled;
    }

    .oui-checkbox__icon::before {
      background: @oui-checkbox-background-color_disabled;
    }
  }

  &,
  ~ &__label-container {
    cursor: default;
    pointer-events: none;
  }
}

// Checkbox - Pressed state
.oui-checkbox__input:not(:disabled) {
  ~ .oui-checkbox__label-container:active {
    .oui-icon-checkbox__icon .oui-icon-checkbox-unchecked,
    .oui-icon-checkbox__icon .oui-icon-checkbox-checked,
    .oui-icon-checkbox__icon .oui-icon-checkbox-checkmark,
    .oui-icon-checkbox__icon .oui-icon-checkbox-indeterminate {
      color: @oui-checkbox-outline-color_active;
    }

    .oui-icon-checkbox__icon::before {
      background: @oui-checkbox-background-color_active;
    }
  }
}

// Checkbox - Inline
.oui-checkbox_inline {
  display: inline-flex;
  margin-right: @oui-checkbox-inline-padding;
}

// Checkbox - Medium
.oui-checkbox_m {
  #oui > .checkbox-size(
    @size: @oui-checkbox-m-size,
    @line-height: @oui-checkbox-m-line-height,
    @padding: @oui-checkbox-m-padding
  );
}

// Checkbox - Error
.oui-checkbox_error {
  #oui > .checkbox-error-style();
}

// Checkbox - Thumbnail
.oui-checkbox_thumbnail {
  #oui > .checkbox-size(
    @padding: @oui-thumbnail-padding
  );

  // stylelint-disable no-descending-specificity
  .oui-checkbox__label-container {
    position: relative;
    justify-content: start;
    height: 100%;

    #oui > .thumbnail-base();
  }
  // stylelint-enable no-descending-specificity

  .oui-checkbox__input:checked + .oui-checkbox__label-container {
    box-shadow: @oui-thumbnail-box-shadow_focus;
    padding: ~"calc(@{oui-thumbnail-padding} - (@{oui-thumbnail-border-size-checked} - @{oui-thumbnail-border-size}))";
  }

  .oui-checkbox__input:disabled {
    ~ .oui-checkbox__label-container {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color_disabled,
        @oui-thumbnail-background_disabled,
        @oui-thumbnail-border-size
      );
    }

    &:checked ~ .oui-checkbox__label-container {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color-checked_disabled,
        @oui-thumbnail-background-checked_disabled,
        @oui-thumbnail-border-size-checked
      );
    }
  }

  .oui-checkbox__input:not(:disabled) {
    ~ .oui-checkbox__label-container:hover {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color_hover,
        @oui-thumbnail-background_hover,
        @oui-thumbnail-border-size
      );
    }

    &:focus + .oui-checkbox__label-container .oui-checkbox__label::before {
      box-shadow: @oui-thumbnail-box-shadow_focus;
    }

    &:checked ~ .oui-checkbox__label-container {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color-checked,
        @oui-thumbnail-background-checked,
        @oui-thumbnail-border-size-checked
      );

      &:hover {
        #oui > .thumbnail-base-color(
          @oui-thumbnail-border-color-checked_hover,
          @oui-thumbnail-background-checked_hover,
          @oui-thumbnail-border-size-checked
        );
      }
    }
  }

  // Variant M
  &.oui-checkbox_m {
    #oui > .checkbox-size(
      @size: @oui-checkbox-m-size,
      @line-height: @oui-checkbox-m-line-height,
      @padding: @oui-thumbnail-padding
    );

    // stylelint-disable no-descending-specificity
    .oui-checkbox__description {
      margin-top: rem-calc(6);
      padding-top: rem-calc(12);
      border-top: 1px solid @oui-color-silver;
    }
    // stylelint-enable no-descending-specificity
  }
}

// Checkbox - Thumbnail light
.oui-checkbox_thumbnail-light {
  &:extend(.oui-checkbox_thumbnail all);

  // stylelint-disable no-descending-specificity
  .oui-checkbox__label-container {
    #oui > .thumbnail-base(
      @oui-thumbnail-border-color-light,
      @oui-thumbnail-background-light,
      @oui-thumbnail-border-size,
      @oui-thumbnail-padding
    );
  }

  .oui-checkbox__input:disabled {
    ~ .oui-checkbox__label-container {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color-light_disabled,
        @oui-thumbnail-background-light_disabled,
        @oui-thumbnail-border-size
      );
    }

    &:checked ~ .oui-checkbox__label-container {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color-light-checked_disabled,
        @oui-thumbnail-background-light-checked_disabled,
        @oui-thumbnail-border-size-checked
      );
    }
  }

  .oui-checkbox__input:not(:disabled) {
    ~ .oui-checkbox__label-container:hover {
      #oui > .thumbnail-base-color(
        @oui-thumbnail-border-color-light_hover,
        @oui-thumbnail-background-light_hover,
        @oui-thumbnail-border-size
      );
    }
  }

  &.oui-checkbox_error {
    .oui-checkbox__input:not(:disabled) ~ .oui-checkbox__label-container {
      background: @oui-thumbnail-background-light;

      &:hover {
        background: @oui-thumbnail-background-light_hover;
      }
    }
  }
  // stylelint-enable no-descending-specificity
}
