@import './_mixins';

// Checkbox - Base
.oui-checkbox {
  #oui > .checkbox-base();

  & + &:not(.oui-checkbox_inline) {
    margin-top: @oui-checkbox-spacing;
  }
}

oui-checkbox {
  &:extend(.oui-checkbox);
}

// Checkbox - Inline
.oui-checkbox_inline {
  display: inline-block;

  &:not(:last-child) {
    margin-right: @oui-checkbox-inline-spacing;
  }
}

// Checkbox - Error
.oui-checkbox_error,
.oui-field_error .oui-checkbox {
  .oui-checkbox__input ~ .oui-checkbox__label-container {
    &,
    &:hover,
    &:active,
    &:focus {
      #oui > .checkbox-color(
        @icon-background-color: @oui-checkbox-icon-background-color_error,
        @icon-outer-color: @oui-checkbox-icon-outer-color_error,
        @icon-inner-color: @oui-checkbox-icon-inner-color_error
      );
    }
  }

  .oui-checkbox__input:checked ~ .oui-checkbox__label-container,
  .oui-checkbox__input:indeterminate ~ .oui-checkbox__label-container {
    &,
    &:hover,
    &:active,
    &:focus {
      #oui > .checkbox-color(
        @icon-background-color: @oui-checkbox-icon-background-color_checked-error,
        @icon-outer-color: @oui-checkbox-icon-outer-color_checked-error,
        @icon-inner-color: @oui-checkbox-icon-inner-color_checked-error
      );
    }
  }

  .oui-checkbox__input:focus ~ .oui-checkbox__label-container,
  .oui-checkbox__input:checked:focus ~ .oui-checkbox__label-container,
  .oui-checkbox__input:indeterminate:focus ~ .oui-checkbox__label-container {
    .oui-checkbox__label::before {
      box-shadow: @oui-checkbox-box-shadow_error;
    }
  }
}
