@import '../oui-icons/_variables';
@import '../oui-checkbox/_variables';
@import './_variables';

#oui {
  .list-nav(
    @selector,
    @background-color: @oui-list-nav-background-color,
    @item-border: @oui-list-nav-item-border,
    @title-color: @oui-list-nav-title-color,
    @link-color: @oui-list-nav-link-color,
    @link-active-color: @oui-list-nav-link-active-color,
    @link-active-background-color: @oui-list-nav-link-active-background-color,
    @title-font-size: @oui-list-nav-title-font-size,
    @font-size: @oui-list-nav-font-size,
    @padding: @oui-list-nav-padding,
    @header-padding: @oui-list-nav-header-padding,
    @item-padding: @oui-list-nav-item-padding,
    @item-indent: @oui-list-nav-item-indent
  ) {
    padding: @padding;
    background-color: @background-color;

    .@{selector}__header {
      padding: @header-padding;
      color: @title-color;
      font-weight: @oui-font-semibold;
      font-size: @title-font-size;
    }

    .@{selector}__group,
    .@{selector}__item,
    .@{selector}__sub-item,
    .@{selector}__link,
    .@{selector}__text
     {
      #oui > .text-ellipsis();
    }

    .@{selector}__group,
    .@{selector}__item {
      border-bottom: @oui-list-nav-item-border;
    }

    .@{selector}__sub-items {
      padding: 0;
    }

    .@{selector}__sub-item {
      text-indent: @item-indent;
    }

    .@{selector}__sub-item .@{selector}__sub-item {
      text-indent: @item-indent * 2;
    }

    .@{selector}__sub-item .@{selector}__sub-item .@{selector}__sub-item {
      text-indent: @item-indent * 3;
    }

    .@{selector}__item_current {
      background-color: @link-active-background-color;
    }

    .@{selector}__text {
      padding: @item-padding;
      font-size: @font-size;
    }

    .@{selector}__link,
    .@{selector}__link:active,
    .@{selector}__link:focus,
    .@{selector}__link:hover,
    .@{selector}__link:visited {
      padding: @item-padding;
      outline: 0;
      color: @link-color;
      font-size: @font-size;
      font-weight: @oui-font-regular;
      text-decoration: none;
    }

    .@{selector}__link:hover {
      background-color: hsla(0, 0%, 100%, .5)
    }

    .@{selector}__link:focus {
      background-color: hsla(0, 0%, 100%, .85)
    }

    .@{selector}__item_current > .@{selector}__link,
    .@{selector}__item_current > .@{selector}__link:active,
    .@{selector}__item_current > .@{selector}__link:focus,
    .@{selector}__item_current > .@{selector}__link:hover,
    .@{selector}__item_current > .@{selector}__link:visited {
      color: @link-active-color;
      font-weight: @oui-font-semibold;
    }
  }
}
