@import "../oui-typography/_variables.less";

// List
@oui-list-title-font-size: @oui-list-font-size;
@oui-list-font-size: rem-calc(16);
@oui-list-background-color: transparent;
@oui-list-item-border: 0 none;
@oui-list-title-color: @oui-color-zodiac;
@oui-list-link-color: @oui-color-fiord;
@oui-list-link-active-color: @oui-color-pacific;
@oui-list-link-active-background-color: #fff;
@oui-list-padding: 0;
@oui-list-header-padding: @oui-list-item-padding;
@oui-list-item-padding: 0;

// List-nav
@oui-list-nav-title-font-size: @oui-list-font-size;
@oui-list-nav-font-size: rem-calc(16);
@oui-list-nav-background-color: @oui-color-nurse;
@oui-list-nav-item-border: 1px solid #fff;
@oui-list-nav-title-color: @oui-color-dusty;
@oui-list-nav-link-color: @oui-color-fiord;
@oui-list-nav-link-active-color: @oui-color-pacific;
@oui-list-nav-link-active-background-color: #fff;
@oui-list-nav-padding: 0;
@oui-list-nav-header-padding: @oui-list-nav-item-padding;
@oui-list-nav-item-padding: rem-calc(10);

// List - Separated
@oui-list-separated-separator-color: @oui-horizontal-line-color;
@oui-list-separated-separator-size: @oui-horizontal-line-thin-width;
