@import './_normalize';
@import './_mixins';

.oui-list {
  @oui-list-selector: oui-list;
  @oui-checkbox-selector: oui-checkbox;

  #oui > .list-normalize();

  padding: @oui-list-padding;
  margin: @oui-list-spacing;
  background-color: @oui-list-background-color;

  &__header {
    display: block;

    padding: @oui-list-header-padding;
    color: @oui-list-title-color;
    font-weight: @oui-font-semibold;
    font-size: @oui-list-title-font-size;
    user-select: none;

    &:not(a) { cursor: default; }

    &:focus { outline: none; }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__text {
    display: block;
    padding: @oui-list-item-padding;
    font-size: @oui-list-font-size;
    cursor: default;
  }

  &__link {
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      #oui > .link();

      display: block;
      width: 100%;
      padding: @oui-list-item-padding;
      overflow: hidden;
      color: @oui-list-link-color;
      font-size: @oui-list-font-size;
      font-weight: @oui-font-regular;
      text-align: left;
    }
  }

  &__group,
  &__item {
    border-bottom: @oui-list-item-border;
  }

  &__item_current {
    background-color: @oui-list-link-active-background-color;

    > .@{oui-list-selector}__link {
      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: @oui-list-link-active-color;
        font-weight: @oui-font-semibold;
        text-decoration: none;
        cursor: default;
      }
    }
  }

  &__sub-items {
    padding: 0 0 0 @oui-list-item-indent;
    border-bottom: 0 none;
    list-style: none;
  }

  // Nav
  &_nav {
    #oui > .list-nav(@oui-list-selector);
  }

  // Steps
  &_steps {
    @label-padding-top: rem-calc(2);

    #oui > .list-normalize();

    line-height: 1.4;

    .@{oui-list-selector}__header {
      width: 100%;
      line-height: 1.4;
      display: inline-block;
      color: @oui-list-steps-font-color;
      font-size: @oui-list-steps-font-size;
      font-weight: @oui-list-steps-font-weight;
      text-decoration: none;

      &::before {
        content: counter(counter);
        counter-increment: counter;
        width: @oui-list-steps-icon-size;
        height: @oui-list-steps-icon-size;
        line-height: @oui-list-steps-icon-size;
        display: inline-block;
        color: @oui-list-steps-icon-font-color;
        padding: 0;
        margin: 0 @oui-list-steps-icon-spacing 0 ~"calc(-@{oui-list-steps-icon-size} - @{oui-list-steps-icon-spacing})";
        text-align: center;
        vertical-align: baseline;
        border: 1px solid @oui-list-steps-icon-color;
        border-radius: 50%;
        background: @oui-list-steps-icon-color;
      }

      .oui-button {
        margin: 0;
        padding: 0;
        float: right;
      }

      + .@{oui-list-selector}__description {
        display: block;
        margin-top: 7px;
      }
    }

    .@{oui-list-selector}__items {
      counter-reset: counter;
    }

    .@{oui-list-selector}__item {
      padding: @oui-list-steps-padding;
      margin: @oui-list-steps-spacing;
      position: relative;

      > .@{oui-checkbox-selector} {
        margin-bottom: 0;

        .@{oui-checkbox-selector}__label-container {
          position: inherit;
          margin-bottom: 0;
        }

        .@{oui-checkbox-selector}__label {
          padding-top: @label-padding-top;
          font-size: @oui-list-steps-font-size;
        }

        .@{oui-checkbox-selector}__description {
          margin-top: rem-calc(7);
          line-height: 1.4;
        }

        .@{oui-checkbox-selector}__label,
        .@{oui-checkbox-selector}__description {
          padding-left: 0;
        }

        .@{oui-checkbox-selector}__icon {
          top: (@oui-list-steps-font-size * @oui-checkbox-line-height - @oui-checkbox-size + @label-padding-top) / 2;
          left: (@oui-list-steps-icon-size - @oui-checkbox-size) / 2;
        }

        &_m .@{oui-checkbox-selector}__icon {
          top: (@oui-list-steps-font-size * @oui-checkbox-m-line-height - @oui-checkbox-m-size + @label-padding-top) / 2;
          left: (@oui-list-steps-icon-size - @oui-checkbox-m-size) / 2;
        }
      }

      // Disabled
      &_disabled {
        pointer-events: none;

        .@{oui-list-selector}__header {
          color: fade(@oui-list-steps-disabled-font-color, 30%);
        }

        .@{oui-list-selector}__header::before {
          border-color: fade(@oui-list-steps-disabled-icon-color, 60%);
          background: @oui-list-steps-disabled-icon-color;
          color: @oui-list-steps-disabled-font-color;
        }
      }

      // Complete
      &_checked,
      &_complete {
        .@{oui-list-selector}__header {
          line-height: 1.4;
          color: @oui-list-checked-font-color;
        }

        .@{oui-list-selector}__header::before {
          position: absolute;
          content: @oui-icon-index-success;
          border: 1px solid @oui-list-checked-icon-border-color;
          background-color: @oui-list-checked-icon-color;
          color: @oui-list-checked-icon-color;
          -webkit-text-stroke: 1px @oui-list-checked-icon-border-color;
          font-family: 'Oui Icons';
          font-size: @oui-list-steps-icon-check-size;
          font-weight: @oui-font-regular;
        }
      }

      &_checked.@{oui-list-selector}__item_optional {
        .@{oui-list-selector}__header::before {
          border: 0 none;
          background: none;
        }
      }

      &_checked.@{oui-list-selector}__item_disabled {
        pointer-events: none;

        .@{oui-list-selector}__header {
          color: fade(@oui-list-checked-font-color, 30%);
        }
      }

      &_complete {
        .@{oui-list-selector}__header {
          color: @oui-list-complete-font-color;
        }

        .@{oui-list-selector}__header::before {
          background-color: @oui-list-complete-icon-color;
          color: @oui-list-checked-icon-color;
          -webkit-text-stroke: 0;
        }
      }

      &_complete.@{oui-list-selector}__item_optional {
        .@{oui-list-selector}__header::before {
          color: @oui-list-complete-icon-color;
          -webkit-text-stroke: 0;
        }
      }

      &_complete.@{oui-list-selector}__item_disabled {
        pointer-events: all;

        .@{oui-list-selector}__description {
          pointer-events: none;
        }
      }
    }

    .@{oui-list-selector}__step {
      padding: @oui-list-steps-padding;
      margin: @oui-list-steps-spacing;

      .@{oui-list-selector}__item {
        margin: 0;
        padding: 0;
      }
    }
  }

  // Separated
  &_separated &__items > &__item,
  &_separated &__stepper > &__step {
    border-bottom: @oui-list-separated-separator-size solid @oui-list-separated-separator-color;

    &:last-child { border-bottom: 0 none; }
  }
}
