// Datagrid
@oui-datagrid-width: 100%;
@oui-datagrid-margin: 0 0 1.25rem;
@oui-datagrid-font-size: 1rem;

// Datagrid row
@oui-datagrid-row-background-color-even: @oui-color-alabaster;
@oui-datagrid-row-background-color-odd: #fff;

// Datagrid header
@oui-datagrid-header-background-color: @oui-color-nurse;
@oui-datagrid-header-background-color-hover: mix(@oui-color-dusty, @oui-color-nurse, 10%);
@oui-datagrid-header-background-color-sorted: mix(@oui-color-dusty, @oui-color-nurse, 10%);
@oui-datagrid-header-font-color: @oui-color-shuttle;
@oui-datagrid-header-font-color-hover: @oui-color-sapphire;
@oui-datagrid-header-font-color-sorted: @oui-color-sapphire;
@oui-datagrid-header-padding: .125rem .625rem;
@oui-datagrid-header-height: 2.75rem;

// Datagrid cell
@oui-datagrid-cell-background-color: #fff;
@oui-datagrid-cell-border-color: @oui-color-nurse;
@oui-datagrid-cell-font-color: @oui-color-shuttle;
@oui-datagrid-cell-padding: .3125rem .625rem;
@oui-datagrid-cell-height: 3.5rem;

// Arrow
@oui-datagrid-arrow-size: .625rem;

// Checkbox column
@oui-datagrid-checkbox-column-width: 2.75rem;

// Action column
@oui-datagrid-action-column-width: 5rem;

// Panel - Pagination
@oui-datagrid-panel-pagination-margin: .625rem;

// Deprecated: Support only for old use
@oui-datagrid-form-elements: ~".oui-button", ~".oui-checkbox", ~".oui-radio";
