// Datagrid
@oui-datagrid-width: 100%;
@oui-datagrid-margin: 0 0 rem-calc(20);
@oui-datagrid-font-size: rem-calc(16);

// Datagrid row
@oui-datagrid-row-background-color-even: #fafafa;
@oui-datagrid-row-background-color-odd: #fff;

// Datagrid header
@oui-datagrid-header-background-color: @oui-color-nurse;
@oui-datagrid-header-background-color-hover: mix(@oui-color-dusty, @oui-color-nurse, 10%);
@oui-datagrid-header-background-color-sorted: mix(@oui-color-dusty, @oui-color-nurse, 10%);
@oui-datagrid-header-font-color: @oui-color-shuttle;
@oui-datagrid-header-font-color-hover: @oui-color-sapphire;
@oui-datagrid-header-font-color-sorted: @oui-color-sapphire;
@oui-datagrid-header-padding: rem-calc(2) rem-calc(10);
@oui-datagrid-header-height: rem-calc(44);

// Datagrid cell
@oui-datagrid-cell-background-color: #fff;
@oui-datagrid-cell-border-color: @oui-color-nurse;
@oui-datagrid-cell-font-color: @oui-color-shuttle;
@oui-datagrid-cell-padding: rem-calc(8) rem-calc(10) rem-calc(7);
@oui-datagrid-cell-height: rem-calc(56);

// Arrow
@oui-datagrid-arrow-size: rem-calc(10);

// Integrated form elements
@oui-datagrid-form-elements: ~".oui-button", ~".oui-checkbox", ~".oui-radio";

// Checkbox column
@oui-datagrid-checkbox-column-width: rem-calc(44);

// Action column
@oui-datagrid-action-column-width: rem-calc(80);

// Panel - Pagination
@oui-datagrid-panel-pagination-margin: rem-calc(10);
