// Datagrid container
@oui-datagrid-container-margin: @oui-datagrid-margin;

// Datagrid
@oui-datagrid-width: 100%;
@oui-datagrid-margin: 0 0 rem-calc(20);
@oui-datagrid-background-color-hover: #e6e6e6;
@oui-datagrid-font-size: rem-calc(16);

// Datagrid row
@oui-datagrid-row-background-color-even: #fafafa;
@oui-datagrid-row-background-color-odd: #fff;

// Datagrid header
@oui-datagrid-header-background-color: @oui-color-nurse;
@oui-datagrid-header-background-color-hover: fadeout(@oui-color-dusty, 90%);
@oui-datagrid-header-background-color-sorted: fadeout(@oui-color-dusty, 90%);
@oui-datagrid-header-font-color: @oui-color-shuttle;
@oui-datagrid-header-font-color-hover: @oui-color-sapphire;
@oui-datagrid-header-font-color-sorted: @oui-color-sapphire;
@oui-datagrid-header-padding: rem-calc(10);

// Datagrid cell
@oui-datagrid-cell-background-color: #ffffff;
@oui-datagrid-cell-border-color: #eaeaea;
@oui-datagrid-cell-font-color: #676767;
@oui-datagrid-cell-padding: rem-calc(10);

// Arrow
@oui-datagrid-arrow-size: rem-calc(10);

// Responsive
@oui-datagrid-responsive-border-color: #dfe0e5;
@oui-datagrid-responsive-border-size: 1px;
@oui-datagrid-responsive-label-color: #676767;
@oui-datagrid-responsive-label-font-size: rem-calc(14);
@oui-datagrid-responsive-expand-button-color: #ccc;

// Action columns
@oui-datagrid-cell-action-elements: ~".oui-button", ~".oui-checkbox", ~".oui-radio", ~".oui-switch";
@oui-datagrid-cell-action-tablet-padding: rem-calc(10);
