// Input

@oui-input-margin: rem-calc(10) 0;
@oui-input-padding: rem-calc(7);
@oui-input-border-color: #b8bcc4;
@oui-input-color: #162344;
@oui-input-font-size: rem-calc(14);
@oui-input-font-weight: 600;

// Focus

@oui-input-background-focus: #f6fcfd;
@oui-input-border-color-focus: #589bbc;
@oui-input-color-focus: #172445;

// Disabled

@oui-input-background-disabled: #f1f2f3;
@oui-input-border-color-disabled: #e7e8eb;
@oui-input-color-disabled: #b2b5ba;

// Read-only

@oui-input-background-readonly: #f1f2f3;
@oui-input-border-color-readonly: #babec6;
@oui-input-color-readonly: #66728a;
