// Password
@oui-password-strength-spacing: rem-calc(5);
@oui-password-strength-score-height: rem-calc(8);
@oui-password-rule-spacing: rem-calc(5);
@oui-password-rule-font-size: rem-calc(14);
@oui-password-rule-color: @oui-color-sapphire;
@oui-password-rule-icon-font-size: rem-calc(14);
@oui-password-rule-icon-color: @oui-color-error-medium;
