@import '../oui-button/_mixins';
@import './_variables';

#oui {
  .action-menu-base() {
    padding: @oui-action-menu-padding;
    margin: 0;
    list-style-type: none;
    background-color: @oui-action-menu-background-color;
  }

  .action-menu-item-base(
    @button-selector,
    @icon-selector
  ) {
    .@{button-selector} {
      overflow: visible;
      white-space: normal;
      text-overflow: clip;
      word-wrap: break-word;
      background-color: @oui-action-menu-background-color;
      color: @oui-action-menu-text-color;

      &:hover, &:focus {
        background-color: @oui-action-menu-item-active-background-color;
        color: @oui-action-menu-item-active-text-color;
      }
    }

    .@{icon-selector} {
      padding: 0 rem-calc(5);
      font-size: rem-calc(12);
      color: inherit;
    }
  }

  .action-menu-item-divider-base(@button-selector) {
    .@{button-selector} {
      margin-top: 4px;
    }

    &::before {
      content: " ";
      display: block;
      height: 5px;
      background-color: @oui-action-menu-background-color;
      border-bottom: 1px @oui-action-menu-divider-color solid;
    }
  }
}
