// Action-Menu
@oui-action-menu-background-color: #fff;
@oui-action-menu-text-color: @oui-color-sapphire;
@oui-action-menu-divider-color: @oui-color-silver;
@oui-action-menu-padding: 4px 0;

// Action-Menu Item
@oui-action-menu-item-active-background-color: @oui-color-pacific;
@oui-action-menu-item-active-text-color: #fff;

// Action-Button
@oui-action-button-size: rem-calc(36);
@oui-action-button-background-color: #fff;
@oui-action-button-background-border-color: #bbbdbf;
@oui-action-button-activated-zone-background-color: #f2f2f2;
@oui-action-button-activated-zone-background-border-color: #999999;
@oui-action-button-activated-zone-foreground-color: #113f6d;
@oui-action-button-hover-background-color: #00a2bf;
@oui-action-button-foreground-color: #00a2bf;
@oui-action-button-hover-foreground-color: #fff;
