@import '../oui-dropdown/_variables';
@import '../oui-color/_constants';

// Button - Action-Menu
@oui-action-button-size: 2.25rem;
@oui-action-button-background-color: #fff;
@oui-action-button-background-color_active: @oui-color-concrete;
@oui-action-button-background-color_hover: @oui-color-pacific;
@oui-action-button-background-color_disabled: @oui-color-concrete;
@oui-action-button-border-color: @oui-color-silver;
@oui-action-button-border-color_active: @oui-color-dusty;
@oui-action-button-border-color_hover: @oui-color-pacific;
@oui-action-button-border-color_disabled: @oui-color-concrete;
@oui-action-button-foreground-color: @oui-color-pacific;
@oui-action-button-foreground-color_active: @oui-color-sapphire;
@oui-action-button-foreground-color_hover: #fff;
@oui-action-button-foreground-color_disabled: @oui-color-silver;

// Deprecated: Support only for old use
@oui-action-menu-background-color: @oui-dropdown-menu-background-color;
@oui-action-menu-text-color: @oui-color-sapphire;
@oui-action-menu-divider-color: @oui-color-silver;
@oui-action-menu-padding: 4px 0;
@oui-action-menu-min-width: @oui-dropdown-max-width - @oui-dropdown-border-width * 2;
@oui-action-menu-item-active-background-color: @oui-dropdown-item-background-color_active;
@oui-action-menu-item-active-text-color: @oui-dropdown-item-font-color_active;
@oui-action-button-size: 2.25rem;
@oui-action-button-background-color: #fff;
@oui-action-button-background-border-color: @oui-color-silver;
@oui-action-button-activated-zone-background-color: @oui-color-concrete;
@oui-action-button-activated-zone-background-border-color: @oui-color-dusty;
@oui-action-button-activated-zone-foreground-color: @oui-color-sapphire;
@oui-action-button-hover-background-color: @oui-color-pacific;
@oui-action-button-foreground-color: @oui-color-pacific;
@oui-action-button-hover-foreground-color: #fff;
