@import "./_normalize";
@import "./_variables";
@import "../oui/_settings";
@import '../oui-color/_variables';
@import "../oui-modal/_mixins";
@import "../oui-responsive/_variables";

.oui-slideshow-panel {
  display: none;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: left 0.8s ease-in-out;
  width: 100%;

  &.active,
  &.next,
  &.prev {
    display: flex;
  }

  &.next,
  &.prev {
    position: absolute;
    top: 0;
  }

  &.active {
    left: 0;

    &.left {
      left: -100%;
    }

    &.right {
      left: 100%;
    }
  }

  &.next {
    left: 100%;

    &.left {
      left: 0;
    }
  }

  &.prev {
    left: -100%;

    &.right {
      left: 0;
    }
  }

  .oui-slideshow-panel__container {
    padding: rem-calc(20) rem-calc(20) 0;
  }

  > :first-child {
    padding-top: rem-calc(40);
  }
}

.oui-slideshow {
  #oui > .slideshow-normalize();

  display: flex;
  flex-direction: column;
  height: rem-calc(515);
  margin: auto;
  max-width: ~"calc(100% - 50px)";
  position: relative;
  width: rem-calc(370);

  &__loader {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: @oui-global-base-radius-medium;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  &__header {
    border-top-left-radius: @oui-global-base-radius-medium;
    border-top-right-radius: @oui-global-base-radius-medium;
    height: rem-calc(40);
    position: absolute;
    width: 100%;
    z-index: 2;

    .oui-modal__close-button {
      top: 5px;
      right: 5px;
    }
  }

  &__body {
    background-color: #fff;
    border-top-left-radius: @oui-global-base-radius-medium;
    border-top-right-radius: @oui-global-base-radius-medium;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
  }

  &__footer {
    background-color: #fff;
    border-bottom-left-radius: @oui-global-base-radius-medium;
    border-bottom-right-radius: @oui-global-base-radius-medium;
    min-height: rem-calc(20);
  }

  &__content {
    background-color: #fff;
    position: relative;
    height: 100%;
    z-index: 1;
  }

  &__prev-button {
    left: 0;
    margin-left: -(rem-calc(@oui-slideshow-button-size / 2));
    padding-left: rem-calc(4);
    text-align: left;
  }

  &__next-button {
    margin-right: -(rem-calc(@oui-slideshow-button-size / 2));
    padding-right: rem-calc(4);
    right: 0;
    text-align: right;
  }

  &__prev-button,
  &__next-button {
    background: rgba(17, 63, 109, 0.5);
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    height: rem-calc(@oui-slideshow-button-size);
    margin-top: -(rem-calc(@oui-slideshow-button-size / 2));
    position: absolute;
    top: 50%;
    transition: background 0.3s ease-out;
    width: rem-calc(@oui-slideshow-button-size);

    &:disabled {
      opacity: 0.5;
    }

    &:not(:disabled) {
      :active,
      &:focus,
      &:hover {
        background-color: rgba(17, 63, 109, 0.75);
      }
    }
  }

  &__indicators {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: rem-calc(50);
    justify-content: center;

    button {
      background-color: transparent;
      border: 0 none;
      border-radius: 50%;
      margin: 0 rem-calc(2);
      outline: none;
      overflow: hidden;

      &::before {
        background-color: #fff;
        border-radius: 50%;
        content: "";
        display: block;
      }

      &.active {
        padding: rem-calc(3);

        &::before {
          height: rem-calc(10);
          width: rem-calc(10);
        }
      }

      &:not(.active) {
        padding: rem-calc(4);

        &::before {
          height: rem-calc(8);
          opacity: 0.5;
          width: rem-calc(8);
        }
      }
    }
  }

  &.touchDevice {
    .oui-slideshow__prev-button,
    .oui-slideshow__next-button {
      display: none;
    }
  }

  // Theme Onboarding (default)
  &_onboarding {
    &:not(.is-illustrated) .oui-slideshow__header {
      .oui-modal__close-button {
        color: #fff;
      }
    }

    .oui-slideshow__body,
    .oui-slideshow__content,
    .oui-slideshow__footer {
      background-color: @oui-color-pacific;
    }

    .oui-slideshow-panel__picture-container {
      background:
        linear-gradient(
          to bottom,
          #fff 0%,
          #fff 68%,
          @oui-color-pacific 68%,
          @oui-color-pacific 100%
        );
      flex: 0 1 auto;
      height: 100%;
      overflow: hidden;
    }

    .oui-slideshow-panel__picture {
      height: 100%;
      margin: 0 auto;
      max-width: 60%;
      opacity: 0;
      text-align: center;
      transition: opacity 0.5s, width 0.6s;
      transition-timing-function: ease-in;
      transition-delay: 0s;
      width: 30%;
      background: center center no-repeat;
      background-size: contain;
    }

    .oui-slideshow-panel.next,
    .oui-slideshow-panel.prev {
      .oui-slideshow-panel__picture {
        transition-delay: 0.3s;
      }
    }

    .oui-slideshow-panel.active.left,
    .oui-slideshow-panel.active.right {
      .oui-slideshow-panel__picture {
        transition-timing-function: ease-out;
      }
    }

    .oui-slideshow-panel.next.left,
    .oui-slideshow-panel.prev.right,
    .oui-slideshow-panel.active:not(.left):not(.right) {
      .oui-slideshow-panel__picture {
        opacity: 1;
        width: 100%;
      }
    }

    .oui-slideshow-panel__container {
      align-items: center;
      color: #fff;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: center;
      min-height: 43.5%;
      position: relative;
      text-align: center;
    }

    .oui-slideshow-panel__title {
      font-size: rem-calc(36);
      letter-spacing: -0.5px;
      line-height: 0.89;
      max-width: 100%;
    }

    .oui-slideshow-panel__text {
      font-size: rem-calc(16);
      line-height: 1.13;
      max-width: 100%;
      padding-bottom: rem-calc(20);
    }

    .oui-slideshow-panel__action {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;

      .oui-button {
        border: 0 none;
        margin-bottom: 0;
      }

      .oui-icon-external_link {
        margin-left: 2px;
      }
    }

    .oui-slideshow-panel__title + .oui-slideshow-panel__text {
      padding-top: rem-calc(20);
    }

    .oui-slideshow-panel__picture-container + .oui-slideshow-panel__container {
      .oui-slideshow-panel__title {
        flex-grow: 1;
      }

      .oui-slideshow-panel__text {
        flex-grow: 30;
      }

      .oui-slideshow-panel__action {
        flex-grow: 0;
        position: static;
      }
    }
  }
}

@media (max-width: (@oui-responsive-breakpoint-tablet - 1)) and (orientation: landscape) {
  .oui-slideshow.touchDevice {
    height: 85vh;
    max-height: 100%;
    width: 515px;
  }
}
