@import '../oui-color/_variables';

/* Thumbnail */
@oui-thumbnail-border-size: rem-calc(2);
@oui-thumbnail-border-radius: rem-calc(4);
@oui-thumbnail-border-color: #d5eef5;
@oui-thumbnail-border-color-hover: fade(#55c7e4, 60%);
@oui-thumbnail-border-color-checked: #55c7e4;
@oui-thumbnail-border-color-checked-hover: #55c7e4;
@oui-thumbnail-padding: rem-calc(16);
@oui-thumbnail-background: #eaf6fa;
@oui-thumbnail-background-hover: #e2f3f8;
@oui-thumbnail-background-checked: #d5eef5;
@oui-thumbnail-background-checked-hover: #bbe6f2;
