@import '../oui-color/_variables';

/* Thumbnail */
@oui-thumbnail-border-size: rem-calc(2);
@oui-thumbnail-border-radius: rem-calc(4);
@oui-thumbnail-border-color: #ececea;
@oui-thumbnail-border-hover-color: #bcbcb5;
@oui-thumbnail-padding: rem-calc(16);
@oui-thumbnail-background: #f6f7f5;

/* Thumbnail - Checked */
@oui-thumbnail-checked-border-color: #55c7e4;
@oui-thumbnail-checked-background: #d5eef5;
