@import '../oui/_settings';

// Textarea container
@oui-textarea-margin: 0 0 rem-calc(20);
@oui-textarea-border-radius: @oui-global-base-radius;
@oui-textarea-font-size: rem-calc(16);
@oui-textarea-font-weight: 400;
@oui-textarea-color: @oui-color-sapphire;
@oui-textarea-line-height: rem-calc(20);
@oui-textarea-border-color: @oui-color-silver;
@oui-textarea-box-shadow: inset 2px 2px 1px 0 @oui-color-nurse;
@oui-textarea-selection-background-color: @oui-color-pacific;
@oui-textarea-selection-font-color: #fff;

// Textarea
@oui-textarea-field-padding: rem-calc(14) rem-calc(19);

// Footer
@oui-textarea-footer-padding: rem-calc(4) rem-calc(9);
@oui-textarea-footer-font-size: rem-calc(14);
@oui-textarea-footer-color: @oui-color-shuttle;

// Footer when error
@oui-textarea-footer-error-color: @oui-color-error-dark;

// Focus
@oui-textarea-background-color-focus: @oui-color-polar;
@oui-textarea-border-color-focus: @oui-color-pacific;
@oui-textarea-shadow-focus: 0 0 3px 0 @oui-color-info-light, inset 2px 2px 1px 0 rgba(89, 210, 239, 0.35);

// Error
@oui-textarea-border-color-error: @oui-color-error-medium;
@oui-textarea-background-color-error: @oui-color-error-fade;
@oui-textarea-selection-background-color-error: @oui-color-error-dark;

// Disable
@oui-textarea-background-color-disabled: @oui-color-alabaster;
@oui-textarea-color-disabled: @oui-color-dusty;

// Readonly
@oui-textarea-background-color-readonly: @oui-color-alabaster;
