@import (reference) '@ovh/ui-kit.accessibility/less/_mixins';
@import (reference) '@ovh/ui-kit.radio/less/_variables';
@import (reference) '@ovh/ui-kit.typography/less/_constants';
@import './_normalize';

.oui-radio-toggle-group {
  display: flex;
  max-width: 300px;
}

.oui-radio-toggle {

  #oui > .radio-toggle-normalize();

  flex: 1 1 auto;

  &__label {
    display: inline-block;
    width: 100%;
    height: rem-calc(40);
    padding: rem-calc(10) rem-calc(20) 0;
    border: 1px solid @oui-color-dusty;
    text-align: center;
    line-height: 1.2;
    font-size: @oui-radio-label-font-size;
    font-weight: @oui-font-semibold;
    background-color: @oui-color-white;
    color: @oui-color-sapphire;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }

  &:first-of-type &__label {
    border-radius: @oui-global-base-radius 0 0 @oui-global-base-radius;
    border-left-width: 1px;
    border-right-width: 0;
  }

  &:last-of-type &__label {
    border-radius: 0 @oui-global-base-radius @oui-global-base-radius 0;
    border-right-width: 1px;
    border-left-width: 0;
  }

  &__label-container {
    width: 100%;
  }

  &__input {
    #oui > .visually-hidden();
  }

  &__input:hover ~ &__label-container &__label {
    background-color: @oui-color-concrete;
  }

  &__input:checked ~ &__label-container &__label {
    background-color: @oui-color-sapphire;
    color: @oui-color-white;
    cursor: default;
  }

  &__input:not(:checked) ~ &__label-container &__label {
    box-shadow: inset 0 3px 1px 0 @oui-color-nurse;
  }

  &__input:disabled ~ &__label-container &__label {
    cursor: default;
    background-color: @oui-color-concrete;
    color: @oui-color-silver;
  }

  &__input:disabled:checked ~ &__label-container &__label {
    background-color: @oui-color-ironlight;
    color: @oui-color-dusty;
    cursor: default;
  }
}
