// Pagination
@oui-pagination-font-size: rem-calc(16);
@oui-pagination-margin: 0 0 rem-calc(20);

// Pagination progress
@oui-pagination-progress-text-font-color: @oui-color-sapphire;

// Pagination button
@oui-pagination-button-selected-background: @oui-color-sapphire;
@oui-pagination-button-selected-color: #fff;

// Pagination menu
@oui-pagination-menu-padding: 0;
@oui-pagination-menu-group-color: @oui-color-shuttle;
@oui-pagination-menu-group-font-size: rem-calc(14);
@oui-pagination-menu-item-padding: 0 rem-calc(20);
@oui-pagination-menu-item-line-height: rem-calc(30);
@oui-pagination-menu-item-font-size: rem-calc(16);
@oui-pagination-menu-item-background-hover: @oui-color-pacific;
@oui-pagination-menu-items-list-max-height: 5.5 * @oui-pagination-menu-item-line-height;
