@import (reference) './_mixins';
@import './_normalize';

.oui-button {
  @oui-icon-selector: oui-icon;
  @oui-button-selector: oui-button;

  #oui > .button-normalize();
  #oui > .button-base();

  &_primary {
    #oui > .button-filled();
    #oui > .button-icon-base(
      @oui-icon-selector,
      @icon-color_disabled: @oui-button-filled-font-color_disabled
    );
  }

  &_secondary {
    #oui > .button-hollow();
    #oui > .button-icon-base(
      @oui-icon-selector,
      @icon-color_disabled: @oui-button-hollow-font-color_disabled
    );
  }

  &_dropdown {
    #oui > .button-hollow();
    #oui > .button-dropdown();
  }

  &_link {
    #oui > .button-link(@oui-icon-selector);
    #oui > .button-icon-base(
      @oui-icon-selector,
      @icon-color_disabled: @oui-button-link-font-color_disabled
    );
  }

  &_icon-only {
    #oui > .button-icon-base(@oui-icon-selector);
  }

  &_icon-alone {
    #oui > .button-icon-alone(@oui-icon-selector);
  }

  &_icon-right {
    #oui > .button-icon-right(@oui-icon-selector);
  }

  &_icon-left {
    #oui > .button-icon-left(@oui-icon-selector);
  }

  &_full-width {
    #oui > .button-full-width(@oui-icon-selector);

    &.@{oui-button-selector}_icon-left {
      #oui > .button-full-width-icon-left(@oui-icon-selector);
    }

    &.@{oui-button-selector}_icon-right {
      #oui > .button-full-width-icon-right(@oui-icon-selector);
    }

    .oui-icon-external_link {
      margin-left: rem-calc(5);
    }
  }

  &_small-width {
    #oui > .button-small-width();
  }

  &_large-height {
    #oui > .button-large-height();
  }
}
