@import "~@ovh/ui-kit.core/src/less/_variables";

// Sidebar
@oui-sidebar-font-size: rem-calc(16);
@oui-sidebar-font-color: @oui-color-info-light;
@oui-sidebar-font-color_responsive: @oui-color-sapphire;
@oui-sidebar-background-color: @oui-color-sapphire;
@oui-sidebar-background-color_responsive: #fff;
@oui-sidebar-z-index: 1020;
@oui-sidebar-transition-delay: 0.3s;

// Sidebar Menu
@oui-sidebar-menu-width: rem-calc(300);
@oui-sidebar-menu-padding: rem-calc(4) 0 0 0;
@oui-sidebar-menu-background-color: @oui-sidebar-background-color;
@oui-sidebar-menu-background-color_level-1: #113358;
@oui-sidebar-menu-background-color_level-2: #122844;
@oui-sidebar-menu-background-color_responsive: @oui-sidebar-background-color_responsive;
@oui-sidebar-menu-font-size_small: rem-calc(14);
@oui-sidebar-menu-font-color: @oui-sidebar-font-color;
@oui-sidebar-menu-font-color_responsive: @oui-sidebar-font-color_responsive;
@oui-sidebar-menu-box-shadow: 0 rem-calc(4) rem-calc(6) 0 @oui-sidebar-menu-box-shadow-color;
@oui-sidebar-menu-box-shadow-color: fade(darken(@oui-color-info-light, 50%), 25%);
@oui-sidebar-menu-z-index: @oui-sidebar-z-index + 1;

@oui-sidebar-menu-back-padding: rem-calc(30);

@oui-sidebar-menu-item-border-bottom: solid 1px #0a668d;
@oui-sidebar-menu-item-border-bottom_level-1: solid 1px @oui-sidebar-menu-background-color;
@oui-sidebar-menu-item-border-bottom_level-2: solid 1px @oui-sidebar-menu-background-color;

@oui-sidebar-menu-header-padding: rem-calc(11) rem-calc(20) rem-calc(15) rem-calc(20);
@oui-sidebar-menu-header-background-color: @oui-color-alabaster;
@oui-sidebar-menu-header-border-bottom: solid 1px @oui-color-nurse;

@oui-sidebar-menu-title-line-height: 1.2;
@oui-sidebar-menu-title-font-color: @oui-sidebar-menu-font-color_responsive;
@oui-sidebar-menu-title-font-size: rem-calc(20);
@oui-sidebar-menu-title-font-weight: 600;

// Sidebar Link
@oui-sidebar-link-min-height: rem-calc(40);
@oui-sidebar-link-line-height: 1.2;
@oui-sidebar-link-padding-h: (@oui-sidebar-link-min-height - (@oui-sidebar-font-size * @oui-sidebar-link-line-height)) / 2;
@oui-sidebar-link-padding-v: rem-calc(20);
@oui-sidebar-link-padding: @oui-sidebar-link-padding-h @oui-sidebar-link-padding-v;
@oui-sidebar-link-font-color: @oui-sidebar-font-color;
@oui-sidebar-link-font-color_responsive: @oui-sidebar-font-color_responsive;
@oui-sidebar-link-font-size: rem-calc(16);
@oui-sidebar-link-font-weight: 400;
@oui-sidebar-link-background-color: transparent;
@oui-sidebar-link-background-color_responsive: transparent;
@oui-sidebar-link-background-color_active: @oui-color-foam;

@oui-sidebar-arrow-color: @oui-color-info-medium;
@oui-sidebar-arrow-color_responsive: @oui-color-zodiac;
@oui-sidebar-arrow-padding: (@oui-sidebar-menu-back-padding + @oui-sidebar-arrow-spacing);
@oui-sidebar-arrow-size: rem-calc(10);
@oui-sidebar-arrow-spacing: rem-calc(20);
