@import '@ovh/ui-kit.message/less/_variables';

// Message tip
@oui-tip-size: rem-calc(18);
@oui-tip-border-size: rem-calc(6);
@oui-tip-border-color: @oui-message-border-color;
@oui-tip-background-color: @oui-message-background-color;
