/* Message base */
@oui-message-margin: 0 0 rem-calc(16);
@oui-message-padding: rem-calc(12) rem-calc(16);
@oui-message-border-color: @oui-color-zodiac;
@oui-message-border-radius: 6px;
@oui-message-background-color: #fff;
@oui-message-font-color: @oui-color-zodiac;
@oui-message-font-size: rem-calc(16);
@oui-message-font-weight: @oui-font-regular;

/* Message - Close button */
@oui-message-close-button-color: @oui-color-zodiac;
@oui-message-close-button-background-color: transparent;
@oui-message-close-button-border: 0 none;
@oui-message-close-button-width: @oui-message-close-button-font-size;
@oui-message-close-button-height: @oui-message-close-button-font-size;
@oui-message-close-button-font-size: rem-calc(10);
@oui-message-close-button-margin: rem-calc(-5) rem-calc(-6) 0 rem-calc(16);
@oui-message-close-button-padding: 0;

/* Message info */
@oui-message-info-padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(58);
@oui-message-info-border-color: @oui-color-info-light;
@oui-message-info-background-color: @oui-color-info-fade;
@oui-message-info-font-color: @oui-color-fiord;
@oui-message-info-icon-position-top: rem-calc(14);
@oui-message-info-icon-position-left: rem-calc(16);
@oui-message-info-icon-size: rem-calc(26);
@oui-message-info-icon-color: @oui-color-info-medium;

/* Message success */
@oui-message-success-padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(58);
@oui-message-success-border-color: @oui-color-success-medium;
@oui-message-success-background-color: @oui-color-success-fade;
@oui-message-success-font-color: @oui-color-success-dark;
@oui-message-success-icon-position-top: rem-calc(14);
@oui-message-success-icon-position-left: rem-calc(16);
@oui-message-success-icon-size: rem-calc(26);
@oui-message-success-icon-color: @oui-color-success-medium;

/* Message warning */
@oui-message-warning-padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(58);
@oui-message-warning-border-color: @oui-color-warning-light;
@oui-message-warning-background-color: @oui-color-warning-fade;
@oui-message-warning-font-color: @oui-color-warning-dark;
@oui-message-warning-icon-position-top: rem-calc(14);
@oui-message-warning-icon-position-left: rem-calc(16);
@oui-message-warning-icon-size: rem-calc(26);
@oui-message-warning-icon-color: @oui-color-warning-medium;

/* Message error */
@oui-message-error-padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(58);
@oui-message-error-border-color: @oui-color-error-light;
@oui-message-error-background-color: @oui-color-error-fade;
@oui-message-error-font-color: @oui-color-error-dark;
@oui-message-error-icon-position-top: rem-calc(14);
@oui-message-error-icon-position-left: rem-calc(16);
@oui-message-error-icon-size: rem-calc(26);
@oui-message-error-icon-color: @oui-color-error-medium;

/* Message icon 2x */
@oui-message-icon-2x-padding: rem-calc(16) rem-calc(16) rem-calc(16) rem-calc(66);
@oui-message-icon-2x-size: rem-calc(34);
@oui-message-icon-2x-position-top: rem-calc(20);
@oui-message-icon-2x-position-left: rem-calc(16);

/* Message no-icon */
@oui-message-no-icon-padding: rem-calc(16) rem-calc(16);
