.oui-header-tabs {
  #oui > .base-font();

  display: block;

  &__nav {
    position: relative;
  }

  &__dropdown-container {
    padding: @oui-header-tabs-dropdown-padding;
    list-style: none;
    margin: 0;
  }

  &__item {
    position: static;

    & > a,
    & > span,
    .oui-button_dropdown {
      background-color: transparent;
      display: block;
      font-size: @oui-header-tabs-item-font-size;
      margin: 0;

      .oui-icon {
        color: inherit;
        font-size: @oui-header-tabs-icon-font-size;
        margin-left: @oui-header-tabs-icon-spacing;
      }
    }

    & > a {
      color: @oui-header-tabs-item-font-color;
      text-decoration: none;

      &:focus {
        #oui > .outline-border();
      }
    }

    .oui-button_dropdown {
      border: none;
      border-radius: inherit;
      font-weight: normal;
      padding: @oui-header-tabs-item-padding;
      transition: none;

      &:active,
      &:focus {
        background-color: transparent;
      }

      .oui-icon {
        overflow: hidden;
        position: static;
        width: auto;
        vertical-align: baseline;

        &::before {
          margin-right: 0;
        }
      }
    }

    &_disabled > span {
      color: @oui-header-tabs-item-font-color_disabled;
    }

    // stylelint-disable no-descending-specificity
    &_active .oui-button_dropdown {
      border-bottom: @oui-header-tabs-item-border-size solid;
    }
    // stylelint-enable no-descending-specificity

    :not(.oui-header-tabs__dropdown-container) & {
      & > a,
      & > span {
        padding: @oui-header-tabs-item-padding;
        white-space: nowrap;
      }

      &_active > a {
        border-bottom: @oui-header-tabs-item-border-size solid;
      }
    }

    .oui-header-tabs__dropdown-container & {
      & > a,
      & > span {
        padding: @oui-header-tabs-dropdown-item-padding;
      }

      &_active > a,
      & > a:hover,
      & > a:focus,
      & > a:active {
        background-color: @oui-header-tabs-dropdown-item-background-color_active;
      }
    }
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0 @oui-header-tabs-slider-nav-width;
    overflow: hidden;
    padding: 0;
  }

  &__slider {
    background-color: @oui-header-tabs-slider-nav-background-color;
    border: none;
    bottom: 0;
    color: @oui-header-tabs-slider-nav-font-color;
    font-size: @oui-header-tabs-slider-nav-font-size;
    position: absolute;
    top: 0;
    width: @oui-header-tabs-slider-nav-width;
    z-index: 1;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  .oui-dropdown_active {
    .oui-button_dropdown {
      border-bottom: @oui-header-tabs-item-border-size solid;
    }
  }
}

oui-header-tabs {
  &:extend(.oui-header-tabs);

  &-item { display: block; }
}
