@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_variables';

.oui-header {
  #oui > .base-font();

  margin: @oui-header-margin;
  background-color: @oui-header-background-color;

  &__container {
    padding: @oui-header-spacing-y @oui-header-spacing-side_l;
    display: flex;
    flex-wrap: nowrap;

    @media screen and (max-width: @oui-responsive-breakpoint-medium) {
      padding: @oui-header-spacing-y @oui-header-spacing-side_s;
    }

    @media screen and (max-width: (@oui-responsive-breakpoint-phone - 1)) {
      padding: @oui-header-spacing-y;
    }
  }

  &__content {
    flex: 1 1 100%;
  }

  &__content ~ &__guide {
    padding-left: @oui-header-guide-spacing;
  }

  &__title {
    margin: 0;
    color: @oui-header-title-font-color;
    font-size: @oui-header-title-font-size;
    font-weight: @oui-header-title-font-weight;
  }

  &__description {
    margin: 0;
    padding-top: @oui-header-description-spacing;
    line-height: normal;
    color: @oui-header-description-font-color;
    font-size: @oui-header-description-font-size;
    font-weight: @oui-header-description-font-weight;
  }
}

oui-header {
  display: block;
}
