@import './_variables';

#oui {
  /* Deprecated: Support only for old use */
  .spinner-base() {
    display: inline-block;

    @keyframes scale {
      0% {
        opacity: 1;
        transform: scale(1);
      }

      1% {
        opacity: 0.25;
        transform: scale(0.65);
      }
    }

    @keyframes rotation {
      1% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    &__container {
      display: block;
      position: relative;
      background: none;
    }

    &__image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  /* Deprecated: Support only for old use */
  .spinner-s(
    @selector: @oui-spinner-selector,
    @background-image: @oui-spinner-s-background-image,
    @size: @oui-spinner-s-size,
    @spacing: @oui-spinner-s-spacing,
    @speed-rotation: @oui-spinner-s-speed-rotation,
    @speed-scale: @oui-spinner-s-speed-scale
  ) {
    .@{selector}__container {
      width: ~"calc(@{size} + @{spacing})";
      height: ~"calc(@{size} + @{spacing})";
    }

    .@{selector}__image {
      width: @size;
      height: @size;
      background-image: @background-image;
      animation: scale @speed-scale 0ms 1 linear, rotation @speed-rotation @speed-scale infinite linear;
    }
  }

  /* Deprecated: Support only for old use */
  .spinner-m(
    @selector: @oui-spinner-selector,
    @background-image: @oui-spinner-m-background-image,
    @size: @oui-spinner-m-size,
    @spacing: @oui-spinner-m-spacing,
    @speed-rotation: @oui-spinner-m-speed-rotation,
    @speed-scale: @oui-spinner-m-speed-scale
  ) {
    .@{selector}__container {
      width: ~"calc(@{size} + @{spacing})";
      height: ~"calc(@{size} + @{spacing})";
    }

    .@{selector}__image {
      width: @size;
      height: @size;
      background-image: @background-image;
      animation: scale @speed-scale 0ms 1 linear, rotation @speed-rotation @speed-scale infinite linear;
    }
  }

  /* Deprecated: Support only for old use */
  .spinner-l(
    @selector: @oui-spinner-selector,
    @background-image: @oui-spinner-l-background-image,
    @size: @oui-spinner-l-size,
    @spacing: @oui-spinner-l-spacing,
    @speed-rotation: @oui-spinner-l-speed-rotation,
    @speed-scale: @oui-spinner-l-speed-scale
  ) {
    .@{selector}__container {
      width: ~"calc(@{size} + @{spacing})";
      height: ~"calc(@{size} + @{spacing})";
    }

    .@{selector}__image {
      width: @size;
      height: @size;
      background-image: @background-image;
      animation: scale @speed-scale 0ms 1 linear, rotation @speed-rotation @speed-scale infinite linear;
    }
  }
}
