// Progress
@oui-progress-height: .75rem;
@oui-progress-compact-size: 1rem;
@oui-progress-margin: .625rem 0;
@oui-progress-background-color: @oui-color-concrete;

// Text
@oui-progress-bar-text-font-size: .875rem;
@oui-progress-bar-compact-text-font-size: 1rem;
@oui-progress-bar-text-font-weight: 400;
@oui-progress-bar-text-color: @oui-color-shuttle;
@oui-progress-bar-text-spacing: .3125rem;

// Progress foreground colors
@oui-progress-info-foreground-color: @oui-color-info-medium;
@oui-progress-success-foreground-color: @oui-color-success-medium;
@oui-progress-warning-foreground-color: @oui-color-warning-light;
@oui-progress-error-foreground-color: @oui-color-error-medium;

// Deprecated: Support only for old use
@oui-progress-info-text-color: @oui-progress-bar-text-color;
@oui-progress-info-background-color: @oui-progress-background-color;
@oui-progress-success-text-color: @oui-progress-bar-text-color;
@oui-progress-success-background-color: @oui-progress-background-color;
@oui-progress-warning-text-color: @oui-progress-bar-text-color;
@oui-progress-warning-background-color: @oui-progress-background-color;
@oui-progress-error-text-color: @oui-progress-bar-text-color;
@oui-progress-error-background-color: @oui-progress-background-color;
