@import './_normalize';
@import './_variables';
@import '../oui-animation/_variables';

.oui-progress {
  #oui > .progress-normalize();
  @oui-progress-selector: oui-progress;

  width: 100%;
  display: flex;
  flex-direction: column;
  margin: @oui-progress-margin;

  &__container {
    position: relative;
    height: @oui-progress-height;
    border-radius: (@oui-progress-height / 2);
    background-color: @oui-progress-background-color;
    margin-bottom: @oui-progress-bar-text-spacing;
  }

  &__bar {
    height: @oui-progress-height;
    transition: width @oui-animation-default-timing @oui-animation-default;
    border-radius: (@oui-progress-height / 2);

    &_info { background-color: @oui-progress-info-foreground-color; }

    &_success { background-color: @oui-progress-success-foreground-color; }

    &_warning { background-color: @oui-progress-warning-foreground-color; }

    &_error { background-color: @oui-progress-error-foreground-color; }
  }

  &__text {
    position: relative;
    font-size: @oui-progress-bar-text-font-size;
    font-weight: @oui-progress-bar-text-font-weight;
    white-space: nowrap;
    text-align: right;
    color: @oui-progress-bar-text-color;
    transition: width @oui-animation-default-timing @oui-animation-default;
  }

  &__threshold {
    display: inline-block;
    position: absolute;
    z-index: 1;
    height: @oui-progress-height;
    width: 1px;
    transition: left @oui-animation-default-timing @oui-animation-default;
    background-color: #fff;

    &::before {
      position: absolute;
      content: '';
      height: @oui-progress-height;
      width: 1px;
      left: -1px;
      background-color: rgba(100, 100, 100, .3);
    }
  }

  &_compact {
    flex-direction: row;
    align-items: center;

    .@{oui-progress-selector}__container,
    .@{oui-progress-selector}__bar {
      height: @oui-progress-compact-size;
      width: @oui-progress-compact-size;
      margin: 0;
      border-radius: (@oui-progress-compact-size / 2);
    }

    .@{oui-progress-selector}__text {
      margin-left: @oui-progress-bar-text-spacing;
      font-size: @oui-progress-bar-compact-text-font-size;
    }

    .@{oui-progress-selector}__threshold {
      display: none;
    }
  }

  // Deprecated: Support only for old use
  &_indeterminate {
    // #oui > .progress-indeterminate();
  }

  // Native progress support
  progress& {
    overflow: hidden;
    border: none;
    border-radius: (@oui-progress-height / 2);
    background-color: @oui-progress-background-color;

    &::-webkit-progress-bar { background-color: @oui-progress-background-color; }

    &::-webkit-progress-value { border-radius: (@oui-progress-height / 2); }
    &::-moz-progress-bar { border-radius: (@oui-progress-height / 2); }
    &::-ms-fill { border-radius: (@oui-progress-height / 2); }

    &_info {
      color: @oui-progress-info-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-info-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-info-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-info-foreground-color; }
    }

    &_success {
      color: @oui-progress-success-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-success-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-success-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-success-foreground-color; }
    }

    &_warning {
      color: @oui-progress-warning-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-warning-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-warning-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-warning-foreground-color; }
    }

    &_error {
      color: @oui-progress-error-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-error-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-error-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-error-foreground-color; }
    }
  }
}
