@import './_normalize';
@import './_variables';
@import '../oui-animation/_variables';

@oui-progress-modifiers: info, success, warning, error;

.oui-progress {
  #oui > .progress-normalize();
  @oui-progress-selector: oui-progress;

  display: flex;
  flex-direction: column;
  margin: @oui-progress-margin;

  &__bar-container {
    position: relative;
    height: @oui-progress-height;
    border-radius: (@oui-progress-height / 2);
    background-color: @oui-progress-background-color;
    margin-bottom: @oui-progress-bar-text-spacing;
  }

  &__bar {
    height: @oui-progress-height;
    transition: width @oui-animation-default-timing @oui-animation-default;
    border-radius: (@oui-progress-height / 2);

    .oui-progress-bar-modifiers(@i: length(@oui-progress-modifiers)) when (@i > 0) {
      .oui-progress-bar-modifiers(@i - 1);
      @current-modifier: extract(@oui-progress-modifiers, @i);
      @background-color: "oui-progress-@{current-modifier}-foreground-color";

      &_@{current-modifier} {
        background-color: @@background-color;
      }
    }
    .oui-progress-bar-modifiers();
  }

  &__label {
    position: relative;
    font-size: @oui-progress-bar-text-font-size;
    font-weight: @oui-progress-bar-text-font-weight;
    white-space: nowrap;
    text-align: right;
    color: @oui-progress-bar-text-color;
    transition: width @oui-animation-default-timing @oui-animation-default;
  }

  &__threshold {
    display: inline-block;
    position: absolute;
    z-index: 1;
    height: @oui-progress-height;
    width: 1px;
    transition: left @oui-animation-default-timing @oui-animation-default;
    background-color: #fff;

    &::before {
      position: absolute;
      content: '';
      height: @oui-progress-height;
      width: 1px;
      left: -1px;
      background-color: rgba(100, 100, 100, .3);
    }
  }

  &_compact {
    flex-direction: row;
    align-items: center;

    .@{oui-progress-selector}__bar-container, .@{oui-progress-selector}__bar {
      height: @oui-progress-compact-size;
      width: @oui-progress-compact-size;
      margin: 0;
      border-radius: (@oui-progress-compact-size / 2);
    }

    .@{oui-progress-selector}__label {
      margin-left: @oui-progress-bar-text-spacing;
      font-size: @oui-progress-bar-compact-text-font-size;
    }

    .@{oui-progress-selector}__threshold {
      display: none;
    }
  }
}
