@import '../../oui/_settings';
@import '../../oui-typography/_constants';

#oui {
  .theme-diamond-base() {
    font-size: rem-calc(17);
    font-family: @oui-global-base-font-family;
    line-height: 1.2;
  }

  .theme-diamond-headers() {
    &_1 {
      font-size: rem-calc(30);
      font-weight: @oui-font-semibold;
    }

    &_2 {
      font-size: rem-calc(21);
      font-weight: @oui-font-semibold;
    }

    &_3 {
      font-size: rem-calc(19);
    }

    &_4 {
      font-size: rem-calc(18);
    }

    &_5 {
      font-size: rem-calc(17);
    }

    &_6 {
      font-size: rem-calc(16);
    }
  }
}
