#oui {
  .theme-diamond-base() {
    font-size: 1.0625rem;
    font-family: @oui-global-base-font-family;
    line-height: 1.2;
  }

  .theme-diamond-headers() {
    &_1 {
      font-size: 1.875rem;
      font-weight: @oui-font-semibold;
    }

    &_2 {
      font-size: 1.3125rem;
      font-weight: @oui-font-semibold;
    }

    &_3 {
      font-size: 1.1875rem;
    }

    &_4 {
      font-size: 1.125rem;
    }

    &_5 {
      font-size: 1.0625rem;
    }

    &_6 {
      font-size: 1rem;
    }
  }
}
