.oui-password {
  display: block;
  margin: @oui-password-margin;
}

oui-password {
  &:extend(.oui-password);
}

.oui-password-rule {
  display: block;
  margin-top: @oui-password-rule-spacing;
  font-size: @oui-password-rule-font-size;
  color: @oui-password-rule-color;

  .oui-icon {
    vertical-align: sub;
    font-size: @oui-password-rule-icon-font-size;
  }

  .oui-icon-error { color: @oui-password-rule-icon-color; }
}

oui-password-rule {
  &:extend(.oui-password-rule);
}

.oui-password-strength {
  display: block;
  margin-top: @oui-password-strength-spacing;

  .oui-field__helper { margin: 0; }

  .oui-progress {
    height: @oui-password-strength-score-height;
    margin: 0;
    margin-top: @oui-password-strength-spacing;
    border-radius: ~"calc(@{oui-password-strength-score-height} / 2)";
  }
}

oui-password-strength {
  &:extend(.oui-password-strength);
}
