.oui-password {
  display: block;
  margin: @oui-password-margin;

  &__rules,
  &__strength,
  &__success { margin: @oui-password-section-margin; }
}

oui-password {
  &:extend(.oui-password);
}

.oui-password-rule {
  display: block;
  margin-top: @oui-password-rule-spacing;
  padding: @oui-password-rule-padding;
  font-size: @oui-password-rule-font-size;
  color: @oui-password-rule-color;

  .oui-icon {
    vertical-align: top;
    margin-right: @oui-password-rule-icon-spacing;
    font-size: @oui-password-rule-icon-size;
  }

  .oui-icon-error { color: @oui-password-rule-icon-color_error; }

  .oui-icon-success { color: @oui-password-rule-icon-color_success; }
}

oui-password-rule {
  &:extend(.oui-password-rule);
}

.oui-password-strength {
  display: block;
  margin: 0;
  padding: @oui-password-strength-padding;

  & &__feedback {
    margin: @oui-password-strength-spacing 0;
    line-height: @oui-password-strength-line-height;
    color: @oui-password-strength-font-color;
    font-size: @oui-password-strength-font-size;
    font-weight: @oui-password-strength-font-weight;
  }

  & &__progress {
    height: @oui-password-strength-score-height;
    margin: 0;
    border-radius: ~"calc(@{oui-password-strength-score-height} / 2)";
  }
}

oui-password-strength {
  &:extend(.oui-password-strength);
}
