// Tabs
@oui-tabs-tab-height: rem-calc(40);
@oui-tabs-tab-height_active: rem-calc(45);
@oui-tabs-tab-padding: 0 rem-calc(30);
@oui-tabs-tab-padding_active: 0 rem-calc(30) rem-calc(6) rem-calc(30);
@oui-tabs-tab-padding_mobile: 0 rem-calc(20);
@oui-tabs-tab-spacing: rem-calc(4);
@oui-tabs-tab-font-color: @oui-color-sapphire;
@oui-tabs-tab-font-size: rem-calc(16);
@oui-tabs-tab-font-weight: @oui-font-semibold;
@oui-tabs-tab-border: @oui-color-silver 1px solid;
@oui-tabs-tab-border-radius: @oui-global-base-radius;
@oui-tabs-tab-box-shadow: inset 0 2px 1px 0 @oui-color-nurse;
@oui-tabs-tab-box-shadow_hover: none;
@oui-tabs-tab-box-shadow_active: none;
@oui-tabs-tab-background-color: #fff;
@oui-tabs-tab-background-color_hover: @oui-color-concrete;
@oui-tabs-tab-background-color_active: #fff;

// Tabs - Icons
@oui-tabs-icon-size: rem-calc(12);
@oui-tabs-icon-spacing: rem-calc(10);
@oui-tabs-icon-color: @oui-color-silver;
@oui-tabs-icon-color_checked: @oui-color-atlantis;

// Tabs - Tabpanel
@oui-tabs-tabpanel-padding: rem-calc(25) rem-calc(30);
@oui-tabs-tabpanel-padding_mobile: rem-calc(10) rem-calc(20) rem-calc(20) rem-calc(20);
@oui-tabs-tabpanel-border: @oui-tabs-tab-border;
@oui-tabs-tabpanel-border-radius: @oui-global-base-radius;
@oui-tabs-tabpanel-background-color: @oui-tabs-tab-background-color;
