// Description
@oui-description-margin: 0 0 @base-spacing-medium;
@oui-description-term-font-weight: 700;
@oui-description-description-font-weight: 400;
@oui-description-horizontal-line-height: rem-calc(20);
@oui-description-horizontal-margin-bottom: rem-calc(5);
