@oui-chip-height: 1.875rem;
@oui-chip-padding: 0 .625rem;
@oui-chip-border-radius: .625rem;
@oui-chip-font-color: @oui-color-sapphire;
@oui-chip-font-size: 1rem;
@oui-chip-background-color: @oui-color-foam;
@oui-chip-close-icon-size: .75rem;
@oui-chip-container-background-color: #fff;
@oui-chip-container-border-color: @oui-color-nurse;
