@import '@ovh/ui-kit.core/less/_settings';
@import './_mixins';

.oui-box {
  background: @oui-box-background-color;
  border: @oui-box-border-size solid @oui-box-border-color;
  border-radius: @oui-global-base-radius-medium;
  margin-bottom: @oui-box-spacing;
  padding: @oui-box-padding;

  &_light {
    background: @oui-box-light-background-color;
    border: @oui-box-border-size solid @oui-box-light-border-color;
  }
}
