// Field
@oui-field-spacing: rem-calc(20);

@oui-field-label-font-color: @oui-color-shuttle;
@oui-field-label-font-size: rem-calc(16);

@oui-field-helper-color: @oui-color-shuttle;
@oui-field-helper-font-size: rem-calc(14);

@oui-field-control-width: @oui-form-control-default-size;
@oui-field-control-spacing: rem-calc(6);

@oui-field-error-color: @oui-color-error-dark;
@oui-field-error-font-size: rem-calc(14);
@oui-field-error-icon-color: @oui-color-error-medium;
@oui-field-error-icon-font-size: rem-calc(14);
