@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import './_variables';

.oui-field {
  display: flex;
  flex-direction: column;
  margin-bottom: @oui-field-spacing;

  .oui-label {
    font-size: @oui-field-label-font-size;

    &_focus {
      color: @oui-field-label-font-color;
    }
  }

  &__label-container {
    .oui-label {
      display: inline-block;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    #oui > .tablet({
      display: block;
    });
  }

  &__control {
    width: @oui-field-control-width;
    margin-bottom: @oui-field-control-spacing;
  }

  &__helper {
    color: @oui-field-helper-color;
    font-size: @oui-field-helper-font-size;
    text-align: justify;

    &_top {
      align-self: flex-start;
    }

    #oui > .tablet({
      margin-left: 0;
    });
  }

  &__error {
    display: none;
    color: @oui-field-error-color;
    font-size: @oui-field-error-font-size;
    text-align: justify;

    .oui-icon-error {
      color: @oui-field-error-icon-color;
      font-size: @oui-field-error-icon-font-size;
      vertical-align: sub;
    }
  }
}

oui-field {
  display: block;
}

// Field - Size variants
#oui > .control-sizes(oui-field__control);

// Field - Error
.oui-field_error .oui-field__error {
  display: block;
}
