// Box
@oui-box-background-color: @p-050;
@oui-box-border-color: @p-100;
@oui-box-border-width: 1px;
@oui-box-border-radius: @base-border-radius-large;
@oui-box-font-color: @p-800-text;
@oui-box-padding: rem-calc(16) rem-calc(32) rem-calc(32);

@oui-box-light-background-color: @p-000;
