// Criteria
@oui-criteria-margin-bottom: rem-calc(12);

@oui-criteria-actions-margin-bottom: rem-calc(12);

// Criteria Adder
@oui-criteria-adder-spacing: rem-calc(12);
@oui-criteria-adder-menu-width: rem-calc(300);

@oui-criteria-adder-form-padding: rem-calc(16);
@oui-criteria-adder-field-spacing: rem-calc(16);
@oui-criteria-adder-submit-spacing: rem-calc(8);
