// Dual List
@oui-dual-list-min-height: rem-calc(300);
@oui-dual-list-margin: 0 0 @base-spacing-large;
@oui-dual-list-padding: rem-calc(16);
@oui-dual-list-spacing: @base-spacing-medium;
@oui-dual-list-border: none;
@oui-dual-list-border-radius: @base-border-radius-medium;
@oui-dual-list-background: @p-000;
@oui-dual-list-box-shadow: @base-box-shadow-primary;

@oui-dual-list-icon-spacing: rem-calc(10);
@oui-dual-list-icon-size: rem-calc(14);

@oui-dual-list-header-height: rem-calc(40);
@oui-dual-list-header-font-color: @p-800;

@oui-dual-list-toggle-icon-size: rem-calc(24);
@oui-dual-list-toggle-icon-color: @p-500;
@oui-dual-list-toggle-icon-spacing: rem-calc(14);

@oui-dual-list-search-margin: rem-calc(16) 0 0 0;

@oui-dual-list-wrapper-height: rem-calc(320);

@oui-dual-list-action-margin: rem-calc(8) 0 0 0;

@oui-dual-list-placeholder-font-color: @g-300;
@oui-dual-list-placeholder-font-size: rem-calc(16);
@oui-dual-list-placeholder-font-weight: 600;
