// Header
@oui-header-margin: 0 0 rem-calc(20);
@oui-header-background-color: @p-000;

@oui-header-spacing-y: 0;
@oui-header-spacing-side_s: 0;
@oui-header-spacing-side_l: 0;

@oui-header-guide-spacing: rem-calc(20);

@oui-header-title-line-height: 1.25;
@oui-header-title-font-color: @p-800;
@oui-header-title-font-size: rem-calc(28);
@oui-header-title-font-weight: 700;

@oui-header-description-spacing: rem-calc(8);
@oui-header-description-line-height: 1.5;
@oui-header-description-font-color: @p-800-text;
@oui-header-description-font-size: rem-calc(16);
@oui-header-description-font-weight: 400;

// Header Tabs
@oui-header-tabs-margin: rem-calc(40) 0 0 0; // This will cause problems with nav buttons
@oui-header-tabs-border-bottom: 1px solid #e6f5fc;

@oui-header-tabs-item-width: 100%;
@oui-header-tabs-item-line-height: rem-calc(20);
@oui-header-tabs-item-spacing: rem-calc(24);
@oui-header-tabs-item-padding: rem-calc(8) rem-calc(24);
@oui-header-tabs-item-padding_dropdown: rem-calc(8) @oui-button-dropdown-padding-right rem-calc(8) rem-calc(16);
@oui-header-tabs-item-font-color: @p-500;
@oui-header-tabs-item-font-color_hover: @p-700;
@oui-header-tabs-item-font-color_disabled: @g-400;
@oui-header-tabs-item-font-size: rem-calc(16);
@oui-header-tabs-item-font-weight: 600;
@oui-header-tabs-item-border-width: rem-calc(2);
@oui-header-tabs-item-border-color_hover:  @p-700;
@oui-header-tabs-item-border-color_active:  @p-500;
@oui-header-tabs-item-background-color:  transparent;

@oui-header-tabs-icon-spacing: rem-calc(10);
@oui-header-tabs-icon-font-size: rem-calc(12);

// header Tabs - Dropdown
@oui-header-tabs-dropdown-padding: rem-calc(4) 0;
@oui-header-tabs-dropdown-item-padding: rem-calc(8) rem-calc(20);
@oui-header-tabs-dropdown-item-background-color_active: @p-075;

// header Tabs - Slider nav
@oui-header-tabs-slider-nav-spacing: rem-calc(8);
