// Stepper
@oui-stepper-margin: 0 0 @base-spacing-large;
@oui-stepper-font-color: @p-800-text;
@oui-stepper-font-size: rem-calc(16);
@oui-stepper-font-weight: 400;

// Stepper Step
@oui-stepper-step-padding: rem-calc(20) 0;
@oui-stepper-step-separator: 1px solid @g-300;
@oui-stepper-step-description-spacing: rem-calc(15);
@oui-stepper-step-loading-spacing: rem-calc(10);
@oui-stepper-step-container-padding-left: rem-calc(62);

@oui-stepper-step-bullet-background-color: @p-000;
@oui-stepper-step-bullet-border-color: @p-500;
@oui-stepper-step-bullet-border-color_complete: transparent;
@oui-stepper-step-bullet-border-color_disabled: @g-300;
@oui-stepper-step-bullet-border-radius: 50%;
@oui-stepper-step-bullet-border-width: rem-calc(2);
@oui-stepper-step-bullet-color: @p-500;
@oui-stepper-step-bullet-color_complete: @p-500;
@oui-stepper-step-bullet-color_disabled: @g-500;
@oui-stepper-step-bullet-font-size: rem-calc(16);
@oui-stepper-step-bullet-font-weight: 700;
@oui-stepper-step-bullet-size: rem-calc(42);
@oui-stepper-step-bullet-top: calc((@oui-stepper-step-title-line-height - @oui-stepper-step-bullet-size) / 2);
@oui-stepper-step-bullet-left: -@oui-stepper-step-container-padding-left;

@oui-stepper-step-bullet-icon-content_complete: @oui-icon-index-success;
@oui-stepper-step-bullet-icon-font-family: @base-font-family-icon;
@oui-stepper-step-bullet-icon-font-weight: 400;
@oui-stepper-step-bullet-icon-font-size: rem-calc(24);

@oui-stepper-step-title-line-height: rem-calc(22);
@oui-stepper-step-title-color: @p-800;
@oui-stepper-step-title-color_complete: @p-800-text;
@oui-stepper-step-title-color_disabled: @g-500;
@oui-stepper-step-title-font-size: rem-calc(28);
@oui-stepper-step-title-font-size_complete: rem-calc(20);
@oui-stepper-step-title-font-size_disabled: rem-calc(20);
@oui-stepper-step-title-font-weight: 400;

@oui-stepper-step-link-margin: rem-calc(4) 0;

@oui-stepper-step-optional-color: @p-800-text;
@oui-stepper-step-optional-color_disabled: @g-500;
@oui-stepper-step-optional-font-size: rem-calc(14);
@oui-stepper-step-optional-font-weight: 400;
@oui-stepper-step-optional-spacing: rem-calc(5);
