// Tabs
@oui-tabs-tab-height: rem-calc(50);
@oui-tabs-tab-height_active: rem-calc(53);
@oui-tabs-tab-padding: 0 rem-calc(16);
@oui-tabs-tab-padding_active: @oui-tabs-tab-padding;
@oui-tabs-tab-padding_mobile: 0 rem-calc(12);
@oui-tabs-tab-spacing: rem-calc(4);
@oui-tabs-tab-font-color: @p-500;
@oui-tabs-tab-font-color_hover: @p-800-text;
@oui-tabs-tab-font-color_active: @oui-tabs-tab-font-color_hover;
@oui-tabs-tab-font-size: rem-calc(18);
@oui-tabs-tab-font-weight: 600;
@oui-tabs-tab-font-weight_active: 700;
@oui-tabs-tab-line-height: 1.25;
@oui-tabs-tab-border: @oui-tabs-tab-border-color @oui-tabs-tab-border-width solid;
@oui-tabs-tab-border-color: @p-100;
@oui-tabs-tab-border-width: 1px;
@oui-tabs-tab-border-radius: @base-border-radius-medium;
@oui-tabs-tab-background-color: @p-000;
@oui-tabs-tab-background-color_hover: @p-100;
@oui-tabs-tab-background-color_active: @p-050;
@oui-tabs-tab-outline-offset: calc(-@oui-a11y-outline-offset - @oui-a11y-outline-width - @oui-tabs-tab-border-width);

@oui-tabs-tab-subheading-line-height: @oui-tabs-tab-line-height;
@oui-tabs-tab-subheading-font-size: rem-calc(12);
@oui-tabs-tab-subheading-font-color: @as-500;
@oui-tabs-tab-subheading-font-color_active: @oui-tabs-tab-subheading-font-color;

@oui-tabs-tab-subheading-promotion-font-color: @p-000;
@oui-tabs-tab-subheading-promotion-font-color_active: @promotion-500;
@oui-tabs-tab-subheading-promotion-background-color: @promotion-500;
@oui-tabs-tab-subheading-promotion-background-color_active: transparent;
@oui-tabs-tab-subheading-promotion-padding: 0 rem-calc(8);
@oui-tabs-tab-subheading-promotion-padding_active: 0;
@oui-tabs-tab-subheading-promotion-border-radius: rem-calc(12);
@oui-tabs-tab-subheading-promotion-border-radius_active: 0;

@oui-tabs-icon-size: rem-calc(16);
@oui-tabs-icon-spacing: rem-calc(16);
@oui-tabs-icon-color: @g-300;
@oui-tabs-icon-color_checked: @as-400;

@oui-tabs-tabpanel-padding: rem-calc(16);
@oui-tabs-tabpanel-padding_mobile: rem-calc(16);
@oui-tabs-tabpanel-border: @oui-tabs-tabpanel-border-color @oui-tabs-tabpanel-border-width solid;
@oui-tabs-tabpanel-border-color: @oui-tabs-tab-border-color;
@oui-tabs-tabpanel-border-width: @oui-tabs-tab-border-width;
@oui-tabs-tabpanel-border-radius: @base-border-radius-medium;
@oui-tabs-tabpanel-background-color: @oui-tabs-tab-background-color_active;
