// Label
@oui-formfield-label-default-font-color: #0090b1;
@oui-formfield-label-warning-font-color: @oui-color-warning-medium;
@oui-formfield-label-error-font-color: @oui-color-error-dark;
@oui-formfield-label-font-weight: @oui-font-semibold;
