@oui-guide-title-background-color: @oui-color-alabaster;
@oui-guide-button-font-size: rem-calc(18);
@oui-guide-dropdown-content-width: rem-calc(235);
@oui-guide-dropdown-content-margin: rem-calc(15);
@oui-guide-move-right: rem-calc(33);
@oui-guide-item-title-padding: rem-calc(5) rem-calc(20);
@oui-guide-item-title-font: rem-calc(14);
@oui-guide-footer-button-top-padding: rem-calc(10);
@oui-guide-footer-button-width: rem-calc(175);
@oui-guide-footer-button-margin: rem-calc(4) rem-calc(27) rem-calc(7);
