@import (reference) '@ovh/ui-kit.core/less/_settings';
@import (reference) '@ovh/ui-kit.icons/less/_variables';
@import (reference) './_variables';
@import './_normalize';

.oui-stepper {
  #oui > .stepper-normalize();

  display: block;
  margin: @oui-stepper-margin;

  &__steps { counter-reset: steps; }

  &__step {
    display: block;
    padding: @oui-stepper-step-padding;
    border-top: @oui-stepper-step-separator;

    &:last-child { border-bottom: @oui-stepper-step-separator; }
  }

  &__container {
    padding-left: @oui-stepper-step-container-padding-left;
  }

  &__header {
    line-height: @oui-stepper-step-title-line-height;
    position: relative;

    &::before {
      content: counter(steps);
      counter-increment: steps;
      width: @oui-stepper-step-icon-size;
      height: @oui-stepper-step-icon-size;
      line-height: @oui-stepper-step-icon-size;
      display: inline-block;
      position: absolute;
      top: ~"calc((@{oui-stepper-step-title-line-height} - @{oui-stepper-step-icon-size}) / 2)";
      left: -@oui-stepper-step-container-padding-left;
      font-size: @oui-stepper-step-icon-font-size;
      font-weight: @oui-stepper-step-icon-font-weight;
      text-align: center;
      vertical-align: baseline;
      color: @oui-stepper-step-icon-color;
      border-radius: 50%;
      background: @oui-stepper-step-icon-background;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .oui-button {
      margin: 0;
      padding: 0;
      float: right;
    }
  }

  &__title {
    font-size: @oui-stepper-step-title-font-size;
    font-weight: @oui-stepper-step-title-font-weight;
    color: @oui-stepper-step-title-color;
  }

  &__label-optional {
    margin-left: @oui-stepper-step-optional-spacing;
    color: @oui-stepper-step-optional-color;
    font-size: @oui-stepper-step-optional-font-size;
    font-weight: @oui-stepper-step-optional-font-weight;
  }

  &__description {
    margin: 0;
    margin-bottom: @oui-stepper-step-description-spacing;
    font-size: @oui-stepper-font-size;
    font-weight: @oui-stepper-font-weight;
    color: @oui-stepper-font-color;
    border: none;
  }

  &__content {
    font-size: @oui-stepper-font-size;
    font-weight: @oui-stepper-font-weight;
    color: @oui-stepper-font-color;
  }

  &__loader {
    .oui-spinner {
      margin-right: @oui-stepper-step-loading-spacing;
      vertical-align: middle;
    }
  }

  // Variant `disabled`
  &__container_disabled {
    pointer-events: all;

    .oui-stepper__header::before {
      color: @oui-stepper-step-icon-color_disabled;
      background: @oui-stepper-step-icon-background_disabled;
    }

    .oui-stepper__title { color: @oui-stepper-step-title-color_disabled; }

    .oui-stepper__label-optional { color: @oui-stepper-step-optional-color_disabled; }

    .oui-stepper__content { display: none; }
  }

  // Variant `complete`
  &__container_complete {
    .oui-stepper__header::before {
      content: @oui-icon-index-success;
      font-family: @oui-global-base-font-family-icon;
      font-weight: @oui-font-regular;
      color: @oui-stepper-step-icon-color_complete;
      background: @oui-stepper-step-icon-background_complete;
    }

    .oui-stepper__title { color: @oui-stepper-step-title-color_complete; }
  }
}
