@import './_variables';

#oui {
  .button-filled(
    @background-color: @oui-button-filled-background-color,
    @background-color_hover: @oui-button-filled-background-color_hover,
    @background-color_disabled: @oui-button-filled-background-color_disabled,
    @box-shadow_active: @oui-button-filled-box-shadow_active,
    @box-shadow_focus: @oui-button-filled-box-shadow_focus,
    @font-color_disabled: @oui-button-filled-font-color_disabled,
    @padding: @oui-button-filled-padding
  ) {
    padding: @padding;
    background-color: @background-color;

    &:hover,
    &:focus {
      background-color: @background-color_hover;
    }

    &:focus {
      box-shadow: @box-shadow_focus;
    }

    &:active {
      box-shadow: @box-shadow_active;
    }

    &:disabled {
      color: @font-color_disabled;
      background-color: @background-color_disabled;
      cursor: auto;
    }
  }

  .button-hollow(
    @background-color: @oui-button-hollow-background-color,
    @background-color_hover: @oui-button-hollow-background-color_hover,
    @border-color: @oui-button-hollow-border-color,
    @border-color_hover: @oui-button-hollow-border-color_hover,
    @border-color_disabled: @oui-button-hollow-border-color_disabled,
    @border-size: @oui-button-hollow-border-size,
    @background-color_disabled: @oui-button-hollow-background-color_disabled,
    @box-shadow_active: @oui-button-hollow-box-shadow_active,
    @box-shadow_focus: @oui-button-hollow-box-shadow_focus,
    @font-color_disabled: @oui-button-hollow-font-color_disabled,
    @padding: @oui-button-hollow-padding
  ) {
    padding: @padding;
    background-color: @background-color;
    border: @border-size solid @border-color;

    &:hover,
    &:focus {
      background-color: @background-color_hover;
      border-color: @border-color_hover;
    }

    &:focus {
      box-shadow: @box-shadow_focus;
    }

    &:active {
      box-shadow: @box-shadow_active;
    }

    &:disabled,
    &:disabled:active {
      color: @font-color_disabled;
      border-color: @border-color_disabled;
      background-color: @background-color_disabled;
      cursor: auto;
    }
  }

  .button-icon(
    @icon-selector: oui-icon,
    @icon-size: @oui-button-icon-icon-size,
    @icon-size_large: @oui-button-icon-icon-size_large,
    @icon-color: @oui-button-icon-icon-color,
    @icon-color_disabled: @oui-button-icon-icon-color_disabled
  ) {
    .@{icon-selector} {
      color: @icon-color;
    }

    .@{icon-selector}::before {
      font-size: @icon-size;
    }

    .@{icon-selector}_circle {
      width: @icon-size_large;
      height: @icon-size_large;
      background: @icon-color;
    }

    &:disabled .@{icon-selector} {
      color: @icon-color_disabled;
    }

    &:disabled .@{icon-selector}_circle {
      background: @icon-color_disabled;
      color: #fff;
    }
  }
}
