@import './_mixins';

.oui-button {
  #oui > .text-ellipsis();

  cursor: pointer;
  min-width: @oui-button-min-width;
  max-width: @oui-button-max-width;
  display: inline-block;
  position: relative;
  margin: @oui-button-margin;
  padding: @oui-button-padding;
  text-align: center;
  font-size: @oui-button-font-size;
  font-weight: @oui-button-font-weight;
  letter-spacing: @oui-button-letter-spacing;
  border-radius: @oui-button-radius;
  border-style: solid;
  border-width: @oui-button-border-size;
  user-select: none;
  overflow-y: hidden;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: top;
  color: @oui-button-font-color;
  transition: background-color ease-in 200ms, border-color ease-in 200ms, box-shadow ease-in 200ms;

  .oui-icon::before {
    font-size: @oui-button-icon-size;
  }

  .oui-icon_circle {
    width: @oui-button-icon-size_large;
    height: @oui-button-icon-size_large;
    background: @oui-button-icon-color;
    color: @oui-color-white;
  }

  &,
  &:focus,
  &:hover { text-decoration: none; }

  &:focus {
    #oui > .outline-border();
  }

  &:disabled {
    cursor: auto;

    .oui-icon_circle {
      background: @oui-button-icon-color_disabled;
    }
  }
}

oui-button {
  display: inline-block;
}

.oui-button_primary {
  #oui > .button-color(
    @background-color: @oui-button-primary-background-color,
    @background-color_hover: @oui-button-primary-background-color_hover,
    @background-color_active: @oui-button-primary-background-color_active,
    @background-color_disabled: @oui-button-primary-background-color_disabled,
    @border-color: @oui-button-primary-border-color,
    @border-color_hover: @oui-button-primary-border-color_hover,
    @border-color_active: @oui-button-primary-border-color_active,
    @border-color_disabled: @oui-button-primary-border-color_disabled,
    @box-shadow: @oui-button-primary-box-shadow,
    @box-shadow_focus: @oui-button-primary-box-shadow_focus,
    @box-shadow_active: @oui-button-primary-box-shadow_active,
    @box-shadow_disabled: @oui-button-primary-box-shadow_disabled,
    @font-color: @oui-button-primary-font-color,
    @font-color_disabled: @oui-button-primary-font-color_disabled,
    @icon-color: @oui-button-primary-icon-color,
    @icon-color_disabled: @oui-button-primary-icon-color_disabled,
    @icon-circle-color: @oui-button-primary-icon-circle-color,
    @icon-circle-color_disabled: @oui-button-primary-icon-circle-color_disabled
  );

  padding: @oui-button-primary-padding;
  border-width: @oui-button-primary-border-size;
}

.oui-button_secondary {
  #oui > .button-color(
    @background-color: @oui-button-secondary-background-color,
    @background-color_hover: @oui-button-secondary-background-color_hover,
    @background-color_active: @oui-button-secondary-background-color_active,
    @background-color_disabled: @oui-button-secondary-background-color_disabled,
    @border-color: @oui-button-secondary-border-color,
    @border-color_hover: @oui-button-secondary-border-color_hover,
    @border-color_active: @oui-button-secondary-border-color_active,
    @border-color_disabled: @oui-button-secondary-border-color_disabled,
    @box-shadow: @oui-button-secondary-box-shadow,
    @box-shadow_focus: @oui-button-secondary-box-shadow_focus,
    @box-shadow_active: @oui-button-secondary-box-shadow_active,
    @box-shadow_disabled: @oui-button-secondary-box-shadow_disabled,
    @font-color: @oui-button-secondary-font-color,
    @font-color_disabled: @oui-button-secondary-font-color_disabled,
    @icon-color: @oui-button-secondary-icon-color,
    @icon-color_disabled: @oui-button-secondary-icon-color_disabled,
    @icon-circle-color: @oui-button-secondary-icon-circle-color,
    @icon-circle-color_disabled: @oui-button-secondary-icon-circle-color_disabled
  );

  padding: @oui-button-secondary-padding;
  border-width: @oui-button-secondary-border-size;
}

.oui-button_dropdown {
  #oui > .button-color(
    @background-color: @oui-button-dropdown-background-color,
    @background-color_hover: @oui-button-dropdown-background-color_hover,
    @background-color_active: @oui-button-dropdown-background-color_active,
    @background-color_disabled: @oui-button-dropdown-background-color_disabled,
    @border-color: @oui-button-dropdown-border-color,
    @border-color_hover: @oui-button-dropdown-border-color_hover,
    @border-color_active: @oui-button-dropdown-border-color_active,
    @border-color_disabled: @oui-button-dropdown-border-color_disabled,
    @box-shadow: @oui-button-dropdown-box-shadow,
    @box-shadow_focus: @oui-button-dropdown-box-shadow_focus,
    @box-shadow_active: @oui-button-dropdown-box-shadow_active,
    @box-shadow_disabled: @oui-button-dropdown-box-shadow_disabled,
    @font-color: @oui-button-dropdown-font-color,
    @font-color_disabled: @oui-button-dropdown-font-color_disabled,
    @icon-color: @oui-button-dropdown-icon-color,
    @icon-color_disabled: @oui-button-dropdown-icon-color_disabled,
    @icon-circle-color: @oui-button-dropdown-icon-circle-color,
    @icon-circle-color_disabled: @oui-button-dropdown-icon-circle-color_disabled
  );

  padding-right: @oui-button-dropdown-padding-right;
  padding-left: @oui-button-dropdown-padding-left;

  .oui-icon-chevron-down {
    margin-right: @oui-button-dropdown-margin-right;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    color: inherit;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
    cursor: pointer;

    &::before {
      display: inline-block;
      font-size: @oui-button-dropdown-icon-size;
    }
  }

  &.open .oui-icon-chevron-down {
    transform: rotate(180deg);
  }
}

.oui-button_link {
  min-width: 0;
  padding: @oui-button-link-padding;
  border: 0;
  background: none;
  color: @oui-button-link-font-color;
  font-weight: @oui-button-link-font-weight;
  text-decoration: @oui-button-link-text-decoration;

  .oui-icon {
    color: @oui-button-link-icon-color;
  }

  &:hover,
  &:focus {
    background: none;
    color: @oui-button-link-font-color_hover;
    text-decoration: @oui-button-link-text-decoration_hover;
  }

  &:disabled,
  &:disabled:active {
    background: none;
    color: @oui-button-link-font-color_disabled;
    text-decoration: @oui-button-link-text-decoration;

    .oui-icon {
      color: @oui-button-link-icon-color_disabled;
    }

    .oui-icon_circle {
      background-color: @oui-button-link-font-color_disabled;
    }
  }
}

// stylelint-disable no-descending-specificity
.oui-button_icon-right {
  padding-right: @oui-button-icon-offset;

  .oui-icon {
    margin-left: @oui-button-icon-spacing;
  }
}

.oui-button_icon-left {
  padding-left: @oui-button-icon-offset;

  .oui-icon {
    margin-right: @oui-button-icon-spacing;
  }
}
// stylelint-enable no-descending-specificity

.oui-button_icon-alone {
  background: @oui-button-icon-alone-background;
  min-width: @oui-button-icon-alone-min-width;
  padding-left: @oui-button-icon-alone-padding-left;
  padding-right: @oui-button-icon-alone-padding-right;
  margin-right: @oui-button-icon-alone-margin-right;
  border: none;

  .oui-icon {
    color: @oui-button-icon-alone-font-color;
  }

  .oui-icon:hover,
  .oui-icon:focus {
    color: @oui-button-icon-alone-font-color_hover;
  }

  .oui-icon::before {
    font-size: @oui-button-icon-alone-icon-font-size;
  }
}

.oui-button_full-width {
  max-width: none;
  width: 100%;
  height: 100%;

  // stylelint-disable no-descending-specificity
  .oui-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
  }
  // stylelint-enable no-descending-specificity

  &.oui-button_icon-left {
    .oui-icon {
      left: @oui-button-icon-offset;
    }
  }

  &.oui-button_icon-right {
    .oui-icon:not(.oui-icon-external_link) {
      right: @oui-button-icon-offset;
    }
  }

  .oui-icon-external_link {
    margin-left: rem-calc(5);
  }
}

.oui-button_small-width {
  min-width: @oui-button-small-width-min-width;
  padding-left: @oui-button-small-width-padding-left-right;
  padding-right: @oui-button-small-width-padding-left-right;
}

.oui-button_large-height {
  min-height: @oui-button-large-height-min-height;
}
