.oui-button-group {
  position: relative;
  display: inline-flex;
  align-content: stretch;
  align-items: flex-end;
  vertical-align: top;
  margin: @oui-button-group-margin;
  z-index: 0;

  .oui-button {
    border-radius: @oui-button-group-inner-radius;
    z-index: 0;

    + .oui-button {
      margin-left: @oui-button-group-primary-spacing;
    }

    &_secondary + .oui-button_secondary {
      margin-left: @oui-button-group-secondary-spacing;
    }

    &:first-child {
      border-top-left-radius: @oui-button-group-outer-radius;
      border-bottom-left-radius: @oui-button-group-outer-radius;
    }

    &:last-child {
      border-top-right-radius: @oui-button-group-outer-radius;
      border-bottom-right-radius: @oui-button-group-outer-radius;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }
  }
}
