@import (reference) './_mixins';
@import (reference) './_variables';
@import './_normalize';

.oui-button {
  @oui-icon-selector: oui-icon;
  @oui-button-selector: oui-button;

  #oui > .button-normalize();
  #oui > .button-base();

  &_primary {
    #oui > .button-filled();
    #oui > .button-icon-base(
      @oui-icon-selector,
      @icon-color_disabled: @oui-button-filled-font-color_disabled
    );
  }

  &_secondary {
    #oui > .button-hollow();
    #oui > .button-icon-base(
      @oui-icon-selector,
      @icon-color_disabled: @oui-button-hollow-font-color_disabled
    );
  }

  &_dropdown {
    #oui > .button-hollow();
    #oui > .button-dropdown();
  }

  &_link {
    #oui > .button-icon-base(
      @oui-icon-selector,
      @icon-color_disabled: @oui-button-link-font-color_disabled
    );

    min-width: 0;
    padding: @oui-button-link-padding;
    border: 0;
    background: none;
    color: @oui-button-link-font-color;
    font-weight: @oui-button-link-font-weight;
    text-decoration: underline;

    &:hover,
    &:focus {
      background: none;
      color: @oui-button-link-font-color_hover;
      text-decoration: underline;
    }

    &:disabled,
    &:disabled:active {
      background: none;
      color: @oui-button-link-font-color_disabled;
      text-decoration: underline;
    }

    .oui-icon {
      color: @oui-button-link-icon-color;
    }
  }

  &_icon-only {
    #oui > .button-icon-base(@oui-icon-selector);
  }

  &_icon-alone {
    background: @oui-button-icon-alone-background;
    min-width: @oui-button-icon-alone-min-width;
    padding-left: @oui-button-icon-alone-padding-left;
    padding-right: @oui-button-icon-alone-padding-right;
    margin-right: @oui-button-icon-alone-margin-right;

    .oui-icon {
      color: @oui-button-icon-alone-font-color;
    }

    .oui-icon:hover,
    .oui-icon:focus {
      color: @oui-button-icon-alone-font-color_hover;
    }

    .oui-icon::before {
      font-size: @oui-button-icon-alone-icon-font-size;
    }
  }

  &_icon-right {
    padding-right: @oui-button-icon-padding-right;

    .oui-icon {
      margin-left: @oui-button-icon-right-icon-margin-left;
    }

    .oui-icon_circle::before {
      line-height: 2;
    }
  }

  &_icon-left {
    padding-left: @oui-button-icon-padding-left;

    .oui-icon {
      margin-right: @oui-button-icon-right-icon-margin-right;
    }

    .oui-icon_circle::before {
      line-height: 2;
      text-indent: -2px;
    }
  }

  &_full-width {
    max-width: none;
    width: 100%;
    height: 100%;

    .oui-icon::before {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.@{oui-button-selector}_icon-left {
      .oui-icon::before {
        left: @oui-button-icon-padding-left;
      }
    }

    &.@{oui-button-selector}_icon-right {
      .oui-icon::before:not(.oui-icon-external_link) {
        right: @oui-button-icon-padding-right;
      }
    }

    .oui-icon-external_link {
      margin-left: rem-calc(5);
    }
  }

  &_small-width {
    min-width: @oui-button-small-width-min-width;
    padding-left: @oui-button-small-width-padding-left-right;
    padding-right: @oui-button-small-width-padding-left-right;
  }

  &_large-height {
    min-height: @oui-button-large-height-min-height;
  }
}
