@import '@ovh/ui-kit.typography/less/_constants';

@oui-chip-height: rem-calc(30);
@oui-chip-padding: 0 rem-calc(10);
@oui-chip-border-radius: rem-calc(10);
@oui-chip-font-color: @oui-color-sapphire;
@oui-chip-font-size: rem-calc(16);
@oui-chip-font-weight: @oui-font-regular;
@oui-chip-background-color: @oui-color-foam;
@oui-chip-close-icon-size: rem-calc(12);
@oui-chip-container-background-color: #fff;
@oui-chip-container-border-color: @oui-color-nurse;
