.oui-criteria-adder {
  display: inline-block;

  &__submit {
    margin-top: .5rem;
  }

  .oui-dropdown {
    & > .oui-button .oui-icon {
      height: 1.5rem;
      display: flex; // For a better vertical centering
      flex-direction: row;
      align-items: center;

      &::before {
        width: auto;
        height: auto;
        line-height: 1;
        flex: 1;
        font-size: @oui-button-icon-icon-size_large;
      }
    }

    &__content {
      width: 18.75rem;
    }
  }

  .oui-field {
    margin-bottom: .375rem;
  }

  form {
    padding: 1.25rem;
  }
}
