.oui-criteria-adder {
  display: inline-block;

  oui-dropdown { display: inline-block; }

  .oui-button[oui-dropdown-trigger] .oui-icon {
    height: rem-calc(24);
    display: flex; // For a better vertical centering
    flex-direction: row;
    align-items: center;

    &::before {
      width: auto;
      height: auto;
      line-height: 1;
      flex: 1;
      font-size: @oui-button-icon-icon-size_large;
    }
  }

  // Switch icon when dropdown is active
  .oui-dropdown_active > .oui-button .oui-icon {
    &:first-child { display: none;}
    &:last-child { display: flex;}
  }

  .oui-field {
    margin-bottom: rem-calc(8);
  }

  form {
    padding: rem-calc(20);
    padding-bottom: 0;
  }
}
