.oui-sidebar {
  position: relative;
  overflow: auto;
  z-index: @oui-sidebar-z-index;

  &_fixed {
    box-shadow: @oui-sidebar-box-shadow;
    z-index: @oui-sidebar-z-index_fixed;
  }

  // Root
  & > &-menu > &-list {
    // We're using a border here to create a padding
    // so that the padding-bottom is not hidden
    // by the overflow auto of the menu
    border: @oui-sidebar-padding solid transparent;
  }

  & > &-menu > &-list > &-list__item {
    // Group links
    > .oui-sidebar-link {
      padding: @oui-sidebar-group-padding;
      border: none;
      border-bottom: @oui-sidebar-group-bottom-color solid @oui-sidebar-group-bottom-width;
      color: @oui-sidebar-group-font-color;
      font-size: @oui-sidebar-group-font-size;
      font-weight: @oui-sidebar-group-font-weight;

      .oui-icon {
        color: @oui-sidebar-link-icon-color;
        font-size: @oui-sidebar-link-icon-size;
        margin-right: @oui-sidebar-link-icon-spacing;
      }
    }
  }

  // Level 1
  & > &-menu &-menu {
    .oui-sidebar-link { padding-left: calc(@oui-sidebar-link-padding-x * 1); }
  }

  // Level 2
  & > &-menu &-menu &-menu {
    .oui-sidebar-link { padding-left: calc(@oui-sidebar-link-padding-x * 2); }
  }

  // Level 3
  & > &-menu &-menu &-menu &-menu {
    .oui-sidebar-link { padding-left: calc(@oui-sidebar-link-padding-x * 3); }
  }
}

.oui-sidebar-link {
  width: 100%;
  line-height: @oui-sidebar-link-line-height;
  padding: @oui-sidebar-link-padding;
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  text-decoration: @oui-sidebar-link-text-decoration;
  font-size: @oui-sidebar-link-font-size;
  font-weight: @oui-sidebar-link-font-weight;
  color: @oui-sidebar-link-font-color;
  border: none;
  border-left: @oui-sidebar-link-border-color solid @oui-sidebar-link-border-width;
  background-color: @oui-sidebar-link-background-color;

  // Add arrow if link has popup
  &[aria-haspopup="true"] {
    padding-right: @oui-sidebar-arrow-padding !important;
  }

  &[aria-haspopup="true"]::after {
    content: @oui-sidebar-arrow-content;
    font-family: @oui-sidebar-arrow-font-family;
    font-size: @oui-sidebar-arrow-size;
    font-weight: normal;
    color: @oui-sidebar-arrow-color;
    padding: 0;
    position: absolute;
    top: 50%;
    right: @oui-sidebar-arrow-spacing;
    transform: translateY(-50%);
  }

  &[aria-expanded="true"]::after {
    content: @oui-sidebar-arrow-content_active;
  }

  a&,
  button& {
    cursor: pointer;

    &:hover,
    &:focus {
      color: @oui-sidebar-link-font-color_hover;
      border-left-color: @oui-sidebar-link-border-color_hover;
      text-decoration: @oui-sidebar-link-text-decoration_hover;
    }

    &:focus {
      #oui > .outline-border-inner();
    }

    &_active {
      background-color: @oui-sidebar-link-background-color_active;
    }

    &_active,
    &[aria-expanded="true"] {
      font-weight: @oui-sidebar-link-font-weight_active;
      color: @oui-sidebar-link-font-color_active;
      border-left-color: @oui-sidebar-link-border-color_active;
      text-decoration: @oui-sidebar-link-text-decoration_active;
    }

    // Propagate the border on children
    &[aria-expanded="true"] ~ .oui-sidebar-menu .oui-sidebar-link {
      border-left-color: @oui-sidebar-link-border-color_active;

      &:hover {
        border-left-color: @oui-sidebar-link-border-color_hover;
      }
    }
  }
}

.oui-sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;

  // List items
  &__item {
    display: block;
    margin: 0;

    &_active > .oui-sidebar-link { color: @oui-sidebar-link-font-color_active; }
  }
}

.oui-sidebar-menu {
  width: 100%;
  height: 100%;
  box-sizing: inherit;
  overflow: auto;
  display: flex;
  flex-direction: column;

  // Collapsible Menu
  [aria-expanded] ~ & {
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: height @oui-sidebar-transition-delay ease-out;
  }

  [aria-expanded="true"] ~ & {
    height: auto;
    visibility: visible;
    pointer-events: auto;
  }

  // Add a delay for visibility with animation property
  [aria-expanded="false"] ~ & {
    visibility: hidden;
    animation: @oui-sidebar-transition-delay delay-visibility;
  }

  @keyframes delay-visibility {
    from { visibility: visible; }
  }
}
