// Action-Menu
@oui-action-button-size: rem-calc(36);

@oui-action-button-background-color: @oui-color-white;
@oui-action-button-background-color_active: @oui-color-concrete;
@oui-action-button-background-color_hover: @oui-color-pacific;
@oui-action-button-background-color_disabled: @oui-color-concrete;

@oui-action-button-border-color: @oui-color-silver;
@oui-action-button-border-color_active: @oui-color-dusty;
@oui-action-button-border-color_hover: @oui-color-pacific;
@oui-action-button-border-color_disabled: @oui-color-concrete;

@oui-action-button-border-radius: 50%;
@oui-action-button-border-size: 1px;

@oui-action-button-box-shadow_focus: 0 0 3px 1px fade(@oui-color-pacific, 60%);
@oui-action-button-box-shadow_active: inset 1px 1px 4px 0 fade(@oui-color-black, 33%);

@oui-action-button-foreground-color: @oui-color-pacific;
@oui-action-button-foreground-color_active: @oui-color-sapphire;
@oui-action-button-foreground-color_hover: @oui-color-white;
@oui-action-button-foreground-color_disabled: @oui-color-silver;
