@import (reference) '@ovh/ui-kit.core/less/_mixins';
@import (reference) '@ovh/ui-kit.button/less/_mixins';
@import (reference) './_variables';
@import './_normalize';

.oui-action-button {
  #oui > .button-hollow();

  min-width: @oui-action-button-size;
  width: @oui-action-button-size;
  height: @oui-action-button-size;
  padding: 0;
  overflow: visible;
  border: 1px solid @oui-action-button-border-color;
  border-radius: 50%;
  background-color: @oui-action-button-background-color;

  circle {
    #oui > .animate();

    fill: @oui-action-button-foreground-color;
  }

  &[aria-expanded="true"] {
    border-color: @oui-action-button-border-color_active;
    background-color: @oui-action-button-background-color_active;
  }

  &:hover {
    border-color: @oui-action-button-border-color_hover;
    background-color: @oui-action-button-background-color_hover;

    circle {
      fill: @oui-action-button-foreground-color_hover;
      transform-origin: center;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px fade(@oui-color-pacific, 60%);
  }

  &:active {
    box-shadow: inset 1px 1px 4px 0 fade(#000, 33%);
  }

  &:disabled {
    cursor: default;
    box-shadow: none;
    border-color: @oui-action-button-border-color_disabled;
    background-color: @oui-action-button-background-color_disabled;

    circle {
      fill: @oui-action-button-foreground-color_disabled;
    }
  }
}

/* Deprecated: Still in use... */
.oui-action-menu {
  &:extend(.oui-dropdown-menu all);

  &-button {
    &:extend(.oui-action-button all);
  }
}
