// Collapsible
@oui-collapsible-inactive-color: @oui-color-foam;
@oui-collapsible-active-color: @oui-color-charlotte;

// Collapsible - Header
@oui-collapsible-header-height: rem-calc(40px);
@oui-collapsible-header-padding: 0 rem-calc(14) 0 rem-calc(19);

// Collapsible - Label
@oui-collapsible-label-color: @oui-color-sapphire;

// Collapsible - Icon
@oui-collapsible-icon-color: @oui-color-sapphire;
