// Accessibility
@oui-a11y-outline-color: @as-500;
@oui-a11y-outline-offset: 1px;
@oui-a11y-outline-style: dashed;
@oui-a11y-outline-width: 2px;
@oui-a11y-outline-radius: calc(@base-border-radius-medium + @oui-a11y-outline-offset);
