// Status
@oui-status-background-color: transparent;
@oui-status-font-color: @p-800-text;

// Status - Notification
@oui-status-background-color_info: @p-100;
@oui-status-background-color_error: @ae-300;
@oui-status-background-color_warning: @aw-300;
@oui-status-background-color_success: @as-300;

@oui-status-font-color_info: @p-800-text;
@oui-status-font-color_error: @ae-500;
@oui-status-font-color_warning: @aw-500;
@oui-status-font-color_success: @as-500;

// Status - Product
@oui-status-background-color_alpha: @product-alpha;
@oui-status-background-color_beta: @product-beta;
@oui-status-background-color_new: @product-new;
@oui-status-background-color_soon: @product-soon;
@oui-status-background-color_promotion: @product-promotion;
@oui-status-background-color_price-drop: @product-price-drop;
@oui-status-background-color_sold-out: @product-sold-out;
@oui-status-background-color_best-seller: @product-best-seller;
@oui-status-background-color_limited-edition: @product-limited-edition;

@oui-status-font-color_alpha: @p-800;
@oui-status-font-color_beta: @p-800;
@oui-status-font-color_new: @p-800;
@oui-status-font-color_soon: @p-800-text;
@oui-status-font-color_promotion: @promotion-500-text;
@oui-status-font-color_price-drop: @p-800;
@oui-status-font-color_sold-out: @p-800-text;
@oui-status-font-color_best-seller: @p-500;
@oui-status-font-color_limited-edition: @p-000;

// Status - Delivery
@oui-status-background-color_delivery-120-seconds: @delivery-120-seconds;
@oui-status-background-color_delivery-24-hours: @delivery-24-hours;
@oui-status-background-color_delivery-72-hours: @delivery-72-hours;
@oui-status-background-color_delivery-10-days: @delivery-10-days;

@oui-status-font-color_delivery-120-seconds: @p-000;
@oui-status-font-color_delivery-24-hours: @p-000;
@oui-status-font-color_delivery-72-hours: @p-800;
@oui-status-font-color_delivery-10-days: @p-800;
