// Dropdown
.oui-dropdown {
  margin: 0;
  display: inline-block;
  white-space: normal;

  &__trigger {
    max-width: @oui-dropdown-menu-max-width;
    margin: 0;
    vertical-align: middle;
  }
}

// Dropdown option
.oui-dropdown-option {
  width: 100%;
  line-height: @oui-dropdown-item-line-height;
  display: block;
  padding: @oui-dropdown-item-padding;
  text-align: left;
  font-size: @oui-dropdown-item-font-size;
  font-weight: @oui-dropdown-item-font-weight;
  color: @oui-dropdown-item-font-color;
  border: none;
  background-color: @oui-dropdown-item-background-color;

  &,
  &:focus,
  &:hover {
    #oui > .animate();

    text-decoration: none;
  }

  &:focus {
    #oui > .outline-border();
  }

  &:hover,
  &:focus {
    background-color: @oui-dropdown-item-background-color_active;
    color: @oui-dropdown-item-font-color_active;
  }

  &:disabled {
    background-color: @oui-dropdown-item-background-color;
    color: @oui-dropdown-item-font-color_disabled;
  }

  .oui-icon {
    padding: @oui-dropdown-item-icon-padding;
    font-size: @oui-dropdown-item-icon-size;
    color: @oui-dropdown-item-icon-color;
  }
}

// Dropdown menu
.oui-dropdown-menu {
  min-width: @oui-dropdown-menu-min-width;
  max-width: @oui-dropdown-menu-max-width;
  display: none;
  margin: @oui-dropdown-menu-margin;
  position: relative;
  list-style: none;
  text-align: initial;
  box-shadow: @oui-dropdown-menu-box-shadow;
  border: @oui-dropdown-menu-border-width @oui-dropdown-menu-border-color solid;
  background-color: @oui-dropdown-menu-background-color;
  z-index: @oui-dropdown-menu-zindex;

  // Item
  & > &__item:first-child,
  & > &__arrow + &__item {
    margin-top: @oui-dropdown-menu-spacing;
  }

  & > &__item:last-child {
    margin-bottom: @oui-dropdown-menu-spacing;
  }

  &__item_sticky {
    margin-top: @oui-dropdown-menu-spacing;
    padding-top: @oui-dropdown-menu-spacing;
    border-top: @oui-dropdown-menu-border-width @oui-dropdown-menu-border-color solid;

    .oui-dropdown-option {
      font-weight: @oui-font-semibold;
    }
  }

  // Separator
  &__divider {
    height: @oui-dropdown-menu-border-width;
    margin: @oui-dropdown-menu-spacing 0;
    display: block;
    background-color: @oui-dropdown-menu-border-color;
  }

  // Active / Expanded
  [aria-expanded="true"] ~ & {
    display: block;
  }

  // Arrow variant
  &_arrow {
    .oui-dropdown-menu__arrow {
      position: absolute;
      width: @oui-dropdown-arrow-size * 2;

      &::before,
      &::after {
        position: absolute;
        content: " ";
        width: 0;
        height: 0;
      }

      &::before {
        border: @oui-dropdown-arrow-size transparent solid;
      }

      &::after {
        border: @oui-dropdown-arrow-inner-size transparent solid;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: @oui-dropdown-arrow-size + @oui-dropdown-menu-spacing;

      .oui-dropdown-menu__arrow {
        margin: 0 @oui-dropdown-arrow-margin;
        bottom: 100%;
        border-bottom-color: @oui-dropdown-menu-border-color;

        &::before {
          left: 0;
          bottom: 100%;
          border-bottom-color: @oui-dropdown-menu-border-color;
        }

        &::after {
          left: @oui-dropdown-arrow-diff-size;
          bottom: 100%;
          border-bottom-color: @oui-dropdown-menu-background-color;
        }
      }
    }

    &[x-placement^="left"] {
      margin-right: @oui-dropdown-arrow-size + @oui-dropdown-menu-spacing;

      .oui-dropdown-menu__arrow {
        margin: @oui-dropdown-arrow-margin 0;
        left: 100%;
        border-left-color: @oui-dropdown-menu-border-color;

        &::before {
          top: 0;
          border-left-color: @oui-dropdown-menu-border-color;
        }

        &::after {
          top: @oui-dropdown-arrow-diff-size;
          border-left-color: @oui-dropdown-menu-background-color;
        }
      }
    }

    &[x-placement^="right"] {
      margin-left: @oui-dropdown-arrow-size + @oui-dropdown-menu-spacing;

      .oui-dropdown-menu__arrow {
        margin: @oui-dropdown-arrow-margin 0;
        border-right-color: @oui-dropdown-menu-border-color;

        &::before {
          top: 0;
          right: 100%;
          border-right-color: @oui-dropdown-menu-border-color;
        }

        &::after {
          right: 100%;
          top: @oui-dropdown-arrow-diff-size;
          border-right-color: @oui-dropdown-menu-background-color;
        }
      }
    }

    &[x-placement^="top"] {
      margin-bottom: @oui-dropdown-arrow-size + @oui-dropdown-menu-spacing;

      .oui-dropdown-menu__arrow {
        margin: 0 @oui-dropdown-arrow-margin;
        top: 100%;
        border-top-color: @oui-dropdown-menu-border-color;

        &::before {
          left: 0;
          top: 100%;
          border-top-color: @oui-dropdown-menu-border-color;
        }

        &::after {
          left: @oui-dropdown-arrow-diff-size;
          top: 100%;
          border-top-color: @oui-dropdown-menu-background-color;
        }
      }
    }

    &[x-placement="top-start"] .oui-dropdown-menu__arrow,
    &[x-placement="bottom-start"] .oui-dropdown-menu__arrow {
      left: 0;
    }

    &[x-placement="top-end"] .oui-dropdown-menu__arrow,
    &[x-placement="bottom-end"] .oui-dropdown-menu__arrow {
      left: ~"calc(100% - 2 * (@{oui-dropdown-arrow-size} + @{oui-dropdown-arrow-margin}))";
    }

    &[x-placement="left-end"] .oui-dropdown-menu__arrow,
    &[x-placement="right-end"] .oui-dropdown-menu__arrow {
      top: ~"calc(100% - 2 * (@{oui-dropdown-arrow-size} + @{oui-dropdown-arrow-margin}))";
    }
  }
}

// Dropdown group
.oui-dropdown-group {
  &__label {
    line-height: @oui-dropdown-label-line-height;
    margin: 0;
    display: block;
    padding: @oui-dropdown-label-padding;
    font-size: @oui-dropdown-label-font-size;
    font-weight: @oui-dropdown-label-font-weight;
    color: @oui-dropdown-label-font-color;
    background-color: @oui-dropdown-label-background-color;
  }

  .oui-dropdown-menu > &:first-child,
  .oui-dropdown-menu > .oui-dropdown-menu__arrow + & {
    margin-top: @oui-dropdown-menu-spacing;
  }

  .oui-dropdown-menu > &:last-child {
    margin-bottom: @oui-dropdown-menu-spacing;
  }
}

oui-dropdown {
  &:extend(.oui-dropdown);

  &-trigger,
  &-content,
  &-group,
  &-item,
  &-divider {
    display: block;
  }
}
