// Clipboard
@oui-clipboard-font-color: @oui-input-font-color;
@oui-clipboard-box-shadow: @oui-input-box-shadow;
@oui-clipboard-box-shadow_focus: @oui-input-box-shadow_focus;
@oui-clipboard-border-color: @oui-input-border-color;
@oui-clipboard-border-color_hover: @oui-input-border-color_hover;
@oui-clipboard-border-color_focus: @oui-input-border-color_focus;
@oui-clipboard-border-radius: @oui-global-base-radius;
@oui-clipboard-background-color: @oui-input-background-color;
@oui-clipboard-background-color_focus: @oui-input-background-color_focus;

// Clipboard - Button
@oui-clipboard-button-width: @oui-input-group-button-min-width;
