@import (reference) '~@ovh/ui-kit.core/src/less/_mixins';
@import (reference) '~@ovh/ui-kit.input-group/src/less/input-group';

// Clipboard
.oui-clipboard {
  &:extend(.oui-input-group all);

  display: block;
  position: relative;

  .oui-input {
    #oui > .text-ellipsis();

    cursor: pointer;
    margin: 0;
    padding-right: @oui-input-group-button-min-width;
    color: @oui-input-font-color;
    box-shadow: @oui-input-shadow;
    border-color: @oui-input-border-color;
    background-color: @oui-input-background-color;

    &:hover {
      border-color: @oui-input-border-color-hover;
    }

    &:focus {
      #oui > .animate();

      transition-property: border-color, box-shadow, background-color;
      border-color: @oui-input-border-color-focus;
      outline: none;
      box-shadow: @oui-input-shadow-focus;
      background-color: @oui-input-background-color-focus;
      text-decoration: none;
    }
  }

  .oui-button {
    transition: none;

    &,
    &:hover,
    &:focus {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      min-width: @oui-input-group-button-min-width;
      width: auto;
      border-color: transparent;
      background: transparent;
      box-shadow: none;
      z-index: 2; // Avoid to be hidden by inputs
    }
  }

  .oui-icon {
    display: block;
    color: inherit;
    font-size: inherit;
  }
}

oui-clipboard {
  &:extend(.oui-clipboard all);
}
