// Clipboard
.oui-clipboard {
  &:extend(.oui-input-overlay all);

  width: 100%;
  display: block;

  .oui-input:read-only {
    #oui > .control-color();
    #oui > .text-ellipsis();
  }

  &_inline {
    display: inline-block;
    width: auto;
  }
}

oui-clipboard {
  &:extend(.oui-clipboard all);
}
