@import "./_mixins";
@import "./_variables";

// Color badges
.oui-color-badge {
  #oui > .color-badge-themes();

  position: relative;
  border: 1px solid @oui-color-badge-border-color;
  display: inline-block;
  width: @oui-color-badge-palette-size;
  max-width: 100%;
  margin: @oui-color-badge-spacing;
  padding: 0;
  padding-bottom: rem-calc(12);
  box-shadow: @oui-color-badge-box-shadow;

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: @oui-color-badge-palette-size;
  }

  &__prop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: @oui-color-badge-prop-font-size;
    text-align: center;

    &:first-child,
    &:last-child {
      margin: rem-calc(5) 0 0;
    }
  }

  &_variant {
    margin-top: rem-calc(50);
    padding-top: rem-calc(22);

    &::before {
      border-radius: 50%;
      width: @oui-color-badge-palette-size;
      height: @oui-color-badge-palette-size;
      top: rem-calc(-40);
      left: rem-calc(42);
    }
  }

  &_white::before {
    border: solid 1px @oui-color-badge-palette-border-color;
  }
}
