@import "./_mixins";
@import "./_variables";

// Icon badge
.oui-icon-badge {
  width: rem-calc(144);
  display: inline-block;
  border: 1px solid @oui-color-dusty;
  margin: rem-calc(15);
  padding: 0;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 rem-calc(4) rem-calc(6) rgba(0, 0, 0, 0.06);

  &__preview {
    height: rem-calc(144);
    line-height: rem-calc(144);
    background-color: @oui-color-iron;
    text-align: center;
  }

  &__code {
    padding: rem-calc(16);
    font-size: rem-calc(12);
    text-align: center;
  }
}
