// Dropdown - Menu
@oui-dropdown-menu-background-color: #fff;
@oui-dropdown-menu-border-width: 1px;
@oui-dropdown-menu-border-color: @oui-color-silver;
@oui-dropdown-menu-spacing: rem-calc(4);
@oui-dropdown-menu-box-shadow: 0 4px 6px 0 @oui-color-info-fade;
@oui-dropdown-menu-min-width: rem-calc(140);
@oui-dropdown-menu-max-width: rem-calc(300);
@oui-dropdown-menu-zindex: 100;

// Dropdown - Arrow
@oui-dropdown-arrow-size: rem-calc(10);
@oui-dropdown-arrow-center-position: rem-calc(17);
@oui-dropdown-arrow-margin: @oui-dropdown-arrow-center-position - @oui-dropdown-arrow-size;
@oui-dropdown-arrow-border-width: 2px;
@oui-dropdown-arrow-diff-size: sqrt(2 * @oui-dropdown-arrow-border-width);
@oui-dropdown-arrow-inner-size: ~"calc(@{oui-dropdown-arrow-size} - @{oui-dropdown-arrow-diff-size})";

// Dropdown - Label
@oui-dropdown-label-line-height: rem-calc(18);
@oui-dropdown-label-background-color: @oui-color-alabaster;
@oui-dropdown-label-padding: rem-calc(6) rem-calc(20);
@oui-dropdown-label-font-color: @oui-color-sapphire;
@oui-dropdown-label-font-size: rem-calc(14);
@oui-dropdown-label-font-weight: @oui-font-semibold;

// Dropdown - Item
@oui-dropdown-item-height: rem-calc(40);
@oui-dropdown-item-line-height: rem-calc(22);
@oui-dropdown-item-background-color: #fff;
@oui-dropdown-item-background-color_active: @oui-color-foam;
@oui-dropdown-item-padding: rem-calc(9) rem-calc(20);
@oui-dropdown-item-font-color: @oui-color-sapphire;
@oui-dropdown-item-font-color_active: @oui-color-sapphire;
@oui-dropdown-item-font-color_disabled: @oui-color-dusty;
@oui-dropdown-item-font-size: rem-calc(16);
@oui-dropdown-item-font-weight: @oui-font-regular;
