@import './_variables';

#oui {
  .progress-tracker(
    @selector,
    @font-color: @oui-progress-tracker-font-color,
    @font-color-active: @oui-progress-tracker-font-color-active,
    @font-color-complete: @oui-progress-tracker-font-color-complete,
    @font-size: @oui-progress-tracker-font-size,
    @label-color: @oui-progress-tracker-label-color,
    @label-color-active: @oui-progress-tracker-label-color-active,
    @label-color-complete: @oui-progress-tracker-label-color-complete,
    @background-color: @oui-progress-tracker-background-color,
    @background-color-active: @oui-progress-tracker-background-color-active,
    @background-color-complete: @oui-progress-tracker-background-color-complete,
    @connector-spacing: @oui-progress-tracker-connector-spacing,
    @container-margin: @oui-progress-tracker-container-margin
  ) {
    margin: @container-margin;
    counter-reset: oui-progress-tracker;
    font-size: @font-size;
    font-weight: @oui-font-regular;

    &__step_container, &__label_container {
      display: flex;
      list-style-type: none;
      padding: 0;
    }

    &__step, &__label {
      position: relative;
      flex: 1 1 0%;
      cursor: default;
      pointer-events: initial;

      &_disabled {
        pointer-events: none;
      }
    }

    &__step {
      &:not(:last-child)::after {
        position: absolute;
        content: "";
        width: 100%;
        background-color: @background-color;
        top: rem-calc(13);
        height: rem-calc(4);
        background-clip: content-box;
        padding-left: ~"calc(@{font-size} * 2 + @{connector-spacing})";
        padding-right: @connector-spacing;
      }
    }

    &__status {
      display: flex;
      justify-content: center;
      align-items: center;
      color: @label-color;
      width: ~"calc(@{font-size} * 2)";
      height: ~"calc(@{font-size} * 2)";
      border-radius: 50%;
      background-color: @background-color;

      &::after {
        content: counter(oui-progress-tracker);
        counter-increment: oui-progress-tracker;
      }

      &, &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
        color: @label-color;
      }
    }

    &__label {
      padding-right: rem-calc(30);
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      color: @label-color;
    }

    &__label > * {
      color: inherit !important;
    }

    &__step_complete {
      .@{selector}__status {
        color: @font-color-complete;
        font-weight: @oui-font-semibold;
        background-color: @background-color-complete;

        &::after {
          content: @oui-icon-index-check_line;
          font-family: "Oui Icons"
        }
      }

      &:not(:last-child)::after {
        background-color: @background-color-complete;
      }
    }

    &__label_complete {
      color: @label-color-complete;
      font-weight: @oui-font-semibold;
    }

    &__step_active {
      .@{selector}__status {
        color: @font-color-active;
        font-weight: @oui-font-semibold;
        background-color: @background-color-active;
      }
    }

    &__label_active {
      color: @label-color-active;
      font-weight: @oui-font-semibold;
    }

    @media only screen and (max-width: 1280px) {
      &__label {
        display: none;
      }

      &__step:last-child {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: ~"calc(@{font-size} * 2)";
      }

      &__label_active {
        display: block;
        text-align: center;
        padding: 0;
      }
    }
  }
}
