//Font
@oui-progress-tracker-font-color: @oui-color-silver;
@oui-progress-tracker-font-color-active: #fff;
@oui-progress-tracker-font-color-complete: @oui-color-turquoise;
@oui-progress-tracker-font-size: rem-calc(15);

// Items
@oui-progress-tracker-item-max-width: rem-calc(200);
@oui-progress-tracker-item-padding: rem-calc(13) rem-calc(28) rem-calc(13) rem-calc(60);

// Container
@oui-progress-tracker-container-background-color: @oui-color-fiord;
@oui-progress-tracker-container-height: rem-calc(65);
@oui-progress-tracker-container-margin: 0 0 rem-calc(20);
