//Font
@oui-progress-tracker-font-color: @oui-color-dusty;
@oui-progress-tracker-font-color-active: #fff;
@oui-progress-tracker-font-color-complete: #fff;
@oui-progress-tracker-font-size: rem-calc(15);

//Label
@oui-progress-tracker-label-color: @oui-color-silver;
@oui-progress-tracker-label-color-active: @oui-color-sapphire;
@oui-progress-tracker-label-color-complete: @oui-color-sapphire;

//Background
@oui-progress-tracker-background-color: @oui-color-nurse;
@oui-progress-tracker-background-color-active: @oui-color-sapphire;
@oui-progress-tracker-background-color-complete: @oui-color-success-medium;

//Connector
@oui-progress-tracker-connector-spacing: rem-calc(5);

// Container
@oui-progress-tracker-container-margin: 0 0 rem-calc(20);
