@import './_variables';
@import './_normalize';

.oui-progress-tracker {
  #oui > .progress-tracker-normalize();

  margin: @oui-progress-tracker-container-margin;
  counter-reset: oui-progress-tracker;
  font-size: @oui-progress-tracker-font-size;
  font-weight: @oui-font-regular;

  &__steps {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  &__step {
    position: relative;
    flex: 1 1 0%;
    cursor: default;
    pointer-events: initial;

    &_disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &__step {
    &:not(:last-child)::after {
      content: "";
      height: .25rem;
      margin: 0 @oui-progress-tracker-connector-spacing;
      position: absolute;
      top: .8125rem;
      left: @oui-progress-tracker-icon-height;
      right: 0;
      background-color: @oui-progress-tracker-background-color;
    }
  }

  &__status {
    padding-right: 1.875rem;
    margin-top: ~"calc(@{oui-progress-tracker-icon-height} + @{oui-progress-tracker-icon-spacing})";
    display: block;
    text-align: left;
    color: @oui-progress-tracker-label-color;

    &::before {
      content: counter(oui-progress-tracker);
      counter-increment: oui-progress-tracker;
      width: @oui-progress-tracker-icon-height;
      height: @oui-progress-tracker-icon-height;
      line-height: @oui-progress-tracker-icon-height;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      font-size: @oui-progress-tracker-icon-size;
      font-weight: @oui-font-semibold;
      color: @oui-progress-tracker-font-color;
      border-radius: 50%;
      background-color: @oui-progress-tracker-background-color;
    }
  }

  &__label {
    line-height: @oui-progress-tracker-label-line-height;
    max-height: ~"calc(@{oui-progress-tracker-font-size} * @{oui-progress-tracker-label-line-height} * 2)";
    overflow: hidden;
    display: block;
    margin-top: .625rem;
    word-break: break-work;
    hyphens: auto;
    font-weight: @oui-font-semibold;
  }

  &__step_complete {
    .oui-progress-tracker__status {
      color: @oui-progress-tracker-label-color-complete;
      font-weight: @oui-font-semibold;
    }

    .oui-progress-tracker__status::before {
      content: @oui-icon-index-check_line;
      font-family: "Oui Icons";
      color: @oui-progress-tracker-font-color-complete;
      font-size: @oui-progress-tracker-icon-size_success;
      background-color: @oui-progress-tracker-background-color-complete;
    }

    &:not(:last-child)::after {
      background-color: @oui-progress-tracker-background-color-complete;
    }
  }

  &__step_active &__status {
    color: @oui-progress-tracker-label-color-active;
    font-weight: @oui-font-semibold;

    &::before {
      color: @oui-progress-tracker-font-color-active;
      font-weight: @oui-font-semibold;
      background-color: @oui-progress-tracker-background-color-active;
    }
  }

  @media only screen and (max-width: 1280px) {
    margin-bottom: 3.25rem;

    &__steps { position: relative; }

    &__step {
      #oui > .text-ellipsis();

      display: flex;
      align-items: center;
      position: static;
      overflow: visible;

      &:not(:last-child)::after {
        flex: 1;
        position: static;
      }

      &:last-child {
        flex: 0;

        &::after { display: none; }
      }
    }

    &__label {
      #oui > .text-ellipsis();

      display: none;
    }

    &__step_active &__label {
      display: block;
      text-align: center;
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
    }

    &__status {
      padding-right: 0;
      margin-top: 0;
      flex: 0;

      &::before { position: static; }
    }
  }
}
