// Chips
@oui-chip-height: rem-calc(30);
@oui-chip-padding: 0 rem-calc(10);
@oui-chip-border-radius: rem-calc(10);
@oui-chip-font-color: @oui-color-sapphire;
@oui-chip-font-size: rem-calc(16);
@oui-chip-font-weight: @oui-font-regular;
@oui-chip-background-color: @oui-color-foam;

@oui-chip-close-icon-size: rem-calc(12);

@oui-chip-container-margin: 0 0 rem-calc(10);
@oui-chip-container-padding: rem-calc(5) rem-calc(18);
@oui-chip-container-item-spacing: rem-calc(5) rem-calc(2);
@oui-chip-container-background-color: #fff;
@oui-chip-container-border-color: @oui-color-nurse;
@oui-chip-container-border-size: 1px;
