.oui-chip__container {
  margin: @oui-chip-container-margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding: @oui-chip-container-padding;
  background-color: @oui-chip-container-background-color;
  border: @oui-chip-container-border-size solid @oui-chip-container-border-color;
}

oui-chips {
  &:extend(.oui-chip__container);
}

.oui-chip {
  #oui > .base-font();
  #oui > .text-ellipsis();

  max-width: 100%;
  line-height: @oui-chip-height;
  display: inline-block;
  padding: @oui-chip-padding;
  position: relative;
  font-size: @oui-chip-font-size;
  font-weight: @oui-chip-font-weight;
  color: @oui-chip-font-color;
  border: none;
  border-radius: @oui-chip-border-radius;
  background-color: @oui-chip-background-color;

  &__container & { margin: @oui-chip-container-item-spacing; }

  &__close {
    width: @oui-chip-height;
    height: @oui-chip-height;
    padding: 0;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    color: inherit;
    text-align: center;
    font-size: @oui-chip-close-icon-size;
    border: none;
    background: none;

    &:focus {
      #oui > .outline-border();
    }

    .oui-icon {
      color: inherit;
      font-size: inherit;
    }
  }

  &_closable { padding-right: @oui-chip-height; }

  &_closable &__close {
    display: flex; // For a better vertical centering
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &_full-width { width: 100%; }
}
