@oui-stepper-margin: 0 0 1.25rem;
@oui-stepper-font-color: @oui-color-shuttle;
@oui-stepper-font-size: 1rem;
@oui-stepper-font-weight: @oui-font-regular;

@oui-stepper-step-padding: 1.25rem;
@oui-stepper-step-separator: 1px solid @oui-color-silver;

@oui-stepper-step-container-padding-left: 3.125rem;

@oui-stepper-step-icon-background: @oui-color-sapphire;
@oui-stepper-step-icon-background_complete: @oui-color-success-medium;
@oui-stepper-step-icon-background_disabled: #e1e2e3;
@oui-stepper-step-icon-color: #fff;
@oui-stepper-step-icon-color_complete: #fff;
@oui-stepper-step-icon-color_disabled: @oui-color-dusty;
@oui-stepper-step-icon-font-size: 1.25rem;
@oui-stepper-step-icon-font-weight: @oui-font-semibold;
@oui-stepper-step-icon-size: 1.875rem;
@oui-stepper-step-icon-top: .3125rem;

@oui-stepper-step-title-line-height: 1.375rem;
@oui-stepper-step-title-color: @oui-color-sapphire;
@oui-stepper-step-title-color_complete: @oui-color-sapphire;
@oui-stepper-step-title-color_disabled: #b3b3b3;
@oui-stepper-step-title-font-size: 1rem;
@oui-stepper-step-title-font-weight: @oui-font-semibold;

@oui-stepper-step-optional-color: @oui-color-sapphire;
@oui-stepper-step-optional-color_disabled: #b3b3b3;
@oui-stepper-step-optional-font-size: .875rem;
@oui-stepper-step-optional-font-weight: @oui-font-regular;
@oui-stepper-step-optional-spacing: .3125rem;

@oui-stepper-step-description-spacing: .9375rem;

@oui-stepper-step-loading-spacing: .625rem;
