ul,
ol {
  margin: @oui-list-spacing;
}

.oui-list {
  padding: @oui-list-padding;
  margin: @oui-list-spacing;

  &__header {
    display: block;
    padding: @oui-list-header-padding;
    color: @oui-list-header-color;
    font-weight: @oui-list-header-font-weight;
    font-size: @oui-list-header-font-size;
  }

  &__header:not(a) {
    cursor: default;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__group,
  &__item {
    border-bottom: @oui-list-item-border;
  }

  &__item_current {
    background-color: @oui-list-link-active-background-color;
  }

  &__text {
    display: block;
    padding: @oui-list-item-padding;
    font-size: @oui-list-font-size;
    cursor: default;
  }

  &__link {
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      #oui > .link();

      display: block;
      width: 100%;
      padding: @oui-list-item-padding;
      overflow: hidden;
      color: @oui-list-link-color;
      font-size: @oui-list-font-size;
      font-weight: @oui-list-font-weight;
      text-align: left;
    }
  }

  &__item_current > &__link {
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: @oui-list-link-active-color;
      font-weight: @oui-list-link-active-font-weight;
      text-decoration: none;
      cursor: default;
    }
  }

  &__sub-items {
    margin: 0;
    padding: 0 0 0 @oui-list-item-indent;
    border-bottom: none;
    list-style: none;
  }
}

// Nav variant
.oui-list_nav {
  padding: @oui-list-nav-padding;
  background-color: @oui-list-nav-background-color;

  .oui-list__header {
    padding: @oui-list-nav-header-padding;
    color: @oui-list-nav-header-color;
    font-weight: @oui-list-nav-header-font-weight;
    font-size: @oui-list-nav-header-font-size;
  }

  // stylelint-disable no-descending-specificity
  .oui-list__group,
  .oui-list__item,
  .oui-list__sub-item,
  .oui-list__link,
  .oui-list__text {
    #oui > .text-ellipsis();
  }
  // stylelint-enable no-descending-specificity

  .oui-list__group,
  .oui-list__item {
    border-bottom: @oui-list-nav-item-border;
  }

  .oui-list__sub-items {
    padding: 0;
  }

  // Needed to get the background on all the line
  .oui-list__sub-item {
    text-indent: @oui-list-nav-item-indent;

    .oui-list__sub-item {
      text-indent: @oui-list-nav-item-indent * 2;

      .oui-list__sub-item {
        text-indent: @oui-list-nav-item-indent * 3;
      }
    }
  }

  .oui-list__item_current {
    background-color: @oui-list-nav-link-active-background-color;
  }

  .oui-list__text {
    padding: @oui-list-nav-item-padding;
    font-size: @oui-list-nav-font-size;
  }

  // stylelint-disable no-descending-specificity
  .oui-list__link {
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      padding: @oui-list-nav-item-padding;
      outline: 0;
      color: @oui-list-nav-link-color;
      font-size: @oui-list-nav-font-size;
      font-weight: @oui-list-nav-font-weight;
      text-decoration: none;
    }

    &:hover {
      background-color: @oui-list-nav-background-color_hover;
    }

    &:focus {
      background-color: @oui-list-nav-background-color_focus;
    }
  }
  // stylelint-enable no-descending-specificity

  .oui-list__item_current > .oui-list__link {
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: @oui-list-nav-link-active-color;
      font-weight: @oui-list-nav-link-active-font-weight;
    }
  }
}

// Separated variant
.oui-list_separated {
  .oui-list__item {
    border-bottom: @oui-list-separated-separator-size solid @oui-list-separated-separator-color;

    &:last-child {
      border-bottom: none;
    }
  }
}
