#oui {

.skeleton_auto(
    @selector: @oui-skeleton-selector,
    @width: @oui-skeleton-width-auto,
  ) {
    .@{selector}__loader {
      width: @width;
    }
  }

  .skeleton_xs(
    @selector: @oui-skeleton-selector,
    @width: @oui-skeleton-width-xs,    
  ) {
    .@{selector}__loader {
      width: @width;
    }
  }

  .skeleton_s(
    @selector: @oui-skeleton-selector,
    @width: @oui-skeleton-width-s,
  ) {
    .@{selector}__loader {
      width: @width;
    }
  }

  .skeleton_m(
    @selector: @oui-skeleton-selector,
    @width: @oui-skeleton-width-m,    
  ) {
    .@{selector}__loader {
      width: @width;
    }
  }

.skeleton_l(
    @selector: @oui-skeleton-selector,
    @width: @oui-skeleton-width-l,
  ) {
    .@{selector}__loader {
      width: @width;
    }
  }

  .skeleton_xl(
    @selector: @oui-skeleton-selector,
    @width: @oui-skeleton-width-xl,
  ) {
    .@{selector}__loader {
      width: @width;
    }
  }
}
