@oui-skeleton-background-color: @oui-color-concrete;
@oui-skeleton-background-image: linear-gradient(-90deg, @oui-color-concrete 0%, @oui-color-nurse 46%, @oui-color-nurse 61%, @oui-color-concrete 100%);
@oui-skeleton-background-size: 50% rem-calc(200);
@oui-skeleton-background-position: -200% 0;
@oui-skeleton-border-radius: @oui-skeleton-height;
@oui-skeleton-keyframes-background-position: 200% 0;
@oui-skeleton-height: rem-calc(8);
@oui-skeleton-sizes:
  xs rem-calc(75),
  s rem-calc(150),
  m rem-calc(250),
  l rem-calc(350),
  xl rem-calc(500),
  auto 100%;
