@oui-skeleton-background-color: @oui-color-concrete;
@oui-skeleton-background-image: linear-gradient(-90deg, rgba(250,250,250,0.8) 0%, @oui-color-nurse 46%, @oui-color-nurse 61%, rgba(242,242,242,0.8) 100%);
@oui-skeleton-background-size: 50% rem-calc(200);
@oui-skeleton-background-position: -200% 0;
@oui-skeleton-border-radius: rem-calc(8);
@oui-skeleton-keyframes-background-position: 200% 0;
@oui-skeleton-height: rem-calc(8);
@oui-skeleton-selector: oui-skeleton;
@oui-skeleton-width-auto: 100%;
@oui-skeleton-width-xl: 80%;
@oui-skeleton-width-l: 60%;
@oui-skeleton-width-m: 40%;
@oui-skeleton-width-s: 30%;
@oui-skeleton-width-xs: 20%;
