.oui-dual-list {
  margin: @oui-dual-list-margin;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  @media screen and (max-width: @device-breakpoint-phone-max-width) {
    flex-direction: column;
  }

  &__header {
    #oui > .heading(4);

    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    button& {
      display: none;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;

      @media screen and (max-width: @device-breakpoint-phone-max-width) {
        display: flex;
      }
    }

    header& {
      @media screen and (max-width: @device-breakpoint-phone-max-width) {
        display: none;
      }
    }
  }

  &__heading {
    flex: 1;
    text-align: left;
  }

  &__toggle-icon {
    color: @oui-dual-list-toggle-icon-color;

    &::before {
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      font-size: @oui-dual-list-toggle-icon-size;
      right: @oui-dual-list-toggle-icon-spacing;
      height: @oui-dual-list-toggle-icon-size;
      line-height: @oui-dual-list-toggle-icon-size;
    }
  }

  &__header[aria-expanded="true"] &__toggle-icon::before { transform: rotate(-180deg); }

  &__wrapper {
    height: @oui-dual-list-wrapper-height;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    transition: height 0.2s ease-out;
  }

  &__header[aria-expanded="false"] ~ &__wrapper {
    @media screen and (max-width: @device-breakpoint-phone-max-width) {
      height: 0;
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    margin: @oui-dual-list-search-margin;

    &_centered {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  }

  &__search {
    margin: @oui-dual-list-search-margin;
  }

  &__action {
    margin: @oui-dual-list-action-margin;
    text-align: right;

    @media screen and (max-width: @device-breakpoint-phone-max-width) {
      text-align: left;
    }
  }

  &__search ~ &__body,
  &__action + &__body {
    margin: @oui-dual-list-action-margin;
  }

  &__loading,
  &__placeholder {
    align-self: center;
  }

  &__placeholder {
    margin: 0;
    color: @oui-dual-list-placeholder-font-color;
    font-size: @oui-dual-list-placeholder-font-size;
    font-weight: @oui-dual-list-placeholder-font-weight;
  }

  // Variant
  &-source,
  &-target {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: @oui-dual-list-padding;
    border: @oui-dual-list-border;
    border-radius: @oui-dual-list-border-radius;
    box-shadow: @oui-dual-list-box-shadow;
    background: @oui-dual-list-background;

    @media screen and (max-width: @device-breakpoint-phone-max-width) {
      flex: auto;
    }
  }

  &-source {
    margin-right: @oui-dual-list-spacing;

    @media screen and (max-width: @device-breakpoint-phone-max-width) {
      margin-right: 0;
      margin-bottom: @oui-dual-list-spacing;
    }
  }
}

oui-dual-list {
  &,
  &-source,
  &-target { display: block; }
}
