@import '~@ovh-ux/ui-kit.dropdown/src/less/_variables';

@oui-autocomplete-items-displayed: 5;
@oui-autocomplete-item-height: @oui-dropdown-item-height;
@oui-autocomplete-menu-spacing: @oui-dropdown-menu-spacing;

@oui-autocomplete-highlight-color: inherit;
@oui-autocomplete-highlight-font-weight: @oui-font-bold;
@oui-autocomplete-highlight-background: none;
