.oui-autocomplete {
  &:extend(.oui-dropdown-menu all);

  max-height: calc((@oui-autocomplete-item-height * @oui-autocomplete-items-displayed) + (@oui-autocomplete-menu-spacing * 2));
  overflow-y: auto;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  #oui > .phone({
    max-width: 100%;
  });

  &__option {
    &:extend(.oui-dropdown-option all);

    cursor: pointer;
  }

  &-highlight {
    color: @oui-autocomplete-highlight-color;
    font-weight: @oui-autocomplete-highlight-font-weight;
    background: @oui-autocomplete-highlight-background;
  }
}
