@import "../oui-color/_constants";

@oui-header-tabs-margin: 0 @oui-header-tabs-slider-nav-width;
@oui-header-tabs-border-bottom: none;

@oui-header-tabs-item-padding: rem-calc(10) rem-calc(30);
@oui-header-tabs-item-font-color: @oui-color-sapphire;
@oui-header-tabs-item-font-color_disabled: @oui-color-dusty;
@oui-header-tabs-item-font-size: rem-calc(16);
@oui-header-tabs-item-font-weight: @oui-font-regular;
@oui-header-tabs-item-border-width: rem-calc(4);
@oui-header-tabs-item-border-color:  @oui-color-sapphire;

@oui-header-tabs-icon-spacing: rem-calc(10);
@oui-header-tabs-icon-font-size: rem-calc(12);

// header Tabs - Dropdown
@oui-header-tabs-dropdown-padding: rem-calc(4) 0;
@oui-header-tabs-dropdown-item-padding: rem-calc(8) rem-calc(20);
@oui-header-tabs-dropdown-item-background-color_active: @oui-color-foam;

// header Tabs - Slider nav
@oui-header-tabs-slider-nav-width: rem-calc(44);
@oui-header-tabs-slider-nav-font-color: @oui-color-sapphire;
@oui-header-tabs-slider-nav-font-size: rem-calc(10);
@oui-header-tabs-slider-nav-background-color: darken(@oui-color-nurse, 6.75%);
