@import './_normalize';

.oui-header-tabs {
  #oui > .header-tabs-normalize();

  display: block;

  &__nav {
    position: relative;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0 44px;
    // overflow-x: auto;
    // overflow-y: hidden;
    overflow: hidden;
    padding: 0;

    & > .oui-header-tabs__item {
      margin-left: .25rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__divider {
    background-color: @oui-color-silver;
    display: block;
    height: 1px;
    margin: .25rem 0;

    &:first-child,
    &:last-child {
      display: none;
    }
  }

  &__dropdown-container {
    padding: .25rem 0;
  }

  &__dropdown-container {
    list-style: none;
    margin: 0;
  }

  &__item {
    position: static;

    & > a {
      color: @oui-color-sapphire;
      text-decoration: none;
    }

    & > a,
    & > span,
    .oui-button_dropdown {
      background-color: transparent;
      display: block;
      font-size: 1rem;
      margin: 0;

      .oui-icon {
        color: inherit;
        font-size: .75rem;
        margin-left: .625rem;
      }
    }

    .oui-button_dropdown {
      border: 0 none;
      border-radius: inherit;
      font-weight: normal;
      padding: .625rem 1.875rem;
      transition: none;

      &:active,
      &:focus {
        background-color: transparent;
      }

      .oui-icon {
        overflow: hidden;
        position: static;
        width: auto;
        vertical-align: baseline;

        &::before {
          margin-right: 0;
        }
      }
    }

    &_disabled > span {
      color: @oui-color-dusty;
    }

    &_active .oui-button_dropdown {
      border-bottom: 4px solid;
      padding-bottom: ~"calc(.625rem - 4px)";
    }

    :not(.oui-header-tabs__dropdown-container) > & {
      & > a,
      & > span {
        padding: .625rem 1.875rem;
        white-space: nowrap;
      }

      &_active > a {
        border-bottom: 4px solid;
        padding-bottom: ~"calc(.625rem - 4px)";
      }
    }

    .oui-header-tabs__dropdown-container > & {
      & > a,
      & > span {
        padding: .5rem 1.25rem;
      }

      & > a:hover,
      & > a:focus,
      & > a:active,
      &_active > a {
        background-color: @oui-color-foam;
      }
    }
  }

  &__slider {
    background-color: darken(@oui-color-nurse, 6.75%);
    border: 0 none;
    bottom: 0;
    color: @oui-color-sapphire;
    font-size: .625rem;
    position: absolute;
    top: 0;
    width: 44px;
    z-index: 1;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  .oui-dropdown_active {
    .oui-button_dropdown {
      border-bottom: 4px solid;
      padding-bottom: .375rem;
    }
  }
}
