.oui-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: @oui-pagination-margin;
  font-size: @oui-pagination-font-size;

  @media screen and (max-width: @device-breakpoint-phone-max-width) {
    flex-direction: column-reverse;
    justify-content: inherit;
    align-items: center;
  }

  &-result {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;

    .oui-select {
      margin-right: @oui-pagination-link-spacing;
    }

    .oui-select select.oui-select__input {
      min-width: @oui-pagination-link-min-width;
      padding-right: @oui-pagination-link-icon-width;
      text-align: right;

      ~ .oui-icon {
        min-width: @oui-pagination-link-icon-width;
        width: @oui-pagination-link-icon-width;
        font-size: @oui-pagination-link-icon-size;
      }
    }

    &__text {
      color: @oui-pagination-progress-text-font-color;
    }
  }

  &-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: @oui-pagination-selector-spacing;

    @media screen and (max-width: @device-breakpoint-phone-max-width) {
      margin-bottom: @oui-pagination-selector-spacing_responsive;
      margin-left: 0;
    }

    &__previous {
      margin-right: @oui-pagination-button-spacing;
    }

    &__next {
      margin-left: @oui-pagination-button-spacing;
    }
  }

  &-items {
    &__button {
      border-color: @oui-pagination-button-border-color !important; // Force for every states;

      &_selected {
        opacity: 1 !important; // Force for every states
      }
    }

    &_select,
    &_input {
      display: inline-flex;
      align-items: baseline;
      font-weight: @oui-font-semibold;
    }

    &_select &__control,
    &_input &__control {
      margin: 0 @oui-pagination-button-spacing;
    }

    &_input &__control {
      text-align: right;
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button { -webkit-appearance: none; }
    }
  }
}

oui-pagination {
  &:extend(.oui-pagination);
}
