.oui-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: @oui-pagination-margin;
  font-size: @oui-pagination-font-size;

  #oui > .phone({
    flex-direction: column-reverse;
    justify-content: inherit;
    align-items: center;
  });

  &__progress {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;

    .oui-button {
      margin-right: @oui-pagination-link-spacing;
    }
  }

  &__progress-text {
    color: @oui-pagination-progress-text-font-color;
  }

  &__text {
    display: inline-block;
  }

  &__selector {
    display: flex;
    flex-wrap: nowrap;
    margin-left: @oui-pagination-selector-spacing;

    #oui > .phone({
      margin-bottom: @oui-pagination-selector-spacing_responsive;
      margin-left: 0;
    });

    > .oui-button {
      &:first-child {
        margin-right: @oui-pagination-button-spacing;
      }

      &:last-child {
        margin-left: @oui-pagination-button-spacing;
      }
    }
  }

  &__size-selector {
    display: inline-block;
  }

  &__size-selector-text {
    text-decoration: underline;
    cursor: pointer;
  }
}

.oui-pagination-button {
  &_selected,
  &_selected:disabled {
    background-color: @oui-pagination-button-selected-background;
    color: @oui-pagination-button-selected-color;
  }
}

.oui-pagination-menu {
  padding: @oui-pagination-menu-padding;

  &__group {
    padding: @oui-pagination-menu-item-padding;
    line-height: @oui-pagination-menu-item-line-height;
    font-size: @oui-pagination-menu-group-font-size;
    color: @oui-pagination-menu-group-color;
  }

  &__items-list {
    overflow-y: auto;
    width: 100%;
    max-height: @oui-pagination-menu-items-list-max-height;
  }

  &__item {
    display: block;
    width: 100%;
    padding: @oui-pagination-menu-item-padding;
    outline: none;
    line-height: @oui-pagination-menu-item-line-height;
    background: none;
    border: none;
    border-radius: 0;
    text-align: left;
    font-size: @oui-pagination-menu-item-font-size;
    color: @oui-pagination-menu-item-font-color;

    &:disabled,
    &_disabled {
      color: @oui-pagination-menu-item-font-color_disabled;
      cursor: auto;
    }

    &:focus,
    &:hover {
      background-color: @oui-pagination-menu-item-background-color_active;
      color: @oui-pagination-menu-item-font-color_active;
    }
  }
}

.oui-pagination-numeric {
  font-weight: @oui-font-semibold;

  &__input {
    display: inline-block;
    margin: 0;
    text-align: right;
    vertical-align: baseline;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button { -webkit-appearance: none; }
  }
}

oui-pagination {
  &:extend(.oui-pagination);
}
