// Accessibility
#oui {
  .outline-border(
    @outline-width: @oui-a11y-outline-width,
    @outline-style: @oui-a11y-outline-style,
    @outline-color: @oui-a11y-outline-color,
    @outline-offset: @oui-a11y-outline-offset,
    @outline-radius: @oui-a11y-outline-radius
  ) {
    outline-width: @outline-width;
    outline-style: @outline-style;
    outline-color: @outline-color;
    outline-offset: @outline-offset;
    -moz-outline-radius: @outline-radius;
  }

  .visually-hidden() {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    margin: -1px;
    padding: 0;

    &_focusable:active,
    &_focusable:focus {
      position: static;
      height: auto;
      width: auto;
      margin: 0;
      clip: auto;
      overflow: visible;
    }
  }

  .outline-border-inner(
    @outline-width: @oui-a11y-outline-width,
    @outline-style: @oui-a11y-outline-style,
    @outline-color: @oui-a11y-outline-color,
    @outline-offset: -@oui-a11y-outline-width,
    @outline-radius: @oui-a11y-outline-radius
  ) {
    #oui > .outline-border(
      @outline-width: @outline-width,
      @outline-style: @outline-style,
      @outline-color: @outline-color,
      @outline-offset: @outline-offset,
      @outline-radius: @outline-radius
    );
  }
}
