// Choice (for Checkbox / Radio / Select Picker)
#oui {
  .choice-base(
    @min-height: @oui-choice-min-height,
    @margin: @oui-choice-margin,
    @font-color: @oui-choice-font-color,
    @font-weight: @oui-choice-font-weight,
    @font-weight_checked: @oui-choice-font-weight_checked,
    @description-spacing: @oui-choice-description-spacing,
    @description-font-size: @oui-choice-description-font-size,
    @section-spacing: @oui-choice-section-spacing,
    @section-border-color: @oui-choice-section-border-color
  ) {
    display: block;
    position: relative;
    margin: @margin;

    &__label-container {
      min-height: @min-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      font-weight: inherit;
      cursor: pointer;
    }

    &__description,
    &__section {
      display: block;
      color: @font-color;
    }

    &__label {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: @font-weight;
      color: @font-color;
    }

    &__description {
      margin-top: @description-spacing;
      font-size: @description-font-size;
    }

    &__section {
      margin-top: @section-spacing;
      padding-top: @section-spacing;
      border-top: 1px solid @section-border-color;
    }

    &__input {
      #oui > .visually-hidden();
    }

    &__input:checked ~ &__label-container &__label {
      font-weight: @font-weight_checked;
    }
  }

  .choice-thumbnail(@selector) {
    .@{selector}__label-container {
      #oui > .choice-thumbnail-base();

      position: relative;
      justify-content: start;
      height: 100%;
    }

    .@{selector}__footer {
      line-height: @oui-choice-thumbnail-footer-line-height;
      padding: @oui-choice-thumbnail-footer-padding-y @oui-choice-thumbnail-footer-padding-x;
      margin: @oui-choice-thumbnail-footer-spacing -@oui-choice-thumbnail-padding -@oui-choice-thumbnail-padding;
      text-align: center;
      font-weight: @oui-choice-thumbnail-footer-font-weight;
      font-size: @oui-choice-thumbnail-footer-font-size;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      border-top: @oui-choice-thumbnail-footer-border-width solid @oui-choice-thumbnail-border-color;
      background: @oui-choice-thumbnail-footer-background;
    }

    .@{selector}__input {
      ~ .@{selector}__label-container:hover {
        #oui > .choice-thumbnail-color(
          @selector,
          @border-color: @oui-choice-thumbnail-border-color_hover,
          @background-color: @oui-choice-thumbnail-background_hover
        );
      }

      &:focus ~ .@{selector}__label-container .@{selector}__label::before {
        box-shadow: none;
      }

      &:checked ~ .@{selector}__label-container {
        @border-diff: calc(@oui-choice-thumbnail-border-width-checked - @oui-choice-thumbnail-border-width);

        box-shadow: @oui-choice-thumbnail-box-shadow-checked;
        padding: calc(@oui-choice-thumbnail-padding - @border-diff);

        #oui > .choice-thumbnail-color(
          @selector,
          @background-color: @oui-choice-thumbnail-background-checked,
          @border-color: @oui-choice-thumbnail-border-color-checked,
          @border-width: @oui-choice-thumbnail-border-width-checked
        );

        .@{selector}__footer {
          padding: @oui-choice-thumbnail-footer-padding-y calc(@oui-choice-thumbnail-footer-padding-x - @border-diff) calc(@oui-choice-thumbnail-footer-padding-y - @border-diff);
          margin: @oui-choice-thumbnail-footer-spacing calc(-@oui-choice-thumbnail-padding + @border-diff) calc(-@oui-choice-thumbnail-padding + @border-diff);
        }

        &:hover {
          #oui > .choice-thumbnail-color(
            @selector,
            @background-color: @oui-choice-thumbnail-background-checked_hover,
            @border-color: @oui-choice-thumbnail-border-color-checked_hover,
            @border-width: @oui-choice-thumbnail-border-width-checked
          );
        }
      }

      &:disabled ~ .@{selector}__label-container {
        opacity: 0.5;
      }
    }
  }

  .choice-thumbnail_error(@selector) {
    .@{selector}__input ~ .@{selector}__label-container,
    .@{selector}__input:checked ~ .@{selector}__label-container {
      &,
      &:hover,
      &:active,
      &:focus {
        border-color: @oui-choice-thumbnail-border-color_error;
        background: @oui-choice-thumbnail-background_error;

        .@{selector}__description,
        .@{selector}__section {
          border-color: @oui-choice-thumbnail-border-color_error;
        }
      }
    }

    .@{selector}__input:focus ~ .@{selector}__label-container,
    .@{selector}__input:checked:focus ~ .@{selector}__label-container {
      border-color: @oui-choice-thumbnail-border-color_error;
      box-shadow: @oui-choice-thumbnail-box-shadow_error;
    }
  }

  .choice-thumbnail-base(
    @background-color: @oui-choice-thumbnail-background,
    @border-color: @oui-choice-thumbnail-border-color,
    @border-width: @oui-choice-thumbnail-border-width,
    @padding: @oui-choice-thumbnail-padding
  ) {
    padding: @padding;
    border: @border-width solid @border-color;
    border-radius: @oui-global-base-radius-medium;
    background: @background-color;
    cursor: pointer;
  }

  .choice-thumbnail-color(
    @selector,
    @background-color: @oui-choice-thumbnail-background,
    @border-color: @oui-choice-thumbnail-border-color,
    @border-width: @oui-choice-thumbnail-border-width
  ) {
    border: @border-width solid @border-color;
    background: @background-color;

    .@{selector}__footer {
      border-top-color: @border-color;
    }
  }
}
