// Choice (for Checkbox / Radio / Select Picker)
#oui {
  .choice-base(
    @min-height: @oui-choice-min-height,
    @margin: @oui-choice-margin,
    @font-color: @oui-choice-font-color,
    @font-size: @oui-choice-font-size,
    @description-spacing: @oui-choice-description-spacing,
    @description-font-size: @oui-choice-description-font-size,
    @section-spacing: @oui-choice-section-spacing,
    @section-border-color: @oui-choice-section-border-color
  ) {
    display: block;
    position: relative;
    margin: @margin;

    &__label-container {
      min-height: @min-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      font-weight: inherit;
      cursor: pointer;
    }

    &__label,
    &__description,
    &__section {
      display: block;
      color: @font-color;
    }

    &__label {
      position: relative;
      font-weight: @oui-font-semibold;
    }

    &__description {
      margin-top: @description-spacing;
      font-size: @description-font-size;
    }

    &__section {
      margin-top: @section-spacing;
      padding-top: @section-spacing;
      border-top: 1px solid @section-border-color;
    }

    &__input {
      #oui > .visually-hidden();
    }
  }

  .choice-thumbnail(@selector) {
    .@{selector}__label-container {
      #oui > .choice-thumbnail-base();

      position: relative;
      justify-content: start;
      height: 100%;
    }

    .@{selector}__footer {
      line-height: @oui-choice-thumbnail-footer-line-height;
      padding: @oui-choice-thumbnail-footer-padding-y @oui-choice-thumbnail-footer-padding-x;
      margin: @oui-choice-thumbnail-footer-spacing -@oui-choice-thumbnail-padding -@oui-choice-thumbnail-padding;
      text-align: center;
      font-weight: @oui-choice-thumbnail-footer-font-weight;
      font-size: @oui-choice-thumbnail-footer-font-size;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      background: @oui-choice-thumbnail-footer-background;
    }

    .@{selector}__input:checked ~ .@{selector}__label-container {
      @border-diff: calc(@oui-choice-thumbnail-border-width-checked - @oui-choice-thumbnail-border-width);

      box-shadow: @oui-choice-thumbnail-box-shadow-checked;
      padding: calc(@oui-choice-thumbnail-padding - @border-diff);

      .@{selector}__footer {
        padding: @oui-choice-thumbnail-footer-padding-y calc(@oui-choice-thumbnail-footer-padding-x - @border-diff) calc(@oui-choice-thumbnail-footer-padding-y - @border-diff);
        margin: @oui-choice-thumbnail-footer-spacing calc(-@oui-choice-thumbnail-padding + @border-diff) calc(-@oui-choice-thumbnail-padding + @border-diff);
      }
    }

    .@{selector}__input:disabled {
      ~ .@{selector}__label-container {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color_disabled,
          @oui-choice-thumbnail-background_disabled
        );

        .@{selector}__footer {
          background: @oui-choice-thumbnail-footer-background_disabled;
        }
      }

      &:checked ~ .@{selector}__label-container {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color-checked_disabled,
          @oui-choice-thumbnail-background-checked_disabled,
          @oui-choice-thumbnail-border-width-checked
        );
      }
    }

    .@{selector}__input:not(:disabled) {
      ~ .@{selector}__label-container:hover {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color_hover,
          @oui-choice-thumbnail-background_hover
        );
      }

      &:focus ~ .@{selector}__label-container .@{selector}__label::before {
        box-shadow: @oui-choice-thumbnail-box-shadow_focus;
      }

      &:checked ~ .@{selector}__label-container {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color-checked,
          @oui-choice-thumbnail-background-checked,
          @oui-choice-thumbnail-border-width-checked
        );

        &:hover {
          #oui > .choice-thumbnail-color(
            @oui-choice-thumbnail-border-color-checked_hover,
            @oui-choice-thumbnail-background-checked_hover,
            @oui-choice-thumbnail-border-width-checked
          );
        }
      }
    }
  }

  .choice-thumbnail_light(@selector) {
    .@{selector}__label-container {
      #oui > .choice-thumbnail-base(
        @oui-choice-thumbnail-border-color-light,
        @oui-choice-thumbnail-background-light
      );
    }

    .@{selector}__input:disabled {
      ~ .@{selector}__label-container {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color-light_disabled,
          @oui-choice-thumbnail-background-light_disabled
        );
      }

      &:checked ~ .@{selector}__label-container {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color-light-checked_disabled,
          @oui-choice-thumbnail-background-light-checked_disabled,
          @oui-choice-thumbnail-border-width-checked
        );
      }
    }

    .@{selector}__input:not(:disabled) {
      ~ .@{selector}__label-container:hover {
        #oui > .choice-thumbnail-color(
          @oui-choice-thumbnail-border-color-light_hover,
          @oui-choice-thumbnail-background-light_hover
        );
      }
    }
  }

  .choice-thumbnail_error(@selector) {
    .@{selector}__input:not(:disabled) ~ .@{selector}__label-container,
    .@{selector}__input:checked:not(:disabled) ~ .@{selector}__label-container {
      &,
      &:hover,
      &:active,
      &:focus {
        border-color: @oui-choice-thumbnail-border-color_error;
        background: @oui-choice-thumbnail-background_error;

        .@{selector}__description,
        .@{selector}__section {
          border-color: @oui-choice-thumbnail-border-color_error;
        }
      }
    }

    .@{selector}__input:not(:disabled):focus ~ .@{selector}__label-container,
    .@{selector}__input:checked:not(:disabled):focus ~ .@{selector}__label-container {
      border-color: @oui-choice-thumbnail-border-color_error;
      box-shadow: @oui-choice-thumbnail-box-shadow_error;
    }
  }

  .choice-thumbnail-base(
    @border-color: @oui-choice-thumbnail-border-color,
    @background: @oui-choice-thumbnail-background,
    @border-width: @oui-choice-thumbnail-border-width,
    @padding: @oui-choice-thumbnail-padding
  ) {
    padding: @padding;
    border: @border-width solid @border-color;
    border-radius: @oui-global-base-radius-medium;
    background: @background;
    cursor: pointer;
  }

  .choice-thumbnail-color(
    @border-hover-color: @oui-choice-thumbnail-border-hover-color,
    @background: @oui-choice-thumbnail-background,
    @border-width: @oui-choice-thumbnail-border-width
  ) {
    border: @border-width solid @border-hover-color;
    background: @background;
  }
}
