// Icons
#oui {
  .for(@array)   when (default()) { #oui > .for-impl_(length(@array)); }
  .for-impl_(@i) when (@i > 1) { #oui > .for-impl_((@i - 1)); }
  .for-impl_(@i) when (@i > 0) { .-each(extract(@array, @i)); }

  .define(@name) {
    @content: "oui-icon-index-@{name}";
  }

  .icon-type() {
    #oui > .for(@oui-icon-index); .-each(@index) {
      #oui > .define(@index);

      &.oui-icon-@{index}::before {
        display: block;
        content: @@content;
      }
    }
  }
}
