// Icons
#oui {
  .for(@array)   when (default()) { #oui > .for-impl_(length(@array)); }
  .for-impl_(@i) when (@i > 1) { #oui > .for-impl_((@i - 1)); }
  .for-impl_(@i) when (@i > 0) { .-each(extract(@array, @i)); }

  .define(@name) {
    @content: "oui-icon-index-@{name}";
  }

  .icon-type(
    @icon-array: @oui-icon-index
  ) {
    #oui > .for(@icon-array); .-each(@index) {
      #oui > .define(@index);

      &.oui-icon-@{index}::before {
        content: @@content;
      }
    }
  }

  .icon-content(
    @icon-array: @oui-icon-content
  ) {
    .make-icon-content(@i: 1) when (@i <= length(@icon-array)) {
      .make-icon-content(@i + 1);

      @pair: extract(@icon-array, @i);
      @key: extract(@pair, 1);
      @extend: extract(@pair, 2);
      @content: "oui-icon-index-@{extend}";

      .oui-icon-@{key}::before {
        content: @@content;
      }
    }

    .make-icon-content();
  }
}
