// Typography - Header
@header-font-sizes:
  rem-calc(46),
  rem-calc(36),
  rem-calc(32),
  rem-calc(28),
  rem-calc(20),
  rem-calc(18);

@header-font-weights:
  @font-light,
  @font-light,
  @font-regular,
  @font-regular,
  @font-semibold,
  @font-semibold;

@header-margins:
  0.67em 0,
  0.83em 0,
  1em 0,
  1.33em 0,
  1.67em 0,
  2.33em 0;

// Typography - Link
@link-font-color: @sapphire;
@link-font-color_hover: #007e9b;
@link-text-decoration: underline;
@link-text-decoration_hover: @link-text-decoration;
