@import '../oui/_settings';
@import '../oui-typography/_constants';
@import './_mixins';

body {
  #oui > .base-font();
}

abbr[title],
abbr[oui-tooltip],
abbr[data-oui-tooltip] {
  border-bottom: dashed 1px @oui-color-pacific;
  text-decoration: none;
  cursor: help;
}

h,
.oui-header_, // Deprecated: Support only for old use
.oui-heading_ {
  #oui > .headers();
}

.oui-header_underline, // Deprecated: Support only for old use
.oui-heading_underline {
  border-bottom: @oui-header-border-width solid @oui-header-border-color;
}

a {
  #oui > .link();
}

.oui-link {
  @oui-icon-selector: oui-icon;

  #oui > .link();

  &_icon {
    #oui > .link-icon(@oui-icon-selector);
  }
}

hr {
  #oui > .horizontal-line-base();
}

.oui-horizontal-line {
  #oui > .horizontal-line-base();

  &_dark {
    #oui > .horizontal-line-dark();
  }

  &_thin {
    #oui > .horizontal-line-thin();
  }
}

p,
.oui-paragraph {
  margin: @oui-paragraph-margin;
  word-break: normal;
}
