@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import './_variables';

.oui-tooltip {
  #oui > .base-font();

  min-width: @oui-tooltip-min-width;
  max-width: @oui-tooltip-max-width;
  box-sizing: border-box;
  margin: @oui-tooltip-margin;
  padding: @oui-tooltip-padding;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: @oui-tooltip-font-size;
  color: @oui-tooltip-font-color;
  box-shadow: @oui-tooltip-box-shadow;
  border: solid @oui-tooltip-border-size @oui-tooltip-border-color;
  background-color: @oui-tooltip-background-color;
  opacity: 0;
  transition-property: opacity, z-index;
  transition-duration: @oui-tooltip-transition-duration;
  transition-timing-function: @oui-tooltip-transition-animation;
  z-index: -1;
  user-select: none;
  pointer-events: none;

  &__trigger:focus + &,
  &__trigger:hover + & {
    opacity: @oui-tooltip-opacity;
    z-index: @oui-tooltip-z-index;
  }

  &__trigger.oui-link + & { margin: @oui-tooltip-margin_small; }
}
