// Slideshow
@oui-slideshow-width: rem-calc(370);
@oui-slideshow-width_responsive: 515px;
@oui-slideshow-height: rem-calc(515);
@oui-slideshow-height_responsive: 85vh;
@oui-slideshow-spacing: rem-calc(15) auto;
@oui-slideshow-border-radius: @oui-global-base-radius-medium;
@oui-slideshow-box-shadow: 0 10px 10px fade(@oui-color-shuttle, 25%);
@oui-slideshow-background-color: #fff;

@oui-slideshow-button-size: rem-calc(60);
@oui-slideshow-button-font-color: #fff;
@oui-slideshow-button-background-color: rgba(17, 63, 109, 0.5);
@oui-slideshow-button-background-color_hover: rgba(17, 63, 109, 0.75);

@oui-slideshow-loader-background-color: rgba(255, 255, 255, 0.6);
@oui-slideshow-header-height: rem-calc(40);
@oui-slideshow-panel-padding: rem-calc(20);
@oui-slideshow-indicators-height: rem-calc(50);

@oui-slideshow-indicator-size: rem-calc(8);
@oui-slideshow-indicator-size_active: rem-calc(10);
@oui-slideshow-indicator-opacity: 0.5;
@oui-slideshow-indicator-opacity_active: 1;
@oui-slideshow-indicator-border-radius: 50%;
@oui-slideshow-indicator-background-color: #fff;

@oui-slideshow-indicator-button-size: rem-calc(16);
@oui-slideshow-indicator-button-spacing: rem-calc(2);

// Slideshow - Theme Onboarding
@oui-slideshow-onboarding-min-height: 43.5%;
@oui-slideshow-onboarding-font-color: #fff;
@oui-slideshow-onboarding-background-color: @oui-color-pacific;

@oui-slideshow-onboarding-title-font-size: rem-calc(36);
@oui-slideshow-onboarding-title-line-height: 0.89;
@oui-slideshow-onboarding-title-letter-spacing: -0.5px;

@oui-slideshow-onboarding-text-line-height: 1.13;
@oui-slideshow-onboarding-text-spacing: rem-calc(20);
@oui-slideshow-onboarding-text-font-size: rem-calc(16);
