.oui-slideshow-panel {
  display: none;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: left 0.8s ease-in-out;
  width: 100%;

  &.active,
  &.next,
  &.prev {
    display: flex;
  }

  &.next,
  &.prev {
    position: absolute;
    top: 0;
  }

  &.active {
    left: 0;

    &.left {
      left: -100%;
    }

    &.right {
      left: 100%;
    }
  }

  &.next {
    left: 100%;

    &.left {
      left: 0;
    }
  }

  &.prev {
    left: -100%;

    &.right {
      left: 0;
    }
  }

  .oui-slideshow-panel__container {
    padding: @oui-slideshow-panel-padding;
    padding-bottom: 0; // Spacing bottom done with the footer
  }

  > :first-child {
    padding-top: @oui-slideshow-header-height;
  }
}

.oui-slideshow {
  box-shadow: @oui-slideshow-box-shadow;
  border-radius: @oui-slideshow-border-radius;
  display: flex;
  flex-direction: column;
  height: @oui-slideshow-height;
  margin: @oui-slideshow-spacing;
  max-width: ~"calc(100% - 50px)";
  position: relative;
  width: @oui-slideshow-width;

  &__loader {
    align-items: center;
    background-color: @oui-slideshow-loader-background-color;
    border-radius: @oui-slideshow-border-radius;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  &__header {
    border-top-left-radius: @oui-slideshow-border-radius;
    border-top-right-radius: @oui-slideshow-border-radius;
    height: @oui-slideshow-header-height;
    position: absolute;
    width: 100%;
    z-index: 2;

    .oui-modal__close-button {
      top: 0;
      right: 0;
    }
  }

  &__body {
    background-color: @oui-slideshow-background-color;
    border-top-left-radius: @oui-slideshow-border-radius;
    border-top-right-radius: @oui-slideshow-border-radius;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
  }

  &__footer {
    background-color: @oui-slideshow-background-color;
    border-bottom-left-radius: @oui-slideshow-border-radius;
    border-bottom-right-radius: @oui-slideshow-border-radius;
    min-height: @oui-slideshow-panel-padding;
  }

  &__content {
    background-color: @oui-slideshow-background-color;
    position: relative;
    height: 100%;
    z-index: 1;
  }

  &__prev-button {
    left: 0;
    margin-left: calc(-@oui-slideshow-button-size / 2);
    padding-left: calc(@oui-slideshow-button-size / 15);
    text-align: left;
  }

  &__next-button {
    margin-right: calc(-@oui-slideshow-button-size / 2);
    padding-right: calc(@oui-slideshow-button-size / 15);
    right: 0;
    text-align: right;
  }

  &__prev-button,
  &__next-button {
    background: @oui-slideshow-button-background-color;
    border: none;
    border-radius: 50%;
    color: @oui-slideshow-button-font-color;
    height: @oui-slideshow-button-size;
    margin-top: calc(-@oui-slideshow-button-size / 2);
    position: absolute;
    top: 50%;
    transition: background 0.3s ease-out;
    width: @oui-slideshow-button-size;

    &:disabled {
      opacity: 0.5;
    }

    &:not(:disabled) {
      :active,
      &:focus,
      &:hover {
        cursor: pointer;
        background-color: @oui-slideshow-button-background-color_hover;
      }
    }
  }

  &__indicators {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: @oui-slideshow-indicators-height;
    justify-content: center;

    button {
      margin: 0 @oui-slideshow-indicator-button-spacing;
      text-align: center;
      border: none;
      border-radius: @oui-slideshow-indicator-border-radius;
      background-color: transparent;
      outline: none;
      overflow: hidden;

      &::before {
        background-color: @oui-slideshow-indicator-background-color;
        border-radius: @oui-slideshow-indicator-border-radius;
        content: "";
        display: block;
      }

      &:not(.active) {
        padding: calc((@oui-slideshow-indicator-button-size - @oui-slideshow-indicator-size) / 2);

        &::before {
          width: @oui-slideshow-indicator-size;
          height: @oui-slideshow-indicator-size;
          opacity: @oui-slideshow-indicator-opacity;
        }
      }

      &.active {
        padding: calc((@oui-slideshow-indicator-button-size - @oui-slideshow-indicator-size_active) / 2);

        &::before {
          width: @oui-slideshow-indicator-size_active;
          height: @oui-slideshow-indicator-size_active;
          opacity: @oui-slideshow-indicator-opacity_active;
        }
      }
    }
  }

  &.touchDevice {
    .oui-slideshow__prev-button,
    .oui-slideshow__next-button {
      display: none;
    }
  }
}

// Theme Onboarding (default)
.oui-slideshow_onboarding {
  &:not(.oui-slideshow_is-illustrated) .oui-slideshow__header {
    .oui-modal__close-button {
      color: @oui-slideshow-onboarding-font-color;
    }
  }

  .oui-slideshow__body,
  .oui-slideshow__content,
  .oui-slideshow__footer {
    background-color: @oui-slideshow-onboarding-background-color;
  }

  .oui-slideshow-panel__picture-container {
    background:
      linear-gradient(
        to bottom,
        @oui-slideshow-background-color 0%,
        @oui-slideshow-background-color 68%,
        @oui-slideshow-onboarding-background-color 68%,
        @oui-slideshow-onboarding-background-color 100%
      );
    flex: 0 1 auto;
    height: 100%;
    overflow: hidden;
  }

  .oui-slideshow-panel__picture {
    height: 100%;
    margin: 0 auto;
    max-width: 60%;
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s, width 0.6s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    width: 30%;
    background: center center no-repeat;
    background-size: contain;
  }

  .oui-slideshow-panel.next,
  .oui-slideshow-panel.prev {
    .oui-slideshow-panel__picture {
      transition-delay: 0.3s;
    }
  }

  .oui-slideshow-panel.active.left,
  .oui-slideshow-panel.active.right {
    .oui-slideshow-panel__picture {
      transition-timing-function: ease-out;
    }
  }

  .oui-slideshow-panel.next.left,
  .oui-slideshow-panel.prev.right,
  .oui-slideshow-panel.active:not(.left):not(.right) {
    .oui-slideshow-panel__picture {
      opacity: 1;
      width: 100%;
    }
  }

  .oui-slideshow-panel__container {
    align-items: center;
    color: @oui-slideshow-onboarding-font-color;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    min-height: @oui-slideshow-onboarding-min-height;
    position: relative;
    text-align: center;
  }

  .oui-slideshow-panel__title {
    font-size: @oui-slideshow-onboarding-title-font-size;
    letter-spacing: @oui-slideshow-onboarding-title-letter-spacing;
    line-height: @oui-slideshow-onboarding-title-line-height;
    max-width: 100%;
  }

  .oui-slideshow-panel__text {
    font-size: @oui-slideshow-onboarding-text-font-size;
    line-height: @oui-slideshow-onboarding-text-line-height;
    max-width: 100%;
    padding-bottom: @oui-slideshow-onboarding-text-spacing;
  }

  .oui-slideshow-panel__action {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    .oui-button {
      border: none;
      margin-bottom: 0;
    }

    .oui-icon-external-link {
      margin-left: 2px;
    }
  }

  .oui-slideshow-panel__title + .oui-slideshow-panel__text {
    padding-top: @oui-slideshow-onboarding-text-spacing;
  }

  .oui-slideshow-panel__picture-container + .oui-slideshow-panel__container {
    .oui-slideshow-panel__title {
      flex-grow: 1;
    }

    .oui-slideshow-panel__text {
      flex-grow: 30;
    }

    .oui-slideshow-panel__action {
      flex-grow: 0;
      position: static;
    }
  }
}

oui-slideshow {
  &,
  &-panel {
    display: flex;
  }
}

@media (max-width: (@oui-responsive-breakpoint-tablet - 1)) and (orientation: landscape) {
  .oui-slideshow.touchDevice {
    height: @oui-slideshow-height_responsive;
    max-height: 100%;
    width: @oui-slideshow-width_responsive;
    max-width: 100%;
  }
}
