@font-face {
    font-family: "oui-icons";
    src: url("./oui-icons.woff2?328e8ce29e3647f049e8e4e4a109f655") format("woff2"),
url("./oui-icons.woff?328e8ce29e3647f049e8e4e4a109f655") format("woff");
}

span[class^="oui-icon-"]:before, span[class*=" oui-icon-"]:before {
    font-family: oui-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oui-icon-blank:before {
    content: "\f101";
}
.oui-icon-anti-ddos-protection_concept:before {
    content: "\f102";
}
.oui-icon-app-gear_concept:before {
    content: "\f103";
}
.oui-icon-app-script_concept:before {
    content: "\f104";
}
.oui-icon-app-world_concept:before {
    content: "\f105";
}
.oui-icon-application_concept:before {
    content: "\f106";
}
.oui-icon-arrow-crossed_concept:before {
    content: "\f107";
}
.oui-icon-arrow-down_concept:before {
    content: "\f108";
}
.oui-icon-arrow-left_concept:before {
    content: "\f109";
}
.oui-icon-arrow-right_concept:before {
    content: "\f10a";
}
.oui-icon-arrow-undo_concept:before {
    content: "\f10b";
}
.oui-icon-balance_concept:before {
    content: "\f10c";
}
.oui-icon-bandwidth_concept:before {
    content: "\f10d";
}
.oui-icon-bell_concept:before {
    content: "\f10e";
}
.oui-icon-bird_concept:before {
    content: "\f10f";
}
.oui-icon-book-close_concept:before {
    content: "\f110";
}
.oui-icon-book-contact_concept:before {
    content: "\f111";
}
.oui-icon-book-open_concept:before {
    content: "\f112";
}
.oui-icon-broom_concept:before {
    content: "\f113";
}
.oui-icon-brush_concept:before {
    content: "\f114";
}
.oui-icon-cable-speed_concept:before {
    content: "\f115";
}
.oui-icon-calendar_concept:before {
    content: "\f116";
}
.oui-icon-camera_concept:before {
    content: "\f117";
}
.oui-icon-cart_concept:before {
    content: "\f118";
}
.oui-icon-cdn_concept:before {
    content: "\f119";
}
.oui-icon-chatbot_concept:before {
    content: "\f11a";
}
.oui-icon-chrono-on-off-quickstart_concept:before {
    content: "\f11b";
}
.oui-icon-clock-available_concept:before {
    content: "\f11c";
}
.oui-icon-clock_concept:before {
    content: "\f11d";
}
.oui-icon-cloud-data-sharing_concept:before {
    content: "\f11e";
}
.oui-icon-cloud-edge-computing_concept:before {
    content: "\f11f";
}
.oui-icon-cloud-eye_concept:before {
    content: "\f120";
}
.oui-icon-cloud-hybrid_concept:before {
    content: "\f121";
}
.oui-icon-cloud-infinity_concept:before {
    content: "\f122";
}
.oui-icon-cloud-padlock_concept:before {
    content: "\f123";
}
.oui-icon-cloud-server_concept:before {
    content: "\f124";
}
.oui-icon-cloud_concept:before {
    content: "\f125";
}
.oui-icon-community_concept:before {
    content: "\f126";
}
.oui-icon-component-square_concept:before {
    content: "\f127";
}
.oui-icon-component_concept:before {
    content: "\f128";
}
.oui-icon-compute_concept:before {
    content: "\f129";
}
.oui-icon-computer-curve_concept:before {
    content: "\f12a";
}
.oui-icon-computer-floppy_concept:before {
    content: "\f12b";
}
.oui-icon-computer-folder_concept:before {
    content: "\f12c";
}
.oui-icon-computer-laptop-cloud_concept:before {
    content: "\f12d";
}
.oui-icon-computer-laptop_concept:before {
    content: "\f12e";
}
.oui-icon-computer-v-r-ops_concept:before {
    content: "\f12f";
}
.oui-icon-computer_concept:before {
    content: "\f130";
}
.oui-icon-container_concept:before {
    content: "\f131";
}
.oui-icon-counter_concept:before {
    content: "\f132";
}
.oui-icon-credit-card-clock_concept:before {
    content: "\f133";
}
.oui-icon-credit-card_concept:before {
    content: "\f134";
}
.oui-icon-curve_concept:before {
    content: "\f135";
}
.oui-icon-database-cold-archive_concept:before {
    content: "\f136";
}
.oui-icon-database-sql_concept:before {
    content: "\f137";
}
.oui-icon-database_concept:before {
    content: "\f138";
}
.oui-icon-datacenter_concept:before {
    content: "\f139";
}
.oui-icon-diamond_concept:before {
    content: "\f13a";
}
.oui-icon-different_concept:before {
    content: "\f13b";
}
.oui-icon-dns-anycast_concept:before {
    content: "\f13c";
}
.oui-icon-domains_concept:before {
    content: "\f13d";
}
.oui-icon-download_concept:before {
    content: "\f13e";
}
.oui-icon-dslam_concept:before {
    content: "\f13f";
}
.oui-icon-envelop-letter_concept:before {
    content: "\f140";
}
.oui-icon-envelop_concept:before {
    content: "\f141";
}
.oui-icon-ethernet-add_concept:before {
    content: "\f142";
}
.oui-icon-ethernet_concept:before {
    content: "\f143";
}
.oui-icon-expansion-arrows_concept:before {
    content: "\f144";
}
.oui-icon-export_concept:before {
    content: "\f145";
}
.oui-icon-eye_concept:before {
    content: "\f146";
}
.oui-icon-flask_concept:before {
    content: "\f147";
}
.oui-icon-floppy-clock_concept:before {
    content: "\f148";
}
.oui-icon-floppy-reload_concept:before {
    content: "\f149";
}
.oui-icon-floppy_concept:before {
    content: "\f14a";
}
.oui-icon-folder-ftp_concept:before {
    content: "\f14b";
}
.oui-icon-folder_concept:before {
    content: "\f14c";
}
.oui-icon-gear-arrow_concept:before {
    content: "\f14d";
}
.oui-icon-gear_2_concept:before {
    content: "\f14e";
}
.oui-icon-gear_concept:before {
    content: "\f14f";
}
.oui-icon-gift_concept:before {
    content: "\f150";
}
.oui-icon-gpu_concept:before {
    content: "\f151";
}
.oui-icon-graph_concept:before {
    content: "\f152";
}
.oui-icon-hand-leaf_concept:before {
    content: "\f153";
}
.oui-icon-hand-world_concept:before {
    content: "\f154";
}
.oui-icon-hands_concept:before {
    content: "\f155";
}
.oui-icon-hashtag_concept:before {
    content: "\f156";
}
.oui-icon-hourglass_concept:before {
    content: "\f157";
}
.oui-icon-house_concept:before {
    content: "\f158";
}
.oui-icon-import_concept:before {
    content: "\f159";
}
.oui-icon-infinite_concept:before {
    content: "\f15a";
}
.oui-icon-info_concept:before {
    content: "\f15b";
}
.oui-icon-invader_concept:before {
    content: "\f15c";
}
.oui-icon-io-t_concept:before {
    content: "\f15d";
}
.oui-icon-key_concept:before {
    content: "\f15e";
}
.oui-icon-keypad_concept:before {
    content: "\f15f";
}
.oui-icon-leaf_concept:before {
    content: "\f160";
}
.oui-icon-lifebuoy_concept:before {
    content: "\f161";
}
.oui-icon-lightbulb_concept:before {
    content: "\f162";
}
.oui-icon-line-communicating_concept:before {
    content: "\f163";
}
.oui-icon-loc-ovh_concept:before {
    content: "\f164";
}
.oui-icon-magnifying-glass-check_concept:before {
    content: "\f165";
}
.oui-icon-magnifying-glass-person_concept:before {
    content: "\f166";
}
.oui-icon-magnifying-glass_concept:before {
    content: "\f167";
}
.oui-icon-map-france_concept:before {
    content: "\f168";
}
.oui-icon-measure_concept:before {
    content: "\f169";
}
.oui-icon-medal_concept:before {
    content: "\f16a";
}
.oui-icon-microphone_concept:before {
    content: "\f16b";
}
.oui-icon-minus_concept:before {
    content: "\f16c";
}
.oui-icon-modem_concept:before {
    content: "\f16d";
}
.oui-icon-multi-device_concept:before {
    content: "\f16e";
}
.oui-icon-network_concept:before {
    content: "\f16f";
}
.oui-icon-newtab_concept:before {
    content: "\f170";
}
.oui-icon-none_concept:before {
    content: "\f171";
}
.oui-icon-nra_concept:before {
    content: "\f172";
}
.oui-icon-on_concept:before {
    content: "\f173";
}
.oui-icon-over-the-box_concept:before {
    content: "\f174";
}
.oui-icon-padlock-closed_concept:before {
    content: "\f175";
}
.oui-icon-padlock-opened_concept:before {
    content: "\f176";
}
.oui-icon-page-certificate_concept:before {
    content: "\f177";
}
.oui-icon-page-info_concept:before {
    content: "\f178";
}
.oui-icon-page-question_concept:before {
    content: "\f179";
}
.oui-icon-page-script_concept:before {
    content: "\f17a";
}
.oui-icon-page_concept:before {
    content: "\f17b";
}
.oui-icon-paperplane_concept:before {
    content: "\f17c";
}
.oui-icon-pause_concept:before {
    content: "\f17d";
}
.oui-icon-pay-as-you-go_concept:before {
    content: "\f17e";
}
.oui-icon-pen_concept:before {
    content: "\f17f";
}
.oui-icon-person-happy_concept:before {
    content: "\f180";
}
.oui-icon-person_concept:before {
    content: "\f181";
}
.oui-icon-phone-dots_concept:before {
    content: "\f182";
}
.oui-icon-phone-filter_concept:before {
    content: "\f183";
}
.oui-icon-phone-fobidden_concept:before {
    content: "\f184";
}
.oui-icon-phone-forward_concept:before {
    content: "\f185";
}
.oui-icon-phone-mobile_concept:before {
    content: "\f186";
}
.oui-icon-phone-tablet_concept:before {
    content: "\f187";
}
.oui-icon-phone_concept:before {
    content: "\f188";
}
.oui-icon-pig_concept:before {
    content: "\f189";
}
.oui-icon-plan_concept:before {
    content: "\f18a";
}
.oui-icon-play_concept:before {
    content: "\f18b";
}
.oui-icon-plug-n-play_concept:before {
    content: "\f18c";
}
.oui-icon-power_concept:before {
    content: "\f18d";
}
.oui-icon-printer_concept:before {
    content: "\f18e";
}
.oui-icon-puzzle_concept:before {
    content: "\f18f";
}
.oui-icon-ram_concept:before {
    content: "\f190";
}
.oui-icon-receipt_concept:before {
    content: "\f191";
}
.oui-icon-reload_concept:before {
    content: "\f192";
}
.oui-icon-replication-application_concept:before {
    content: "\f193";
}
.oui-icon-replication_concept:before {
    content: "\f194";
}
.oui-icon-rss_concept:before {
    content: "\f195";
}
.oui-icon-sata_concept:before {
    content: "\f196";
}
.oui-icon-scale-up_concept:before {
    content: "\f197";
}
.oui-icon-server_concept:before {
    content: "\f198";
}
.oui-icon-share_concept:before {
    content: "\f199";
}
.oui-icon-shield_concept:before {
    content: "\f19a";
}
.oui-icon-sms_concept:before {
    content: "\f19b";
}
.oui-icon-software_concept:before {
    content: "\f19c";
}
.oui-icon-spanner_concept:before {
    content: "\f19d";
}
.oui-icon-speech-bubble_concept:before {
    content: "\f19e";
}
.oui-icon-ssd_concept:before {
    content: "\f19f";
}
.oui-icon-star_concept:before {
    content: "\f1a0";
}
.oui-icon-stop_concept:before {
    content: "\f1a1";
}
.oui-icon-sub-repartitor_concept:before {
    content: "\f1a2";
}
.oui-icon-symmetrical-lines_concept:before {
    content: "\f1a3";
}
.oui-icon-tape_concept:before {
    content: "\f1a4";
}
.oui-icon-thumb-up_concept:before {
    content: "\f1a5";
}
.oui-icon-todo-list_concept:before {
    content: "\f1a6";
}
.oui-icon-traffic-cone_concept:before {
    content: "\f1a7";
}
.oui-icon-transfer_concept:before {
    content: "\f1a8";
}
.oui-icon-transit-padlock_concept:before {
    content: "\f1a9";
}
.oui-icon-trash_concept:before {
    content: "\f1aa";
}
.oui-icon-truck_concept:before {
    content: "\f1ab";
}
.oui-icon-typing_concept:before {
    content: "\f1ac";
}
.oui-icon-upload_concept:before {
    content: "\f1ad";
}
.oui-icon-user-forbid_concept:before {
    content: "\f1ae";
}
.oui-icon-user-support_concept:before {
    content: "\f1af";
}
.oui-icon-user_concept:before {
    content: "\f1b0";
}
.oui-icon-virtual-machine_concept:before {
    content: "\f1b1";
}
.oui-icon-wallet_concept:before {
    content: "\f1b2";
}
.oui-icon-warning_concept:before {
    content: "\f1b3";
}
.oui-icon-wifi_concept:before {
    content: "\f1b4";
}
.oui-icon-world-add_concept:before {
    content: "\f1b5";
}
.oui-icon-world_concept:before {
    content: "\f1b6";
}
.oui-icon-add:before {
    content: "\f1b7";
}
.oui-icon-arrow-down-right:before {
    content: "\f1b8";
}
.oui-icon-arrow-down:before {
    content: "\f1b9";
}
.oui-icon-arrow-left:before {
    content: "\f1ba";
}
.oui-icon-arrow-right:before {
    content: "\f1bb";
}
.oui-icon-arrow-up-right:before {
    content: "\f1bc";
}
.oui-icon-arrow-up:before {
    content: "\f1bd";
}
.oui-icon-bell:before {
    content: "\f1be";
}
.oui-icon-bin:before {
    content: "\f1bf";
}
.oui-icon-book:before {
    content: "\f1c0";
}
.oui-icon-calendar:before {
    content: "\f1c1";
}
.oui-icon-chat:before {
    content: "\f1c2";
}
.oui-icon-check:before {
    content: "\f1c3";
}
.oui-icon-chevron-down:before {
    content: "\f1c4";
}
.oui-icon-chevron-left:before {
    content: "\f1c5";
}
.oui-icon-chevron-right:before {
    content: "\f1c6";
}
.oui-icon-chevron-up-down:before {
    content: "\f1c7";
}
.oui-icon-chevron-up:before {
    content: "\f1c8";
}
.oui-icon-clock-wait:before {
    content: "\f1c9";
}
.oui-icon-close:before {
    content: "\f1ca";
}
.oui-icon-copy:before {
    content: "\f1cb";
}
.oui-icon-ellipsis-vertical:before {
    content: "\f1cc";
}
.oui-icon-ellipsis:before {
    content: "\f1cd";
}
.oui-icon-equal:before {
    content: "\f1ce";
}
.oui-icon-error:before {
    content: "\f1cf";
}
.oui-icon-error_circle:before {
    content: "\f1d0";
}
.oui-icon-external-link:before {
    content: "\f1d1";
}
.oui-icon-eye-blocked:before {
    content: "\f1d2";
}
.oui-icon-eye:before {
    content: "\f1d3";
}
.oui-icon-file:before {
    content: "\f1d4";
}
.oui-icon-filter:before {
    content: "\f1d5";
}
.oui-icon-folder:before {
    content: "\f1d6";
}
.oui-icon-gear:before {
    content: "\f1d7";
}
.oui-icon-guides:before {
    content: "\f1d8";
}
.oui-icon-hamburger:before {
    content: "\f1d9";
}
.oui-icon-help:before {
    content: "\f1da";
}
.oui-icon-help_circle:before {
    content: "\f1db";
}
.oui-icon-home:before {
    content: "\f1dc";
}
.oui-icon-indeterminate:before {
    content: "\f1dd";
}
.oui-icon-info:before {
    content: "\f1de";
}
.oui-icon-info_circle:before {
    content: "\f1df";
}
.oui-icon-lightbulb:before {
    content: "\f1e0";
}
.oui-icon-list:before {
    content: "\f1e1";
}
.oui-icon-location:before {
    content: "\f1e2";
}
.oui-icon-minus:before {
    content: "\f1e3";
}
.oui-icon-ok:before {
    content: "\f1e4";
}
.oui-icon-ovh:before {
    content: "\f1e5";
}
.oui-icon-phone:before {
    content: "\f1e6";
}
.oui-icon-plus:before {
    content: "\f1e7";
}
.oui-icon-refresh:before {
    content: "\f1e8";
}
.oui-icon-remove:before {
    content: "\f1e9";
}
.oui-icon-search:before {
    content: "\f1ea";
}
.oui-icon-settings:before {
    content: "\f1eb";
}
.oui-icon-shape-circle:before {
    content: "\f1ec";
}
.oui-icon-shape-dot:before {
    content: "\f1ed";
}
.oui-icon-sort-down:before {
    content: "\f1ee";
}
.oui-icon-sort-inactive:before {
    content: "\f1ef";
}
.oui-icon-sort-up:before {
    content: "\f1f0";
}
.oui-icon-sort:before {
    content: "\f1f1";
}
.oui-icon-success:before {
    content: "\f1f2";
}
.oui-icon-success_circle:before {
    content: "\f1f3";
}
.oui-icon-time:before {
    content: "\f1f4";
}
.oui-icon-trash:before {
    content: "\f1f5";
}
.oui-icon-triangle-down:before {
    content: "\f1f6";
}
.oui-icon-triangle-left:before {
    content: "\f1f7";
}
.oui-icon-triangle-right:before {
    content: "\f1f8";
}
.oui-icon-triangle-up-down:before {
    content: "\f1f9";
}
.oui-icon-triangle-up:before {
    content: "\f1fa";
}
.oui-icon-user:before {
    content: "\f1fb";
}
.oui-icon-warning:before {
    content: "\f1fc";
}
.oui-icon-warning_circle:before {
    content: "\f1fd";
}
