@font-face {
    font-family: "oui-icons";
    src: url("./oui-icons.woff2?ceba127388ec54a11f24604ca48743ba") format("woff2"),
url("./oui-icons.woff?ceba127388ec54a11f24604ca48743ba") format("woff");
}

span[class^="oui-icon-"]:before, span[class*=" oui-icon-"]:before {
    font-family: oui-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oui-icon-chat_line:before {
    content: "\f101";
}
.oui-icon-check-circle_line:before {
    content: "\f102";
}
.oui-icon-check_line:before {
    content: "\f103";
}
.oui-icon-chevron-down_line:before {
    content: "\f104";
}
.oui-icon-chevron-left_line:before {
    content: "\f105";
}
.oui-icon-chevron-right_line:before {
    content: "\f106";
}
.oui-icon-chevron-up_line:before {
    content: "\f107";
}
.oui-icon-counter_line:before {
    content: "\f108";
}
.oui-icon-gear_line:before {
    content: "\f109";
}
.oui-icon-legacy-abbreviated-number:before {
    content: "\f10a";
}
.oui-icon-legacy-accessories:before {
    content: "\f10b";
}
.oui-icon-legacy-activer:before {
    content: "\f10c";
}
.oui-icon-legacy-add-circle:before {
    content: "\f10d";
}
.oui-icon-legacy-add-credit:before {
    content: "\f10e";
}
.oui-icon-legacy-add-disk:before {
    content: "\f10f";
}
.oui-icon-legacy-adp:before {
    content: "\f110";
}
.oui-icon-legacy-affinity:before {
    content: "\f111";
}
.oui-icon-legacy-ajouter:before {
    content: "\f112";
}
.oui-icon-legacy-alarm:before {
    content: "\f113";
}
.oui-icon-legacy-answering-machine:before {
    content: "\f114";
}
.oui-icon-legacy-anti-affinity:before {
    content: "\f115";
}
.oui-icon-legacy-anti-ddos:before {
    content: "\f116";
}
.oui-icon-legacy-arrow-down:before {
    content: "\f117";
}
.oui-icon-legacy-arrow-left:before {
    content: "\f118";
}
.oui-icon-legacy-arrow-right:before {
    content: "\f119";
}
.oui-icon-legacy-arrow-rotate:before {
    content: "\f11a";
}
.oui-icon-legacy-arrow-up:before {
    content: "\f11b";
}
.oui-icon-legacy-back-to-v4:before {
    content: "\f11c";
}
.oui-icon-legacy-bin:before {
    content: "\f11d";
}
.oui-icon-legacy-boot-disk:before {
    content: "\f11e";
}
.oui-icon-legacy-broom:before {
    content: "\f11f";
}
.oui-icon-legacy-caddy:before {
    content: "\f120";
}
.oui-icon-legacy-call-emitting:before {
    content: "\f121";
}
.oui-icon-legacy-call-filter:before {
    content: "\f122";
}
.oui-icon-legacy-call-forwarding:before {
    content: "\f123";
}
.oui-icon-legacy-call-receiving:before {
    content: "\f124";
}
.oui-icon-legacy-call-restriction:before {
    content: "\f125";
}
.oui-icon-legacy-cart:before {
    content: "\f126";
}
.oui-icon-legacy-cdn:before {
    content: "\f127";
}
.oui-icon-legacy-certificate:before {
    content: "\f128";
}
.oui-icon-legacy-check:before {
    content: "\f129";
}
.oui-icon-legacy-clock:before {
    content: "\f12a";
}
.oui-icon-legacy-cloud-desktop:before {
    content: "\f12b";
}
.oui-icon-legacy-cloud-disk-array:before {
    content: "\f12c";
}
.oui-icon-legacy-cloud-package:before {
    content: "\f12d";
}
.oui-icon-legacy-cloud-public2:before {
    content: "\f12e";
}
.oui-icon-legacy-cloud-root:before {
    content: "\f12f";
}
.oui-icon-legacy-cloud:before {
    content: "\f130";
}
.oui-icon-legacy-cloudcloud:before {
    content: "\f131";
}
.oui-icon-legacy-cloudcpu:before {
    content: "\f132";
}
.oui-icon-legacy-cloudhdd:before {
    content: "\f133";
}
.oui-icon-legacy-cloudnas:before {
    content: "\f134";
}
.oui-icon-legacy-cloudram:before {
    content: "\f135";
}
.oui-icon-legacy-cloudssd:before {
    content: "\f136";
}
.oui-icon-legacy-config:before {
    content: "\f137";
}
.oui-icon-legacy-consumption:before {
    content: "\f138";
}
.oui-icon-legacy-contacts:before {
    content: "\f139";
}
.oui-icon-legacy-creditcard:before {
    content: "\f13a";
}
.oui-icon-legacy-database:before {
    content: "\f13b";
}
.oui-icon-legacy-datacenter:before {
    content: "\f13c";
}
.oui-icon-legacy-dedicated-cloud:before {
    content: "\f13d";
}
.oui-icon-legacy-dedicated-cloud2:before {
    content: "\f13e";
}
.oui-icon-legacy-details:before {
    content: "\f13f";
}
.oui-icon-legacy-disclosure-down:before {
    content: "\f140";
}
.oui-icon-legacy-disclosure-left:before {
    content: "\f141";
}
.oui-icon-legacy-disclosure-right:before {
    content: "\f142";
}
.oui-icon-legacy-disclosure-up:before {
    content: "\f143";
}
.oui-icon-legacy-docs:before {
    content: "\f144";
}
.oui-icon-legacy-domain:before {
    content: "\f145";
}
.oui-icon-legacy-dots:before {
    content: "\f146";
}
.oui-icon-legacy-download:before {
    content: "\f147";
}
.oui-icon-legacy-editer:before {
    content: "\f148";
}
.oui-icon-legacy-export-pdf:before {
    content: "\f149";
}
.oui-icon-legacy-failure:before {
    content: "\f14a";
}
.oui-icon-legacy-fax-emitting:before {
    content: "\f14b";
}
.oui-icon-legacy-fax-receiving:before {
    content: "\f14c";
}
.oui-icon-legacy-filled-check:before {
    content: "\f14d";
}
.oui-icon-legacy-filled-error:before {
    content: "\f14e";
}
.oui-icon-legacy-filled-info:before {
    content: "\f14f";
}
.oui-icon-legacy-filled-question:before {
    content: "\f150";
}
.oui-icon-legacy-filled-warning:before {
    content: "\f151";
}
.oui-icon-legacy-forbid-user:before {
    content: "\f152";
}
.oui-icon-legacy-gauge-full:before {
    content: "\f153";
}
.oui-icon-legacy-graph:before {
    content: "\f154";
}
.oui-icon-legacy-grip:before {
    content: "\f155";
}
.oui-icon-legacy-gtr:before {
    content: "\f156";
}
.oui-icon-legacy-harddisk:before {
    content: "\f157";
}
.oui-icon-legacy-harddiskspeed:before {
    content: "\f158";
}
.oui-icon-legacy-hashtag:before {
    content: "\f159";
}
.oui-icon-legacy-headset:before {
    content: "\f15a";
}
.oui-icon-legacy-home:before {
    content: "\f15b";
}
.oui-icon-legacy-hosting:before {
    content: "\f15c";
}
.oui-icon-legacy-housing:before {
    content: "\f15d";
}
.oui-icon-legacy-import-csv:before {
    content: "\f15e";
}
.oui-icon-legacy-info:before {
    content: "\f15f";
}
.oui-icon-legacy-infrastructure:before {
    content: "\f160";
}
.oui-icon-legacy-inprogress:before {
    content: "\f161";
}
.oui-icon-legacy-internet:before {
    content: "\f162";
}
.oui-icon-legacy-ip:before {
    content: "\f163";
}
.oui-icon-legacy-iplb:before {
    content: "\f164";
}
.oui-icon-legacy-key:before {
    content: "\f165";
}
.oui-icon-legacy-kubernetes:before {
    content: "\f166";
}
.oui-icon-legacy-lightbulb:before {
    content: "\f167";
}
.oui-icon-legacy-line-communicating:before {
    content: "\f168";
}
.oui-icon-legacy-lock-opened:before {
    content: "\f169";
}
.oui-icon-legacy-lock:before {
    content: "\f16a";
}
.oui-icon-legacy-mail:before {
    content: "\f16b";
}
.oui-icon-legacy-message:before {
    content: "\f16c";
}
.oui-icon-legacy-messages-read:before {
    content: "\f16d";
}
.oui-icon-legacy-microphone-off:before {
    content: "\f16e";
}
.oui-icon-legacy-microphone:before {
    content: "\f16f";
}
.oui-icon-legacy-mobile-phone:before {
    content: "\f170";
}
.oui-icon-legacy-monthly-billing:before {
    content: "\f171";
}
.oui-icon-legacy-network:before {
    content: "\f172";
}
.oui-icon-legacy-new-mail:before {
    content: "\f173";
}
.oui-icon-legacy-news:before {
    content: "\f174";
}
.oui-icon-legacy-newtab:before {
    content: "\f175";
}
.oui-icon-legacy-none-speaker:before {
    content: "\f176";
}
.oui-icon-legacy-nra:before {
    content: "\f177";
}
.oui-icon-legacy-old-nas:before {
    content: "\f178";
}
.oui-icon-legacy-options:before {
    content: "\f179";
}
.oui-icon-legacy-overTheBox:before {
    content: "\f17a";
}
.oui-icon-legacy-page:before {
    content: "\f17b";
}
.oui-icon-legacy-palm-tree:before {
    content: "\f17c";
}
.oui-icon-legacy-paperplane:before {
    content: "\f17d";
}
.oui-icon-legacy-pause:before {
    content: "\f17e";
}
.oui-icon-legacy-phone-alt:before {
    content: "\f17f";
}
.oui-icon-legacy-phone-call:before {
    content: "\f180";
}
.oui-icon-legacy-phone:before {
    content: "\f181";
}
.oui-icon-legacy-pie-chart:before {
    content: "\f182";
}
.oui-icon-legacy-play:before {
    content: "\f183";
}
.oui-icon-legacy-plus-circle:before {
    content: "\f184";
}
.oui-icon-legacy-print:before {
    content: "\f185";
}
.oui-icon-legacy-programmable-keys:before {
    content: "\f186";
}
.oui-icon-legacy-promotion-code-badge:before {
    content: "\f187";
}
.oui-icon-legacy-promotion-code:before {
    content: "\f188";
}
.oui-icon-legacy-public-cloud:before {
    content: "\f189";
}
.oui-icon-legacy-puzzle:before {
    content: "\f18a";
}
.oui-icon-legacy-question:before {
    content: "\f18b";
}
.oui-icon-legacy-receipt:before {
    content: "\f18c";
}
.oui-icon-legacy-redirect:before {
    content: "\f18d";
}
.oui-icon-legacy-remote-control:before {
    content: "\f18e";
}
.oui-icon-legacy-scheduled:before {
    content: "\f18f";
}
.oui-icon-legacy-select-arrow-down:before {
    content: "\f190";
}
.oui-icon-legacy-server-save:before {
    content: "\f191";
}
.oui-icon-legacy-server:before {
    content: "\f192";
}
.oui-icon-legacy-server2:before {
    content: "\f193";
}
.oui-icon-legacy-server3:before {
    content: "\f194";
}
.oui-icon-legacy-server4:before {
    content: "\f195";
}
.oui-icon-legacy-site-builder:before {
    content: "\f196";
}
.oui-icon-legacy-small-arrow-down:before {
    content: "\f197";
}
.oui-icon-legacy-small-arrow-right:before {
    content: "\f198";
}
.oui-icon-legacy-sms-emitting:before {
    content: "\f199";
}
.oui-icon-legacy-sms-planned:before {
    content: "\f19a";
}
.oui-icon-legacy-sms-receiving:before {
    content: "\f19b";
}
.oui-icon-legacy-sms:before {
    content: "\f19c";
}
.oui-icon-legacy-speaker:before {
    content: "\f19d";
}
.oui-icon-legacy-splitted-arrows:before {
    content: "\f19e";
}
.oui-icon-legacy-statut-vip:before {
    content: "\f19f";
}
.oui-icon-legacy-stop:before {
    content: "\f1a0";
}
.oui-icon-legacy-success:before {
    content: "\f1a1";
}
.oui-icon-legacy-tasks:before {
    content: "\f1a2";
}
.oui-icon-legacy-telecom-ethernet:before {
    content: "\f1a3";
}
.oui-icon-legacy-telecom-modem:before {
    content: "\f1a4";
}
.oui-icon-legacy-telecom-sdsl:before {
    content: "\f1a5";
}
.oui-icon-legacy-ticket:before {
    content: "\f1a6";
}
.oui-icon-legacy-transfer-ovh:before {
    content: "\f1a7";
}
.oui-icon-legacy-upgrade:before {
    content: "\f1a8";
}
.oui-icon-legacy-upload:before {
    content: "\f1a9";
}
.oui-icon-legacy-user:before {
    content: "\f1aa";
}
.oui-icon-legacy-vRack:before {
    content: "\f1ab";
}
.oui-icon-legacy-veeam:before {
    content: "\f1ac";
}
.oui-icon-legacy-vps:before {
    content: "\f1ad";
}
.oui-icon-legacy-wall:before {
    content: "\f1ae";
}
.oui-icon-legacy-wallet:before {
    content: "\f1af";
}
.oui-icon-legacy-warning:before {
    content: "\f1b0";
}
.oui-icon-legacy-wifi:before {
    content: "\f1b1";
}
.oui-icon-legacy-wrong:before {
    content: "\f1b2";
}
.oui-icon-legacy-xdsl-adsl:before {
    content: "\f1b3";
}
.oui-icon-legacy-xdsl-vdsl:before {
    content: "\f1b4";
}
.oui-icon-page_line:before {
    content: "\f1b5";
}
.oui-icon-paperplane_line:before {
    content: "\f1b6";
}
.oui-icon-pdf_line:before {
    content: "\f1b7";
}
.oui-icon-pen_line:before {
    content: "\f1b8";
}
.oui-icon-power_line:before {
    content: "\f1b9";
}
.oui-icon-printer_line:before {
    content: "\f1ba";
}
.oui-icon-trash_line:before {
    content: "\f1bb";
}
.oui-icon-user_line:before {
    content: "\f1bc";
}
.oui-icon-checkbox-checked:before {
    content: "\f1bd";
}
.oui-icon-checkbox-checkmark:before {
    content: "\f1be";
}
.oui-icon-checkbox-indeterminate:before {
    content: "\f1bf";
}
.oui-icon-checkbox-unchecked:before {
    content: "\f1c0";
}
.oui-icon-domain-dns:before {
    content: "\f1c1";
}
.oui-icon-add:before {
    content: "\f1c2";
}
.oui-icon-arrow-down:before {
    content: "\f1c3";
}
.oui-icon-arrow-left:before {
    content: "\f1c4";
}
.oui-icon-arrow-right:before {
    content: "\f1c5";
}
.oui-icon-arrow-up:before {
    content: "\f1c6";
}
.oui-icon-bell:before {
    content: "\f1c7";
}
.oui-icon-bin:before {
    content: "\f1c8";
}
.oui-icon-book:before {
    content: "\f1c9";
}
.oui-icon-calendar:before {
    content: "\f1ca";
}
.oui-icon-chat:before {
    content: "\f1cb";
}
.oui-icon-check:before {
    content: "\f1cc";
}
.oui-icon-chevron-down:before {
    content: "\f1cd";
}
.oui-icon-chevron-left:before {
    content: "\f1ce";
}
.oui-icon-chevron-right:before {
    content: "\f1cf";
}
.oui-icon-chevron-up-down:before {
    content: "\f1d0";
}
.oui-icon-chevron-up:before {
    content: "\f1d1";
}
.oui-icon-clock-wait:before {
    content: "\f1d2";
}
.oui-icon-close:before {
    content: "\f1d3";
}
.oui-icon-copy:before {
    content: "\f1d4";
}
.oui-icon-ellipsis-vertical:before {
    content: "\f1d5";
}
.oui-icon-ellipsis:before {
    content: "\f1d6";
}
.oui-icon-error:before {
    content: "\f1d7";
}
.oui-icon-error_circle:before {
    content: "\f1d8";
}
.oui-icon-external-link:before {
    content: "\f1d9";
}
.oui-icon-eye-blocked:before {
    content: "\f1da";
}
.oui-icon-eye:before {
    content: "\f1db";
}
.oui-icon-file:before {
    content: "\f1dc";
}
.oui-icon-filter:before {
    content: "\f1dd";
}
.oui-icon-folder:before {
    content: "\f1de";
}
.oui-icon-gear:before {
    content: "\f1df";
}
.oui-icon-guides:before {
    content: "\f1e0";
}
.oui-icon-hamburger:before {
    content: "\f1e1";
}
.oui-icon-help:before {
    content: "\f1e2";
}
.oui-icon-help_circle:before {
    content: "\f1e3";
}
.oui-icon-home:before {
    content: "\f1e4";
}
.oui-icon-info:before {
    content: "\f1e5";
}
.oui-icon-info_circle:before {
    content: "\f1e6";
}
.oui-icon-lightbulb:before {
    content: "\f1e7";
}
.oui-icon-list:before {
    content: "\f1e8";
}
.oui-icon-location:before {
    content: "\f1e9";
}
.oui-icon-minus:before {
    content: "\f1ea";
}
.oui-icon-ok:before {
    content: "\f1eb";
}
.oui-icon-ovh:before {
    content: "\f1ec";
}
.oui-icon-phone:before {
    content: "\f1ed";
}
.oui-icon-plus:before {
    content: "\f1ee";
}
.oui-icon-refresh:before {
    content: "\f1ef";
}
.oui-icon-remove:before {
    content: "\f1f0";
}
.oui-icon-search:before {
    content: "\f1f1";
}
.oui-icon-settings:before {
    content: "\f1f2";
}
.oui-icon-shape-circle:before {
    content: "\f1f3";
}
.oui-icon-shape-dot:before {
    content: "\f1f4";
}
.oui-icon-success:before {
    content: "\f1f5";
}
.oui-icon-success_circle:before {
    content: "\f1f6";
}
.oui-icon-time:before {
    content: "\f1f7";
}
.oui-icon-time_extra-thin:before {
    content: "\f1f8";
}
.oui-icon-trash:before {
    content: "\f1f9";
}
.oui-icon-triangle-down:before {
    content: "\f1fa";
}
.oui-icon-triangle-left:before {
    content: "\f1fb";
}
.oui-icon-triangle-right:before {
    content: "\f1fc";
}
.oui-icon-triangle-up:before {
    content: "\f1fd";
}
.oui-icon-user:before {
    content: "\f1fe";
}
.oui-icon-warning:before {
    content: "\f1ff";
}
.oui-icon-warning_circle:before {
    content: "\f200";
}
