// Colors must be declared both in the @oui-color-names list and as a variable

// General Colors
@oui-color-sapphire: #113f6d;
@oui-color-silver: #bbbdbf;
@oui-color-concrete: #f2f2f2;
@oui-color-zodiac: #122844;
@oui-color-turquoise: #59d2ef;
@oui-color-turquoise-a15: fade(@oui-color-turquoise, 15%);
@oui-color-pacific: #00a2bf;
@oui-color-nurse: #e9ebe7;
@oui-color-nurse2: #e1e3df;
@oui-color-gothic: #7991a3;
@oui-color-foam: #e0f6fd;
@oui-color-rhino: #273b54;
@oui-color-fiord: #3f5167;
@oui-color-shuttle: #59697d;
@oui-color-regent: #818b99;
@oui-color-mischka: #d5dae0;
@oui-color-dusty: #999999;
@oui-color-polar: #f5fcfd;
@oui-color-white: #ffffff;
@oui-color-charlotte: #c6eff9;
@oui-color-iron: #cfd0d2;
@oui-color-ironlight: #dddedf;
@oui-color-alabaster: #fafafa;
@oui-color-affair: #884994;

// Product Colors
@oui-color-jungle: #27b9a2;
@oui-color-jungle-a15: fade(@oui-color-jungle, 15%);
@oui-color-dodger: #32acff;
@oui-color-supernova: #ffcc00;
@oui-color-supernova-a15: fade(@oui-color-supernova, 15%);
@oui-color-pomegranate: #ee4036;
@oui-color-iceberg: #ddf4f2;
@oui-color-milkpunch: #fff7d8;
@oui-color-california: #ff9803;
@oui-color-atlantis: #88c424;
@oui-color-flirt: #ad0067;
@oui-color-claret: #701447;

// Message Colors
@oui-color-info-dark: #3f5167;
@oui-color-info-medium: #7d8da1;
@oui-color-info-light: #b3becc;
@oui-color-info-fade: #dfeaf8;
@oui-color-success-dark: #57710e;
@oui-color-success-medium: #b0ca67;
@oui-color-success-light: #b0ca67;
@oui-color-success-fade: #e0eac2;
@oui-color-warning-dark: #8a5300;
@oui-color-warning-medium: #d9ae00;
@oui-color-warning-light: #e3cd4d;
@oui-color-warning-fade: #faefa0;
@oui-color-error-dark: #b04020;
@oui-color-error-medium: #e36947;
@oui-color-error-light: #eca490;
@oui-color-error-fade: #f5e0da;

@oui-color-names:
  oui-color-sapphire,
  oui-color-silver,
  oui-color-concrete,
  oui-color-zodiac,
  oui-color-turquoise,
  oui-color-turquoise-a15,
  oui-color-pacific,
  oui-color-nurse,
  oui-color-nurse2,
  oui-color-gothic,
  oui-color-foam,
  oui-color-rhino,
  oui-color-fiord,
  oui-color-shuttle,
  oui-color-regent,
  oui-color-mischka,
  oui-color-dusty,
  oui-color-polar,
  oui-color-white,
  oui-color-charlotte,
  oui-color-iron,
  oui-color-ironlight,
  oui-color-alabaster,
  oui-color-affair,
  oui-color-jungle,
  oui-color-jungle-a15,
  oui-color-dodger,
  oui-color-supernova,
  oui-color-supernova-a15,
  oui-color-pomegranate,
  oui-color-iceberg,
  oui-color-milkpunch,
  oui-color-california,
  oui-color-atlantis,
  oui-color-flirt,
  oui-color-claret,
  oui-color-info-dark,
  oui-color-info-medium,
  oui-color-info-light,
  oui-color-info-fade,
  oui-color-success-dark,
  oui-color-success-medium,
  oui-color-success-light,
  oui-color-success-fade,
  oui-color-warning-dark,
  oui-color-warning-medium,
  oui-color-warning-light,
  oui-color-warning-fade,
  oui-color-error-dark,
  oui-color-error-medium,
  oui-color-error-light,
  oui-color-error-fade;
