// Main Colors
@sapphire: #113f6d;
@silver: #bbbdbf;
@concrete: #f2f2f2;
@zodiac: #122844;
@turquoise: #59d2ef;
@turquoise-a15: fade(@turquoise, 15%);
@pacific: #00a2bf;
@nurse: #e9ebe7;
@gothic: #7991a3;
@foam: #e0f6fd;
@rhino: #273b54;
@fiord: #3f5167;
@shuttle: #59697d;
@regent: #818b99;
@mischka: #d5dae0;
@dusty: #999;

// Univers Colors
@jungle: #27b9a2;
@jungle-a15: fade(@jungle, 15%);
@dodger: #32acff;
@supernova: #ffcc00;
@supernova-a15: fade(@supernova, 15%);
@pomegranate: #ee4036;
@iceberg: #ddf4f2;
@milkpunch: #fff7d8;
@california: #ff9803;
@atlantis: #88c424;
@flirt: #ad0067;
@claret: #701447;
