.oui-tile {
  padding: @oui-tile-padding;
  margin: @oui-tile-margin;
  display: block;
  background-color: @oui-tile-background-color;
  border: @oui-tile-border-width solid @oui-tile-border-color;
  border-radius: @oui-tile-border-radius;
  box-shadow: @oui-tile-box-shadow;

  &__title {
    font-weight: @oui-tile-title-font-weight;
    color: @oui-tile-title-color;
  }

  &__legend {
    color: @oui-tile-title-color;
  }

  &__loader {
    text-align: center;
  }

  &__button {
    padding-left: @oui-tile-item-side-spacing;
    padding-right: @oui-tile-item-side-spacing;
    margin: 0 -@oui-tile-item-side-spacing;
    box-sizing: content-box;
    font-weight: @oui-tile-button-font-weight;
    text-align: left;
    text-decoration: none;

    &.oui-button_block.oui-button_icon-right {
      .oui-icon {
        &:not(.oui-icon-external-link)::before {
          right: @oui-tile-item-side-spacing;
        }
      }
    }

    &:hover,
    &:focus {
      background-color: @oui-tile-background-color_hover;
    }

    &:disabled {
      background: none;
    }
  }

  &__button.oui-button_link {
    &,
    &:hover,
    &:focus { text-decoration: none; }
  }

  &__item {
    position: relative;
    display: flex;
    border-top: @oui-tile-item-border-width solid @oui-tile-item-border-color;
    padding: @oui-tile-item-top-spacing 0;

    &:last-child {
      border-bottom: @oui-tile-item-border-width solid @oui-tile-item-border-color;
    }

    &_button {
      padding: 0;
    }
  }

  &__definition {
    margin: 0;
    flex: 1;
  }

  &__term {
    color: @oui-tile-definition-term-color;
    font-size: @oui-tile-definition-term-font-size;
    font-weight: @oui-tile-definition-term-font-weight;
  }

  &__description {
    color: @oui-tile-definition-description-color;
    font-size: @oui-tile-definition-description-font-size;
    margin-left: 0;
    word-break: break-all;

    &_vertical-sub {
      vertical-align: sub;
    }
  }

  &__body {
    &_list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

oui-tile {
  &:extend(.oui-tile);

  &-button,
  &-definition,
  &-description {
    display: block;
  }
}
