// Switch
@oui-switch-width: 3.375rem;
@oui-switch-height: 1.5rem;
@oui-switch-border-width: 2px;

// Deprecated: Support only for old use
@oui-switch-background-color-on: @oui-color-info-dark;
@oui-switch-background-color-off: @oui-color-nurse;
@oui-switch-slider-color: #ffffff;
@oui-switch-icon-color: @oui-switch-slider-color;
@oui-switch-icon-size: .75rem;
