@import './_constants';
@import './_icons';

// Globals
@oui-global-base-z-index: 0;
@oui-global-base-font-family-fallback: sans-serif;
@oui-global-base-font-family-icon: 'Oui Icons';
@oui-global-base-font-family: 'Source Sans Pro', @oui-global-base-font-family-fallback;
@oui-global-base-font-size: rem-calc(16);
@oui-global-base-font-weight: 400;
@oui-global-base-line-height: 1.5;
@oui-global-base-letter-spacing: 0.007em;
@oui-global-base-margin: 0 0 rem-calc(15);
@oui-global-base-radius: 3px;
@oui-global-base-radius-medium: @oui-global-base-radius * 2;
@oui-global-base-form-controls:
  ~".oui-calendar",
  ~".oui-checkbox",
  ~".oui-input",
  ~".oui-input-group",
  ~".oui-file",
  ~".oui-radio",
  ~".oui-select",
  ~".oui-switch",
  ~".oui-textarea";

// Animations
@oui-animation-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
@oui-animation-default: @oui-animation-fast-out-slow-in;
@oui-animation-default-timing: 0.2s;
@oui-animation-shake-default-coordinate: 1;
@oui-animation-shake-default-angle: 3deg;

// Breakpoints
@oui-responsive-breakpoint-phone: 768px;
@oui-responsive-breakpoint-tablet: 1024px;
@oui-responsive-breakpoint-medium: 1200px;

// Colors
@oui-color-brand: @oui-color-sapphire;
@oui-color-primary: @oui-color-zodiac;
@oui-color-secondary: @oui-color-turquoise;
@oui-color-tertiary: @oui-color-pacific;

// Forms
@oui-form-control-default-size: rem-calc(250);
@oui-form-control-sizes:
  xs rem-calc(75),
  s rem-calc(150),
  m rem-calc(250),
  l rem-calc(350),
  xl rem-calc(500),
  auto 100%;
@oui-form-control-phone-sizes:
  xs rem-calc(75),
  s rem-calc(150),
  m rem-calc(250),
  l rem-calc(300),
  xl rem-calc(300),
  auto 100%;

// Icons
@oui-icon-dist-folder: "../fonts/oui-icons";
@oui-icon-spacing: 0;
@oui-icon-size: rem-calc(24);
@oui-icon-color: #333;
@oui-icon-char-color: #fff;

// Heading
@oui-heading-border-width: 2px;
@oui-heading-border-color: #ddd;
@oui-heading-font-sizes:
  rem-calc(46),
  rem-calc(36),
  rem-calc(32),
  rem-calc(28),
  rem-calc(20),
  rem-calc(18);

@oui-heading-font-weights:
  @oui-font-light,
  @oui-font-light,
  @oui-font-regular,
  @oui-font-regular,
  @oui-font-semibold,
  @oui-font-semibold;

@oui-heading-margins:
  0 0 rem-calc(15),
  0 0 rem-calc(15),
  0 0 rem-calc(15),
  0 0 rem-calc(15),
  0 0 rem-calc(15),
  0 0 rem-calc(15);

// Link
@oui-link-font-color: @oui-color-pacific;
@oui-link-font-color_hover: @oui-color-sapphire;
@oui-link-text-decoration: none;
@oui-link-text-decoration_hover: underline;
@oui-link-icon-icon-size: rem-calc(10);
@oui-link-icon-margin-left: rem-calc(5);

// Horizontal line
@oui-horizontal-line-margin-bottom: rem-calc(10);
@oui-horizontal-line-width: 2px;
@oui-horizontal-line-color: @oui-color-nurse;
@oui-horizontal-line-style: solid;
@oui-horizontal-line-dark-color: darken(@oui-color-nurse, 20%);
@oui-horizontal-line-thin-width: 1px;

// Paragraph
@oui-paragraph-margin: 0 0 rem-calc(15);

// Fonts
@oui-font-source-sans-pro-folder: "../fonts/source-sans-pro";
