// Status
@oui-status-line-height: 1.375;
@oui-status-max-width: rem-calc(200);
@oui-status-padding: rem-calc(4) rem-calc(10);
@oui-status-font-color: @oui-color-sapphire;
@oui-status-font-size: rem-calc(16);
@oui-status-font-weight: @oui-font-regular;
@oui-status-border: none;
@oui-status-border-radius: calc(@oui-status-font-size * @oui-status-line-height);
@oui-status-background-color: @oui-color-white;
@oui-status-background-color_success: @oui-color-success-fade;
@oui-status-background-color_info: @oui-color-info-fade;
@oui-status-background-color_warning: @oui-color-warning-fade;
@oui-status-background-color_error: @oui-color-error-fade;
