.oui-status {
  background: @oui-status-background-color;
  border: @oui-status-border;
  border-radius: @oui-status-border-radius;
  color: @oui-status-font-color;
  display: inline-block;
  font-size: @oui-status-font-size;
  font-weight: @oui-status-font-weight;
  line-height: @oui-status-line-height;
  max-width: @oui-status-max-width;
  overflow: hidden;
  padding: @oui-status-padding;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;

  &_success {
    color: @oui-status-font-color_success;
    background-color: @oui-status-background-color_success;
  }

  &_info {
    color: @oui-status-font-color_info;
    background-color: @oui-status-background-color_info;
  }

  &_warning {
    color: @oui-status-font-color_warning;
    background-color: @oui-status-background-color_warning;
  }

  &_error {
    color: @oui-status-font-color_error;
    background-color: @oui-status-background-color_error;
  }

  &_s {
    line-height: @oui-status-s-line-height;
    padding: @oui-status-s-padding;
    font-size: @oui-status-s-font-size;
    font-weight: @oui-status-s-font-weight;
  }
}
