/**** Colors ****/
$ae-100: #faefef;
$ae-300: #ffd2dd;
$ae-400: #e0777c;
$ae-500: #c11b1b;
$as-100: #f3faef;
$as-300: #ecffd1;
$as-400: #88c169;
$as-500: #268403;
$aw-100: #faf6ef;
$aw-300: #ffed96;
$aw-400: #fa9b3e;
$aw-500: #8b6111;
$b-200-soldout: #c4cfdb;
$b-400-text-paragraph: #4d6f92;
$b-500-heading: #113f6d;
$p-000-white: #ffffff;
$p-100: #eff3fa;
$p-200: #c8d5ed;
$p-300: #88a3dc;
$p-500: #2859c0;
$p-600: #2245aa;
$p-700: #1c3193;
$p-800: #151c7d;
$p-900: #0f0866;
$s-100: #eff9fd;
$s-200: #e4f5fd;
$s-300: #89d7f8;
$s-500: #3ebdf2;

/**** Fonts ****/
/** earth **/
$earth-font-size: 16px;
$earth-color: #113F6D;
$earth-letter-spacing: 0.12px;
$earth-text-align: right;
$earth-line-height: 24px;
$earth-font-family: Source Sans Pro;
$earth-font-weight: 400;

@mixin earth() {
  font-size: $earth-font-size;
  color: $earth-color;
  letter-spacing: $earth-letter-spacing;
  text-align: $earth-text-align;
  line-height: $earth-line-height;
  font-family: $earth-font-family;
  font-weight: $earth-font-weight;
}
/** jupiter **/
$jupiter-font-size: 20px;
$jupiter-color: #113F6D;
$jupiter-letter-spacing: 0.12px;
$jupiter-line-height: 25px;
$jupiter-font-family: Source Sans Pro;
$jupiter-font-weight: 700;
$jupiter-text-align: left;

@mixin jupiter() {
  font-size: $jupiter-font-size;
  color: $jupiter-color;
  letter-spacing: $jupiter-letter-spacing;
  line-height: $jupiter-line-height;
  font-family: $jupiter-font-family;
  font-weight: $jupiter-font-weight;
  text-align: $jupiter-text-align;
}
/** mars **/
$mars-font-size: 18px;
$mars-color: #113F6D;
$mars-line-height: 22px;
$mars-font-family: Source Sans Pro;
$mars-font-weight: 700;
$mars-text-align: left;

@mixin mars() {
  font-size: $mars-font-size;
  color: $mars-color;
  line-height: $mars-line-height;
  font-family: $mars-font-family;
  font-weight: $mars-font-weight;
  text-align: $mars-text-align;
}
/** pluton **/
$pluton-font-size: 54px;
$pluton-color: #113F6D;
$pluton-letter-spacing: 0.12px;
$pluton-line-height: 67px;
$pluton-font-family: Source Sans Pro;
$pluton-font-weight: 300;
$pluton-text-align: left;

@mixin pluton() {
  font-size: $pluton-font-size;
  color: $pluton-color;
  letter-spacing: $pluton-letter-spacing;
  line-height: $pluton-line-height;
  font-family: $pluton-font-family;
  font-weight: $pluton-font-weight;
  text-align: $pluton-text-align;
}
/** saturn **/
$saturn-font-size: 28px;
$saturn-color: #113F6D;
$saturn-line-height: 35px;
$saturn-font-family: Source Sans Pro;
$saturn-font-weight: 400;
$saturn-text-align: left;

@mixin saturn() {
  font-size: $saturn-font-size;
  color: $saturn-color;
  line-height: $saturn-line-height;
  font-family: $saturn-font-family;
  font-weight: $saturn-font-weight;
  text-align: $saturn-text-align;
}
/** sun **/
$sun-font-size: 76px;
$sun-color: #113F6D;
$sun-letter-spacing: 1px;
$sun-line-height: 95px;
$sun-font-family: Source Sans Pro;
$sun-font-weight: 300;
$sun-text-align: left;

@mixin sun() {
  font-size: $sun-font-size;
  color: $sun-color;
  letter-spacing: $sun-letter-spacing;
  line-height: $sun-line-height;
  font-family: $sun-font-family;
  font-weight: $sun-font-weight;
  text-align: $sun-text-align;
}
/** uranus **/
$uranus-font-size: 36px;
$uranus-color: #113F6D;
$uranus-line-height: 45px;
$uranus-font-family: Source Sans Pro;
$uranus-font-weight: 400;
$uranus-text-align: left;

@mixin uranus() {
  font-size: $uranus-font-size;
  color: $uranus-color;
  line-height: $uranus-line-height;
  font-family: $uranus-font-family;
  font-weight: $uranus-font-weight;
  text-align: $uranus-text-align;
}
