@oui-search-margin: 0;
@oui-search-padding-right: rem-calc(62);
@oui-search-button-padding-x: rem-calc(10);
@oui-search-reset-right: rem-calc(30);
@oui-search-reset-icon-size: rem-calc(12);
@oui-search-submit-right: 0;
@oui-search-submit-icon-size: rem-calc(20);
