// Search
@oui-search-margin: 0;
@oui-search-padding-right: rem-calc(62);
@oui-search-border-radius: @oui-global-base-radius;

@oui-search-input-font-color_disabled: @oui-color-shuttle;

@oui-search-button-padding-x: rem-calc(10);
@oui-search-button-font-color_hover: @oui-color-sapphire;
@oui-search-button-font-color_disabled: @oui-color-silver;

@oui-search-reset-right: rem-calc(30);
@oui-search-reset-icon-size: rem-calc(12);

@oui-search-submit-right: 0;
@oui-search-submit-icon-size: rem-calc(20);
