@oui-input-group-search-padding-right: rem-calc(62);
@oui-input-group-search-button-padding-x: rem-calc(10);
@oui-input-group-search-reset-right: rem-calc(30);
@oui-input-group-search-reset-icon-size: rem-calc(12);
@oui-input-group-search-submit-right: 0;
@oui-input-group-search-submit-icon-size: rem-calc(20);
