@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import '~@ovh-ux/ui-kit.input/src/less/input-group';
@import './_variables';

// Search
.oui-search {
  display: block;
  margin: @oui-search-margin;

  .oui-input:first-child {
    padding-right: @oui-search-padding-right;
    border-radius: @oui-search-border-radius;

    &:disabled {
      color: @oui-search-input-font-color_disabled;
    }
  }

  .oui-button {
    width: auto;
    min-width: 0;
    display: flex; // For a better vertical centering
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 @oui-search-button-padding-x;
    text-align: center;
    z-index: 2; // Avoid to be hidden by inputs

    &[type="reset"] {
      right: @oui-search-reset-right;
      font-size: @oui-search-reset-icon-size;
    }

    &[type="submit"] {
      right: @oui-search-submit-right;
      font-size: @oui-search-submit-icon-size;
    }

    &,
    &:hover,
    &:focus {
      color: @oui-search-button-font-color_hover;
      border-color: transparent;
      background: transparent;
      box-shadow: none;
    }

    &:disabled {
      color: @oui-search-button-font-color_disabled;
      border-color: transparent;
      background: transparent;
      box-shadow: none;
    }
  }

  .oui-icon {
    display: block;
    color: inherit;
    font-size: inherit;
  }
}

oui-search {
  &:extend(.oui-search);
}

.oui-search__form {
  &:extend(.oui-input-group all);

  margin: 0;
  position: relative;
}
