// Search
.oui-search {
  display: block;
  margin: @oui-search-margin;

  .oui-input:first-child {
    padding-right: @oui-search-input-padding-right;
  }

  .oui-button {
    &[type="reset"] {
      right: @oui-search-button-reset-right;
    }

    &[type="submit"] {
      right: @oui-search-button-submit-right;
    }
  }
}

oui-search {
  &:extend(.oui-search);
}
