// Box
@oui-box-background-color: @oui-color-concrete;
@oui-box-border-color: @oui-color-ironlight;
@oui-box-border-size: 2px;
@oui-box-border-radius: @oui-global-base-radius-medium;
@oui-box-padding: rem-calc(20);
@oui-box-spacing: rem-calc(15);

@oui-box-light-background-color: @oui-color-white;
@oui-box-light-border-color: @oui-color-ironlight;
