@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_variables';

.oui-box {
  background: @oui-box-background-color;
  border: @oui-box-border-size solid @oui-box-border-color;
  border-radius: @oui-box-border-radius;
  margin-bottom: @oui-box-spacing;
  padding: @oui-box-padding;
  text-align: left;

  &_light {
    background: @oui-box-light-background-color;
    border: @oui-box-border-size solid @oui-box-light-border-color;
  }
}
