@import '../oui/_settings';
@import '../oui-color/_variables';
@import '../oui-dropdown/_variables';

@oui-calendar-font-color: @oui-color-sapphire;
@oui-calendar-font-color_hover: @oui-color-sapphire;
@oui-calendar-font-size: rem-calc(16);
@oui-calendar-font-weight: @oui-font-semibold;
@oui-calendar-border: @oui-calendar-border-color 1px solid;
@oui-calendar-border-color: @oui-color-silver;
@oui-calendar-box-shadow: @oui-dropdown-menu-box-shadow;
@oui-calendar-separator-color: @oui-color-silver;

@oui-calendar-header-height: rem-calc(60);
@oui-calendar-header-spacing: rem-calc(20);
@oui-calendar-header-border-bottom: @oui-calendar-separator-color 1px solid;

@oui-calendar-title-arrow-width: rem-calc(15);

@oui-calendar-icon-color: @oui-color-pacific;
@oui-calendar-icon-color_hover: @oui-color-sapphire;
@oui-calendar-icon-size: rem-calc(12);
@oui-calendar-icon-spacing: rem-calc(12);

@oui-calendar-input-font-color: @oui-color-sapphire;
@oui-calendar-input-background-color: #fff;
@oui-calendar-input-background-color_hover: @oui-color-charlotte;

@oui-calendar-body-padding: rem-calc(20) rem-calc(25);

@oui-calendar-cell-width: rem-calc(45);
@oui-calendar-cell-height: rem-calc(30);
@oui-calendar-cell-line-height: rem-calc(28);
@oui-calendar-cell-font-color_disabled: @oui-color-dusty;
@oui-calendar-cell-border-radius: @oui-global-base-radius;
@oui-calendar-cell-border-width: 1px;
@oui-calendar-cell-background-color_hover: @oui-color-charlotte;
@oui-calendar-cell-background-color_selected: @oui-color-charlotte;

@oui-calendar-today-border-color: @oui-color-sapphire;
@oui-calendar-today-border-color_hover: @oui-color-sapphire;
@oui-calendar-today-border-color_disabled: @oui-color-silver;

@oui-calendar-time-height: rem-calc(40);
