#oui {
    .icon-badge-base() {
        display: flex;
        flex-flow: row;
        border: 1px solid #f0f0f0;
        margin: 32px auto;
        padding: 0;
        background-color: white;
    }

    .icon-badge-preview() {
        display: flex;
        flex-flow: column;
        flex: 0 1 auto;
        align-items: center;
        width: 128px;
        padding: 16px;
        background-color: #c9c9c9;
    }

    .icon-badge-code() {
        flex: 1 1 0;
        padding: 16px;
        background-color: white;
    }
}
