@import '@ovh/ui-kit.color/less/_variables';

// Thumbnail
@oui-thumbnail-border-size: 1px;
@oui-thumbnail-border-size-checked: 2px;
@oui-thumbnail-border-radius: rem-calc(4);
@oui-thumbnail-border-color: @oui-color-turquoise;
@oui-thumbnail-border-color_hover: @oui-color-turquoise;
@oui-thumbnail-border-color_disabled: @oui-color-charlotte;
@oui-thumbnail-border-color-checked: @oui-color-pacific;
@oui-thumbnail-border-color-checked_hover: @oui-color-turquoise;
@oui-thumbnail-border-color-checked_disabled: @oui-color-pacific;
@oui-thumbnail-border-color-light: @oui-color-charlotte;
@oui-thumbnail-border-color-light_hover: @oui-color-charlotte;
@oui-thumbnail-padding: rem-calc(20);
@oui-thumbnail-background: @oui-color-foam;
@oui-thumbnail-background_hover: @oui-color-foam;
@oui-thumbnail-background_disabled: @oui-color-polar;
@oui-thumbnail-background-checked: @oui-color-foam;
@oui-thumbnail-background-checked_hover: @oui-color-foam;
@oui-thumbnail-background-checked_disabled: @oui-color-foam;
@oui-thumbnail-background-light: #fff;
@oui-thumbnail-background-light_hover: #fff;
@oui-thumbnail-box-shadow_focus: 0 0 3px 1px rgba(102, 199, 214, 0.6);
