@import (reference) '@ovh/ui-kit.core/less/_mixins';

oui-navbar {
  &-link,
  &-menu,
  &-brand,
  &-toggler,
  &-dropdown,
  &-dropdown-menu,
  &-notification {
    display: block;
  }

  &,
  &-aside,
  &-main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-aside {
    flex-grow: 1;
    justify-content: flex-end;
  }

  &-main {
    flex-grow: 0;
    justify-content: flex-start;
  }
}

#oui {
  .navbar-normalize() {
    #oui > .base-font();
  }
}
