// Generic Inputs
/* stylelint-disable no-descending-specificity */
.oui-input,
.oui-file-selector__label {
  @border-color: rgb(137, 215, 248);

  &,
  &.oui-clipboard__control,
  &.oui-calendar__control {
    border-radius: 0;
    border: 0;
    border-bottom: solid 2px @border-color;
    box-shadow: none;
    transition: all ease-in 200ms;

    &:focus,
    &:hover {
      box-shadow: none;
      border-color: @border-color;
      background-color: rgb(239, 249, 253);
    }

    &:focus {
      border-color: rgb(28, 49, 147);
      color: rgb(28, 49, 147);
    }

    &:disabled {
      border-color: #bbbdbf;
      background-color: #f2f2f2;
      box-shadow: none;
      color: #bbbdbf;
      cursor: auto;
    }

    // Errors
    .oui-field_error &:not(:disabled) {
      &,
      &:hover,
      &:focus {
        background-color: rgb(255, 210, 221);
        border-color: rgb(193, 27, 27);
        box-shadow: none;
      }
    }
  }
}

// Group
.oui-input-group {
  > .oui-button {
    transition: all ease-in 200ms;
    border-radius: @border-radius-default;
    border: 2px solid @primary-color;
    padding-top: rem-calc(6);
    padding-bottom: rem-calc(6);
    color: @primary-color;

    &:hover,
    &:focus {
      background-color: rgb(239, 249, 253);
    }
  }

  > .oui-button,
  > .oui-input,
  > .oui-select {
    + .oui-button,
    + .oui-input,
    + .oui-select {
      margin-left: 8px !important;
    }
  }

  &.oui-input-group_button,
  &.oui-input-group_search,
  &.oui-input-group_clipboard {
    > .oui-button {
      border-color: transparent;
      background-color: transparent;
    }
  }

  &.oui-input-group_numeric {
    > .oui-button {
      background-color: #fff;
      border-radius: @border-radius-default !important;
      border: 2px solid @primary-color;
      color: @primary-color;

      &:hover,
      &:focus {
        background-color: rgb(239, 249, 253);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
