// Generic Inputs
/* stylelint-disable no-descending-specificity */
.oui-input,
.oui-textarea,
.oui-file-selector__label {
  @border-color: rgb(137, 215, 248);

  &,
  &.oui-clipboard__control,
  &.oui-calendar__control {
    background: #fff;
    border-radius: 0 !important;
    border: 0;
    border-bottom: solid 2px @border-color;
    box-shadow: none;
    transition: all ease-in 200ms;

    &:focus,
    &:hover {
      box-shadow: none;
      border: 0;
      border-bottom: solid 2px @border-color;
      background-color: rgb(239, 249, 253);
    }

    &:focus {
      border: 0;
      border-bottom: solid 2px rgb(28, 49, 147);
      color: rgb(28, 49, 147);
    }

    &:disabled {
      border: 0;
      border-bottom: solid 2px #bbbdbf;
      background-color: #f2f2f2;
      box-shadow: none;
      color: #bbbdbf;
      cursor: auto;
    }
  }

  // Errors
  &_error,
  .oui-field_error & {
    &,
    &:hover,
    &:focus {
      background-color: rgb(255, 210, 221) !important;
      border-color: rgb(193, 27, 27) !important;
      box-shadow: none !important;
      color: #b04020 !important;
    }
  }
}

input.oui-input,
textarea.oui-textarea {
  &:read-only:not(.oui-clipboard__control):not(.oui-calendar__control) {
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    box-shadow: none;
    color: #7991a3;
  }
}

// Group
.oui-input-group {
  > .oui-button {
    transition: all ease-in 200ms;
    border: 2px solid @primary-color;
    padding-top: rem-calc(6);
    padding-bottom: rem-calc(6);
    color: @primary-color;

    &:hover,
    &:focus {
      background-color: rgb(239, 249, 253);
    }

    &,
    &:first-child,
    &:last-child {
      border-radius: @border-radius-default;
    }
  }

  > .oui-button,
  > .oui-input,
  > .oui-select {
    + .oui-button,
    + .oui-input,
    + .oui-select {
      margin-left: 8px !important;
    }
  }

  &.oui-input-group_button,
  &.oui-input-group_search,
  &.oui-input-group_clipboard {
    > .oui-button {
      &,
      &:hover,
      &:focus {
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  &.oui-input-group_numeric {
    > .oui-button {
      background-color: #fff;
      border-radius: @border-radius-default !important;
      border: 2px solid @primary-color;
      color: @primary-color;

      &:hover,
      &:focus {
        background-color: rgb(239, 249, 253);
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
