.oui-page-header {
  background: @background-color;

  h1 {
    font-size: 36px;
    line-height: 45px;
    color: @text-color;
    font-weight: 400;
  }
}

.oui-header-tabs {
  .oui-header-tabs__container {
    border-bottom: 1px solid rgb(230, 245, 252);
  }

  .oui-header-tabs__item > a,
  .oui-header-tabs__item > span,
  .oui-header-tabs__item .oui-button_dropdown {
    padding: 0.625rem 1.875rem;
    color: @primary-color;
    font-weight: 600;
    background: transparent !important;

    .oui-icon {
      /* stylelint-disable-next-line no-descending-specificity */
      &,
      &::before {
        color: inherit;
      }
    }
  }

  .oui-header-tabs__item .oui-button_dropdown {
    border: none;
  }

  :not(.oui-header-tabs__dropdown-container) > .oui-header-tabs__item_active > a {
    border-color: @primary-color;
  }

  .oui-header-tabs__slider {
    background: #fff;

    &:hover,
    &:focus {
      background-color: rgb(239, 249, 253);
    }
  }
}
