.oui-select__input,
.oui-ui-select_single .ui-select-match,
.oui-ui-select_single .ui-select-search,
.oui-ui-select_multiple .ui-select-match-container {
  @border-color: rgb(137, 215, 248);

  border-radius: 0 !important;
  border-width: 0 !important;
  border-bottom-color: @border-color;
  border-bottom-width: 2px !important;
  border-bottom-style: solid;
  box-shadow: none !important;
  transition: all ease-in 200ms;

  &:focus,
  &:hover {
    box-shadow: none;
    border-color: @border-color;
    background-color: rgb(239, 249, 253);
  }

  &:focus {
    border-color: rgb(28, 49, 147);
    color: rgb(28, 49, 147);
  }

  // Errors
  .oui-field_error & {
    background-color: rgb(255, 210, 221);
    border-color: rgb(193, 27, 27);
    box-shadow: none !important;
  }
}

.oui-select {
  .oui-icon {
    #oui > .animate();

    top: 0 !important;
    right: 0 !important;
    bottom: 2px !important;
  }

  & &__input:hover ~ .oui-icon,
  & &__input:focus ~ .oui-icon {
    box-shadow: none;
    background-color: rgb(239, 249, 253);

    &::before {
      color: rgb(28, 49, 147);
    }
  }

  & &__input:disabled ~ .oui-icon {
    background-color: #eff9fd;

    &::before {
      color: #b3b3b3;
    }
  }
}
