@import (reference) '@ovh/ui-kit.core/less/_variables';

// Popover
@oui-popover-arrow-margin: 4px;
@oui-popover-arrow-size: 8px;
@oui-popover-background-color: #fff;
@oui-popover-border-color: @oui-color-silver;
@oui-popover-border-width: 1px;
@oui-popover-close-button-size: rem-calc(12);
@oui-popover-opacity: 1;
@oui-popover-transition-duration: 250ms;
@oui-popover-transition-animation: ease-in-out;
@oui-popover-z-index: 1000;
