// Input Group
@oui-input-group-button-min-width: rem-calc(50);
@oui-input-group-button-color_hover: @oui-color-pacific;
@oui-input-group-button-hollow-background-color: #fff;
@oui-input-group-button-hollow-border-color_disabled: @oui-input-border-color-disabled;
@oui-input-group-button-hollow-padding: rem-calc(7);

@oui-input-group-numeric-width: rem-calc(150);
@oui-input-group-numeric-icon-size: rem-calc(10);

@oui-input-group-search-padding-right: rem-calc(62);
@oui-input-group-search-button-padding-x: rem-calc(10);
@oui-input-group-search-reset-right: rem-calc(30);
@oui-input-group-search-reset-icon-size: rem-calc(12);
@oui-input-group-search-submit-right: 0;
@oui-input-group-search-submit-icon-size: rem-calc(20);
