@import (reference) '~@ovh/ui-kit.core/src/less/_mixins';
@import (reference) '~@ovh/ui-kit.field/src/less/_mixins';
@import (reference) '~@ovh/ui-kit.input/src/less/_mixins';
@import (reference) './_variables';

.oui-input-group {
  display: flex;
  align-content: stretch;
  align-items: flex-end;
  vertical-align: top;
  width: 100%;
  max-width: 100%;
  margin: 0 0 rem-calc(20);

  > .oui-button {
    #oui > .button-hollow(
      @background-color: @oui-input-group-button-hollow-background-color,
      @border-color_disabled: @oui-input-group-button-hollow-border-color_disabled,
      @padding: @oui-input-group-button-hollow-padding
    );
  }

  > .oui-input {
    flex: 2 1 auto;
    z-index: 1; // Set border priority on inputs

    &_number {
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  > .oui-button,
  > .oui-input {
    display: table-cell;
    border-radius: 0;
    margin: 0;

    &:first-child {
      border-radius: @oui-global-base-radius 0 0 @oui-global-base-radius;
    }

    &:last-child {
      border-radius: 0 @oui-global-base-radius @oui-global-base-radius 0;
    }
  }

  > .oui-button + .oui-input,
  > .oui-button + .oui-button {
    margin-left: -1px;
  }

  > .oui-input + .oui-input,
  > .oui-input + .oui-button {
    border-left: 0;
  }
}

// Size variants
#oui > .field-sizes(oui-input-group);

// Button variant
// stylelint-disable no-descending-specificity
.oui-input-group_button {
  position: relative;

  .oui-input,
  .oui-input:first-child {
    padding-right: @oui-input-group-button-min-width;
    border-radius: @oui-global-base-radius;
  }

  .oui-icon {
    color: @oui-color-silver;
    font-size: rem-calc(20);
    vertical-align: middle;
  }

  .oui-button,
  .oui-button:hover,
  .oui-button:focus {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: @oui-input-group-button-min-width;
    width: auto;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    z-index: 2; // Avoid to be hidden by inputs
  }

  .oui-button:focus {
    .oui-icon {
      color: @oui-input-group-button-color_hover;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }
  }

  .oui-button:hover,
  .oui-input:focus ~ .oui-button {
    .oui-icon {
      color: @oui-input-group-button-color_hover;
    }
  }
}
// stylelint-enbale no-descending-specificity

// Inline variant
.oui-input-group_inline {
  display: inline-flex;
  width: auto;
}
