// Modal
@oui-modal-background-color: #fff;
@oui-modal-font-size: rem-calc(16);
@oui-modal-title-color: @oui-color-sapphire;
@oui-modal-shadow: 0 10px 10px fade(@oui-color-shuttle, 25%);
@oui-modal-spacing: rem-calc(15) auto;
@oui-modal-backdrop-color: fade(@oui-color-shuttle, 50%);
@oui-modal-loader-background-color: rgba(255, 255, 255, 0.5);

@oui-modal-close-button-size: rem-calc(12);
@oui-modal-close-button-padding-x: rem-calc(10);
@oui-modal-close-button-padding-y: rem-calc(9);
@oui-modal-close-button-color: @oui-color-info-dark;

@oui-modal-header-background-color: #edefec;

@oui-modal-body-padding: rem-calc(30) rem-calc(40) rem-calc(30) rem-calc(132);
@oui-modal-body-padding-no-icon: rem-calc(30) rem-calc(40);
@oui-modal-body-color: @oui-color-shuttle;

@oui-modal-footer-padding: 0 rem-calc(40) rem-calc(30);
@oui-modal-footer-button-spacing: rem-calc(20);

@oui-modal-icon-position-top: rem-calc(30);
@oui-modal-icon-position-left: rem-calc(40);
@oui-modal-icon-font-size: rem-calc(60);

@oui-modal-icon-success-color: @oui-color-success-medium;
@oui-modal-icon-error-color: @oui-color-error-medium;
@oui-modal-icon-warning-color: @oui-color-warning-medium;
@oui-modal-icon-info-color: @oui-color-info-medium;
@oui-modal-icon-help-color: @oui-color-info-medium;
