// Tile
@oui-dashboard-tile-padding: rem-calc(10) rem-calc(15);
@oui-dashboard-tile-background-color: #fff;
@oui-dashboard-tile-border-color: @oui-color-silver;
@oui-dashboard-tile-border: 1px solid @oui-dashboard-tile-border-color;
@oui-dashboard-tile-box-shadow: 0 rem-calc(4px) rem-calc(6px) rgba(0, 0, 0, 0.06);

// Header
@oui-dashboard-tile-header-font-weight: @oui-font-semibold;

// Tile item
@oui-dashboard-tile-item-border-color: @oui-color-iron;
@oui-dashboard-tile-item-border: 1px solid @oui-dashboard-tile-item-border-color;
