@import './_normalize';
@import './_variables';

.oui-dashboard-tile {
  @oui-dashboard-tile-selector: oui-dashboard-tile;

  #oui > .dashboard-tile-normalize();

  padding: rem-calc(10) @oui-dashboard-tile-item-side-spacing;
  margin-bottom: rem-calc(10);
  background-color: #FFF;
  border: 1px solid @oui-dashboard-tile-border-color;
  box-shadow: 0 rem-calc(4px) rem-calc(6px) rgba(0, 0, 0, 0.06);
  border-radius: @oui-global-base-radius;
  height: 100%;

  &__header {
    font-weight: @oui-font-semibold;
    padding-bottom: rem-calc(5);
    &-bordered {
      border-bottom: 1px solid @oui-color-silver;
    }
  }

  &__item-container {
    display: flex;
    padding: rem-calc(8) 0;
    & > *:first-child {
      flex: 1 1 auto;
    }
    .oui-action-menu-button {
      margin-top: rem-calc(8);
    }
    &-bordered {
      border-bottom: 1px solid @oui-color-silver;
      padding-bottom: rem-calc(12);
    }
  }

  &__item {
    &-title {
      #oui .base-font();
      margin-bottom: rem-calc(4);
    }
  }

  &__icon {
    font-size: rem-calc(18);
    line-height: 1.5;
  }

  .oui-button {
    margin-bottom: 0;
  }
}
