.oui-file {
  display: block;
  margin: @oui-file-margin;

  &__input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
  }
}

.oui-file-ellipsis {
  width: 100%;
  display: flex;
  overflow: hidden;

  &__name {
    #oui > .text-ellipsis();

    flex-shrink: 1;

    &::after { content: "."; }
  }

  &__size,
  &__extension {
    white-space: nowrap;
  }

  &__size {
    margin-left: @oui-file-ellipsis-size-spacing;
  }

  &_no-extension &__name::after { display: none; }
}

.oui-file-selector {
  display: flex;
  align-content: stretch;
  align-items: flex-end;
  vertical-align: top;

  & &__input {
    overflow: hidden;
    flex: 1;
    z-index: 0;
  }

  & &__decorator {
    min-width: @oui-file-decorator-width;
    width: @oui-file-decorator-width;
    padding: 0;
    right: auto;
    left: 0;
  }

  & &__label {
    padding-left: @oui-file-decorator-width; /* Space needed for the decorator */
  }

  & &__placeholder {
    #oui > .text-ellipsis();

    display: block;
    color: @oui-file-placeholder-font-color;
  }

  & &__button {
    margin-left: @oui-file-button-spacing;
  }

  & &__remove {
    cursor: pointer;

    &:focus {
      #oui > .outline-border(
        @outline-offset: @oui-file-outline-offset
      );
    }
  }
}

.oui-file-droparea {
  line-height: @oui-file-droparea-line-height;
  padding: @oui-file-droparea-padding;
  position: relative;
  text-align: center;
  font-weight: @oui-file-droparea-font-weight;
  color: @oui-file-droparea-font-color;
  border: solid @oui-file-droparea-border-width @oui-file-droparea-border-color;
  border-radius: @oui-file-droparea-border-radius;
  background-color: @oui-file-droparea-background-color;
  user-select: none;
  z-index: 0;

  &__icon {
    display: inline-block;
    margin-bottom: @oui-file-droparea-icon-spacing;
    padding: @oui-file-droparea-icon-padding;
    color: @oui-file-droparea-icon-color;
    border: solid @oui-file-droparea-icon-outline-width @oui-file-droparea-icon-outline-color;
    border-radius: 50%;

    .oui-icon {
      width: @oui-file-droparea-icon-size;
      height: @oui-file-droparea-icon-size;
      line-height: @oui-file-droparea-icon-size;
      display: block;
      font-size: @oui-file-droparea-icon-size;
    }
  }

  &__text {
    width: @oui-file-droparea-width;
    margin: auto;
  }

  .oui-button {
    padding: 0;
    vertical-align: baseline;
    background: none;
    box-shadow: none;
  }

  &_dragover {
    position: relative;
    color: @oui-file-droparea-font-color_hover;
    border-color: @oui-file-droparea-border-color_hover;
    background-color: @oui-file-droparea-background-color_hover;

    // Avoid text to interfer with "dragoover" event
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }

  &_disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.oui-file-attachments {
  &__heading {
    line-height: @oui-file-heading-line-height;
    margin: @oui-file-heading-margin;
    padding: @oui-file-heading-padding;
    font-size: @oui-file-heading-font-size;
    color: @oui-file-heading-font-color;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 0;
    max-height: @oui-file-attachments-max-height;
    overflow-y: auto;
    box-shadow: @oui-file-attachments-box-shadow;
  }

  &__item {
    min-height: @oui-file-attachment-height;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    z-index: 0;
    border: solid @oui-file-attachment-border-width @oui-file-attachment-border-color;
    border-radius: @oui-file-attachment-border-radius;
    background-color: @oui-file-attachment-background;

    & + & { margin-top: @oui-file-attachment-spacing; }
  }

  &__decorator {
    min-width: @oui-file-attachment-decorator-width;
    width: @oui-file-attachment-decorator-width;
    margin-right: @oui-file-attachment-decorator-spacing;
    color: @oui-file-attachment-decorator-color;
    font-size: @oui-file-attachment-decorator-size;
  }

  &__error {
    display: block;
  }

  &__remove {
    width: @oui-file-attachment-icon-width;
    padding: 0;
    font-size: @oui-file-attachment-icon-size;
    color: @oui-file-attachment-icon-color;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      #oui > .outline-border(
        @outline-offset: @oui-file-attachment-icon-outline-offset;
      );
    }
  }

  &__preview {
    width: @oui-file-preview-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid @oui-file-attachment-border-width @oui-file-attachment-border-color;
    background-color: @oui-file-preview-background-color;

    .oui-icon {
      color: @oui-file-preview-icon-color;
      font-size: @oui-file-preview-icon-size;
    }

    .oui-icon,
    .oui-spinner { vertical-align: middle; }
  }

  &__image {
    width: @oui-file-preview-size;
    height: @oui-file-preview-size;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__label {
    width: 100%;
    line-height: @oui-file-attachment-line-height;
    flex: 1;
    padding: @oui-file-attachment-padding;
    font-size: @oui-file-attachment-font-size;
    color: @oui-file-attachment-font-color;
  }

  // States
  &__item_error {
    z-index: 1;
    border: solid @oui-file-attachment-border-width @oui-file-attachment-border-color_error;
    background-color: @oui-file-attachment-background_error;

    .oui-icon { color: @oui-file-attachment-font-color_error; }
  }

  &__item_error &__preview {
    border-color: @oui-file-attachment-border-color_error;
  }

  &__item_error &__label {
    color: @oui-file-attachment-font-color_error;
  }

  &__item_loading &__label {
    opacity: 0.5;
  }
}

oui-file {
  &:extend(.oui-file);
}
