@import (reference) '@ovh/ui-kit.core/src/less/_mixins';
@import (reference) '@ovh/ui-kit.button/src/less/_mixins';
@import (reference) '@ovh/ui-kit.input/src/less/_variables';
@import (reference) '@ovh/ui-kit.input-group/src/less/_variables';
@import (reference) './_variables';
@import './_normalize';

.oui-file {
  margin: @oui-file-margin;

  &__input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
  }

  &__remove {
    width: @oui-file-icon-width;
    height: @oui-file-icon-width;
    display: flex; // For a better vertical centering
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    font-size: @oui-file-icon-font-size;
    color: @oui-file-icon-color;
    text-align: center;
    border: none;
    background: none;
    z-index: 1; // Avoid to be hidden by inputs
    cursor: pointer;

    &:focus {
      outline-width: 1px;
      outline-style: dotted;
      outline-color: initial;
      outline-offset: -2px;
    }

    .oui-icon {
      display: block;
      color: inherit;
      font-size: inherit;
    }
  }
}

.oui-file-ellipsis {
  width: 100%;
  display: flex;
  overflow: hidden;

  &__name {
    #oui > .text-ellipsis();

    flex-shrink: 1;

    &::after { content: "."; }
  }

  &__size,
  &__extension {
    white-space: nowrap;
  }

  &__size {
    margin-left: rem-calc(5);
  }

  &_no-extension &__name::after { display: none; }
}

.oui-file-selector {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-content: stretch;
  align-items: flex-end;
  vertical-align: top;

  &__input {
    position: relative;
    overflow: hidden;
    flex: 1;
    z-index: 0;
  }

  &__label {
    // Don't extend 'all' to avoid :read-only style
    &:extend(.oui-input);

    margin: 0;
    padding-right: @oui-file-icon-width;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;

    &:hover {
      border-color: @oui-input-border-color-hover;
    }

    &:focus {
      #oui > .animate();

      transition-property: border-color, box-shadow, background-color;
      border-color: @oui-input-border-color-focus;
      outline: none;
      box-shadow: @oui-input-shadow-focus;
      background-color: @oui-input-background-color-focus;
      text-decoration: none;
    }

    &:disabled {
      border-color: @oui-input-border-color-disabled;
      background-color: @oui-input-background-color-disabled;
      box-shadow: none;
      color: @oui-input-font-color-disabled;
      cursor: auto;
    }
  }

  &__placeholder {
    color: @oui-file-placeholder-font-color;
  }

  &__button {
    &:extend(.oui-button all);

    #oui > .button-hollow(
      @background-color: @oui-input-group-button-hollow-background-color,
      @border-color_disabled: @oui-input-group-button-hollow-border-color_disabled,
      @padding: @oui-input-group-button-hollow-padding
    );;

    display: table-cell;
    margin: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Field Error
  &_error &__label {
    &::-moz-selection {
      background: @oui-color-error-dark;
      color: #fff;
    }

    &::selection {
      background: @oui-color-error-dark;
      color: #fff;
    }

    &:not(:disabled),
    &:not(:disabled):hover,
    &:not(:disabled):active,
    &:not(:disabled):focus {
      border-color: @oui-color-error-medium;
      background-color: @oui-color-error-fade;
      color: @oui-color-error-dark;
      font-weight: 400;
      box-shadow: @oui-input-shadow-error;
    }

    &:not(:disabled):focus {
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
    }
  }

  &_error .oui-icon { color: @oui-file-icon-color_error; }
}

.oui-file-droparea {
  line-height: @oui-file-droparea-height;
  position: relative;
  text-align: center;
  color: @oui-file-droparea-font-color;
  border: @oui-file-droparea-border;
  background-color: @oui-file-droparea-background-color;
  user-select: none;
  z-index: 0;

  .oui-button {
    padding: 0;
    vertical-align: baseline;
  }

  &_dragover {
    position: relative;
    color: @oui-file-droparea-font-color_hover;
    border: @oui-file-droparea-border_hover;
    background-color: @oui-file-droparea-background-color_hover;

    .oui-button { opacity: 0.3; }

    // Avoid text to interfer with "dragoover" event
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.oui-file-attachments {
  &__heading {
    margin: @oui-file-heading-margin;
    font-size: @oui-file-heading-font-size;
    color: @oui-file-heading-font-color;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 0;
  }

  &__item {
    min-height: @oui-file-attachment-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 0;
    border: @oui-file-attachment-border;
    background-color: @oui-file-attachment-background;

    & + & { margin-top: -1px; }

    &_error {
      z-index: 1;
      border: @oui-file-attachment-border_error;
      background-color: @oui-file-attachment-background_error;

      .oui-icon { color: @oui-file-icon-color_error; }
    }
  }

  &__error {
    display: block;
    color: @oui-file-attachment-font-color_error;
  }

  &__preview {
    width: @oui-file-preview-size;
    height: @oui-file-preview-size;
    line-height: @oui-file-preview-size;
    display: block;
    text-align: center;
    background-color: @oui-color-alabaster;

    .oui-icon {
      font-size: @oui-file-preview-icon-size;
      color: @oui-file-attachment-font-color_disabled;
    }

    .oui-icon,
    .oui-spinner { vertical-align: middle; }
  }

  &__image {
    width: @oui-file-preview-size;
    height: @oui-file-preview-size;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__label {
    width: 100%;
    line-height: @oui-file-attachment-line-height;
    flex: 1;
    padding: @oui-file-attachment-padding;
    font-size: @oui-file-attachment-font-size;
    color: @oui-file-attachment-font-color;
  }

  &__item_loading &__label {
    color: @oui-file-attachment-font-color_disabled;
  }
}
