.oui-criteria-adder {
  display: inline-block;

  &__submit { margin-top: @oui-criteria-adder-submit-spacing; }

  oui-dropdown { display: inline-block; }

  .oui-dropdown__content {
    width: @oui-criteria-adder-menu-width;
  }

  .oui-field { margin-bottom: @oui-criteria-adder-field-spacing; }

  form { padding: @oui-criteria-adder-form-padding; }
}

.oui-criteria {
  display: block;
  margin-bottom: @oui-criteria-margin-bottom;

  &__actions {
    margin-bottom: @oui-criteria-actions-margin-bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .oui-criteria-adder,
    .oui-search {
      display: inline-block;
      margin-left: @oui-criteria-adder-spacing;
      margin-bottom: 0;
    }
  }

  &__slot {
    flex: 1 0;
  }
}

oui-criteria {
  &:extend(.oui-criteria);

  &-adder { &:extend(.oui-criteria); }
}
