@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.dropdown/src/less/_variables';
@import './_variables';

#oui {
  .datagrid-row(
    @cell-selector,
    @background-color-odd: @oui-datagrid-row-background-color_odd,
    @background-color_even: @oui-datagrid-row-background-color_even
  ) {
    &:nth-child(odd) {
      .@{cell-selector} {
        background-color: @background-color-odd;
      }
    }

    &:nth-child(even) {
      .@{cell-selector} {
        background-color: @background-color_even;
      }
    }
  }

  .datagrid-cell(
    @selector,
    @spinner-container-selector,
    @border-color: @oui-datagrid-cell-border-color,
    @font-color: @oui-datagrid-cell-font-color,
    @padding: @oui-datagrid-cell-padding,
    @height: @oui-datagrid-cell-height
  ) {
    padding: @padding;
    height: @height;
    white-space: nowrap;
    border-bottom: 1px solid @border-color;
    outline: none;
    color: @font-color;
    cursor: default;

    .@{spinner-container-selector} {
      margin: 0 auto;
    }
  }

  .datagrid-responsive-container() {
    position: relative;

    &_sticky-checkbox {
      padding-left: @oui-datagrid-checkbox-column-width;
    }

    &_sticky-actions {
      padding-right: @oui-datagrid-action-column-width;
    }
  }

  .datagrid-stick-columns-container(
    @headers-selector,
    @row-selector,
    @sticky-cell-selector,
    @header-padding: @oui-datagrid-header-padding,
    @cell-padding: @oui-datagrid-cell-padding
  ) {
    &::before {
      #oui > .animate();

      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: -@oui-datagrid-action-column-width;
      width: @oui-datagrid-action-column-width;
      height: 100%;
      border-left: 1px solid #e4e4e4;
      box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.08);
      pointer-events: none;
      opacity: 0;
    }

    &::after {
      #oui > .animate();

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: @oui-datagrid-checkbox-column-width;
      height: 100%;
      border-right: 1px solid #e4e4e4;
      box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.08);
      pointer-events: none;
      opacity: 0;
    }

    &_scroll-begin::before {
      opacity: 1;
      z-index: 1;
    }

    &_scroll-end::after {
      opacity: 1;
      z-index: 1;
    }

    .@{row-selector} {
      .@{sticky-cell-selector} {
        height: @oui-datagrid-cell-height;
        padding: @cell-padding;
      }
    }

    .@{headers-selector} {
      .@{sticky-cell-selector} {
        height: @oui-datagrid-header-height;
        padding: @header-padding;
      }
    }

    .@{sticky-cell-selector} {
      position: absolute;
      top: auto;

      &:first-child {
        left: 0;
        width: @oui-datagrid-checkbox-column-width;
      }

      &:last-child {
        right: 0;
        width: @oui-datagrid-action-column-width;
        text-align: center;
      }

      .oui-dropdown-menu {
        width: @oui-dropdown-menu-max-width;
      }
    }
  }

  .datagrid-overflow-container() {
    max-width: 100%;
    overflow-x: auto;
  }
}
