@import './_mixins';

.oui-datagrid {
  #oui > .table-base(oui-datagrid);

  // Expandable row
  &__row_expandable {
    .oui-datagrid__cell {
      cursor: pointer;
    }

    &:focus {
      #oui > .outline-border(
        @outline-offset: @oui-datagrid-row-outline-offset
      );
    }

    &:nth-child(4n+1) {
      background-color: @oui-datagrid-row-background-color_odd;
    }

    &:nth-child(4n+3),
    &:nth-child(4n+3) + .oui-datagrid-row-detail {
      background-color: @oui-datagrid-row-background-color_even;
    }
  }
}

oui-datagrid {
  display: block;
}

// Parameters dropdown
.oui-datagrid-parameters {
  display: inline-block;

  &__button {
    margin: 0;
    padding: @oui-datagrid-parameters-button-padding;
    width: @oui-datagrid-parameters-button-width;
    font-size: @oui-datagrid-parameters-button-icon-size;
    color: @oui-datagrid-parameters-button-font-color;
    border: @oui-datagrid-parameters-button-border;
    background-color: @oui-datagrid-parameters-button-background-color;

    .oui-icon {
      line-height: @oui-datagrid-parameters-button-line-height;
    }

    &:focus {
      #oui > .outline-border();
    }
  }

  &__body {
    padding: @oui-datagrid-parameters-body-padding;
  }
}

// Expandable rows
.oui-datagrid-row-detail {
  &__cell {
    border-bottom: @oui-datagrid-cell-border-width solid @oui-datagrid-cell-border-color;
  }

  &__container {
    display: block;
    color: @oui-datagrid-cell-font-color;
    margin-left: @oui-datagrid-row-detail-spacing;
    padding: @oui-datagrid-row-detail-padding;
  }
}

// Empty placeholder
.oui-datagrid-empty {
  padding: @oui-datagrid-empty-padding;
  text-align: center;

  &__placeholder {
    letter-spacing: @oui-datagrid-empty-placeholder-letter-spacing;
    line-height: @oui-datagrid-empty-placeholder-line-height;
    color: @oui-datagrid-empty-placeholder-font-color;
    font-size: @oui-datagrid-empty-placeholder-font-size;
    font-weight: @oui-datagrid-empty-placeholder-font-weight;
  }
}

// Overflow container
.oui-datagrid-responsive {
  #oui > .table-responsive(oui-datagrid);
}
