.oui-action-button {
  #oui > .animate();
  #oui > .button-dropdown-color();

  min-width: @oui-action-button-size;
  width: @oui-action-button-size;
  height: @oui-action-button-size;
  line-height: @oui-action-button-line-height;
  padding: 0;
  overflow: visible;
  border-radius: @oui-action-button-border-radius;
  cursor: pointer;

  .oui-icon {
    #oui > .animate();

    display: block;
    font-size: @oui-action-button-icon-size;
  }

  &:focus {
    #oui > .outline-border();

    z-index: 1; // Avoid the outline to be cropped
  }
}

oui-action-menu {
  display: inline-block;

  &-item,
  &-divider {
    display: block;
  }
}
