// Progress
@oui-progress-height: rem-calc(12px);
@oui-progress-compact-size: rem-calc(16px);
@oui-progress-margin: rem-calc(10) 0;
@oui-progress-background-color: @oui-color-concrete;

@oui-progress-bar-text-font-size: rem-calc(14px);
@oui-progress-bar-compact-text-font-size: rem-calc(16px);
@oui-progress-bar-text-font-weight: 400;
@oui-progress-bar-text-color: @oui-color-shuttle;
@oui-progress-bar-text-spacing: rem-calc(5);

@oui-progress-threshold-width: 2px;
@oui-progress-threshold-background: @oui-color-white;
@oui-progress-threshold-foreground: rgba(100, 100, 100, 0.3);

// Progress - Variants
@oui-progress-info-foreground-color: @oui-color-info-medium;
@oui-progress-success-foreground-color: @oui-color-success-medium;
@oui-progress-warning-foreground-color: @oui-color-warning-light;
@oui-progress-error-foreground-color: @oui-color-error-medium;
