@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import './_variables';

.oui-progress {
  #oui > .base-font();
  @oui-progress-selector: oui-progress;

  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: @oui-progress-margin;

  // Background bar
  &::before {
    content: " ";
    height: @oui-progress-height;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: (@oui-progress-height / 2);
    background-color: @oui-progress-background-color;
    z-index: 0;
  }

  &__bar {
    text-align: right;
    transition: width @oui-animation-default-timing @oui-animation-default;

    // Foreground bar
    &::before {
      content: " ";
      width: 100%;
      height: @oui-progress-height;
      display: block;
      position: relative;
      border-top-left-radius: (@oui-progress-height / 2);
      border-bottom-left-radius: (@oui-progress-height / 2);
    }

    & ~ &::before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-of-type::before {
      border-top-right-radius: (@oui-progress-height / 2);
      border-bottom-right-radius: (@oui-progress-height / 2);
    }

    &_info::before { background-color: @oui-progress-info-foreground-color; }

    &_success::before { background-color: @oui-progress-success-foreground-color; }

    &_warning::before { background-color: @oui-progress-warning-foreground-color; }

    &_error::before { background-color: @oui-progress-error-foreground-color; }
  }

  &__label {
    margin-top: @oui-progress-bar-text-spacing;
    display: block;
    position: relative;
    font-size: @oui-progress-bar-text-font-size;
    font-weight: @oui-progress-bar-text-font-weight;
    white-space: nowrap;
    text-align: right;
    color: @oui-progress-bar-text-color;
  }

  &__threshold {
    display: block;
    position: absolute;
    z-index: 1;
    height: @oui-progress-height;
    width: calc(@oui-progress-threshold-width / 2);
    transition: left @oui-animation-default-timing @oui-animation-default;
    background-color: @oui-progress-threshold-background;

    &::before {
      position: absolute;
      content: '';
      height: @oui-progress-height;
      width: calc(@oui-progress-threshold-width / 2);
      left: -1px;
      background-color: @oui-progress-threshold-foreground;
    }
  }

  &_compact {
    flex-direction: row;
    align-items: center;

    &::before { display: none; }

    .@{oui-progress-selector}__bar {
      display: flex;
      flex-direction: row;
      align-items: center;

      &::before {
        height: @oui-progress-compact-size;
        width: @oui-progress-compact-size;
        display: inline-block;
        margin: 0;
        border-radius: (@oui-progress-compact-size / 2);
      }
    }

    .@{oui-progress-selector}__label {
      margin-left: @oui-progress-bar-text-spacing;
      font-size: @oui-progress-bar-compact-text-font-size;
    }

    .@{oui-progress-selector}__threshold {
      display: none;
    }
  }

  // Native progress support
  progress& {
    height: @oui-progress-height;
    overflow: hidden;
    border: none;
    border-radius: (@oui-progress-height / 2);
    background-color: @oui-progress-background-color;

    &::before { display: none; }
    &::-webkit-progress-bar { background-color: @oui-progress-background-color; }

    &::-webkit-progress-value { border-radius: (@oui-progress-height / 2); }
    &::-moz-progress-bar { border-radius: (@oui-progress-height / 2); }

    &::-ms-fill {
      border: none;
      border-radius: (@oui-progress-height / 2);
    }

    &_info {
      color: @oui-progress-info-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-info-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-info-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-info-foreground-color; }
    }

    &_success {
      color: @oui-progress-success-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-success-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-success-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-success-foreground-color; }
    }

    &_warning {
      color: @oui-progress-warning-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-warning-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-warning-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-warning-foreground-color; }
    }

    &_error {
      color: @oui-progress-error-foreground-color;

      &::-webkit-progress-value { background-color: @oui-progress-error-foreground-color; }
      &::-moz-progress-bar { background-color: @oui-progress-error-foreground-color; }
      &::-ms-fill { background-color: @oui-progress-error-foreground-color; }
    }
  }
}

oui-progress {
  &,
  &-bar,
  &-threshold {
    display: block;
  }
}
