// Animations
#oui {
  .animate-fast-out-slow-in(@duration: @oui-animation-default-timing) {
    transition-duration: @duration;
    transition-timing-function: @oui-animation-fast-out-slow-in;
  }

  .animate(@duration: @oui-animation-default-timing) {
    transition-duration: @duration;
    transition-timing-function: @oui-animation-default;
    transition-property: background-color, border-color, box-shadow, color, fill;
  }
}
