// Typography
#oui {
  .base-font(
    @line-height: @earth-line-height,
    @letter-spacing: @earth-letter-spacing,
    @font-family: @earth-font-family,
    @font-weight: @earth-font-weight,
    @font-size: @earth-font-size,
    @font-color: @earth-color,
  ) {
    line-height: @line-height;
    letter-spacing: @letter-spacing;
    font-family: @font-family;
    font-weight: @font-weight;
    font-size: @font-size;
    color: @font-color;
  }

  .text-ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .headings(@index: length(@oui-heading-font-sizes)) when(@index > 0) {
    #oui > .headings(@index - 1);

    h@{index},
    .oui-heading_@{index} {
      #oui > .heading(@index);
    }
  }

  .heading(@index) {
    line-height: extract(@oui-heading-line-heights, @index);
    letter-spacing: extract(@oui-heading-letter-spacings, @index);
    font-weight: extract(@oui-heading-font-weights, @index);
    font-size: extract(@oui-heading-font-sizes, @index);
    color: extract(@oui-heading-colors, @index);
    margin: extract(@oui-heading-margins, @index);
  }

  .link(
    @font-color: @oui-link-font-color,
    @font-color_hover: @oui-link-font-color_hover,
    @font-weight: @oui-link-font-weight,
    @text-decoration: @oui-link-text-decoration,
    @text-decoration_hover: @oui-link-text-decoration_hover
  ) {
    padding: 0;
    border: none;
    background-color: transparent;
    color: @font-color;
    font-weight: @font-weight;
    text-decoration: @text-decoration;
    cursor: pointer;
    -webkit-text-decoration-skip: objects;
    pointer-events: auto;

    &:active,
    &:hover {
      outline-width: 0;
    }

    &:hover,
    &:focus {
      color: @font-color_hover;
    }

    &:hover {
      text-decoration: @text-decoration_hover;
    }

    img {
      border-style: none;
    }
  }
}
