#oui {
  // Used by select-picker too
  .radio-base(
    @selector: oui-radio
  ) {
    #oui > .choice-base();
    #oui > .radio-size(@selector);
    #oui > .radio-color(@selector);

    &__icon {
      display: inline-block;
      position: relative;
      vertical-align: middle;

      &::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: @oui-radio-icon-border-width;
        border-radius: @oui-radio-icon-border-radius;
      }

      &::after {
        content: '';
        position: absolute;
        border-radius: @oui-radio-icon-border-radius;
        visibility: hidden;
      }
    }

    &__text {
      vertical-align: middle;
    }

    // Radio - Checked state
    &__input:checked ~ &__label-container {
      #oui > .radio-color(
        @icon-outer-color: @oui-radio-icon-outer-color_checked,
        @icon-inner-color: @oui-radio-icon-inner-color_checked
      );

      .@{selector}__icon::after {
        visibility: visible;
      }
    }

    // Radio - Disabled state
    &__input:disabled {
      ~ .@{selector}__label-container {
        opacity: 0.5;

        .@{selector}__label,
        .@{selector}__description,
        .@{selector}__section {
          color: @oui-radio-font-color_disabled;
        }
      }

      &,
      ~ .@{selector}__label-container {
        cursor: default;
        pointer-events: none;
      }
    }

    &__input:not(:disabled) {
      // Radio - Focused state
      &:focus ~ .@{selector}__label-container {
        .@{selector}__icon::before {
          box-shadow: @oui-radio-box-shadow_focus;
        }
      }

      // Radio - Active state
      ~ .@{selector}__label-container:active {
        #oui > .radio-color(
          @icon-background-color: @oui-radio-icon-background-color_active,
          @icon-outer-color: @oui-radio-icon-outer-color_active,
          @icon-inner-color: @oui-radio-icon-inner-color_active
        );
      }

      // Radio - Hovered state
      ~ .@{selector}__label-container:not(:active):hover {
        #oui > .radio-color(
          @icon-outer-color: @oui-radio-icon-outer-color_hover
        );
      }

      &:checked ~ .@{selector}__label-container:not(:active):hover {
        #oui > .radio-color(
          @icon-outer-color: @oui-radio-icon-outer-color_checked-hover,
          @icon-inner-color: @oui-radio-icon-inner-color_checked-hover
        );
      }
    }
  }

  .radio-size(
    @selector: oui-radio,
    @line-height: @oui-radio-line-height,
    @font-size: @oui-radio-font-size,
    @icon-size: @oui-radio-icon-size
  ) {
    @bullet-size: calc(@icon-size / 2);
    @min-height: calc(@line-height * @font-size);

    .@{selector}__label {
      min-height: @min-height;
      line-height: @line-height;
      font-size: @font-size;
    }

    .@{selector}__icon {
      width: @icon-size;
      height: @icon-size;
      line-height: @icon-size;

      &::before {
        width: @icon-size;
        height: @icon-size;
        top: 0;
        left: 0;
      }

      &::after {
        width: @bullet-size;
        height: @bullet-size;
        top: calc((@icon-size - @bullet-size) / 2);
        left: calc((@icon-size - @bullet-size) / 2);
      }
    }

    .@{selector}__text {
      padding-left: @oui-radio-padding-left;
    }

    .@{selector}__description {
      padding-left: @icon-size + @oui-radio-padding-left;
    }
  }

  .radio-color(
    @selector: oui-radio,
    @icon-background-color: @oui-radio-icon-background-color,
    @icon-outer-color: @oui-radio-icon-outer-color,
    @icon-inner-color: @oui-radio-icon-inner-color
  ) {
    .@{selector}__icon::before {
      border-color: @icon-outer-color;
      background-color: @icon-background-color;
    }

    .@{selector}__icon::after {
      background-color: @icon-inner-color;
    }
  }
}
