@import './_mixins';

// Radio - Base
.oui-radio {
  #oui > .radio-base();

  & + &:not(.oui-radio_inline) {
    margin-top: @oui-radio-spacing;
  }
}

oui-radio,
oui-radio-group {
  &:extend(.oui-radio);
}

// Radio - Inline
.oui-radio_inline {
  display: inline-block;

  &:not(:last-child) {
    margin-right: @oui-radio-inline-spacing;
  }
}

// Radio - Error
.oui-radio_error,
.oui-field_error .oui-radio {
  .oui-radio__input ~ .oui-radio__label-container,
  .oui-radio__input:checked ~ .oui-radio__label-container {
    &,
    &:hover,
    &:active,
    &:focus {
      #oui > .radio-color(
        @icon-background-color: @oui-radio-icon-background-color_error,
        @icon-outer-color: @oui-radio-icon-outer-color_error,
        @icon-inner-color: @oui-radio-icon-inner-color_error
      );
    }
  }

  .oui-radio__input:focus ~ .oui-radio__label-container,
  .oui-radio__input:checked:focus ~ .oui-radio__label-container {
    .oui-radio__label::before {
      box-shadow: @oui-radio-box-shadow_error;
    }
  }
}
