@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import '~@ovh-ux/ui-kit.dropdown/src/less/_variables';
@import '~@ovh-ux/ui-kit.flatpickr/src/less/flatpickr';
@import '~@ovh-ux/ui-kit.input/src/less/_mixins';
@import '~@ovh-ux/ui-kit.input/src/less/_variables';
@import './_variables';

.oui-calendar {
  display: block;
  margin: @oui-input-margin;
  position: relative;

  &_inline { display: inline-block; }

  // Need to override read-only style of oui-input
  & &__control {
    #oui > .input-base(
      @background-color_readonly: @oui-input-background-color,
      @border-color_readonly: @oui-calendar-input-border-color,
      @font-color_readonly: @oui-calendar-input-font-color
    );

    margin: 0;
  }

  &__control-wrapper {
    position: relative;

    // Fix positionning (inline style)
    // stylelint-disable declaration-no-important
    .flatpickr-calendar {
      left: 0 !important;

      &.rightMost {
        left: auto !important;
        right: 0 !important;
      }

      &.arrowTop { top: 100% !important; }

      &.arrowBottom {
        top: auto !important;
        bottom: 100% !important;
      }
    }
    // stylelint-enable declaration-no-important
  }
}

// Calendar - Error
.oui-field_error .oui-calendar__control {
  #oui > .input-error-style();
}
