.oui-calendar {
  display: block;
  margin: @oui-form-control-margin;
  position: relative;

  &_inline { display: inline-block; }

  // Need to override read-only style of oui-input
  & &__control {
    #oui > .control-base();
    #oui > .control-color();
    #oui > .control-validation();
  }

  &__control-wrapper {
    position: relative;

    // Fix positionning (inline style)
    // stylelint-disable declaration-no-important
    .flatpickr-calendar {
      left: 0 !important;

      &.rightMost {
        left: auto !important;
        right: 0 !important;
      }

      &.arrowTop { top: 100% !important; }

      &.arrowBottom {
        top: auto !important;
        bottom: 100% !important;
      }
    }
    // stylelint-enable declaration-no-important
  }
}
