// Description
@oui-description-term-font-weight: @oui-font-bold;
@oui-description-description-font-weight: @oui-font-regular;
@oui-description-horizontal-line-height: rem-calc(20);
@oui-description-horizontal-margin-bottom: rem-calc(5);
