// Headings
@oui-heading-border-width: 2px;
@oui-heading-border-color: rgb(239, 243, 250);
@oui-heading-border-spacing: rem-calc(8);

@oui-heading-colors:
  @sun-color,
  @pluto-color,
  @uranus-color,
  @saturn-color,
  @jupiter-color,
  @mars-color;

@oui-heading-font-sizes:
  @sun-font-size,
  @pluto-font-size,
  @uranus-font-size,
  @saturn-font-size,
  @jupiter-font-size,
  @mars-font-size;

@oui-heading-font-weights:
  @sun-font-weight,
  @pluto-font-weight,
  @uranus-font-weight,
  @saturn-font-weight,
  @jupiter-font-weight,
  @mars-font-weight;

@oui-heading-letter-spacings:
  @sun-letter-spacing,
  @pluto-letter-spacing,
  @uranus-letter-spacing,
  @saturn-letter-spacing,
  @jupiter-letter-spacing,
  @mars-letter-spacing;

@oui-heading-line-heights:
  @sun-line-height,
  @pluto-line-height,
  @uranus-line-height,
  @saturn-line-height,
  @jupiter-line-height,
  @mars-line-height;

@oui-heading-margins:
  0 0 @base-spacing-medium,
  0 0 @base-spacing-medium,
  0 0 @base-spacing-medium,
  0 0 @base-spacing-medium,
  0 0 @base-spacing-medium,
  0 0 @base-spacing-medium;
