// Horizontal line
@oui-horizontal-line-margin-bottom: rem-calc(10);
@oui-horizontal-line-width: 2px;
@oui-horizontal-line-color: @oui-color-nurse;
@oui-horizontal-line-style: solid;
@oui-horizontal-line-dark-color: darken(@oui-color-nurse, 20%);
@oui-horizontal-line-thin-width: 1px;
