// Horizontal line
@oui-horizontal-line-margin-bottom: rem-calc(10);
@oui-horizontal-line-width: 2px;
@oui-horizontal-line-color: @g-050;
@oui-horizontal-line-style: solid;
@oui-horizontal-line-dark-color: darken(@g-050, 20%);
@oui-horizontal-line-thin-width: 1px;
