// Settings - Global
@global-base-z-index: 0;
@global-base-font-family-fallback: sans-serif;
@global-base-font-family: 'Source Sans Pro', @global-base-font-family-fallback;
@global-base-line-height: 1.5;
@global-base-radius: 3px;
