@import './_version';

// Settings - Global
@oui-global-base-z-index: 0;
@oui-global-base-font-family-fallback: sans-serif;
@oui-global-base-font-family: 'Source Sans Pro', @oui-global-base-font-family-fallback;
@oui-global-base-font-size: rem-calc(16);
@oui-global-base-font-weight: 400;
@oui-global-base-line-height: 1.5;
@oui-global-base-letter-spacing: 0.007em;
@oui-global-base-margin: 0 0 rem-calc(15);
@oui-global-base-radius: 3px;
@oui-global-base-radius-medium: @oui-global-base-radius * 2;
@oui-global-base-form-controls:
  ~".oui-calendar",
  ~".oui-checkbox",
  ~".oui-input",
  ~".oui-input-group",
  ~".oui-file",
  ~".oui-radio",
  ~".oui-select",
  ~".oui-switch",
  ~".oui-textarea";
