@import '../oui-responsive/_mixins';
@import './_variables';

#oui {
  .field-base(
    @label-selector
  ) {
    display: flex;
    flex-direction: column;

    .@{label-selector} {
      &_focus {
        font-weight: @oui-font-semibold;
        color: @oui-field-label-default-font-color;
      }
    }

    &__content {
      display: flex;
      align-items: center;

      /* stylelint-disable indentation */
      .tablet({
        display: block;
      });
      /* stylelint-enable */
    }

    &-control {
      width: 100%;

      .make-control-sizes(@i: length(@oui-field-control-sizes)) when (@i > 0) {
        .make-control-sizes(@i - 1);
        @pair: extract(@oui-field-control-sizes, @i);
        @key: extract(@pair, 1);
        @value: extract(@pair, 2);
        &_@{key} {
          width: @value;
          min-width: @value;
        }
      }
      .make-control-sizes();

      /* stylelint-disable indentation */
      .phone({
        width: 100%;
        min-width: inherit;
      });
      /* stylelint-enable */
    }

    &-helper {
      margin: 0 0 @oui-field-helper-spacing @oui-field-helper-spacing;
      color: @oui-field-helper-color;
      text-align: justify;

      &_top {
        align-self: flex-start;
      }

      /* stylelint-disable indentation */
      .tablet({
        margin-left: 0;
      });
      /* stylelint-enable */
    }

    &_warning {
      .@{label-selector} {
        font-weight: @oui-font-semibold;
        color: @oui-field-label-warning-font-color;
      }
    }

    &_error {
      .@{label-selector} {
        font-weight: @oui-font-semibold;
        color: @oui-field-label-error-font-color;
      }
    }
  }
}
