@import '../oui-color/_variables';

@oui-field-label-default-font-color: #0090b1;
@oui-field-label-warning-font-color: @oui-color-warning-medium;
@oui-field-label-error-font-color: @oui-color-error-dark;
@oui-field-label-font-weight: @oui-font-semibold;
@oui-field-helper-color: @oui-color-dusty;
@oui-field-helper-spacing: rem-calc(20);
@oui-field-control-sizes:
  1 rem-calc(100),
  2 rem-calc(200),
  3 rem-calc(300),
  4 rem-calc(400),
  5 rem-calc(500),
  6 rem-calc(600);
