@import '../oui-color/_variables';

@oui-field-spacing: 1.25rem;

@oui-field-label-default-font-color: @oui-color-shuttle;
@oui-field-label-font-size: 1rem;

@oui-field-helper-color: @oui-color-shuttle;
@oui-field-helper-font-size: .875rem;

@oui-field-control-default-size: 15.625rem;
@oui-field-control-sizes:
  xs 4.6875rem,
  s 9.375rem,
  m 15.625rem,
  l 21.875rem,
  xl 31.25rem,
  auto 100%;
@oui-field-control-phone-sizes:
  xs 4.6875rem,
  s 9.375rem,
  m 15.625rem,
  l 18.75rem,
  xl 18.75rem,
  auto 100%;
@oui-field-control-spacing: .375rem;

@oui-field-error-color: @oui-color-error-dark;
@oui-field-error-font-size: .875rem;
@oui-field-error-icon-selector: oui-icon-error;
@oui-field-error-icon-color: @oui-color-error-medium;
@oui-field-error-icon-font-size: .875rem;

// Backward compatibility with old field components
@oui-field-content-spacing: 1.25rem;
