// Primary colors
@p-000: rgb(255, 255, 255);
@p-050: rgb(245, 254, 255);
@p-100: rgb(190, 241, 255);
@p-200: rgb(133, 217, 253);
@p-300: rgb(75, 178, 246);
@p-400: rgb(21, 126, 234);
@p-500: rgb(0, 80, 215); // Actions color
@p-600: rgb(0, 45, 190);
@p-700: rgb(0, 14, 156); // Branding color
@p-800: rgb(0, 24, 94); // Title color
@p-800-text: rgb(77, 85, 146); // Text color
@p-900: rgb(0, 13, 31);

// Error
@ae-100: rgb(250, 239, 239);
@ae-300: rgb(255, 210, 221);
@ae-400: rgb(224, 119, 124);
@ae-500: rgb(193, 27, 27);

// Warning
@aw-100: rgb(250, 246, 239);
@aw-300: rgb(255, 237, 150);
@aw-400: rgb(250, 155, 62);
@aw-500: rgb(139, 97, 17);

// Success
@as-100: rgb(243, 250, 239);
@as-300: rgb(236, 255, 209);
@as-400: rgb(136, 193, 105);
@as-500: rgb(38, 132, 3);

// Promotion
@promotion-300: rgb(255, 209, 243);
@promotion-500: rgb(142, 71, 174);
@promotion-700: rgb(108, 0, 158);
@promotion-900: rgb(73, 0, 107);

// Status
@status-alpha: rgb(251, 255, 71);
@status-beta: rgb(71, 255, 120);
@status-delivery-120-seconds: rgb(38, 132, 3);
@status-delivery-24-hours: rgb(38, 132, 3);
@status-delivery-72-hours: rgb(182, 197, 17);
@status-delivery-10-days: rgb(255, 200, 0);
@status-limited-edition: rgb(255, 68, 0);
@status-new: rgb(71, 255, 250);
@status-price-drop: rgb(255, 200, 0);
