// Theme

// Color
@background-color: #fff;
@light-color: #fff;
@primary-color: #2859c0;
@secondary-color: #47fffa;
@text-color: #113f6d;

// Success
@success-color: #268403;
@success-bg-color: #ecffd1;

// Warning
@warning-color: #8b6111;
@warning-bg-color: #ffed96;

// Error
@error-color: #c11b1b;
@error-bg-color: #ffd2dd;

// Info
@info-color: #4d6f92;
@info-bg-color: #e4f5fd;

// Border
@border-radius-default: rem-calc(8px);
