// Theme

// Color
@background-color: @p-000;
@light-color: @p-000;
@primary-color: @p-500;
@secondary-color: #47fffa;
@text-color: @p-800-text;
@outline-color: #288601;

// Success
@success-color:@as-500;
@success-bg-color: @as-300;

// Warning
@warning-color: @aw-500;
@warning-bg-color: @aw-300;

// Error
@error-color: @ae-500;
@error-bg-color: @ae-300;

// Info
@info-color: #4d6f92;
@info-bg-color: #e4f5fd;

// Border
@border-radius-default: rem-calc(6px);
