@import './_tokens';

/*
 * Core
 */

// Globals
@oui-global-base-letter-spacing: rem-calc(0.12px);
@oui-global-base-radius: @border-radius-default;
@oui-global-base-radius-medium: @oui-global-base-radius;

// Heading
@oui-heading-font-sizes:
  rem-calc(76),
  rem-calc(54),
  rem-calc(36),
  rem-calc(28),
  rem-calc(20),
  rem-calc(18);

@oui-heading-font-weights:
  @oui-font-light,
  @oui-font-light,
  @oui-font-regular,
  @oui-font-regular,
  @oui-font-bold,
  @oui-font-bold;

@oui-heading-letter-spacings:
  rem-calc(1px),
  @oui-global-base-letter-spacing,
  0,
  0,
  @oui-global-base-letter-spacing,
  0;

@oui-heading-line-heights:
  1.25,
  1.25,
  1.25,
  1.25,
  1.25,
  1.25;

/*
 * Components
 */

// Button
@oui-button-font-color: @primary-color;

// @oui-button-min-width: rem-calc(100);
// @oui-button-max-width: 100%;
// @oui-button-padding-x: rem-calc(20);
// @oui-button-padding-y: rem-calc(8);
// @oui-button-padding: @oui-button-padding-y @oui-button-padding-x;
// @oui-button-margin: 0;
// @oui-button-letter-spacing: 0.007em;
// @oui-button-font-color: @oui-color-sapphire;
// @oui-button-font-size: rem-calc(16);
// @oui-button-font-weight: @oui-font-semibold;
// @oui-button-radius: @oui-global-base-radius;
@oui-button-border-size: 2px;

// @oui-button-primary-padding: calc(@oui-button-padding-y - @oui-button-primary-border-size) calc(@oui-button-padding-x - @oui-button-primary-border-size);
// @oui-button-primary-border-size: 0;
@oui-button-primary-background-color: @primary-color;
// @oui-button-primary-background-color_hover: darken(@oui-color-turquoise, 10%);
// @oui-button-primary-background-color_active: darken(@oui-color-turquoise, 10%);
// @oui-button-primary-background-color_disabled: @oui-color-ironlight;
// @oui-button-primary-border-color: @oui-button-primary-background-color;
// @oui-button-primary-border-color_hover: @oui-button-primary-background-color_hover;
// @oui-button-primary-border-color_active: @oui-button-primary-background-color_active;
// @oui-button-primary-border-color_disabled: @oui-button-primary-background-color_disabled;
// @oui-button-primary-box-shadow: none;
// @oui-button-primary-box-shadow_focus: 0 0 3px 1px rgba(102, 199, 214, 0.6);
// @oui-button-primary-box-shadow_active: inset 2px 2px 1px 0 @oui-color-pacific;
// @oui-button-primary-box-shadow_disabled: none;
@oui-button-primary-font-color: @oui-color-white;
// @oui-button-primary-font-color_disabled: @oui-color-dusty;

// @oui-button-secondary-padding: calc(@oui-button-padding-y - @oui-button-secondary-border-size) calc(@oui-button-padding-x - @oui-button-secondary-border-size);
// @oui-button-secondary-border-size: 1px;
// @oui-button-secondary-background-color: @oui-color-white;
@oui-button-secondary-background-color_hover: #eff9fd;
@oui-button-secondary-background-color_active: @oui-button-secondary-background-color_hover;
// @oui-button-secondary-background-color_disabled: @oui-color-concrete;
@oui-button-secondary-border-color: @primary-color;
@oui-button-secondary-border-color_hover: @oui-button-secondary-border-color;
@oui-button-secondary-border-color_active: @oui-button-secondary-border-color;
// @oui-button-secondary-border-color_disabled: @oui-color-concrete;
// @oui-button-secondary-box-shadow: none;
// @oui-button-secondary-box-shadow_focus: 0 0 3px 1px rgba(0, 0, 0, 0.15);
// @oui-button-secondary-box-shadow_active: inset 2px 2px 1px 0 fade(@oui-color-silver, 30%);
// @oui-button-secondary-box-shadow_disabled: none;
// @oui-button-secondary-font-color: @oui-color-sapphire;
// @oui-button-secondary-font-color_disabled: @oui-color-silver;
