@import './_constants';
@import './_tokens';

/*
 * Core
 */

// Globals
@oui-global-base-letter-spacing: rem-calc(0.12px);
@oui-global-base-radius: @border-radius-default;
@oui-global-base-radius-medium: @oui-global-base-radius;

// Heading
@oui-heading-border-width: 2px;
@oui-heading-border-color: rgb(239, 243, 250);
@oui-heading-border-spacing: rem-calc(8);

@oui-heading-font-sizes:
  rem-calc(76),
  rem-calc(54),
  rem-calc(36),
  rem-calc(28),
  rem-calc(20),
  rem-calc(18);

@oui-heading-font-weights:
  @oui-font-light,
  @oui-font-light,
  @oui-font-regular,
  @oui-font-regular,
  @oui-font-bold,
  @oui-font-bold;

@oui-heading-letter-spacings:
  rem-calc(1px),
  @oui-global-base-letter-spacing,
  0,
  0,
  @oui-global-base-letter-spacing,
  0;

@oui-heading-line-heights:
  1.25,
  1.25,
  1.25,
  1.25,
  1.25,
  1.25;

// Link
@oui-link-font-color: @primary-color;
@oui-link-font-color_hover: @primary-color;
@oui-link-font-weight: @oui-font-semibold;

// Paragraph
@oui-paragraph-font-color: rgb(77, 111, 146);

/*
 * Components
 */

// Action-Menu
@oui-action-button-background-color_hover: @primary-color;

@oui-action-button-border-color_hover: @primary-color;

@oui-action-button-foreground-color: @primary-color;

// Back Button
@oui-back-button-icon-spacing: rem-calc(7);

// Button
@oui-button-font-color: @primary-color;

// Button - Primary variant
@oui-button-primary-background-color: @primary-color;
@oui-button-primary-background-color_disabled: #d4d5de;
@oui-button-primary-font-color: @oui-color-white;
@oui-button-primary-font-color_disabled: #5c5f82;
@oui-button-primary-icon-color: @oui-button-primary-font-color;
@oui-button-primary-icon-circle-color: @oui-button-primary-background-color;

// Button - Secondary variant
@oui-button-secondary-border-size: 2px;
@oui-button-secondary-background-color_hover: #eff9fd;
@oui-button-secondary-background-color_active: @oui-button-secondary-background-color_hover;
@oui-button-secondary-background-color_disabled: @oui-button-secondary-background-color;
@oui-button-secondary-border-color: @primary-color;
@oui-button-secondary-border-color_hover: @oui-button-secondary-border-color;
@oui-button-secondary-border-color_active: @oui-button-secondary-border-color;
@oui-button-secondary-border-color_disabled: #b6b8c7;
@oui-button-secondary-font-color_disabled: #7a7d99;
@oui-button-secondary-icon-circle-color: @oui-button-secondary-background-color;

// Button - Link variant
@oui-button-link-text-decoration: none;
@oui-button-link-text-decoration_hover: underline;

// Button Group
@oui-button-group-outer-radius: @oui-button-radius;
@oui-button-group-inner-radius: @oui-button-radius;
@oui-button-group-primary-spacing: rem-calc(6);
@oui-button-group-secondary-spacing: rem-calc(6);

// Dropdown
@oui-dropdown-item-background-color_active: @primary-color;

@oui-dropdown-item-font-color_active: @oui-color-white;

// File
@oui-file-button-spacing: rem-calc(10);
@oui-file-button-border-radius: @oui-global-base-radius;

@oui-file-attachment-box-shadow: 0 0 6px fade(@primary-color, 20%);

// Header
@oui-header-background-color: @background-color;

@oui-header-spacing-y: 0;
@oui-header-spacing-side_s: 0;
@oui-header-spacing-side_l: 0;

@oui-header-title-line-height: 1.25;
@oui-header-title-font-color: @text-color;
@oui-header-title-font-size: rem-calc(36);
@oui-header-title-font-weight: @oui-font-regular;

// Header Tabs
@oui-header-tabs-margin: rem-calc(16) 0 0 0; // This will cause problems with nav buttons
@oui-header-tabs-border-bottom: 1px solid #e6f5fc;

@oui-header-tabs-item-font-color: @primary-color;
@oui-header-tabs-item-font-weight: @oui-font-semibold;
@oui-header-tabs-item-border-color:  @primary-color;

// Input
@oui-input-font-color: #1c3193;
@oui-input-border-color: #89d7f8;
@oui-input-border-color_hover: @oui-input-border-color;
@oui-input-border-color_focus: #1c3193;
@oui-input-border-color_error: #c11b1b;
@oui-input-border-radius: 0;
@oui-input-border-size: 2px;
@oui-input-box-shadow: none;
@oui-input-box-shadow_focus: none;
@oui-input-box-shadow_error: none;
@oui-input-box-shadow_error-focus: none;
@oui-input-background-color: @oui-color-white;
@oui-input-background-color_hover: #eff9fd;
@oui-input-background-color_focus: @oui-input-background-color_hover;
@oui-input-background-color_error: #ffd2dd;

// Input Group
@oui-input-group-spacing: rem-calc(10);

// Message
@oui-message-border-width: 0;
@oui-message-border-radius: 0;

// Message - Status
@oui-message-info-border-color: @info-bg-color;
@oui-message-info-background-color: @info-bg-color;
@oui-message-info-font-color: @info-color;

@oui-message-success-border-color: @success-bg-color;
@oui-message-success-background-color: @success-bg-color;
@oui-message-success-font-color: @success-color;

@oui-message-warning-border-color: @warning-bg-color;
@oui-message-warning-background-color: @warning-bg-color;
@oui-message-warning-font-color: @warning-color;

@oui-message-error-border-color: @error-bg-color;
@oui-message-error-background-color: @error-bg-color;
@oui-message-error-font-color: @error-color;

// Navbar
@oui-navbar-background-color: @oui-color-white;
@oui-navbar-background-color_active: @oui-navbar-background-color;
@oui-navbar-box-shadow: 0 2pt 4pt rgba(17, 63, 109, 0.15);
@oui-navbar-font-color: @oui-color-sapphire;
@oui-navbar-z-index: 2;

// Navbar - Brand
@oui-navbar-brand-color: #2859c0;

// Navbar - Toggler
@oui-navbar-backdrop-z-index: 1;

@oui-navbar-hamburger-bar-color: @primary-color;

// Navbar Menu
@oui-navbar-menu-width: rem-calc(310);
@oui-navbar-menu-font-color: #113f6d;

@oui-navbar-menu-header-padding: rem-calc(11) rem-calc(20) rem-calc(15) rem-calc(20);
@oui-navbar-menu-header-background-color: @oui-color-white;
@oui-navbar-menu-header-border-bottom: 2px solid #e6f5fc;

@oui-navbar-menu-title-font-color: @primary-color;
@oui-navbar-menu-title-font-size: rem-calc(18);
@oui-navbar-menu-title-font-weight: @oui-font-semibold;

@oui-navbar-menu-back-padding: rem-calc(12) rem-calc(16);
@oui-navbar-menu-back-border-color: @info-bg-color;
@oui-navbar-menu-back-border-radius: 3px;
@oui-navbar-menu-back-border-width: 1px;
@oui-navbar-menu-back-background-color: @info-bg-color;

@oui-navbar-menu-link-background-color_active: transparent;

// Navbar Link
@oui-navbar-link-font-color: @oui-navbar-font-color;
@oui-navbar-link-text-decoration_hover: underline;
@oui-navbar-link-background-color: transparent;
@oui-navbar-link-background-color_active: transparent;

@oui-navbar-arrow-color: @primary-color;

@oui-navbar-primary-font-color: @oui-navbar-link-font-color;
@oui-navbar-primary-font-color_active: @oui-navbar-link-font-color;

@oui-navbar-secondary-font-color: @oui-navbar-link-font-color;
@oui-navbar-secondary-font-color_active: @oui-navbar-link-font-color;

@oui-navbar-icon-color: #59697d;
@oui-navbar-icon-color_active: @oui-navbar-icon-color;

// Select
@oui-select-font-color: @oui-input-font-color;
@oui-select-box-shadow: @oui-input-box-shadow;
@oui-select-box-shadow_focus: @oui-input-box-shadow_focus;
@oui-select-border-color: @oui-input-border-color;
@oui-select-border-color_focus: @oui-input-border-color_focus;
@oui-select-border-color_error: @oui-input-border-color_error;
@oui-select-border-radius: @oui-input-border-radius;
@oui-select-border-width: @oui-input-border-size;
@oui-select-background-color: @oui-input-background-color;
@oui-select-background-color_focus: @oui-input-background-color_focus;
@oui-select-background-color_error: @oui-input-background-color_error;

// Status
@oui-status-font-color_info: @info-color;
@oui-status-font-color_success: @success-color;
@oui-status-font-color_warning: @warning-color;
@oui-status-font-color_error: @error-color;
@oui-status-font-weight: @oui-font-semibold;
@oui-status-background-color_info: @info-bg-color;
@oui-status-background-color_success: @success-bg-color;
@oui-status-background-color_warning: @warning-bg-color;
@oui-status-background-color_error: @error-bg-color;

// Tabs
@oui-tabs-tab-padding: 0 rem-calc(12);
@oui-tabs-tab-padding_active: 0 rem-calc(12) rem-calc(6) rem-calc(12);
@oui-tabs-tab-padding_mobile: 0 rem-calc(12);
@oui-tabs-tab-border-radius: 3px;
