@import './_tokens';

/*
 * Core
 */

// Globals
@oui-global-base-letter-spacing: rem-calc(0.12px);
@oui-global-base-radius: @border-radius-default;
@oui-global-base-radius-medium: @oui-global-base-radius;

// Heading
@oui-heading-font-sizes:
  rem-calc(76),
  rem-calc(54),
  rem-calc(36),
  rem-calc(28),
  rem-calc(20),
  rem-calc(18);

@oui-heading-font-weights:
  @oui-font-light,
  @oui-font-light,
  @oui-font-regular,
  @oui-font-regular,
  @oui-font-bold,
  @oui-font-bold;

@oui-heading-letter-spacings:
  rem-calc(1px),
  @oui-global-base-letter-spacing,
  0,
  0,
  @oui-global-base-letter-spacing,
  0;

@oui-heading-line-heights:
  1.25,
  1.25,
  1.25,
  1.25,
  1.25,
  1.25;

// Link
@oui-link-font-color: @primary-color;
@oui-link-font-color_hover: @primary-color;
@oui-link-font-weight: @oui-font-semibold;

/*
 * Components
 */

// Button
@oui-button-font-color: @primary-color;
@oui-button-border-size: 2px;

// Button - Primary variant
@oui-button-primary-background-color: @primary-color;
@oui-button-primary-background-color_disabled: #d4d5de;
@oui-button-primary-font-color: @oui-color-white;
@oui-button-primary-font-color_disabled: #5c5f82;
@oui-button-primary-icon-color: @oui-button-primary-font-color;
@oui-button-primary-icon-circle-color: @oui-button-primary-background-color;

// Button - Secondary variant
@oui-button-secondary-background-color_hover: #eff9fd;
@oui-button-secondary-background-color_active: @oui-button-secondary-background-color_hover;
@oui-button-secondary-background-color_disabled: @oui-button-secondary-background-color;
@oui-button-secondary-border-color: @primary-color;
@oui-button-secondary-border-color_hover: @oui-button-secondary-border-color;
@oui-button-secondary-border-color_active: @oui-button-secondary-border-color;
@oui-button-secondary-border-color_disabled: #b6b8c7;
@oui-button-secondary-font-color_disabled: #7a7d99;
@oui-button-secondary-icon-circle-color: @oui-button-secondary-background-color;

// Button - Link variant
@oui-button-link-text-decoration: none;
@oui-button-link-text-decoration_hover: underline;

// Button Group
@oui-button-group-outer-radius: @oui-button-radius;
@oui-button-group-inner-radius: @oui-button-radius;
@oui-button-group-primary-spacing: rem-calc(6);
@oui-button-group-secondary-spacing: rem-calc(6);

// Header
@oui-header-background-color: @background-color;

@oui-header-spacing-y: 0;
@oui-header-spacing-side_s: 0;
@oui-header-spacing-side_l: 0;

@oui-header-title-line-height: 1.25;
@oui-header-title-font-color: @text-color;
@oui-header-title-font-size: rem-calc(36);
@oui-header-title-font-weight: @oui-font-regular;

// Header Tabs
@oui-header-tabs-margin: rem-calc(16) 0 0 0; // This will cause problems with nav buttons
@oui-header-tabs-border-bottom: 1px solid #e6f5fc;

@oui-header-tabs-item-font-color: @primary-color;
@oui-header-tabs-item-font-weight: @oui-font-semibold;
@oui-header-tabs-item-border-color:  @primary-color;

// Message
@oui-message-border-width: 0;
@oui-message-border-radius: 0;

// Message - Status
@oui-message-info-border-color: @info-bg-color;
@oui-message-info-background-color: @info-bg-color;
@oui-message-info-font-color: @info-color;

@oui-message-success-border-color: @success-bg-color;
@oui-message-success-background-color: @success-bg-color;
@oui-message-success-font-color: @success-color;

@oui-message-warning-border-color: @warning-bg-color;
@oui-message-warning-background-color: @warning-bg-color;
@oui-message-warning-font-color: @warning-color;

@oui-message-error-border-color: @error-bg-color;
@oui-message-error-background-color: @error-bg-color;
@oui-message-error-font-color: @error-color;

// Status
@oui-status-font-color_info: @info-color;
@oui-status-font-color_success: @success-color;
@oui-status-font-color_warning: @warning-color;
@oui-status-font-color_error: @error-color;
@oui-status-font-weight: @oui-font-semibold;
@oui-status-background-color_info: @info-bg-color;
@oui-status-background-color_success: @success-bg-color;
@oui-status-background-color_warning: @warning-bg-color;
@oui-status-background-color_error: @error-bg-color;

// Tabs
@oui-tabs-tab-padding: 0 rem-calc(12);
@oui-tabs-tab-padding_active: 0 rem-calc(12) rem-calc(6) rem-calc(12);
@oui-tabs-tab-padding_mobile: 0 rem-calc(12);
@oui-tabs-tab-border-radius: 3px;
