.oui-button {
  &.oui-button_icon-left .oui-icon,
  .oui-file-selector__button_icon-left .oui-icon {
    margin-right: 0.4rem;
  }

  &.oui-button_icon-only {
    background-color: transparent;
    color: @primary-color;

    &:hover,
    &:focus {
      background-color: @primary-color;

      &,
      .oui-icon {
        color: #fff;
      }
    }

    &:disabled {
      background-color: transparent;
      color: #c4cfdb;
    }
  }
}

.oui-action-button circle,
.oui-action-menu-button circle {
  fill: @primary-color;
}

.oui-action-button[aria-expanded="true"],
.oui-action-menu-button[aria-expanded="true"],
.oui-action-button:hover,
.oui-action-button:focus,
.oui-action-menu-button:hover,
.oui-action-menu-button:focus {
  background-color: @primary-color;
  border-color: @primary-color;

  circle {
    fill: #fff;
  }
}

.oui-dropdown-option:hover,
.oui-button.oui-button_action-menu:hover,
.oui-dropdown-option:focus,
.oui-button.oui-button_action-menu:focus,
.oui-file-selector__button.oui-button_action-menu:hover,
.oui-file-selector__button.oui-button_action-menu:focus,
.oui-autocomplete__option:hover,
.oui-autocomplete__option:focus {
  background-color: @primary-color;
  color: #fff;
}
