.oui-pagination__selector .oui-button_secondary {
  padding: @oui-button-primary-padding;
  padding-left: @oui-button-small-width-padding-x;
  padding-right: @oui-button-small-width-padding-x;
  border-width: @oui-button-primary-border-size;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    box-shadow: 0 5pt 10pt rgba(40, 89, 192, 0.15);
  }
}
