// Ui-Select
@oui-ui-select-margin: 0 0 1.25rem;

// Ui-Select - Button
// See oui-dropdown__trigger
@oui-ui-select-button-dropdown-max-width: 31.25rem;
@oui-ui-select-button-dropdown-selector: oui-button_dropdown;

// Ui-Select - Dropdown
@oui-ui-select-max-height: 12.5rem;
@oui-ui-select-max-width: 31.25rem;
@oui-ui-select-min-width: 10rem;
@oui-ui-select-font-size: .875rem;
@oui-ui-select-description-font-size: .875rem;

// Ui-Select choices
@oui-ui-select-choices-icon-size: 1rem;
@oui-ui-select-choices-padding-x: 1.25rem;
@oui-ui-select-choices-padding-y: .5625rem;
@oui-ui-select-choices-group-font-size: .875rem;
@oui-ui-select-choices-font-size: 1rem;
@oui-ui-select-choices-description-font-size: .875rem;
@oui-ui-select-choices-button-background-selected: @oui-color-charlotte;
@oui-ui-select-choices-button-background-hover: @oui-color-foam;
@oui-ui-select-choices-button-background-pressed: #cdf1fa;
