// Ui-Select
@oui-ui-select-height: rem-calc(40);
@oui-ui-select-margin: 0 0 rem-calc(20);

// Ui-Select - Button
// See oui-dropdown__trigger
@oui-ui-select-button-dropdown-max-width: rem-calc(500);
@oui-ui-select-button-dropdown-selector: oui-button_dropdown;

// Ui-Select - Dropdown
@oui-ui-select-max-height: rem-calc(200);
@oui-ui-select-max-width: rem-calc(500);
@oui-ui-select-min-width: rem-calc(160);
@oui-ui-select-font-size: rem-calc(14);
@oui-ui-select-description-font-size: rem-calc(14);

// Ui-Select choices
@oui-ui-select-choices-icon-size: rem-calc(16);
@oui-ui-select-choices-padding-x: rem-calc(20);
@oui-ui-select-choices-padding-y: rem-calc(9);
@oui-ui-select-choices-group-font-size: rem-calc(14);
@oui-ui-select-choices-font-size: rem-calc(16);
@oui-ui-select-choices-description-font-size: rem-calc(14);
@oui-ui-select-choices-button-background-selected: @oui-color-charlotte;
@oui-ui-select-choices-button-background-hover: @oui-color-foam;
@oui-ui-select-choices-button-background-pressed: #cdf1fa;

@oui-ui-select-choices-grouped-padding-left: rem-calc(30);

@oui-ui-select-multiple-line-height: rem-calc(36);
@oui-ui-select-multiple-padding-y: ~"calc((@{oui-ui-select-height} - @{oui-ui-select-multiple-line-height} - 2px) / 2)";
