@import '~@ovh-ux/ui-kit.core/src/less/_mixins';
@import '~@ovh-ux/ui-kit.core/src/less/_variables';
@import './_variables';

#oui {
  .select-error-style(
    @select-selector: oui-select;
    @icon-selector: oui-icon;
  ) {
    @status: error;
    @status-font-color: "oui-color-@{status}-dark";
    @status-icon-color: "oui-color-@{status}-medium";
    @status-border-color: "oui-color-@{status}-light";
    @status-background-color: "oui-color-@{status}-fade";

    .@{select-selector}__input,
    .@{select-selector}__input:hover,
    .@{select-selector}__input:active,
    .@{select-selector}__input:focus {
      border-color: @@status-border-color;
      background-color: @@status-background-color;
      color: @@status-font-color;

      ~ .@{icon-selector} {
        box-shadow: none;
        background-color: @@status-background-color;

        &::before {
          color: @@status-font-color;
        }
      }
    }

    .@{select-selector}__input:focus {
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
    }
  }
}
