// Select
@oui-select-height: rem-calc(40);
@oui-select-margin: 0;
@oui-select-padding-x: rem-calc(12);
@oui-select-font-color: @oui-color-zodiac;
@oui-select-font-color_disabled: @oui-color-silver;
@oui-select-font-size: rem-calc(16);
@oui-select-font-weight: 600;
@oui-select-box-shadow: 1px 1px 0 0 rgba(18, 40, 68, 0.07);
@oui-select-box-shadow_focus: inset 1px 1px 2px 0 rgba(102, 199, 214, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.35);
@oui-select-border-color: @oui-color-silver;
@oui-select-border-color_focus: @oui-color-pacific;
@oui-select-border-color_disabled: @oui-color-concrete;
@oui-select-border-width: 1px;
@oui-select-border-radius: @oui-global-base-radius;
@oui-select-background-color: #fff;
@oui-select-background-color_focus: @oui-color-polar;
@oui-select-background-color_disabled: @oui-color-concrete;

@oui-select-icon-size: rem-calc(10);
@oui-select-icon-spacing: rem-calc(18);
@oui-select-icon-position-right: rem-calc(12);
