@import './_mixins';

// Select
.oui-select {
  margin: @oui-select-margin;
  display: block;
  position: relative;

  // Native Select
  // WARNING: Most styles couldn't work on some browsers,
  // especially for the dropdown menu
  select.oui-select__input {
    #oui > .select-base();

    // Dropdown Menu
    option {
      margin: 0;
      padding: 0;
      background: @oui-select-option-background-color;
      color: @oui-select-option-font-color;
      font-size: @oui-select-option-font-size;
      font-style: normal;
      font-weight: @oui-select-option-font-weight;

      &:hover,
      &:focus {
        background: @oui-select-option-background-color_hover;
        color: @oui-select-option-font-color_hover;
      }

      &:checked {
        background: @oui-select-option-background-color_checked;
        color: @oui-select-option-font-color_checked;
      }
    }

    optgroup {
      color: @oui-select-group-font-color;
      font-size: @oui-select-group-font-size;
      font-style: normal;
      font-weight: @oui-select-group-font-weight;
      background-color: @oui-select-group-background-color;
    }

    // Multiple variant
    &[multiple] {
      overflow: auto;
      padding: @oui-select-list-padding;

      ~ .oui-icon { display: none; }

      // Dropdown Menu
      option {
        background: transparent;
        color: @oui-select-option-font-color;

        &:hover,
        &:focus {
          background: @oui-select-option-background-color_hover;
          color: @oui-select-option-font-color_hover;
        }

        &:checked {
          background: @oui-select-option-background-color_checked;
          color: @oui-select-option-font-color_checked;
        }
      }

      optgroup { background: transparent; }

      // Use focus colors when select[multiple] is hovered
      &:hover {
        #oui > .control-color(
          @font-color: @oui-select-font-color_focus,
          @border-color: @oui-select-border-color_focus,
          @border-bottom-color: @oui-select-border-bottom-color_focus,
          @background-color: @oui-select-background-color_focus,
        );
      }
    }
  }

  // Inline variant
  &_inline {
    display: inline-block;
    vertical-align: top;
    width: auto;
  }

  // States
  #oui > .select-states();

  // Sizes
  #oui > .control-sizes();

  // Validation
  &_success,
  .oui-field_success & {
    select.oui-select__input {
      &,
      &:hover,
      &:focus {
        #oui > .select-color(
          @font-color: @oui-select-font-color_success,
          @border-color: @oui-select-border-color_success,
          @border-bottom-color: @oui-select-border-bottom-color_success,
          @background-color: @oui-select-background-color_success,
          @icon-color: @oui-select-icon-color_success
        );
      }
    }
  }

  &_warning,
  .oui-field_warning & {
    select.oui-select__input {
      &,
      &:hover,
      &:focus {
        #oui > .select-color(
          @font-color: @oui-select-font-color_warning,
          @border-color: @oui-select-border-color_warning,
          @border-bottom-color: @oui-select-border-bottom-color_warning,
          @background-color: @oui-select-background-color_warning,
          @icon-color: @oui-select-icon-color_warning
        );
      }
    }
  }

  &_error,
  .oui-field_error & {
    select.oui-select__input {
      &,
      &:hover,
      &:focus {
        #oui > .select-color(
          @font-color: @oui-select-font-color_error,
          @border-color: @oui-select-border-color_error,
          @border-bottom-color: @oui-select-border-bottom-color_error,
          @background-color: @oui-select-background-color_error,
          @icon-color: @oui-select-icon-color_error
        );
      }
    }
  }
}

oui-select {
  display: block;
}
