@import './_mixins';

// Keep the templates classnames
// Since they are used directly by the plugin
.oui-ui-select {
  #oui > .base-font();

  position: relative;
  margin: @oui-select-margin;

  // Select - Menu
  .ui-select-dropdown {
    min-width: @oui-select-menu-min-width;
    width: 100%;
    max-width: 100%;
    display: none;
    margin: 0;
    position: absolute;
    list-style: none;
    text-align: initial;
    box-shadow: @oui-select-menu-box-shadow;
    border: none;
    background-color: @oui-select-menu-background-color;
    z-index: @oui-select-menu-z-index;
  }

  [aria-expanded="true"] ~ .ui-select-dropdown { display: block; }

  // Select - List
  .ui-select-choices {
    width: 100%;
    max-height: @oui-select-menu-max-height;
    margin: 0;
    padding: @oui-select-menu-padding;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;

    &-group-label {
      padding: @oui-select-group-label-padding;
      font-size: @oui-select-group-font-size;
      font-weight: @oui-select-group-font-weight;
      color: @oui-select-group-font-color;
    }
  }

  // Select - Options
  .ui-select-choices-row {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-size: @oui-select-option-font-size;
    font-weight: @oui-select-option-font-weight;
    color: @oui-select-option-font-color;
    border: none;
    background-color: @oui-select-option-background-color;

    &-inner {
      line-height: @oui-select-option-line-height;
      flex: 1;
      padding: @oui-select-option-padding;
    }

    &,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:focus {
      #oui > .outline-border();
    }

    &_selected {
      background-color: @oui-select-option-background-color_checked;
      color: @oui-select-option-font-color_checked;
    }

    &:hover,
    &:focus,
    &_active {
      background-color: @oui-select-option-background-color_hover;
      color: @oui-select-option-font-color_hover;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: @oui-select-option-background-color;
      color: @oui-select-option-font-color;
      opacity: 0.5;
    }
  }

  // Helpers
  .ui-select-highlight {
    color: @oui-select-highlight-font-color;
    font-weight: @oui-select-highlight-font-weight;
  }

  .ui-select-choices-row_selected .ui-select-highlight {
    color: @oui-select-highlight-font-color_checked;
  }

  .ui-select-choices-row_active .ui-select-highlight {
    color: @oui-select-highlight-font-color_hover;
  }

  .ui-select-offscreen {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    outline: 0;
    left: 0;
    top: 0;
  }
}

// Variant 'single'
.oui-ui-select_single {
  .ui-select-match,
  .ui-select-search {
    #oui > .select-base(ui-select-match-icon);
    #oui > .select-states(ui-select-match-icon);
    #oui > .select-validation(ui-select-match-icon);

    &::-ms-clear,
    &::-ms-expand {
      display: none;
    }
  }
}

// Variant 'multiple'
.oui-ui-select_multiple {
  .ui-select-match-container {
    #oui > .select-base(ui-select-match-icon);
    #oui > .select-states(ui-select-match-icon);
    #oui > .select-validation(ui-select-match-icon);

    line-height: @oui-select-multiple-line-height;
    padding-top: @oui-select-multiple-padding-y;
    padding-bottom: @oui-select-multiple-padding-y;
  }

  .ui-select-match {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .ui-select-match-items {
    line-height: inherit;
  }

  // Custom `oui-chip`
  .ui-select-match-item {
    height: @oui-select-chip-height;
    line-height: @oui-select-chip-height;
    position: relative;
    padding: @oui-select-chip-padding;
    margin: @oui-select-chip-margin;
    border-radius: @oui-select-chip-border-radius;
    z-index: 1;

    .oui-icon {
      right: @oui-select-chip-padding-x;
    }
  }

  .ui-select-search {
    #oui > .base-font();

    width: auto !important; // Override inline style
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
  }
}

// To keep track of keydown
.oui-ui-select .ui-select-search_hidden {
  opacity: 0;
  height: 0;
  min-height: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
}
