@import '../oui-color/_variables';

// Popover
@oui-popover-arrow-margin: 4px;
@oui-popover-arrow-size: 8px;
@oui-popover-background-color: #fff;
@oui-popover-border-color: @oui-color-silver;
@oui-popover-border-width: 1px;
@oui-popover-close-button-size: .75rem;
