@import '../oui-animation/_mixins';
@import '../oui-button/_variables';
@import '../oui-color/_variables';
@import '../oui-icons/_icons';
@import './_normalize';
@import './_variables';

.oui-popover {
  background-color: @oui-popover-background-color;
  box-shadow: 0 4px 6px 0 @oui-color-info-fade;
  border: @oui-popover-border-width solid @oui-popover-border-color;
  padding: rem-calc(20);
  padding-right: rem-calc(30);
  position: absolute;
  color: @oui-color-sapphire;
  font-size: rem-calc(14);
  max-width: rem-calc(300);
  text-align: initial;
  opacity: 0;
  visibility: hidden; // For ARIA
  transition-property: opacity, visibility, z-index;
  transition-duration: @oui-popover-transition-duration;
  transition-timing-function: @oui-popover-transition-animation;
  z-index: -1;
  user-select: none;
  pointer-events: none;

  &[x-placement^="left"], &[x-placement^="right"] {
    .oui-popover__arrow {
      &::before {
        border-width: @oui-popover-arrow-size + @oui-popover-border-width;
        margin-top: -@oui-popover-arrow-size - @oui-popover-border-width;
      }

      &::after {
        border-width: @oui-popover-arrow-size;
        margin-top: -@oui-popover-arrow-size;
      }
    }
  }

  &[x-placement^="bottom"], &[x-placement^="top"] {
    .oui-popover__arrow {
      &::before {
        border-width: @oui-popover-arrow-size + @oui-popover-border-width;
        margin-left: -@oui-popover-arrow-size - @oui-popover-border-width;
      }

      &::after {
        border-width: @oui-popover-arrow-size;
        margin-left: -@oui-popover-arrow-size;
      }
    }
  }

  &[x-placement^="right"] {
    margin-left: @oui-popover-arrow-size + @oui-popover-arrow-margin;

    .oui-popover__arrow {
      right: 100%;

      &::before {
        border-right-color: @oui-popover-border-color;
        right: 100%;
      }

      &::after {
        border-right-color: @oui-popover-background-color;
        right: 100%;
      }
    }
  }

  &[x-placement^="left"] {
    margin-right: @oui-popover-arrow-size + @oui-popover-arrow-margin;

    .oui-popover__arrow {
      left: 100%;

      &::before {
        border-left-color: @oui-popover-border-color;
        left: 100%;
      }

      &::after {
        border-left-color: @oui-popover-background-color;
        left: 100%;
      }
    }
  }

  &[x-placement^="bottom"] {
    margin-top: @oui-popover-arrow-size + @oui-popover-arrow-margin;

    .oui-popover__arrow {
      bottom: 100%;

      &::before {
        border-bottom-color: @oui-popover-border-color;
        bottom: 100%;
      }

      &::after {
        border-bottom-color: @oui-popover-background-color;
        bottom: 100%;
      }
    }
  }

  &[x-placement^="top"] {
    margin-bottom: @oui-popover-arrow-size + @oui-popover-arrow-margin;

    .oui-popover__arrow {
      top: 100%;

      &::before {
        border-top-color: @oui-popover-border-color;
        top: 100%;
      }

      &::after {
        border-top-color: @oui-popover-background-color;
        top: 100%;
      }
    }
  }

  &__arrow {
    background-color: @oui-popover-background-color;
    position: absolute;

    &::before,
    &::after {
      border: solid transparent;
      content: " ";
      height: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }

  &__content-container {
    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__close-button {
    #oui > .animate();

    background-color: transparent;
    border: none;
    color: @oui-color-info-dark;
    cursor: pointer;
    font-size: @oui-popover-close-button-size;
    line-height: 1;
    margin: 0;
    min-height: @oui-popover-close-button-size;
    min-width: @oui-popover-close-button-size;
    position: absolute;
    right: 10px;
    top: 10px;

    &::before {
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      #oui > .animate();

      outline-color: initial;
      outline-style: dotted;
      outline-width: 1px;
      opacity: 1;
    }
  }

  &__help-button, // Deprecated: Support only for old use
  &-button {
    width: rem-calc(20);
    height: rem-calc(20);
    margin: 0 0 0 rem-calc(10);
    line-height: 1;
    padding: 0;
    vertical-align: middle;
    color: @oui-color-sapphire;
    font-size: rem-calc(20);
    border: none;
    background: none;
    cursor: help;

    &::before {
      content: @oui-icon-index-help_circle;
      font-family: 'Oui Icons';
      font-size: inherit;
    }

    &:focus {
      box-shadow: @oui-button-hollow-box-shadow_focus;
      outline-width: 1px;
      outline-style: dotted;
      outline-color: initial;
      outline-offset: -2px;
    }
  }
}

[aria-expanded="true"] + .oui-popover {
  opacity: @oui-popover-opacity;
  visibility: visible;
  z-index: @oui-popover-z-index;
  pointer-events: auto;
}
