// Tooltip
@oui-tooltip-min-width: rem-calc(50);
@oui-tooltip-max-width: rem-calc(300);
@oui-tooltip-line-height: rem-calc(16);
@oui-tooltip-spacing: rem-calc(4);
@oui-tooltip-padding: rem-calc(8);
@oui-tooltip-font-color: @p-700;
@oui-tooltip-font-size: @mercury-font-size;
@oui-tooltip-font-weight: @mercury-font-weight;
@oui-tooltip-box-shadow: @base-box-shadow-primary;
@oui-tooltip-border-color: transparent;
@oui-tooltip-border-width: 0;
@oui-tooltip-border-radius: @base-border-radius-large;
@oui-tooltip-background-color: @p-000;
@oui-tooltip-opacity: 1;
@oui-tooltip-transition-duration: 250ms;
@oui-tooltip-transition-animation: ease-in-out;
@oui-tooltip-z-index: 1000;

// Tooltip - Arrow
@oui-tooltip-arrow-size: rem-calc(16);
@oui-tooltip-arrow-border-color: @oui-tooltip-border-color;
@oui-tooltip-arrow-border-width: @oui-tooltip-border-width;
@oui-tooltip-arrow-box-shadow: @oui-tooltip-box-shadow;
@oui-tooltip-arrow-background-color: @oui-tooltip-background-color;
