.oui-box {
  background: @oui-box-background-color;
  border: @oui-box-border-width solid @oui-box-border-color;
  border-radius: @oui-box-border-radius;
  color: @oui-box-font-color;
  padding: @oui-box-padding;

  &__heading {
    #oui > .heading(4);
  }

  &_light {
    background: @oui-box-light-background-color;
  }
}
