@import './_variables';

#oui {
  // Deprecated: Support only for old use
  .tooltip(
    @link-selector: oui-link,
    @min-width: @oui-tooltip-min-width,
    @max-width: @oui-tooltip-max-width,
    @margin: @oui-tooltip-margin,
    @margin_small: @oui-tooltip-margin_small,
    @padding: @oui-tooltip-padding,
    @font-size: @oui-tooltip-font-size,
    @font-color: @oui-tooltip-font-color,
    @box-shadow: @oui-tooltip-box-shadow,
    @border-color: @oui-tooltip-border-color,
    @background-color: @oui-tooltip-background-color,
    @opacity: @oui-tooltip-opacity,
    @transition-duration: @oui-tooltip-transition-duration,
    @transition-animation: @oui-tooltip-transition-animation,
    @z-index: @oui-tooltip-z-index
  ) {
    min-width: @min-width;
    max-width: @max-width;
    box-sizing: border-box;
    margin: @margin;
    padding: @padding;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    font-size: @font-size;
    color: @font-color;
    box-shadow: @box-shadow;
    border: solid 1px @border-color;
    background-color: @background-color;
    opacity: 0;
    transition-property: opacity, z-index;
    transition-duration: @transition-duration;
    transition-timing-function: @transition-animation;
    z-index: -1;

    &__trigger:focus + &,
    &__trigger:hover + & {
      opacity: @opacity;
      z-index: @z-index;
    }

    &__trigger.@{link-selector} + & { margin: @margin_small; }
  }
}
