@oui-tooltip-min-width: rem-calc(100);
@oui-tooltip-max-width: rem-calc(300);
@oui-tooltip-margin: rem-calc(10) 0;
@oui-tooltip-margin_small: rem-calc(5) 0;
@oui-tooltip-padding: rem-calc(10) rem-calc(20);
@oui-tooltip-font-size: rem-calc(14);
@oui-tooltip-font-color: @oui-color-sapphire;
@oui-tooltip-box-shadow: 0 rem-calc(9) rem-calc(10) 0 fade(darken(@oui-color-info-fade, 50%), 10%);
@oui-tooltip-border-color: @oui-color-silver;
@oui-tooltip-background-color: #fff;
@oui-tooltip-opacity: 1;
@oui-tooltip-transition-duration: 250ms;
@oui-tooltip-transition-animation: ease-in-out;
@oui-tooltip-z-index: 1000;
