#oui {
  .select-picker-error-style(
    @selector: oui-select-picker
  ) {
    @status: error;
    @status-font-color: "oui-color-@{status}-dark";
    @status-icon-color: "oui-color-@{status}-medium";
    @status-border-color: "oui-color-@{status}-light";
    @status-background-color: "oui-color-@{status}-fade";

    .@{selector}__input:not(:disabled) + .@{selector}__label-container,
    .@{selector}__input:not(:disabled):checked + .@{selector}__label-container {
      &,
      &:hover,
      &:active,
      &:focus {
        border-color: @@status-border-color;
        background: @@status-background-color;

        .@{selector}__label {
          &::before {
            border-color: @@status-icon-color;
          }

          &::after {
            background: @@status-icon-color;
          }
        }
      }

      .@{selector}__section {
        border-top-color: @@status-border-color;
      }

      .ui-select-match {
        background-color: @@status-background-color;
        border-color: @@status-border-color;
      }
    }

    .@{selector}__input:not(:disabled):focus + .@{selector}__label-container .@{selector}__label,
    .@{selector}__input:checked:not(:disabled):focus + .@{selector}__label-container .@{selector}__label {
      &::before {
        box-shadow: 0 0 3px 1px @@status-border-color;
      }
    }
  }
}
