@import '~@ovh/ui-kit.core/src/less/_variables';
@import '~@ovh/ui-kit.dropdown/src/less/_variables';
@import '~@ovh/ui-kit.radio/src/less/_variables';

// Select Picker
@oui-select-picker-border-size: 1px;
@oui-select-picker-border-color: @oui-color-turquoise;
@oui-select-picker-border-color-disabled: @oui-color-charlotte;

@oui-select-picker-label-color: @oui-radio-label-color;
@oui-select-picker-label-color-disabled: @oui-radio-label-color-disabled;

@oui-select-picker-value-background-color: @oui-thumbnail-background;
@oui-select-picker-value-border-color: @oui-thumbnail-border-color;
@oui-select-picker-value-border-color-checked: @oui-dropdown-menu-border-color;
@oui-select-picker-value-border-color-disabled: #cbd0d2;
@oui-select-picker-padding: @oui-thumbnail-padding;
@oui-select-picker-value-padding: rem-calc(9);

@oui-select-picker-status:
  success,
  warning,
  error;
