// Select Picker
@oui-select-picker-padding: @oui-choice-thumbnail-padding;
@oui-select-picker-border-size: @oui-choice-thumbnail-border-size;
@oui-select-picker-border-color: @oui-choice-thumbnail-border-color;
@oui-select-picker-border-color_disabled: @oui-choice-thumbnail-border-color_disabled;

@oui-select-picker-label-color: @oui-choice-font-color;
@oui-select-picker-label-color_disabled: @oui-choice-font-color_disabled;

@oui-select-picker-picture-max-width: rem-calc(40);
@oui-select-picker-picture-max-height: rem-calc(40);
@oui-select-picker-picture-spacing: rem-calc(20);
@oui-select-picker-picture-top: rem-calc(10);
@oui-select-picker-picture-right: rem-calc(20);

@oui-select-picker-value-background-color: @oui-choice-thumbnail-background;
@oui-select-picker-value-background-color_light: @oui-choice-thumbnail-background-light;
@oui-select-picker-value-background-color_hover: @oui-dropdown-menu-background-color;
@oui-select-picker-value-background-color_checked: @oui-dropdown-menu-background-color;
@oui-select-picker-value-border-color: @oui-choice-thumbnail-border-color;
@oui-select-picker-value-border-color_light: @oui-choice-thumbnail-border-color;
@oui-select-picker-value-border-color_hover: @oui-choice-thumbnail-border-color;
@oui-select-picker-value-border-color_checked: @oui-choice-thumbnail-border-color;
@oui-select-picker-value-padding: @oui-choice-section-spacing;
