// Select Picker
@oui-select-picker-border-size: 1px;
@oui-select-picker-border-color: @oui-color-turquoise;
@oui-select-picker-border-color-disabled: @oui-color-charlotte;

@oui-select-picker-label-color: @oui-radio-font-color;
@oui-select-picker-label-color-disabled: @oui-color-silver;

@oui-select-picker-value-background-color: @oui-choice-thumbnail-background;
@oui-select-picker-value-border-color: @oui-choice-thumbnail-border-color;
@oui-select-picker-value-border-color-checked: @oui-dropdown-menu-border-color;
@oui-select-picker-value-border-color-disabled: #cbd0d2;
@oui-select-picker-padding: @oui-choice-thumbnail-padding;
@oui-select-picker-value-padding: rem-calc(9);

@oui-select-picker-status:
  success,
  warning,
  error;
