/*
 * Fonts
 */

// Sun (Heading 1)
@sun-font-size: rem-calc(76);
@sun-color: @p-800;
@sun-letter-spacing: rem-calc(1);
@sun-line-height: rem-calc(95);
@sun-font-family: "Source Sans Pro";
@sun-font-weight: 300;
@sun-text-align: left;

// Pluto (Heading 2)
@pluto-font-size: rem-calc(54);
@pluto-color: @p-800;
@pluto-letter-spacing: 0.12px;
@pluto-line-height: rem-calc(67);
@pluto-font-family: "Source Sans Pro";
@pluto-font-weight: 300;
@pluto-text-align: left;

// Uranus (Heading 3)
@uranus-font-size: rem-calc(36);
@uranus-color: @p-800;
@uranus-letter-spacing: 0;
@uranus-line-height: rem-calc(45);
@uranus-font-family: "Source Sans Pro";
@uranus-font-weight: 400;
@uranus-text-align: left;

// Saturn (Heading 4)
@saturn-font-size: rem-calc(28);
@saturn-color: @p-800;
@saturn-letter-spacing: 0;
@saturn-line-height: rem-calc(35);
@saturn-font-family: "Source Sans Pro";
@saturn-font-weight: 400;
@saturn-text-align: left;

// Jupiter (Heading 5)
@jupiter-font-size: rem-calc(20);
@jupiter-color: @p-800;
@jupiter-letter-spacing: 0.12px;
@jupiter-line-height: rem-calc(25);
@jupiter-font-family: "Source Sans Pro";
@jupiter-font-weight: 700;
@jupiter-text-align: left;

// Mars (Heading 6)
@mars-font-size: rem-calc(18);
@mars-color: @p-800;
@mars-letter-spacing: 0;
@mars-line-height: rem-calc(22);
@mars-font-family: "Source Sans Pro";
@mars-font-weight: 700;
@mars-text-align: left;

// Earth (Text M)
@earth-font-size: rem-calc(16);
@earth-color: @p-800-text;
@earth-letter-spacing: 0.12px;
@earth-text-align: left;
@earth-line-height: rem-calc(24);
@earth-font-family: "Source Sans Pro";
@earth-font-weight: 400;

// Venus (Text S)
@venus-font-size: rem-calc(14);
@venus-color: @p-800-text;
@venus-letter-spacing: 0.12px;
@venus-text-align: left;
@venus-line-height: rem-calc(20);
@venus-font-family: "Source Sans Pro";
@venus-font-weight: 400;

// Mercury (Text XS)
@mercury-font-size: rem-calc(12);
@mercury-color: @p-800-text;
@mercury-letter-spacing: 0.12px;
@mercury-text-align: left;
@mercury-line-height: rem-calc(20);
@mercury-font-family: "Source Sans Pro";
@mercury-font-weight: 400;
