@import '~@ovh/ui-kit.input/src/less/input-group';
@import './_variables';

// Numeric
.oui-numeric {
  &:extend(.oui-input-group all);

  width: @oui-numeric-width;
  max-width: @oui-numeric-width;
  margin: @oui-numeric-margin;

  .oui-icon::before {
    font-size: @oui-numeric-icon-size;
  }

  .oui-input {
    text-align: center;

    // Two lines bellow are required by firefox otherwise the max-width
    // defined at root of the mixin isn't applied correctly
    flex-shrink: 1;
    min-width: 1px;
  }
}

oui-numeric {
  &:extend(.oui-numeric all);
}
