@import "./_normalize";
@import '@ovh/ui-kit.button/less/_mixins';
@import "@ovh/ui-kit.color/less/_constants";
@import '@ovh/ui-kit.responsive/less/responsive';

.oui-inline-adder {
  #oui > .base-font();

  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: rem-calc(20);
    border: 1px solid @oui-color-ironlight;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: @oui-color-white;
  }

  &__fieldset {
    flex: 1;
    display: block;
  }

  &__row {
    padding: rem-calc(20);
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & + & { border-top: 1px solid @oui-color-silver; }

    .phone({
      flex-direction: column;
    });
  }

  &__field {
    flex: 1;

    & + & {
      margin-left: rem-calc(10);

      .phone({
        margin-left: 0;
      });
    }

    &_adaptive {
      flex: 0;
    }
  }

  &__footer {
    padding: rem-calc(10);
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @oui-color-concrete;
  }

  &__action {
    #oui > .button-normalize();
    #oui > .button-base();
    #oui > .button-hollow();
    #oui > .button-icon-base(oui-icon);
    #oui > .button-small-width();

    width: rem-calc(40);
    height: rem-calc(40);
    display: flex;
    align-items: center;
    justify-content: center;

    .oui-icon {
      font-size: rem-calc(16);

      &::before {
        display: inline;
        font-size: inherit;
      }
    }
  }
}
