@import '../oui-typography/_mixins';

#oui {
  .select-picker-normalize() {
    &__label-container {
      font-weight: inherit;
      cursor: pointer;

      &::before,
      &::after {
        box-sizing: border-box;
      }
    }

    &__label {
      #oui > .base-font();
    }

    &__transclude-container {
      height: @oui-select-picker-transclude-container-height;

      img {
        display: block;
        height: @oui-select-picker-transclude-img-height;
        max-width: @oui-select-picker-transclude-img-max-width;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
