@import '~@ovh/ui-kit.core/src/less/_mixins';
@import './_variables';

.oui-back-button {
  #oui > .base-font();

  margin-bottom: @oui-back-button-margin-bottom;

  .oui-button_icon-alone {
    top: rem-calc(7);
  }

  .oui-back-button_title {
    display: inline;
  }
}

oui-back-button {
  display: block;
}
