@oui-color-dual-list-background: @oui-color-white;
@oui-color-dual-list-hover: @oui-color-foam;
@oui-color-dual-list-empty-label: fade(@oui-color-regent, 60%);
@oui-color-dual-list-header-background: @oui-color-nurse2;
@oui-color-dual-list-link: @oui-color-pacific;
@oui-color-dual-list-add-label: @oui-color-sapphire;
@oui-dual-list-icon-size: 1.4rem;
@oui-dual-list-right-padding: rem-calc(20px);
@oui-dual-list-left-padding: rem-calc(20px);