@oui-dual-list-background-color: #ffffff;
@oui-dual-list-border-color: #eaeaea;
@oui-dual-list-hover-color: #E0F6FD;
@oui-dual-list-empty-label-color: #B3B3B3;
@oui-dual-list-header-background-color: #E1E3DF;
@oui-dual-list-link-color: #00A2BF;
@oui-dual-list-add-label-color: #113F6D;
@oui-dual-list-icon-size: 1.4rem;
@oui-dual-list-right-padding: 20px;
@oui-dual-list-left-padding: 20px;