@import '../oui-animation/_mixins';
@import '../oui-typography/_mixins';
@import './_normalize';
@import './_variables';

// Dual List
.oui-dual-list {
  #oui > .base-font();

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: @oui-dual-list-border;
  border-radius: @oui-dual-list-border-radius;
  background: @oui-dual-list-background;

  .phone({
    flex-direction: column;
  });

  &__header {
    height: @oui-dual-list-header-height;
    padding: @oui-dual-list-header-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: @oui-dual-list-header-font-size;
    font-weight: @oui-dual-list-header-font-weight;
    color: @oui-dual-list-header-font-color;
    border: none;
    background: @oui-dual-list-header-background;

    button& {
      display: none;
      cursor: pointer;

      .phone({ display: flex; });
    }

    header& {
      .phone({ display: none; });
    }
  }

  &__heading {
    flex: 1;
    text-align: left;
  }

  &__toggle-icon {
    color: inherit;

    &::before {
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      font-size: rem-calc(13);
      right: rem-calc(14);
      height: rem-calc(10);
      line-height: rem-calc(10);
    }
  }

  &__header[aria-expanded="true"] &__toggle-icon::before { transform: rotate(-180deg); }

  &__wrapper {
    height: @oui-dual-list-wrapper-height;
    padding: 0 @oui-dual-list-wrapper-gutter;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    transition: height 0.2s ease-out;
  }

  &__header[aria-expanded="false"] ~ &__wrapper {
    .phone({
      height: 0;
    });
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    margin: @oui-dual-list-search-margin;

    &_centered {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }

    .phone({
      margin-left: -@oui-dual-list-wrapper-gutter;
      margin-right: -@oui-dual-list-wrapper-gutter;
    });
  }

  &__search {
    margin: @oui-dual-list-search-margin;

    .oui-input-group { margin: 0; }
  }

  &__action {
    margin: @oui-dual-list-action-margin;
    text-align: right;

    .oui-button { padding: 0; }

    .phone({
      text-align: left;
    })
  }

  &__search ~ &__body,
  &__action + &__body {
    margin: @oui-dual-list-action-margin;

    .phone({
      margin-left: -@oui-dual-list-wrapper-gutter;
      margin-right: -@oui-dual-list-wrapper-gutter;
    });
  }

  &__loading,
  &__placeholder {
    align-self: center;
  }

  &__placeholder {
    margin: 0;
    color: @oui-dual-list-placeholder-font-color;
    font-size: @oui-dual-list-placeholder-font-size;
    font-weight: @oui-dual-list-placeholder-font-weight;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // Item
  &-item {
    &__button {
      width: 100%;
      height: @oui-dual-list-item-height;
      display: flex;
      flex-direction: row;
      margin: @oui-dual-list-item-margin;
      padding: @oui-dual-list-item-padding;
      text-align: left;
      color: @oui-dual-list-item-font-color;
      font-size: @oui-dual-list-item-font-size;
      font-weight: @oui-dual-list-item-font-weight;
      border: none;
      border-radius: @oui-dual-list-item-border-radius;
      background: none;
      cursor: pointer;

      &:focus {
        outline-width: 1px;
        outline-style: dotted;
        outline-color: initial;
        outline-offset: -2px;
      }

      &:hover,
      &:focus { background: @oui-dual-list-item-background_hover; }

      .phone({
        padding: @oui-dual-list-item-padding_responsive;
        border-radius: 0;
      })
    }

    &__property {
      flex: 1;
      align-self: center;
    }

    &__icon {
      flex: 0;
      align-self: center;

      .oui-icon {
        margin-left: @oui-dual-list-icon-spacing;
        color: inherit;
        font-size: @oui-dual-list-icon-size;
      }
    }
  }

  // Variant
  &-source,
  &-target {
    display: flex;
    flex: 1;
    flex-direction: column;

    .phone({
      flex: auto;
    });
  }

  // Variant "source"
  &-source {
    border-right: @oui-dual-list-border;

    .phone({ border-right: none; });
  }

  // Variant "target"
  &-target &-item__button { background: @oui-dual-list-item-background_hover; }
}
