@import "./_variables";
@import "./_normalize";
@import "../oui-responsive/_variables";

.oui-page-header {
  #oui > .page-header-normalize();

  background-color: @oui-color-nurse;

  &__container {
    padding: @oui-page-header-spacing-y @oui-page-header-spacing-side_l;
    display: flex;
    flex-wrap: nowrap;

    @media screen and (max-width: @oui-responsive-breakpoint-medium) {
      padding: @oui-page-header-spacing-y @oui-page-header-spacing-side_s;
    }

    @media screen and (max-width: (@oui-responsive-breakpoint-phone - 1)) {
      padding: @oui-page-header-spacing-y;
    }
  }

  &__content {
    flex: 1 1 100%;
  }

  &__content ~ * {
    padding-left: 1.25rem;
  }

  &__title {
    margin: 0;
    color: @oui-color-sapphire;
    font-size: 2.25rem;
    font-weight: @oui-font-regular;
  }

  &__description {
    margin: 0;
    padding-top: .3125rem;
    line-height: normal;
    color: @oui-color-dusty;
    font-size: 1rem;
    font-weight: @oui-font-regular;
  }

}
