@import './_variables';
@import './_normalize';

.oui-page-header {
  #oui > .page-header-normalize();

  background-color: @oui-color-nurse;

  &__container {
    padding: @oui-page-header-spacing-y @oui-page-header-spacing-side_l;
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 1280px) {
      padding: @oui-page-header-spacing-y @oui-page-header-spacing-side_s;
    }
  }

  &__content {
    flex: 1 1 100%;
  }

  &__content ~ * {
    padding-left: rem-calc(20);
  }

  &__title {
    margin: 0;
    color: @oui-color-sapphire;
    font-size: rem-calc(36);
    font-weight: @oui-font-regular;
  }

  &__description {
    margin: 0;
    padding-top: rem-calc(5);
    line-height: normal;
    color: @oui-color-dusty;
    font-size: rem-calc(16);
    font-weight: @oui-font-regular;
  }

}
