@import "_normalize";
@import '../oui-input/_variables';

.oui-timepicker {
  display: block;
  margin: @oui-input-margin;

  &_inline { display: inline-block; }

  .oui-calendar {
    display: block;
    margin: 0;
  }
}
